{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Custom tags before </head> #}
{% block customHead %}{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}{% endblock %}

{# Breadcrumb #}
{% set breadcrumb = [
  {
    text: "CosPro",
    link: "#"
  }
] %}


{% set menuSidebar = [
  {
  text: "TOP",
  link: "#top"
  },
  {
  text: "CosProとは",
  link: "#cospro-index"
  },
  {
  text: "CosProの特長",
  link: "#cospro-feature"
  },
  {
  text: "法人カード会員特典",
  link: "#membership"
  },
  {
  text: "ご利用までの流れ",
  link: "#flow-usage"
  },
  {
  text: "よくある質問",
  link: "#faq"
  },
  {
  text: "資料・お問い合わせ",
  link: "#contact"
  }
  ] %}

{# Main content #}
{% block content %}
<div class="cospro">
  {% include 'partial/sidebar.njk' %}
</div>
<main class="cospro-page">
  <section id="top" class="section-welcome fadein">
    <div class="section-welcome__banner">
      <img src="/assets/img/common/banner_cospro.png"/>
    </div>

    <div class="section-welcome-info">
      <div class="section-welcome-info-left">
        <div class="section-welcome__inner">
          <h3 class="ttl-tertiary">出張手配サービス</h3>
        </div>
        <div class="section-welcome__title">
          <h1 class="ttl-primary">CosPro</h1>
        </div>
        <div class="section-welcome__desc">
          <h5 class="ttl-quaternary">出張手配の手間とコストを削減! <br> もう時間をかけて探す必要はありません。
          </h5>
        </div>
        <div class="section-welcome__act">
          <a href="#" class="act-more orange_more2">
            <div class="act-more-tooltip">
              <h4 class="act-more-tooltip__content">CosProの仕組みとメリットが3分でわかる!</h4>
            </div>
            資料ダウンロード
          </a>
        </div>
      </div>

      <div class="section-welcome-info-right">
        <div class="section-welcome-right__img">
          <img src="/assets/img/cospro/travel.png"/>

          <div class="content-absolute">
            <div>初期費用・ランニングコスト無料!</div>
            <div>国内発券手数料 不要! <br> <span class="font-smaller">（通常1席あたり:1,500円）</span> </div>
            <div>海外出張 <span class="font-smaller"> のお手配も可能! </span></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="cospro-index" class="section-secondary">
    <div class="containers">
      <h4 class="ttl-tertiary">CosProとは</h4>
      <h2 class="ttl-primary">初期費用・ランニングコスト無料の法人向け出張手配サービスです。</h2>
      <h3 class="ttl-quaternary">
        航空券、ホテル、レンタカー、新幹線など出張手配はすべてお任せ!<span class="font-bold">出張手配の手間から解放され、<br> ”適正化”と”可視化”も実現します。</span>
      </h3>

      <div class="card-list">
        <a class="card">
          <h2>初期費用・月額費用</h2>
          <div class="grid__card--img"><img src="/assets/img/cospro/card1.png" alt="work image"></div>
          <p>予約システムもデータ管理も無料!クレディセゾン発行の法人向けカード会員様であれば<span class="font-bold">国内航空券発券手数料も無料です。（通常1席あたり1,500円）</span></p>
        </a>
        <a class="card">
          <h2>年中無休のコールセンター</h2>
          <div class="grid__card--img"><img src="/assets/img/cospro/card2.png" alt="work image"></div>
          <p><span class="font-bold">コールセンターは365日稼働！</span> 出張の移動中、帰りの飛行機やホテルの中で簡単に予約・変更することができます。</p>
        </a>
        <a class="card">
          <h2>出張コストを適正可. </h2>
          <div class="grid__card--img"><img src="/assets/img/cospro/card3.png" alt="work image"></div>
          <p>予約されたチケットの料金の適正や、取り間違いがないかなど、独自の <span class="font-bold">「適正化チェック」サービスで出張コスト削減</span>に貢献いたします。</p>
        </a>
      </div>
    </div>
  </section>

  <section class="section-octonary">
    <div class="containers">
      <h4 class="ttl-primary">このようなお悩みをお持ちの企業様向けのサービスです。</h4>
      <div class="grid-card-containers">
        <a class="card" href="#worry1">
          <div class="card-head">お悩み①</div>
          <h2 class="ttl-head">出張手配は社員任せ。<br> 金額の妥当性が判断できない</h2>
          <img src="/assets/img/cospro/card4.png" alt="work image" class="card-img">
          <ul class="ttl-normal">
            <li>{% include 'component/icons/circle-checked.njk' %} コスト意識の低い社員に手配を任せると高くなりがち</li>
            <li>{% include 'component/icons/circle-checked.njk' %} 購入したチケットが最適な価格なのかわからない</li>
          </ul>
          <span class="more-btn">{% include 'component/icons/circle-arrow.njk' %}</span>
        </a>

        <a class="card" href="#worry2">
          <div class="card-head">お悩み②</div>
          <h2 class="ttl-head">出張手配に時間がかかり <br>「見えないコスト」が上昇</h2>
          <img src="/assets/img/cospro/card5.png" alt="work image" class="card-img">
          <ul class="ttl-normal">
            <li>{% include 'component/icons/circle-checked.njk' %} チケットを探すことに長い時間がかり、見えないコストが増えている気がする</li>
            <li>{% include 'component/icons/circle-checked.njk' %} 社員の立替が負担に、経理の仮払いが面倒</li>
          </ul>
          <span class="more-btn">{% include 'component/icons/circle-arrow.njk' %}</span>
        </a>

        <a class="card"  href="#worry3">
          <div class="card-head">お悩み３</div>
          <h2 class="ttl-head">出張手配のルールがない。<br> ガバナンスが不安・・・</h2>
          <img src="/assets/img/cospro/card6.png" alt="work image" class="card-img">
          <ul class="ttl-normal">
            <li>{% include 'component/icons/circle-checked.njk' %} 社員の出張状況を把握できていない</li>
            <li>{% include 'component/icons/circle-checked.njk' %} 不正な払戻を防止したい</li>
          </ul>
          <span class="more-btn">{% include 'component/icons/circle-arrow.njk' %}</span>
        </a>
      </div>
    </div>
  </section>

  <section class="section-quaternary">
    <div class="containers">

      <h2 class="ttl-primary">CosProが、出張手配に関するお悩みを解決します。</h2>

      <div class="tooltip-container">
        「CosPro」の仕組みとメリットが3分でわかる!
      </div>
      
      <div class="act-more-content">
        <div class="act-more-content-btn">
          <a href="#" class="blue_gradient_btn">
            お申し込みはこちら
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="section-senary">
    <div class="containers">
      <h4 class="ttl-tertiary">CosProの特長</h4>
      <h2 class="ttl-primary">出張手配の問題、すべて解決いたします!</h2>

      <div id="worry1" class="step-container">
        <div class="step-title">
          <div class="badge">お悩み①</div>
          <div class="title">出張手配は社員任せ。金額の妥当性が判断できない</div>
        </div>
        <div class="step-arrow">{% include 'component/icons/step-arrow.njk' %} </div>
        <div class="ttl-secondary">適正化チェックで出張コストを抑制!</div>
        <div class="ttl-quinary">
          社員様からのご予約を同じ条件でさらに安く手配できないか、取り間違いがないかなど当社のトラベルマネージャーがチェックを行い、問題がないものをご予約完了とするサービスです。ノウハウをもった「人」でないと解決できない独自のスキームです。
        </div>

        <ul class="step-list">
          <li>（例）往復の特割航空券をパッケージ旅行商品に変更 </li>
          <li>（例）コードシェア便の場合、適切な航空会社から予約を行い料金を削減</li>
        </ul>
      </div>

      <div id="worry2" class="step-container">
        <div class="step-title">
          <div class="badge">お悩み②</div>
          <div class="title">出張手配に時間がかかり、「見えないコスト」が上昇</div>
        </div>
        <div class="step-arrow">{% include 'component/icons/step-arrow.njk' %} </div>
        <div class="ttl-secondary">規程に準拠して、<div class="text-underline"> 自動でチェック＆差し戻し !</div></div>

        <div class="grid-card-containers">
          <div class="card">
            <div class="card-head">
              <img src="/assets/img/cospro/card7.png" alt="work image" class="card-img">

              <div class="card-title">
                国内航空会社のチケットを比較できる!オンライン予約システム
              </div>
            </div>

            <div class="card-description">
              社員様の手配内容は、データ管理システムからダウンロードすることができるので、経理データとしてご活用いただけます。もちろん、<span class="font-bold">予約システム・データ管理システムも無償</span>でご利用いただけます。
            </div>
          </div>

          <div class="card">
            <div class="card-head">
              <img src="/assets/img/cospro/card8.png" alt="work image" class="card-img">

              <div class="card-title">
                出張手配に精通したオペレーターが対応!365日稼働のコールセンター※
              </div>
            </div>

            <div class="card-description">
              コールセンターは年中無休!出張の移動中やちょっとした <span class="font-bold">空き時間に、数分で出張の予約や変更が行えます。</span>  社員様一人ひとりに出張手配における秘書がいる感覚でご利用いただけます。
            </div>
          </div>

          <div></div>

          <div class="sub-info">
            ※365日稼働のコールセンターは国内出張の手配専用の窓口です。海外出張の手配窓口に関しては平日のみの稼働となります。
          </div>
        </div>
      </div>

      <div id="worry3" class="step-container">
        <div class="step-title">
          <div class="badge">お悩み③</div>
          <div class="title">出張手配のルールがない。ガバナンスが不安・・・</div>
        </div>
        <div class="step-arrow">{% include 'component/icons/step-arrow.njk' %} </div>
        <div class="ttl-secondary"><div class="text-underline"> 出張状況をデータ化・可視化。</div> ガバナンスを強化できます。</div>

        <div class="ttl-quinary">
          社員様からのご予約を同じ条件でさらに安く手配できないか、取り間違いがないかなど当社のトラベルマネージャーがチェックを行い、問題がないものをご予約完了とするサービスです。ノウハウをもった「人」でないと解決できない独自のスキームです。
        </div>

        <div class="grid-card-containers">
          <div class="card">
            <div class="card-head type-2">
              <div class="card-title">
                不正の抑止力が働き、出張費の削減に
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-head type-2">
              <div class="card-title">
                災害など緊急時に素早く安否が確認できる
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section class="section-septenary">
    <div class="containers">
      <h4 class="ttl-tertiary">法人カード会員特典</h4>
      <h2 class="ttl-primary">クレディセゾンの法人向けカード会員様限定の特典をご用意しています。</h2>

      <div class="notice-board">
        <div class="board-head">
          クレディセゾン発行の法人向けカード会員様限定優待
        </div>
        <div class="board-container">
          <div class="board-icon">
            <span class="float-end">{% include 'component/icons/circle-checked.njk' %}</span>
          </div>
          <div class="board-content">企業ご契約特典：国内航空券発券手数料無料（通常1席あたり1,500円）</div>

          <div class="board-icon">
            <span class="float-end">{% include 'component/icons/circle-checked.njk' %}</span>
          </div>
          <div class="board-content">クレディセゾンオリジナル優待：1席あたり500円の割引</div>

          <div></div>
          <div class="board-content">（JAL/ANA/ソラシドエア/スターフライヤーの日時変更可能な航空券※）</div>

          <div></div>
          <div class="board-content normal">※販売価格からあらかじめ500円を割引させていただきます。対象外となる航空券もございます。</div>

        </div>
      </div>

    </div>
  </section>

  <section class="section-quinary">
    <div class="containers">
      <h5 class="ttl-tertiary">ご利用までの流れ</h5>
      <h1 class="ttl-primary">ご利用開始まで営業担当がフォローいたします。</h1>

      <ul class="flow-container">
        <li class="flow-item">
          <div class="flow-item-detail">
            <div class="ttl-head">お問い合わせ</div>
            <div class="flow-image">
              <img src="/assets/img/cospro/step1.png" alt="work image" class="card-img">
            </div>
            <p class="flow-content">まずはお気軽にご相談ください</p>
            <div class="bondi_blue_outline_btn">
              <a class="bondi_blue_outline_btn__tittle">ご相談・お問い合わせ</a>
            </div>
          </div>
        </li>
        <li class="flow-item">
          <div class="flow-item-detail">
            <div class="ttl-head">事前準備</div>
            <div class="flow-image">
              <img src="/assets/img/cospro/step2.png" alt="work image" class="card-img">
            </div>
            <p class="flow-content">ご利用登録フォームから必要事項をご登録いただきます</p>
          </div>
        </li>
        <li class="flow-item">
          <div class="flow-item-detail">
            <div class="ttl-head">サービス準備完了 <br> 通知のご案内</div>
            <div class="flow-image">
              <img src="/assets/img/cospro/step3.png" alt="work image" class="card-img">
            </div>
            <p class="flow-content">お申し込みから1〜2週間程度で専用画面を実装いたします</p>
          </div>
        </li>
        <li class="flow-item">
          <div class="flow-item-detail">
            <div class="ttl-head">社員様へのご通知  <br> ご予約開始</div>
            <div class="flow-image">
              <img src="/assets/img/cospro/step4.png" alt="work image" class="card-img">
            </div>
            <p class="flow-content">査定結果をメール・お電話にてご連絡。ご案内後オンライン契約手続きいたします</p>
          </div>
        </li>
      </ul>

      <div class="btn-sp-only">
        <a class="bondi_blue_outline_btn">
          <span class="bondi_blue_outline_btn__tittle">サービス一覧を見る</span>
        </a>
      </div>
    </div>
  </section>

  <section id="faq" class="section-question-and-answer">
    <div class="containers">
      <h5 class="ttl-sub">FAQ</h5>
      <h2 class="ttl-secondary">よくある質問</h2>
      <h4 class="ttl-tertiary">お客様からよくいただくご質問にお答えします。この他にご質問がある方は、<a href="/contact" class="link-item">お問い合わせフォーム</a>より、お気軽にご連絡ください。 2営業日以内に担当者からご連絡させて頂きます。</h4>
      {% for i in range(1, 5) %}
        <div class="qa">
          <div class="flex gap20 question-tab">
            <div class="qa-marker">
              <h2 class="ttl-secondary">Q</h2>
            </div>
            <div class="qa-content">
              <h3 class="ttl-tertiary">
                質問内容が入ります。質問内容が入ります。質問内容が入ります。質問内容が入ります。質問内容が入ります。
              </h3>
            </div>
            <button class="qa-button">
              <span class="svg__plus">{% include 'component/icons/plus.njk' %}</span>
              <span class="svg__minus">{% include 'component/icons/minus.njk' %}</span>
            </button>
          </div>
          <div class="flex gap20 answer-tab">
            <div class="qa-marker">
              <h2 class="ttl-secondary">A</h2>
            </div>
            <div class="qa-content">
              <h3 class="ttl-tertiary">
                質問回答が入ります。質問回答が入ります。質問回答が入ります。質問回答が入ります。質問回答が入ります。質問回答が入ります。質問回答が入ります。質問回答が入ります。質問回答が入ります。質問回答が入ります。質問回答が入ります。質問回答が入ります。質問回答が入ります。
              </h3>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>

  <section id="contact" class="section-contact section">
    <div class="card-type22">
      <div class="ttl-notice">CONTACT</div>
      <h3 class="ttl-tertiary">CosProをご検討中の方へ</h3>
      <div class="useful-wp">
        <div class="containers">
          <div class="flex jcC gap60">
            <div href="#" class="card">
              <summary class="card__box">
                <h2 class="ttl-head">サービス内容について詳しく知りたい方はこちら</h2>
                <div class="card__info">
                  <div class="card__info-image">
                    <img src="/assets/img/cospro/card9.png" alt="work image" class="card-img">
                  </div>
                  <div class="card__info-content">

                    <span>CosProのサービス資料をダウンロートできます。フォーム入力後リアルタイムでお送りいたします。</span>
                  </div>

                </div>
                <div class="btn-container">
                  <a class="blue_gradient_btn" href="#">サービス資料ダウンロード</a>
                </div>
              </summary>
            </div>
            <div href="#" class="card">
              <summary class="card__box">
                <h2 class="ttl-head">営業担当に相談・お問い合わせをしたい方はこちら</h2>
                <div class="card__info col-right">
                  <div class="card__info-image">
                    <img src="/assets/img/cospro/card10.png" alt="work image" class="card-img">
                  </div>
                  <div class="card__info-content">
                    <span>営業担当者によるサービスのご説明、導入にあたってのご相談をさせていただきます。</span>
                  </div>
                </div>
                <div class="btn-container">
                  <a class="blue_gradient_btn" href="#">導入のご相談・お問い合わせ（無料）</a>
                </div>
              </summary>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
