{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Custom tags before </head> #}
{% block customHead %}{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}{% endblock %}

{# Main content #}
{% block content %}

<main class="case-page">
  <section class="section-welcome">
    <div class="container-1200">
      <h2 class="ttl-secondary">中小企業・個人事業主様の導入事例</h2>

      <h4 class="ttl-quaternary">さまざまな規模・業種でご利用いただいています。</h4>
    </div>
  </section>

  <section class="section-primary">
    <div class="container-1200">
      <h2 class="ttl-secondary">導入のきっかけや導入後の変化など、 <br> 実際にご利用いただいているお客様の声をご覧ください。</h2>

      <ul class="flex jcC gap30 card-list">
        <li class="card-type10">
          <div class="card--img">
            <img src="/assets/img/common/img-rectangle-01.png" alt="">
            <div class="card__img--content">インタビュー写真画像</div>
          </div>

          <div class="card--content">
           <div class="card__header--btn">
            <a href="#" class="btn04 small">セゾンプラチナ・ビジネス・<br>
              アメリカン・エキスプレスカード</a>
           </div>

            <h4 class="ttl-quaternary">
              最強のコスパとマイル還元率の高さで選択
            </h4>

            <h5 class="ttl-quinary">
              truck LLC　様
            </h5>

            <h6 class="ttl-senary">ビジネスカードを探していたのですが、どのカードが自分に合うのかが分からず迷っていました。そこで、自身がビジネス・・・</h6>

            <a href="#" class="btn05 small">インタビューの続きを見る</a>
          </div>
        </li>

        <li class="card-type10">
          <div class="card--img">
            <img src="/assets/img/common/img-rectangle-01.png" alt="">
            <div class="card__img--content">インタビュー写真画像</div>
          </div>

          <div class="card--content">
            <div class="card__header--btn">
              <a href="#" class="btn04 small">セゾンプラチナ・ビジネス プロ・<br>
                アメリカン・エキスプレス®・カード</a>
            </div>

            <h4 class="ttl-quaternary">
              1％のキャッシュバックというと、「Feeが1％増えた」と同義
            </h4>

            <h5 class="ttl-quinary">
              bfj株式会社　様
            </h5>

            <h6 class="ttl-senary">今まではセゾンプラチナ・ビジネス・アメリカン・エキスプレス®・カード（以下、プラチナビジネス）を・・・</h6>

            <a href="#" class="btn05 small">インタビューの続きを見る</a>
          </div>
        </li>

        <li class="card-type10">
          <div class="card--img">
            <img src="/assets/img/common/img-rectangle-01.png" alt="">
            <div class="card__img--content">インタビュー写真画像</div>
          </div>

          <div class="card--content">
            <div class="card__header--btn">
              <a href="#" class="btn04 small">セゾンプラチナ・ビジネス・<br>
                アメリカン・エキスプレスカード</a>
            </div>

            <h4 class="ttl-quaternary">
              資金繰りが大幅に改善。JALマイルが貯まるのも嬉しい！
            </h4>

            <h5 class="ttl-quinary">
              株式会社マイスタースタジオ　様
            </h5>

            <h6 class="ttl-senary">マーケティング支援事業では一時的にクライアントの広告費を自社で負担して支払い、その数ヵ月後にクライアントから・・・</h6>

            <a href="#" class="btn05 small">インタビューの続きを見る</a>
          </div>
        </li>

        <li class="card-type10">
          <div class="card--img">
            <img src="/assets/img/common/img-rectangle-01.png" alt="">
            <div class="card__img--content">インタビュー写真画像</div>
          </div>

          <div class="card--content">
            <div class="card__header--btn">
              <a href="#" class="btn04 small">ETCカード</a>
            </div>

            <h4 class="ttl-quaternary">
              ETCカードの導入で毎月の経費計算処理の手間と時間が削減！
            </h4>

            <h5 class="ttl-quinary">
              株式会社サカイ引越センター　様
            </h5>

            <h6 class="ttl-senary">ETCカードの使用実績は報告書から集計を手作業で作成しており、毎月の事務処理や経費計算処理にもにかなりの手間と時間が・・・</h6>

            <a href="#" class="btn05 small">インタビューの続きを見る</a>
          </div>
        </li>

        <li class="card-type10">
          <div class="card--img">
            <img src="/assets/img/common/img-rectangle-01.png" alt="">
            <div class="card__img--content">インタビュー写真画像</div>
          </div>

          <div class="card--content">
            <div class="card__header--btn">
              <a href="#" class="btn04 small">ETCカード</a>
            </div>

            <h4 class="ttl-quaternary">
              ETCカードの導入で車両管理業務が効率化！
            </h4>

            <h5 class="ttl-quinary">
              株式会社伊藤園　様
            </h5>

            <h6 class="ttl-senary">全国各地にある社用車を管理する車輌課としては、経費削減とETC管理業務の効率化が課題でした。・・・</h6>

            <a href="#" class="btn05 small">インタビューの続きを見る</a>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="breadcrumb">
    <ul class="flex">
      <li>
        <a href="#">TOP</a>
      </li>
      <li>
        <a href="#">資金繰りを改善したい</a>
      </li>
    </ul>
  </section>
</main>
{% endblock %}
