{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Custom tags before </head> #}
{% block customHead %}{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}{% endblock %}

{# Main content #}
{% block content %}

<main class="catalog-thanks-page">
   <section class="section-welcome">
      <div class="container-1200">
         <h2 class="ttl-secondary">資料のダウンロードありがとうございます。</h2>
         <div class="ttl-tertiary">メールアドレス宛に資料ダウンロード用のURLを送信いたしました。<br>
            すぐに読むことができますので、ぜひご覧ください！
         </div>
         <a href="#" class="bondi_blue_btn">
            <span>トップページに戻る</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="15.095" height="15.095" viewBox="0 0 15.095 15.095">
               <path id="Path_44704" data-name="Path 44704" d="M9.674,0V9.674H0" transform="translate(0 7.548) rotate(-45)"
                  fill="none" stroke="#fff" stroke-width="2" />
            </svg>
         </a>
      </div>
   </section>
</main>

{% endblock %}
