{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Custom tags before </head> #}
{% block customHead %}{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}{% endblock %}

{# Main content #}
{% block content %}

<main class="welfare-page">
  <section class="section-welcome fadein">
    <div class="container-1200">

      <div class="bg-tertiary-title">
        <h3 class="ttl-tertiary">人材の定着・従業員のモチベーションUPに。</h3>
      </div>

      <h1 class="ttl-primary">福利厚生を充実できるサービス</h1>

      <h4 class="ttl-quaternary">クレディセゾンは、従業員の皆様の暮らしに役立つさまざまなサービスが<br>
        最大66％オフ。導入しやすい福利厚生優待サービスならセゾンフクリコ。</h4>
    </div>
  </section>

  <section class="section-primary fadein">
    <div class="container-1200">
      <h2 class="ttl-secondary">多くの中小企業が抱える課題</h2>

      <ul class="flex jcC gap30 card-list">
        <li class="card-type6">
          <a href="#employee" class="card">
            <div class="ttl-quaternary-container">
              <h4 class="ttl-quaternary">人材が定着しない <br />
                採用難易度があがっている</h4>
            </div>
            <div class="card-image">
              <img src="/assets/img/common/img-welfare-001.png" />
            </div>
            <ul class="card-description">
              <li class="card-description__detail">
                {% include 'component/icons/circle-checked.njk' %}
                <span>従業員のモチベーションが低下している</span>
              </li>
              <li class="card-description__detail">
                {% include 'component/icons/circle-checked.njk' %}
                <span>従業員のワークライフバランスを充実させたい</span>
              </li>
              <li class="card-description__detail">
                {% include 'component/icons/circle-checked.njk' %}
                <span>採用コストが年々上がっている</span>
              </li>
            </ul>
            <div class="circle-with-arrow">
              <div class="arrow-down"></div>
            </div>
          </a>
        </li>

        <li class="card-type6">
          <a href="#effort" class="card">
            <div class="ttl-quaternary-container">
              <h4 class="ttl-quaternary">福利厚生を導入したいが <br />
                費用や手間がかかりそう</h4>
            </div>
            <div class="card-image">
              <img src="/assets/img/common/img-welfare-002.png" alt="">
            </div>
            <ul class="card-description">
              <li class="card-description__detail">
                {% include 'component/icons/circle-checked.njk' %}
                <span>福利厚生の導入には運用の手間とコストがかかりそう</span>
              </li>
              <li class="card-description__detail">
                {% include 'component/icons/circle-checked.njk' %}
                <span>社内の業務負担を軽減したい</span>
              </li>
            </ul>
            <div class="circle-with-arrow">
              <div class="arrow-down"></div>
            </div>
          </a>
        </li>
        <li class="card-type6">
          <a href="#benefits" class="card">
            <div class="ttl-quaternary-container">
              <h4 class="ttl-quaternary">福利厚生を導入しているが
                <br />
                あまり使われていない
              </h4>
            </div>
            <div class="card-image">
              <img src="/assets/img/common/img-welfare-003.png" alt="">
            </div>
            <ul class="card-description">
              <li class="card-description__detail">
                {% include 'component/icons/circle-checked.njk' %}
                <span>利用率が低く、使う人が偏ってしまっている</span>
              </li>
              <li class="card-description__detail">
                {% include 'component/icons/circle-checked.njk' %}
                <span>多くの従業員に使ってもらえる福利厚生がほしい</span>
              </li>
            </ul>
            <div class="circle-with-arrow">
              <div class="arrow-down"></div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </section>

  <section class="section-secondary fadein">
    <div class="container-1200">
      <h2 class="ttl-secondary">「セゾンフクリコ」がまとめて解決します。</h2>

      <div class="up-triangle"></div>

      <div class="section-img">
        <img src="/assets/img/common/img-welfare-icon-001.png" alt="">
      </div>

      <h3 class="ttl-tertiary">
        セゾンフクリコは、<div class="yellow-bottom">
          わずか月額385円(税込)
        </div> でご利用できる<strong>中小企業向けの法定外複利厚生サービス</strong>です。<br>
        <strong>従業員のエンゲージメント・企業価値の向上に貢献します。</strong>
      </h3>

      <div class="panel-primary">
        <div id="employee" class="notification-panel2">
          <div class="relation">
            <h3 class="single__ttl">
              <span>①従業員のエンゲージメント向上で、離職防止に貢献</span>
            </h3>

            <div class="card-type19">
              <dd>
                福利厚生の導入や見直しは、従業員の労働環境改善や生活環境の向上につながります。従業員が高いパフォーマンスで業務を行うことは、生産性の向上につながるため、会社にとっても大きなメリットがあります。企業価値の向上で採用の課題を克服します。
              </dd>

              <div class="card-list flex gap30">
                <div class="card">
                  <div class="cat">従業員のメリット</div>
                  <ul class="circle-list">
                    <li>生活や健康が安定・向上する</li>
                    <li>スキルアップの機会が得られる</li>
                    <li>パフォーマンスが向上する</li>
                    <li>ライフワークバランスが改善する</li>
                  </ul>
                </div>

                <div class="card">
                  <div class="cat">会社のメリット</div>
                  <ul class="circle-list">
                    <li>従業員満足度が上がり、離職率が下がる</li>
                    <li>採用時のアピールとなり、人材確保に役立つ</li>
                    <li>社会的信頼を高めることができる</li>
                    <li>労使関係の安定につながる</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel-secondary fadein">
        <div id="effort" class="notification-panel2">
          <div class="relation">
            <h3 class="single__ttl">
              <span>②完全アウトソーシングで運用の手間いらず</span>
            </h3>

            <dd>
              福利厚生の種類を増やして充実させるほど、運営の手間はかかります。「セゾンフクリコ」なら、施設などとの直接契約業務や、設備投資・運営はすべて完全アウトソーシングなので導入事業者の方に業務をご負担いただく必要はありません。
            </dd>
            <div class="flex gap30 card-container">

              <div class="card-button">
                <a href="#" class="default_btn">社内規定の作成</a>
                <a href="#" class="default_btn">申請書の作成や処理</a>
                <a href="#" class="default_btn">従業員からの質問・対応</a>
                <a href="#" class="default_btn">利用後の処理</a>
              </div>

              <div class="img-circle">
                <img src="/assets/img/common/img-welfare-preview.png" alt="">
              </div>

              <div class="arrow"></div>
              <div class="welfare-more-tooltip">
                <h3 class="welfare-more-tooltip__content">完全アウトソーシング型の福利厚生サービスなので、</br>新たな業務が増える心配はありません。</br>運用は全てお任せください。</h3>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel-tertiary">
        <div id="benefits" class="notification-panel2">
          <div class="relation">
            <h3 class="single__ttl">
              <span>③全国を網羅した豊富な特別優待メニュー</span>
            </h3>

            <dd>福利厚生はただ導入をすればいいというものではなく、従業員に利用してもらうことに意味があります。セゾンフクリコは、多様化する従業員のニーズに応じた、各種サービスを取りそろえています。</dd>
            <ul class="card-solution-list">
              <li>
                <img src="/assets/img/saison_welfare/welfare_feature_1.png" alt="welfare support 1">
                <span>レジャー</span>
              </li>
              <li>
                <img src="/assets/img/saison_welfare/welfare_feature_2.png" alt="welfare support 2">
                <span>グルメ</span>
              </li>
              <li>
                <img src="/assets/img/saison_welfare/welfare_feature_3.png" alt="welfare support 3">
                <span>ビューティー</span>
              </li>
              <li>
                <img src="/assets/img/saison_welfare/welfare_feature_4.png" alt="welfare support 4">
                <span>スポーツ</span>
              </li>
              <li>
                <img src="/assets/img/saison_welfare/welfare_feature_5.png" alt="welfare support 5">
                <span>キャリア</span>
              </li>
              <li>
                <img src="/assets/img/saison_welfare/welfare_feature_6.png" alt="welfare support 6">
                <span>ライフ サポート</span>
              </li>
              <li>
                <img src="/assets/img/saison_welfare/welfare_feature_7.png" alt="welfare support 7">
                <span>セレモニー</span>
              </li>
              <li>
                <img src="/assets/img/saison_welfare/welfare_feature_8.png" alt="welfare support 8">
                <span>トラベル</span>
              </li>
            </ul>
            <div class="preferential-service">
              <ul class="preferential-service-content">
                <li>
                  <div class="card-title">
                    全国25,000以上の施設で最大</br>66%OFFで利用可能
                  </div>
                  <div class="card-content">
                    <img src="/assets/img/welfare/welfare_card1.png" alt="preferential service 1" />
                    <div class="preferential-service-description">
                      <p class="description">
                        <strong>レジャーや健康増進、食事や旅行のシーンで利用できる優待</strong>など、従業員の方々が利用しやすい多彩な優待を取りそろえています。</p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="card-title">
                    外国籍の従業員も利用しやすい</br>環境が整っています。
                  </div>
                  <div class="card-content">
                    <img src="/assets/img/welfare/welfare_card2.png" alt="preferential service 2" />
                    <div class="preferential-service-description">
                      <p class="description">日本語、英語のほか<strong>中国語（簡体、繁体）、ベトナム語</strong>に対応しています。</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-tertiary fadein">
    <div class="container-1200">
      <h2 class="ttl-secondary">ご利用はわずか月額385円（税込）〜 / 1アカウント</h2>

      <h3 class="ttl-tertiary">法人向け/個人事業主向けプランをご用意しています。</h3>

      <div class="section-img">
        <img src="/assets/img/common/img-welfare-icon-001.png" alt="">
      </div>

      <a href="/saison_welfare" class="faq_more bondi_blue_outline_btn">
        <span class="bondi_blue_outline_btn__tittle">
          セゾンフクリコをもっと詳しく
        </span>
      </a>
    </div>
  </section>

  <section id="application" class="section-contact2 fadein">
    <div class="card-type22">
      <h3 class="ttl-tertiary"><span><strong>従業員の満足度</strong>を高めて<strong>人材が定着する会社</strong>に</span>
        <div class="tooltip">
          <div class="tooltip-container">
            <h4 class="tooltip__content">{{"法定外福利厚生サービスをご検討中の \n 事業者の方へ" | safe}}</h4>
          </div>
        </div>
      </h3>
      <div class="useful-wp container">
        <p class="description">
          企業が法定外福利厚生を独自にどれだけ導入をしているかが、福利厚生における充実度を決めるポイントとなります。</br>
          従業員が定着し、高いパフォーマンスで業務を行えるよう法定外福利厚生サービスの導入を検討してみませんか?
        </p>
        <div class="containers">
          <div class="flex jcC gap60">
            <div href="#" class="card">
              <summary class="card__box">
                <div class="card__box--ttl">「詳しい資料が欲しい」</br>という方はこちら</div>
                <div><a href="#" class="blue_gradient_btn" href="#">サービス資料ダウンロード</a></div>
              </summary>
            </div>
            <div href="#" class="card">
              <summary class="card__box">
                <div class="card__box--ttl">「詳しい話を聞きたい」「相談したい」</br>という方はこちら</div>
                <div><a class="blue_gradient_btn" href="/contact">サポート担当に無料で相談する</a></div>
              </summary>
            </div>
          </div>
        </div>
      </div>
  </section>
</main>
{% endblock %}
