{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Custom tags before </head> #}
{% block customHead %}{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}{% endblock %}

{# Main content #}
{% block content %}

  <main class="no54-page">
    
  <section class="">
    <div class="containers flex">

      <!-- 投稿記事詳細メイン -->
      <article class="main-conts single">
        
        <div class="time_tag"><span class="time">2021.3.8</span><span class="tag">カテゴリ名</span></div>


        <h1 class="single__h1">ニュースタイトルが入ります。ニュースタイトルが入ります。ニュースタイトルが入ります。ニュースタイトルが入ります。ニュースタイトルが入ります。</h1>

        <!-- SNSシェアボタン -->
        <ul class="flex gap16 fS aiC sns-share">
          <li><a href="#"><img src="/assets/img/common/in.svg" alt="LinkedIn"></a></li>
          <li><a href="#"><img src="/assets/img/common/fb.svg" alt="Facebook"></a></li>
          <li><a href="#"><img src="/assets/img/common/x.svg" alt="X"></a></li>
        </ul>

        <div class="news-single__lead">リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。</div>

        <div class="news-single__conts">
          <p>ニュース本文が入ります。ニュース本文が入ります。ニュース本文が入ります。ニュース本文が入ります。ニュース本文が入ります。ニュース本文が入ります。ニュース本文が入ります。ニュース本文が入ります。ニュース本文が入ります。ニュース本文が入ります。ニュース本文が入ります。ニュース本文が入ります。ニュース本文が入ります。ニュース本文が入ります。ニュース本文が入ります。ニュース本文が入ります。ニュース本文が入ります。ニュース本文が入ります。ニュース本文が入ります。ニュース本文が入ります。ニュース本文が入ります。ニュース本文が入ります。ニュース本文が入ります。ニュース本文が入ります。</p>
          <p>ニュース本文が入ります。ニュース本文が入ります。ニュース本文が入ります。ニュース本文が入ります。ニュース本文が入ります。ニュース本文が入ります。ニュース本文が入ります。ニュース本文が入ります。ニュース本文が入ります。ニュース本文が入ります。ニュース本文が入ります。ニュース本文が入ります。ニュース本文が入ります。ニュース本文が入ります。ニュース本文が入ります。ニュース本文が入ります。ニュース本文が入ります。ニュース本文が入ります。ニュース本文が入ります。ニュース本文が入ります。ニュース本文が入ります。ニュース本文が入ります。ニュース本文が入ります。ニュース本文が入ります。</p>
          <p>ニュース本文が入ります。ニュース本文が入ります。ニュース本文が入ります。ニュース本文が入ります。ニュース本文が入ります。ニュース本文が入ります。ニュース本文が入ります。ニュース本文が入ります。ニュース本文が入ります。ニュース本文が入ります。ニュース本文が入ります。ニュース本文が入ります。ニュース本文が入ります。ニュース本文が入ります。ニュース本文が入ります。ニュース本文が入ります。ニュース本文が入ります。ニュース本文が入ります。ニュース本文が入ります。ニュース本文が入ります。ニュース本文が入ります。ニュース本文が入ります。ニュース本文が入ります。ニュース本文が入ります。</p>
        </div>
        

        
      </article>

      <!-- サイドメニュー -->
      <aside class="side-nav">

        <div class="catSearch">
          <h3 class="ttl-tertiary">カテゴリで探す</h3>
          <ul class="catSearch__list">
            <li><a href="#">ニュースリリース</a></li>
            <li><a href="#">お知らせ</a></li>
            <li><a href="#">ウェビナー</a></li>
            <li><a href="#">導入事例</a></li>
          </ul>
        </div>

      </aside>

    </div>
  </section>


    
  </main>
{% endblock %}
