{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Breadcrumb #}
{% set breadcrumb = [{
  text:"導入事例",
  link:"#"
  }] %}

{# Custom tags before </head> #}
{% block customHead %}{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}{% endblock %}

{# Main content #}
{% block content %}


<main class="case_list-page">
  <section class="section-welcome">
    <div class="container-1200">
      <h1 class="ttl-primary">中小企業・個人事業主の導入事例</h1>

      <h4 class="ttl-quaternary">さまざまな規模・業種でご利用いただいています。</h4>
    </div>
  </section>

  <section class="section-primary">
    <div class="container-1200">
      <h2 class="ttl-secondary">導入のきっかけや導入後の変化など、 <br> 実際にご利用いただいているお客様の声をご覧ください。</h2>

      <div class="flex jcC gap30 card-list">
        <a href="#" class="card-type10">
          <div class="card--img">
            <img src="/assets/img/common/img-rectangle-01.png" alt="">
            <div class="card__img--content">インタビュー写真画像</div>
          </div>

          <div class="card--content">
            <div class="card__header--btn">
              <span class="black_pill_btn">セゾンプラチナ・ビジネス・<br>
                アメリカン・エキスプレスカード</span>
            </div>

            <h4 class="ttl-quaternary">
              最強のコスパとマイル還元率の高さで選択
            </h4>

            <h5 class="ttl-quinary">
              truck LLC　様
            </h5>

            <h6 class="ttl-senary">ビジネスカードを探していたのですが、どのカードが自分に合うのかが分からず迷っていました。そこで、自身がビジネス・・・</h6>

            <span class="bondi_blue_btn">
              導入事例を見る
              <svg xmlns="http://www.w3.org/2000/svg" width="15.095" height="15.095" viewBox="0 0 15.095 15.095">
                <path id="Path_44704" data-name="Path 44704" d="M9.674,0V9.674H0"
                  transform="translate(0 7.548) rotate(-45)" fill="none" stroke="#fff" stroke-width="2" />
              </svg>
            </span>
          </div>
        </a>

        <a href="#" class="card-type10">
          <div class="card--img">
            <img src="/assets/img/common/img-rectangle-01.png" alt="">
            <div class="card__img--content">インタビュー写真画像</div>
          </div>

          <div class="card--content">
            <div class="card__header--btn">
              <span class="black_pill_btn">セゾンプラチナ・ビジネス プロ・<br>
                アメリカン・エキスプレス®・カード</span>
            </div>

            <h4 class="ttl-quaternary">
              1％のキャッシュバックというと、「Feeが1％増えた」と同義
            </h4>

            <h5 class="ttl-quinary">
              bfj株式会社　様
            </h5>

            <h6 class="ttl-senary">今まではセゾンプラチナ・ビジネス・アメリカン・エキスプレス®・カード（以下、プラチナビジネス）を・・・</h6>

            <span class="bondi_blue_btn">
              導入事例を見る
              <svg xmlns="http://www.w3.org/2000/svg" width="15.095" height="15.095" viewBox="0 0 15.095 15.095">
                <path id="Path_44704" data-name="Path 44704" d="M9.674,0V9.674H0"
                  transform="translate(0 7.548) rotate(-45)" fill="none" stroke="#fff" stroke-width="2" />
              </svg>
            </span>
          </div>
        </a>
      </div>
    </div>
  </section>

  <section class="section-secondary">
    <div class="card-type22">
      <div class="ttl-notice">CONTACT</div>
      <h3 class="ttl-tertiary">クレディセゾンの決済ソリューションが <br> お客様のビジネスにどのように役立つのかをご案内します </h3>
      <div class="useful-wp">
        <div class="containers">
          <div class="flex jcC gap60">
            <div href="/catalog_list/" class="card">
              <summary class="card__box">
                <div class="card__box--ttl">サービス資料ダウンロード</div>
                <div class="card__box--txt">クレディセゾンのソリューションの詳細がわかる
                  <br>
                  サービス資料をダウンロードいただけます。
                </div>
                <div><a class="blue_gradient_btn" href="/catalog_list/">サービス資料ダウンロード</a></div>
              </summary>
            </div>
            <div href="/contact/" class="card">
              <summary class="card__box">
                <div class="card__box--ttl">ご相談・お問い合わせ</div>
                <div class="card__box--txt">各種ソリューションに関するお問合せは
                  <br>
                  お気軽にお問い合わせください。
                </div>
                <div><a  class="blue_gradient_btn" href="/contact/">ご相談・お問い合わせ</a></div>
              </summary>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
