{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Breadcrumb #}
{% set breadcrumb = [
  {
    text: "個人事業主様向けサービス",
    link: "#"
  }
] %}

{# Custom tags before </head> #}
{% block customHead %}{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}{% endblock %}

{# Main content #}
{% block content %}
  <main class="personal-page">
    <section class="section-welcome">
      <div class="section-welcome__banner">
        <img src="/assets/img/personal_page/personal_banner.png"/>
      </div>
      <div class="section-welcome__inner">
        <h3 class="ttl-tertiary">ビジネスオーナー様の「うれしい」をご提供！</h3>
      </div>
      <div class="section-welcome__title">
        <h1 class="ttl-primary">個人事業主様向けサービス</h1>
      </div>
      <div>
        <a href="#" class="blue_gradient_btn">まとめて資料をダウンロードする</a>
      </div>
    </section>
    <section class="section-primary">
      <h4 class="ttl-quaternary">中小企業の経営者様・経理ご担当者様へ</h4>
      <h2 class="ttl-primary">こんなニーズやお悩みありませんか？</h2>
      <div class="section-primary-wrapper">
        <div class="containers">
          <ul class="inherit card-list">
            <li class="card-type6">
              <a href="#challenge-tax-returns" class="card">
                <div class="ttl-quaternary-container">
                  <h4 class="ttl-quaternary">確定申告や経費処理が面倒</h4>
                </div>
                <div class="card-image">
                  <img src="/assets/img/personal_page/personal_card_1.png"/>
                </div>
                <ul class="card-description">
                  <li class="card-description__detail">
                    {% include 'component/icons/circle-checked.njk' %}
                    カード利用明細から個人の利用と経費を分けるのが大変。
                  </li>
                  <li class="card-description__detail">
                    {% include 'component/icons/circle-checked.njk' %}
                    確定申告時も大変だ。
                  </li>
                </ul>
                <div class="circle-with-arrow">
                  <div class="arrow-down"></div>
                </div>
              </a>
            </li>
            <li class="card-type6">
              <a href="#challenge-improve-cash" class="card">
                <div class="ttl-quaternary-container">
                  <h4 class="ttl-quaternary">資金繰りを改善したい</h4>
                </div>
                <div class="card-image">
                  <img src="/assets/img/personal_page/personal_card_2.png"/>
                </div>
                <ul class="card-description">
                  <li class="card-description__detail">
                    {% include 'component/icons/circle-checked.njk' %}
                    借りずに資金繰りを改善したい。
                  </li>
                  <li class="card-description__detail">
                    {% include 'component/icons/circle-checked.njk' %}
                    期限の迫った請求書の支払いを先延ばししたい。
                  </li>
                </ul>
                <div class="circle-with-arrow">
                  <div class="arrow-down"></div>
                </div>
              </a>
            </li>
            <li class="card-type6">
              <a href="#" class="card">
                <div class="ttl-quaternary-container">
                  <h4 class="ttl-quaternary">資金調達をしたい</h4>
                </div>
                <div class="card-image">
                  <img src="/assets/img/personal_page/personal_card_3.png"/>
                </div>
                <ul class="card-description">
                  <li class="card-description__detail">
                    {% include 'component/icons/circle-checked.njk' %}
                    できるだけ早く資金調達を実現したい。
                  </li>
                  <li class="card-description__detail">
                    {% include 'component/icons/circle-checked.njk' %}
                    できる限り低金利で融資してほしい。
                  </li>
                </ul>
                <div class="circle-with-arrow">
                  <div class="arrow-down"></div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section class="section-secondary">
      <div class="container-1200">
        <div id="challenge-tax-returns" class="notification-primary">
          <div class="notification-panel1">
            <h2 class="card__ttl">課題：確定申告や経費処理が面倒</h2>
            <summary class="flex gap30 aiC inquiry__box">
              <div class="flex inquiry__box--btn">
                <a href="#" class="black_pill_btn">解決策！</a>
              </div>
              <div class="inquiry__box--txt">
                ビジネスでの支払いを<span>セゾンのビジネスカードに一本化</span>することで経費計上の手間を簡略化！
              </div>
            </summary>
            <div class="card-type7">
              <div class="card-wrapper">
                <div class="item">
                  <div class="item__img">
                    <img src="/assets/img/personal_page/business_card.png" alt=""/>
                  </div>
                  <div class="item__box text-left">
                    <div class="item__box--txt">
                        事業を行うなかでかかる費用を現金で支払うと、レシートの管理や経費計上が面倒になりがちです。また、プライベートとビジネスでの出費の区別が難しいという問題もあります。
                        <br/>
                        ビジネスでの支払いをビジネスカードに一本化すると、<strong >経費の金額が自動的に明らかになり経費計上の手間を簡略化できます。</strong >
                    </div>
                    <div class="item__box--txt">
                      カードの明細は支払いが経費にあたることを証明する手段にもなるため、<strong >確定申告の際に情報が足りないという理由で困ることもなくなります。ま</strong >
                      た、引き落としの口座として法人口座を利用することで、法人利用と個人利用を区別でき、経費管理がしやすくなります。
                    </div>
                    <div class="item__box--txt item__box--txt-last">
                      セゾンのビジネスカードでは、個人口座、法人口座のどちらも選択が可能です。将来法人化を考えている個人事業主の方は、法人口座が設定できるビジネスカードを利用しておくと便利です。
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="notification-panel2">
            <div class="relation">
              <h3 class="single__ttl">
                <span >個人事業主様・中小企業経営者様におすすめのビジネスカード</span >
              </h3>
              <ul class="flex gap30 card-list">
                <li class="card-type8">
                  <h3 class="card__box--ttl">
                    ポイント・マイルの還元率を重視したいという方へ
                  </h3>
                  <div class="container">
                    <div class="flex gap20 card__box-wrapper">
                      <div class="credit-card02">
                        <img src="/assets/img/credit_cards/american-express-01.png" alt="Your Image" class="credit-card-img"/>
                      </div>
                      <div class="card__box-title">
                        <h3 class="ttl-terianry">
                          セゾンプラチナ・ビジネス・アメリカン・エキスプレス®・カード
                        </h3>
                        <ul class="price-list">
                          <li>
                            <dd>
                              年会費：22,000円（税込）
                              <br/>
                              <strong>→初年度年会費無料</strong>
                            </dd>
                          </li>
                          <li>
                            <dd>追加カード年会費：3,300円（税込）</dd>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <a href="#" class="bondi_blue_outline_btn">カードの詳細はこちら</a >
                </li>
                <li class="card-type8">
                  <h3 class="card__box--ttl">
                    年会費無料にこだわりたいという方へ
                  </h3>
                  <div class="container">
                    <div class="flex gap20 card__box-wrapper">
                      <div class="credit-card02">
                        <img src="/assets/img/credit_cards/american-express-02.png" alt="Your Image" class="credit-card-img"/>
                      </div>
                      <div class="card__box-title">
                        <h3 class="ttl-terianry">
                          セゾンコバルト・ビジネス・アメリカン・エキスプレス®・カード
                        </h3>
                        <ul class="price-list">
                          <li>
                            <dd>本会員・追加カード会員ともに</dd>
                            <strong>年会費永年無料</strong>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <a href="#" class="bondi_blue_outline_btn small">カードの詳細はこちら</a >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div id="challenge-improve-cash" class="notification-secondary">
          <div class="notification-panel1">
            <h2 class="card__ttl">課題：資金繰りを改善したい</h2>
            <summary class="flex gap30 aiC inquiry__box">
              <div class="flex inquiry__box--btn">
                <a href="#" class="black_pill_btn">解決策！</a>
              </div>
              <div class="inquiry__box--txt">
                <span>「支払い.com」</span >で請求書払いをカードで先のばし。振り込みはお任せ！
              </div>
            </summary>
            <div class="notification-panel1-body">
              <dd>
                「支払い.com」を利用すれば、期限の迫った請求書も、支払いまで最長60日余裕をプラス。資金繰りを改善し、借りずに事業を加速できます。
                必要なのはお手持ちのカードだけ。審査も書類も必要ありません。
              </dd>
              <div class="cash-flow-img">
                <img src="/assets/img/common/cash-flow.png" alt="Your Image" class="credit-card-img"/>
              </div>
            </div>
            <a href="#" class="bondi_blue_outline_btn">支払い.comをもっと詳しく</a >
          </div>
        </div>
        <div id="challenge-raise-funds" class="notification-tertiary">
          <div class="notification-panel1">
            <h2 class="card__ttl">課題：資金調達をしたい</h2>
            <summary class="flex gap30 aiC inquiry__box">
              <div class="flex inquiry__box--btn">
                <a href="#" class="black_pill_btn">解決策！</a>
              </div>
              <div class="inquiry__box--txt">
                <span>セゾンビジネスサポートローン</span>
                でビジネスのあらゆる事業資金ニーズに対応
              </div>
            </summary>
            <div class="notification-panel1-body">
              <dd>
                セゾンビジネスサポートローンは、下記対象のビジネスカードでご利用頂ける中小企業・個人事業主の経営を支援する融資サービスです。<br/>
                お持ちのビジネスカードに、<strong >最大950万円のゆとりあるご融資可能枠と借り入れ額に応じた優遇金利</strong >
                をご用意しております。カード1枚で用途を問わず、ビジネスのあらゆるシーンで幅広くご利用いただけます。
              </dd>
              <ul class="flex gap30 card-list">
                <li class="card-type9">
                  <h3 class="card__box--ttl">対象（下記カードをお持ちの方）</h3>
                  <div class="container">
                    <div class="flex gap20 card__box-wrapper">
                      <div class="credit-card02">
                        <img src="/assets/img/credit_cards/american-express-01.png" alt="Your Image" class="credit-card-img"/>
                      </div>
                      <div class="card__box-title">
                        <h3 class="ttl-terianry">
                          セゾンコバルト・ビジネス・
                          アメリカン・エキスプレス®・カード
                        </h3>
                      </div>
                    </div>
                    <div class="flex gap20 card__box-wrapper">
                      <div class="credit-card02">
                        <img src="/assets/img/credit_cards/american-express-02.png" alt="Your Image" class="credit-card-img"/>
                      </div>
                      <div class="card__box-title">
                        <h3 class="ttl-terianry">
                          セゾンコバルト・ビジネス・
                          アメリカン・エキスプレス®・カード
                        </h3>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="card-type9">
                  <h3 class="card__box--ttl card__box-ttl02">
                    融資サービスの内容
                  </h3>
                  <div class="container">
                    <div class="flex card__box-wrapper card__box__wrapper-right">
                      <div class="card01">
                        <dd>融資枠</dd>
                        <h3 class="ttl-tertiary">
                          最大<strong>950</strong>万円
                          <small>※1</small>
                        </h3>
                      </div>
                      <div class="card02">
                        <dd>金利</dd>
                        <h3 class="ttl-tertiary">
                          <strong>2.8％～9.6%</strong>
                          <small>※2</small>
                        </h3>
                      </div>
                    </div>
                  </div>
                  <dd>
                    ※1
                    初回は融資実行となります。ご融資枠の上限は、年収の1/3以内となります。<br/>
                    ※2
                    ご利用可能枠が110万円以上の方が対象。本サービスご利用前の金利はセゾンプラチナ・ビジネス・アメリカン・エキスプレス®・カードの場合14.5％、セゾンコバルト・ビジネス・アメリカン・エキスプレス®・カードの場合18.0％です。
                  </dd>
                </li>
              </ul>
            </div>
            <a href="#" class="bondi_blue_outline_btn">セゾンビジネスサポートローンをもっと詳しく</a >
          </div>
        </div>
      </div>
    </section>
    <section class="section-tertiary">
      <h5 class="ttl-sub">DOCUMENTS</h5>
      <h2 class="ttl-secondary">各種サービス資料をまとめてダウンロード</h2>
      <h3 class="ttl-tertiary">
        興味のあるサービス資料をまとめてダウンロードできます。
      </h3>
      <a href="#" class="blue_gradient_btn">まとめて資料をダウンロードする</a>
    </section>
    <section class="section-quaternary">
      <h5 class="ttl-sub">VOICE</h5>
      <h2 class="ttl-secondary">お客様の声</h2>
      <div class="section-primary-wrapper">
        <div class="containers">
          <ul class="inherit card-list">
            <div class="card-type10">
              <a href="#" class="card-type10-container">
                <div class="flex fS grid__card--cat">
                  <span class="cat">ビジネスカード</span>
                </div>
                <h4 class="ttl-quaternary">最強のコスパとマイル還元率です。</h4>
                <h5 class="ttl-quinary">truck LLC/代表/善利光雅 様</h5>
                <h6 class="ttl-senary">
                  ビジネスカードを探していたのですが、どのカードが自分に合うのかが分からず迷っていました。そこで、自身がビジネスカードに求める事項が備わっているか・・
                </h6>
                <div class="bondi_blue_outline_btn">インタビューの続きを見る</div >
              </a>
            </div>
            <div class="card-type10">
              <a href="#" class="card-type10-container">
                <div class="flex fS grid__card--cat">
                  <span class="cat">支払い.com</span>
                </div>
                <h4 class="ttl-quaternary">
                  コメントが入ります。コメントが入ります。コメントが入ります。
                </h4>
                <h5 class="ttl-quinary">建設業 代表 様</h5>
                <h6 class="ttl-senary">
                  月末の職人への支払いに迫られ本当に困っていましたが、圧倒的に簡単に振込が完了し、手数料も安かったので大変助かりました。また利用させていただきます。
                </h6>
              </a>
            </div>
          </ul>
        </div>
      </div>
    </section>
    <section class="section-question-and-answer">
      <h5 class="ttl-sub">FAQ</h5>
      <h2 class="ttl-secondary">よくある質問</h2>
      {% for i in range(1, 5) %}
        <div class="qa">
          <div class="flex gap20 question-tab">
            <div class="qa-marker">
              <h2 class="ttl-secondary">Q</h2>
            </div>
            <div class="qa-content">
              <h3 class="ttl-tertiary">
                質問内容が入ります。質問内容が入ります。質問内容が入ります。質問内容が入ります。質問内容が入ります。
              </h3>
            </div>
            <button class="qa-button">
              <span class="svg__plus">{% include 'component/icons/plus.njk' %}</span>
              <span class="svg__minus">{% include 'component/icons/minus.njk' %}</span>
            </button>
          </div>
          <div class="flex gap20 answer-tab">
            <div class="qa-marker">
              <h2 class="ttl-secondary">A</h2>
            </div>
            <div class="qa-content">
              <h3 class="ttl-tertiary">
                質問回答が入ります。質問回答が入ります。質問回答が入ります。質問回答が入ります。質問回答が入ります。質問回答が入ります。質問回答が入ります。質問回答が入ります。質問回答が入ります。質問回答が入ります。質問回答が入ります。質問回答が入ります。質問回答が入ります。
              </h3>
            </div>
          </div>
        </div>
      {% endfor %}
    </section>
  </main>
{% endblock %}
