/*
  ----------------
  Footer
  ----------------
*/
footer {
  margin: auto;
  background-color: $black_color;
  .footer-container {
    max-width: 1200px;
    margin: 0 auto 60px;

    @media #{$sp} {
      margin-bottom: 30px;
    }
  }

  .primary-section {
    text-align: center;
    padding: 70px 0;
    background-color: $black_color;

    @media #{$sp} {
      padding: 30px 10px;
    }

    .containers {
      justify-content: flex-start;
      padding: 0;
      margin: 0;
      gap: 80px;

      @media #{$sp} {
        flex-direction: column;
        gap: 20px;
      }

      .group {
        @media #{$sp} {
          width: 100%;
          position: relative;

          &::after {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 0;
            width: 100%;
            height: 1px;
            background: #ccc;
          }
        }

        .footer__logo {
          margin-bottom: 25px;

          @media #{$sp} {
            text-align: left;
            margin-bottom: 10px;
          }

          img {
            width: 288px;
          }
        }
        .group__ttl {
          font-size: 14px;
          color: #fff;
          font-weight: 600;
          text-align: left;
          margin-bottom: 17px;

          @media #{$sp} {
            text-align: left;
            margin-bottom: 5px;
          }
        }

        .group__list {
          li {
            color: #fff;
            text-align: left;
            line-height: 22px;

            a {
              color: #fff;
              text-align: left;
              font-size: 12px;
            }

            &::before {
              content: "-";
              display: inline-block;
              width: 10px;
              text-align: center;
              margin-right: 4px;
              font-size: 12px;
            }
          }
        }
        &.footer__first__list {
          .group__list {
            li {
              &::before {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  .secondary-section {
    text-align: center;
    background-color: $black_color;

    .containers {
      max-width: unset;
      padding: 0;
      margin: 0;

      ul {
        justify-content: center;

        @media #{$sp} {
          flex-direction: column;
          padding: 0 50px;
        }

        li {
          text-align: center;
          color: #fff;
          width: auto;
          display: block;
          max-width: 380px;
          flex: 1;

          @media #{$sp} {
            width: 100%;
            max-width: unset;
          }

          a {
            color: $blue-color;
            padding: 20px 35px;
            background-color: $white-color;
            border: none;
            box-shadow: none;

            &::before {
              display: none;
            }
          }
        }
      }
    }
  }

  .tertiary-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: $white-color;
    background-color: $black-color-01;
    padding: 30px 43px;

    @media #{$sp} {
      padding: 0;
      flex-direction: column;
      gap: 20px;
      padding: 20px 0;
    }

    .ttl-secondary {
      font-size: 32px;
      margin-bottom: 0;
    }

    .sec-news__box--item {
      flex-wrap: nowrap;
      white-space: nowrap;

      dt {
        width: auto;

        img {
          width: 302px;
          height: 33px;
          max-width: unset;
        }
      }

      .custom-list {
        list-style: none;
        padding: 0;
        justify-content: flex-start;

        @media #{$sp} {
          flex-direction: column;
        }

        li {
          font-size: 12px;
          position: relative;
          padding-right: 25px; // Add space for the pipe
          position: relative;

          &:last-child::before {
            content: ""; // Remove the pipe for the last item
          }

          svg {
            position: absolute;
            right: 10px;
          }
        }
      }
    }

    .news-single__conts {
      margin-bottom: 32px;
      text-align: left;

      p {
        font-size: 14px;
        font-weight: 400;
      }
    }

    .copy-right {
      p {
        font-size: 12px;
      }
    }
  }
}
