/*
  ----------------
  Footer
  ----------------
*/
footer {
  margin: auto;

  .primary-section {
    text-align: center;
    padding: 70px 120px;
    background-color: #7d7d7d;

    .containers {
      justify-content: flex-start;
      padding: 0;
      margin: 0;
      gap: 80px;

      .group {
        .group__ttl {
          font-size: 14px;
          color: #fff;
          font-weight: 600;
          text-align: left;
          margin-bottom: 20px;
        }

        .group__list {
          li {
            color: #fff;
            text-align: left;

            a {
              color: #fff;
              text-align: left;
              font-size: 12px;
            }

            &::before {
              content: "•"; /* You can use any character you prefer for the bullet */
              display: inline-block;
              width: 10px; /* Adjust the width of the bullet */
              text-align: center;
              margin-right: 4px;
              font-size: 12px;
            }
          }
        }
      }
    }
  }

  .secondary-section {
    text-align: center;
    padding: 10px 120px;
    background-color: #000000;

    .containers {
      max-width: unset;
      padding: 0;
      margin: 0;

      ul {
        justify-content: center;

        li {
          text-align: center;
          color: #fff;
          width: auto;
          display: block;
          max-width: 380px;
          flex: 1;

          a {
            display: block;
            color: #fff;
            text-align: center;
            font-size: 20px;
            font-weight: 600;
            width: 100%;
            max-width: 380px;
            padding: 21px 0;
            background-color: #f29600;
            border-color: #f29600;

            &::before {
              display: none;
            }
          }
        }
      }
    }
  }

  .tertiary-section {
    text-align: center;
    padding: 30px 101px;
    background-color: #fff;

    .ttl-secondary {
      font-size: 32px;
      margin-bottom: 0;
    }

    .sec-news__box--item {
      margin-bottom: 10px;
      flex-wrap: nowrap;
      white-space: nowrap;

      dt {
        width: auto;

      img {
        width: 302px;
        height: 33px;
        max-width: unset;
      }
      }

      .custom-list {
        list-style: none;
        padding: 0;
        justify-content: flex-start;

        li {
          font-size: 14px;
          position: relative;
          padding-right: 25px; // Add space for the pipe
          margin-bottom: 10px; // Add some spacing between list items

          position: relative;

          &::before {
            content: "|";
            position: absolute;
            right: 0;
            top: 0;
          }

          &:last-child::before {
            content: ""; // Remove the pipe for the last item
          }

          .square {
            position: absolute;
            width: 8px;
            height: 8px;
          }

          .before {
            background-color: #fff;
            border: 1px solid #000;
            right: 10px;
            top: 0;
            z-index: 2;
          }

          .after {
            background-color: #fff; /* Example color for after square */
            border: 1px solid #000;
            right: 13px;
            top: 3px;
            z-index: 1;
          }
        }
      }
    }

    .news-single__conts {
      margin-bottom: 32px;
      text-align: left;

      p {
        font-size: 14px;
        font-weight: 400;
      }
    }

    .copy-right {
      p {
        font-size: 14px;
      }
    }
  }
}
