/*
  ----------------
  form
  ----------------
*/

.form {
  &__note {
    margin-bottom: 60px;
    @media #{$sp} {
      margin-bottom: 30px;
    }
    p {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
  form {
    .container {
      padding-right: 0;
      padding-left: 0;
    }
  }
  &__ttl {
    background: #14134c;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    @media #{$sp} {
      font-size: 16px;
      padding: 10px;
    }
  }
  .message {
    color: #eb1600;
    font-size: 14px;
    @media #{$sp} {
      font-size: 12px;
    }
  }
  &__table {
    background: #f6f6f6;
    padding: 20px 70px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    @media #{$sp} {
      padding: 15px;
    }
    col {
      &:first-child {
        width: 300px;
        @media #{$sp} {
          width: 100%;
        }
      }
      &:last-child {
        width: calc(100% - 300px);
        @media #{$sp} {
          width: 100%;
        }
      }
    }
    tr {
      border-bottom: 1px solid rgba(20, 19, 76, 0.2);
      th,
      td {
        padding: 15px 0;
        text-align: left;
        @media #{$sp} {
          padding: 10px 0;
          display: block;
        }
      }
      th {
        padding-right: 50px;
        @media #{$sp} {
          padding: 15px 0 0 0;
        }
        .item {
          display: inline-block;
          font-weight: bold;
        }
        .required,
        .optional {
          display: inline-block;
          font-weight: bold;
          font-size: 11px;
          padding: 0 5px;
          background: #ff0000;
          color: #fff;
          border-radius: 3px;
        }
        .optional {
          background: #8d8d8d;
        }
      }
      td {
        textarea,
        input[type="text"],
        input[type="email"],
        input[type="url"],
        input[type="tel"],
        input[type="checkbox"] {
          font-size: 16px;
          width: 100%;
          padding: 5px 10px;
          border: 1px solid #bbbbbb;
          border-radius: 3px;
          background: #fff;
          height: 40px;
          margin: 0 10px;
          @media #{$sp} {
            font-size: 16px;
          }
          &::placeholder {
            font-size: 13px;
            font-weight: bold;
            color: #a5a5a5;
          }
        }
        input[type="checkbox"] {
          width: 20px;
          height: 20px;
          margin-right: 10px;
        }
        textarea {
          height: 190px;
          background: #fff;
          resize: vertical;
          @media #{$sp} {
            height: 100px;
          }
          &[name="division_only"] {
            height: 40px;
          }
        }
        a {
          color: #0090ff;
          &:hover {
            opacity: 1;
            text-decoration: underline;
          }
        }
        &.label {
          font-weight: bold;
        }
        &.value {
          display: flex;
          align-items: center;
          padding: 10px 0;
        }
        .half {
          width: 45%;
          span {
            display: inline;
          }
          input[type="text"] {
            width: 85%;
            @media #{$sp} {
              width: 70%;
            }
          }
        }
        &.comment {
          padding: 0 0 15px;
        }
      }
    }
    .privacy-text-master > div {
      padding-bottom: 20px;
      border-bottom: 1px solid rgba(20, 19, 76, 0.2);
    }
    button {
      margin-top: 40px;
      @media #{$sp} {
        margin-top: 20px;
      }
      &.more.bg-o {
        transition: all 0.3s;
        width: 300px;
        @media #{$sp} {
          width: 85%;
        }
      }
    }
    input[type="button"] {
      display: block;
      color: #fff;
      font-size: 20px;
      font-weight: 700;
      text-align: center;
      padding: 20px 50px;
      background: #f29600;
      line-height: 1;
      margin: 0 auto;
      border-radius: 37px;
      border: 2px solid #f29600;
      transition: all 0.3s;
      width: 300px;
      @media #{$sp} {
        width: 85%;
        font-size: 14px;
      }
    }
    .required {
      color: red;
      font-size: 12px;
      display: inline-block;
      margin-left: 10px;
      vertical-align: middle;
      position: relative;
      &::after {
        content: "必須";
      }
    }
  }
  .button_area {
    display: flex;
    margin-top: 30px;
    @media #{$sp} {
      margin-top: 15px;
      flex-direction: column;
      gap: 15px;
    }
  }
  #button_confirm_back {
    border: 2px solid #999;
    background: #999;
  }
}

.side-form {
  .form {
    &__table {
      padding: 15px;
      col {
        &:first-child {
          width: 100%;
        }
        &:last-child {
          width: 100%;
        }
      }
      tr {
        th,
        td {
          display: block;
        }
        th {
          padding-right: 0;
        }
        td {
          padding: 0 0 15px;
          textarea,
          input[type="text"],
          input[type="email"],
          input[type="url"],
          input[type="tel"],
          input[type="checkbox"] {
            margin: 0;
          }
        }
      }
      .blue_more.small {
        width: 100%;
      }
    }
  }
}

.form-primary {
  text-align: left;
  padding: 60px 70px;
  background-color: #f5f5f5;

  .form-section {
    margin-bottom: 30px;

    .required {
      display: inline-block;
      font-weight: 700;
      font-size: 11px;
      padding: 0 5px;
      background: red;
      color: #fff;
      -webkit-border-radius: 3px;
      border-radius: 3px;

      &::after {
        content: "必須";
      }
    }

    .form-ttl {
      margin-bottom: 10px;
      .item {
        font-weight: 700;
        margin-right: 10px;
      }
    }

    .custom-checkbox {
      position: relative;
      display: flex;
      margin-right: 10px;
      gap: 7px;
      margin-top: 7px;

      input[type="checkbox"] {
        display: none;
      }

      .checkmark {
        background-color: #fff;
        position: relative;
        display: inline-block;
        width: 21px;
        height: 21px;
        border: 1px solid #707070;
        border-radius: 5px;
        cursor: pointer;
        margin-right: 5px;

        &::after {
          content: "";
          position: absolute;
          left: 10px;
          top: -1px;
          width: 5px;
          height: 14px;
          border: solid #0497b5;
          border-width: 0 2px 2px 0px;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
          display: none;
        }
      }

      input[type="checkbox"]:checked + .checkmark::after {
        display: block;
      }

      .custom-check-box-label {
        font-size: 14px;
      }
    }

    textarea,
    input[type="text"],
    input[type="email"],
    input[type="url"],
    input[type="tel"],
    input[type="checkbox"] {
      font-size: 16px;
      width: 100%;
      padding: 5px 10px;
      border: 1px solid #bbbbbb;
      border-radius: 3px;
      background: #fff;
      height: 40px;
      @media #{$sp} {
        font-size: 16px;
      }
      &::placeholder {
        font-size: 13px;
        font-weight: bold;
        color: #a5a5a5;
      }
    }

    .custom-select {
      .title {
        font-weight: 700;
        font-size: 24px;
        color: #fff;
      }

      .select_wrap {
        position: relative;
        user-select: none;
      }

      .select_wrap .default_option {
        background: #fff;
        border-radius: 5px;
        position: relative;
        cursor: pointer;
      }

      .select_wrap .default_option li {
        font-size: 16px;
        width: 100%;
        padding: 5px 10px;
        border: 1px solid #bbb;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        background: #fff;
        height: 40px;
      }

      .select_wrap .default_option:before {
        content: "";
        position: absolute;
        top: 13px;
        right: 18px;
        width: 6px;
        height: 6px;
        border: 2px solid;
        border-color: transparent transparent #555555 #555555;
        transform: rotate(-45deg);
      }

      .select_wrap .select_ul {
        position: absolute;
        left: 0;
        width: 100%;
        background: #fff;
        border-radius: 5px;
        display: none;
      }

      .select_wrap .select_ul li {
        font-size: 16px;
        width: 100%;
        padding: 5px 10px;
        border: 1px solid #bbb;
        border-top: 0;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        background: #fff;
        height: 40px;
        cursor: pointer;
      }

      .select_wrap .select_ul li:first-child:hover {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }

      .select_wrap .select_ul li:last-child:hover {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }

      .select_wrap .select_ul li:hover {
        background: #fff4dd;
      }

      .select_wrap .option {
        display: flex;
        align-items: center;

        &.disabled {
          color: #aaaaaa;
        }
      }

      .select_wrap.active .select_ul {
        display: block;
      }

      .select_wrap.active .default_option:before {
        top: 18px;
        transform: rotate(-225deg);
      }
    }

  }
}
