/*
  ----------------
  Header
  ----------------
*/

header {
  margin: auto;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 30;
  transition: all 0.3s;
  &.hide {
    transform: translateY(-150px);
  }

  // 構築範囲　ここから　↓

  .in {
    background: #111450;
    color: #fff;
    border-bottom: 1px solid #fff;
    &__logo {
      &__img {
        padding: 20px;
        width: 200px;

        @media #{$sp} {
          padding: 0 15px;
        }
      }
      span {
        font-size: 14px;
      }
    }
    &__nav {
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 0.04em;

      li {
        &:not(:last-child) {
          margin-right: 1px;
        }
        a {
          display: block;
          padding: 16px 19px 16px 42px;
          background: #111450;
          position: relative;

          &::before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: -1px;
            margin: auto;
            border-color: currentcolor;
            border-color: #fff #fff rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
            background-color: white;
            height: 100%;
            width: 1px;
          }
        }
      }
    }
  }
  .nav-list {
    padding-left: 17px;
    background: #fff;
    color: #333333;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.375;

    .nav-list-bar {
      height: 80px;
      align-items: center;
      background-color: #fff;
      .nav-list-logo {
        width: 350px;
      }
    }

    ul {
      margin: 0 auto;
      gap: 20px;

      li {
        a {
          padding: 10px 0;
          position: relative;
          &::before {
            content: "";
            width: 0%;
            height: 1px;
            background-color: #333;
            display: block;
            position: absolute;
            bottom: 5px;
            left: 50%;
            transform: translateX(-50%);
            transition: all 0.3s linear;
          }
          &:hover {
            opacity: 1;
            &::before {
              width: 100%;
            }
          }
        }
      }
    }

    .nav-list-button {
      background-color: #f29600;
      height: 100%;
      color: white;
      line-height: 80px;
      padding: 0px 16px;
    }
  }

  // ここまで　↑

  #nav-toggle {
    padding: 16px;
    width: 50px;
    height: 50px;
    span {
      display: block;
      background: #fff;
      height: 2px;
      transition: transform 0.5s ease-in-out, top 0.5s ease;
    }
    span:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  #gloval-nav {
    display: none;
    background: #f4f5f6;
    padding: 30px;
    ul {
      font-size: 14px;
      font-weight: bold;
      &.list {
        li {
          &:not(:last-child) {
            border-bottom: 1px solid #333;
          }
          a {
            display: block;
            padding: 10px 20px;
          }
        }
      }
      &.aside {
        li {
          &:not(:last-child) {
            border-bottom: 1px solid #f4f5f6;
          }
          a {
            display: block;
            padding: 10px 30px;
            background: #f37d07;
            color: #fff;
            position: relative;
            &::before {
              content: "";
              position: absolute;
              top: 0;
              bottom: 0;
              margin: auto;
              left: 10px;
              width: 7px;
              height: 7px;
              border: 1px solid;
              border-color: #fff #fff transparent transparent;
              transform: rotate(45deg);
            }
          }
        }
      }
    }
  }
}

header.open {
  #nav-toggle {
    position: relative;
    span {
      background: #fff;
    }
    span:first-child {
      transform: rotate(45deg);
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 27px;
    }
    span:nth-child(2) {
      display: none;
    }
    span:last-child {
      transform: rotate(-45deg);
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 27px;
    }
  }
}
