/*
  ----------------
  common-section
  ----------------
*/

// アンカーリンク 3つ4つどちらも対応
.anc {
  &__box {
    &.gap30 {
      @media #{$sp} {
        gap: 30px 15px;
      }
    }
    li {
      width: calc(100% / 4 - 30px);
      font-size: 20px;
      font-weight: bold;
      @media #{$sp} {
        width: calc(100% / 2 - 10px);
        font-size: 14px;
      }
      a {
        display: block;
        color: #fff;
        background: #0d5bab;
        text-align: center;
        padding: 17px;
        box-shadow: 0 7px 20px rgba(0, 0, 0, 0.22);
        border: 3px solid #0d5bab;
        position: relative;
        @media #{$sp} {
          padding: 10px;
          border: 2px solid #0d5bab;
        }
        &::before {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          bottom: -15px;
          margin: auto;
          width: 5px;
          height: 5px;
          border: 2px solid;
          border-color: transparent transparent #0d5bab #0d5bab;
          transform: rotate(-45deg);
          transition: all 0.3s;
        }
        &:hover {
          opacity: 1;
          color: #0d5bab;
          background: #fff;
          &::before {
            bottom: -20px;
          }
        }
      }
    }
  }
}

.anc01 {
  &__box {
    &.gap30 {
      @media #{$sp} {
        gap: 30px 15px;
      }
    }
    li {
      width: calc(33.33% - 30px);
      font-size: 20px;
      font-weight: bold;
      @media #{$sp} {
        width: calc(100% / 2 - 10px);
        font-size: 14px;
      }
      a {
        display: block;
        color: #fff;
        background-color: #111450;
        text-align: center;
        padding: 17px 0px 32px;
        box-shadow: 0 7px 20px rgba(0, 0, 0, 0.22);
        border-width: 2px;
        border: 3px solid #111450;
        position: relative;

        @media #{$sp} {
          padding: 10px;
          border: 2px solid #111450;
        }
        &::before {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          bottom: 15px;
          margin: auto;
          width: 5px;
          height: 5px;
          border: 2px solid;
          border-color: #111450 #111450 #d9dfe4 #e6eaef;
          transform: rotate(-45deg);
          transition: all 0.3s;
        }
        &:hover {
          opacity: 1;
          color: #111450;
          background: #fff;
          &::before {
            bottom: 15px;
          }
        }
      }
    }
  }
}

// 左に説明文・右に画像
.sec01 {
  &__box {
    width: calc(100% / 2 - 10px);
    @media #{$sp} {
      width: 100%;
    }
    dt {
      font-size: 22px;
      font-weight: bold;
      line-height: 1.5;
      margin-bottom: 30px;
      @media #{$sp} {
        font-size: 18px;
        margin-bottom: 15px;
      }
    }
    &--img {
      width: 210px;
      margin: 40px auto 0;
      @media #{$sp} {
        margin: 20px auto 0;
      }
    }
  }
  &__img {
    width: calc(100% / 2 - 20px);
    @media #{$sp} {
      width: 100%;
      margin-bottom: 15px;
    }
  }
}

// 左に画像・右に説明文
.sec02 {
  &__box {
    width: calc(100% / 2 - 10px);
    @media #{$sp} {
      width: 100%;
    }
    dt {
      font-size: 22px;
      font-weight: bold;
      line-height: 1.5;
      margin-bottom: 30px;
      @media #{$sp} {
        font-size: 18px;
        margin-bottom: 15px;
      }
    }
    &--img {
      width: 210px;
      margin: 40px auto 0;
      @media #{$sp} {
        margin: 20px auto 0;
      }
    }
  }
  &__img {
    width: calc(100% / 2 - 20px);
    @media #{$sp} {
      width: 100%;
      margin-bottom: 15px;
    }
  }
}

// 交互に見せる
.symmetry {
  .item {
    &:not(:last-child) {
      margin-bottom: 50px;
      @media #{$sp} {
        margin-bottom: 30px;
      }
    }
    &__box {
      width: calc(100% / 2 - 20px);
      @media #{$sp} {
        width: 100%;
      }
      &--num {
        font-family: din-2014, sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 76px;
        line-height: 1;
        margin-bottom: 15px;
        @media #{$sp} {
          font-size: 30px;
          margin-bottom: 10px;
          text-align: center;
        }
      }
      &--ttl {
        font-size: 22px;
        font-weight: bold;
        line-height: 1.5;
        margin-bottom: 30px;
        @media #{$sp} {
          font-size: 16px;
          margin-bottom: 15px;
        }
      }
      &--txt {
        line-height: 1.875;
        margin-bottom: 30px;
        @media #{$sp} {
          margin-bottom: 15px;
        }
      }
      .btn01 {
        margin: 0;
        max-width: 380px;
        font-size: 16px;
        padding: 15px;
        @media #{$sp} {
          margin: 0 auto;
          max-width: 85%;
          font-size: 12px;
          padding: 10px;
        }
      }
    }
    &__img {
      width: calc(100% / 2 - 20px);
      @media #{$sp} {
        width: 100%;
        margin-bottom: 15px;
      }
    }
  }
}

// 何かの要素
.element {
  .item {
    margin-bottom: 70px;
    @media #{$sp} {
      margin-bottom: 30px;
    }
    &__box {
      text-align: center;
      width: calc(100% / 3 - 20px);
      @media #{$sp} {
        width: 100%;
      }
      &--num {
        background: #0d5bab;
        color: #fff;
        font-size: 32px;
        font-weight: bold;
        width: 58px;
        height: 58px;
        border-radius: 50%;
        margin: 0 auto 20px;
        font-family: din-2014, sans-serif;
        font-weight: 700;
        font-style: normal;
        @media #{$sp} {
          font-size: 20px;
          width: 40px;
          height: 40px;
          margin: 0 auto 15px;
        }
      }
      &--ttl {
        font-size: 20px;
        font-weight: bold;
        line-height: 1.5;
        margin-bottom: 30px;
        @media #{$sp} {
          font-size: 16px;
          margin-bottom: 15px;
        }
      }
      &--img {
      }
      &:not(:last-child) {
        @media #{$sp} {
          margin-bottom: 15px;
        }
      }
    }
  }
}

// 企業ロゴ・スライダーなしの場合
.praise {
  &__box {
    border: 1px solid #cccccc;
    padding: 30px 70px;
    margin-bottom: 70px;
    @media #{$sp} {
      padding: 15px;
      margin-bottom: 30px;
    }
    li {
      &:not(:last-child) {
        margin-right: 30px;
        @media #{$sp} {
          margin-right: 0;
        }
      }
    }
  }
}

// お客様の声　※問題はarrow
.voice {
  &__box {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    &--img {
      width: 200px;
      text-align: center;
      @media #{$sp} {
        margin: 0 auto 15px;
      }
      .avatar {
        display: inline-block;
        border-radius: 50%;
        margin-bottom: 15px;
      }
      .position {
        margin-bottom: 10px;
      }
      .tag {
        text-align: center;
        background: #fff;
        border: 1px solid #0d5bab;
        padding: 3px 10px;
        color: #0d5bab;
        font-weight: 500;
      }
    }
    &--cmt {
      width: calc(100% - 200px - 60px);
      background: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      padding: 30px;
      position: relative;
      @media #{$sp} {
        width: 100%;
        padding: 15px;
      }
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: -45px;
        width: 50px;
        height: 50px;
        background: url("../img/case/arrow.png") 50% / contain no-repeat;
        @media #{$sp} {
          content: none;
        }
      }
      &.v2 {
        &::before {
          left: auto;
          right: -45px;
          background: url("../img/case/arrow-r.png") 50% / contain no-repeat;
          @media #{$sp} {
            content: none;
          }
        }
      }
      dt {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
        @media #{$sp} {
          font-size: 16px;
          margin-bottom: 15px;
        }
      }
      dd {
      }
    }
  }
}

// 会社情報
.info {
  background: #f2f4f4;
  .card {
    &__box {
      width: calc(100% / 2 - 20px);
      padding: 30px 30px 30px 120px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.11);
      @media #{$sp} {
        width: 100%;
        padding: 15px;
      }
      &:first-child {
        background: url("../img/common/img-info01.svg") 30px 50% / 64px auto
          no-repeat #fff;
        @media #{$sp} {
          background: url("../img/common/img-info01.svg") 15px 50% / 32px auto
            no-repeat #fff;
        }
      }

      &:last-child {
        background: url("../img/common/img-info02.svg") 30px 50% / 64px auto
          no-repeat #fff;
        @media #{$sp} {
          background: url("../img/common/img-info02.svg") 15px 50% / 32px auto
            no-repeat #fff;
        }
      }

      &--txt {
        font-size: 20px;
        font-weight: bold;
        transition: all 0.3s;
        @media #{$sp} {
          width: 100%;
          font-size: 16px;
          text-align: center;
        }
      }
      &:hover {
        opacity: 1;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
      }
    }
  }
}

// お問合わせ
.inquiry {
  background: url("../img/common/bg-inquiry.webp") 50% / cover no-repeat;
  color: #fff;
  &__box {
    margin: 30px auto 0;
    background-color: rgba(255, 255, 255, 0.37);
    padding: 30px 45px;
    width: 80%;
    @media #{$sp} {
      margin: 15px auto 0;
      padding: 15px;
      width: 100%;
    }
    &--txt {
      font-size: 20px;
      font-weight: bold;
      width: calc(100% - 300px);
      @media #{$sp} {
        font-size: 16px;
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
      }
    }
    &--btn {
      width: 300px;
      @media #{$sp} {
        width: 100%;
      }
    }
  }
}

// お問合わせ　type02
.inquiry02 {
  background: url("../img/common/bg-inquiry.webp") 50% / cover no-repeat;
  &__box {
    text-align: center;
    background: #fff;
    padding: 40px;
    width: 70%;
    margin: 0 auto;
    @media #{$sp} {
      padding: 20px;
      width: 100%;
    }
    &--ttl {
      font-size: 28px;
      color: #223b80;
      font-weight: bold;
      margin-bottom: 20px;
      @media #{$sp} {
        font-size: 20px;
        margin-bottom: 15px;
      }
    }
    &--lead {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 30px;
      @media #{$sp} {
        font-size: 14px;
        margin-bottom: 15px;
      }
    }
    .btn01 {
      width: 70%;
      margin: 0 auto 15px;
      @media #{$sp} {
        width: 100%;
      }
    }
    &--txt {
      font-size: 21px;
      margin-bottom: 40px;
      @media #{$sp} {
        font-size: 14px;
        margin-bottom: 20px;
      }
    }
    &--subttl {
      position: relative;
      margin-bottom: 30px;
      z-index: 1;
      @media #{$sp} {
        margin-bottom: 15px;
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 100%;
        height: 1px;
        background: #223b80;
        z-index: -1;
      }
      span {
        display: inline-block;
        background: #fff;
        padding: 0 1.5em;
        color: #223b80;
        font-weight: bold;
      }
    }
    .btn01.small {
      width: calc(100% / 3 - 20px);
      font-size: 16px;
      margin: 0;
      padding: 15px;
      @media #{$sp} {
        width: 100%;
        font-size: 14px;
        padding: 10px;
      }
      &:not(:last-child) {
        @media #{$sp} {
          margin-bottom: 15px;
        }
      }
    }
  }
}

// お問合わせ　type03
.inquiry03 {
  .containers-full {
    @media #{$sp} {
      padding: 0;
    }
  }
  .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% / 2 - 1px);
    overflow: hidden;
    height: 280px;
    @media #{$sp} {
      width: 100%;
      height: auto;
      padding: 15px;
    }
    &:first-child {
      background: url("../img/common/bg-dl.jpg") 50% / cover no-repeat;
      transition: all 0.3s;
      // border-right: 1px solid #fff;
      @media #{$sp} {
        border-bottom: 1px solid #fff;
        // border-right: 0;
      }
    }
    &:last-child {
      background: url("../img/common/bg-contact.jpg") 50% / cover no-repeat;
      transition: all 0.3s;
      // border-left: 1px solid #fff;
      @media #{$sp} {
        // border-left: 0;
      }
    }
    &__box {
      max-width: 550px;
      width: 100%;
      text-align: center;
      &.left {
        margin-left: auto;
        @media #{$sp} {
          margin: 0 auto;
        }
      }
      &.right {
        margin-right: auto;
        @media #{$sp} {
          margin: 0 auto;
        }
      }
      &--img {
        width: 100px;
        margin: 0 auto 30px;
        @media #{$sp} {
          width: 50px;
          margin: 0 auto 15px;
        }
      }
      &--txt {
        color: #fff;
        font-size: 32px;
        font-weight: 700;
        @media #{$sp} {
          font-size: 20px;
        }
        span {
          position: relative;
          &::before {
            content: " ";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 102%;
            margin: auto;
            width: 25px;
            height: 25px;
            background: url("../img/common/icon-arrow-o.png") 50% / contain
              no-repeat;
            transition: all 0.3s;
          }
        }
      }
    }
    &:hover {
      opacity: 0.8;
      .item__box--txt span:before {
        left: 105%;
      }
    }
  }
}

// ホワイトペーパー　※CMS対応
.material {
  background: #0d5bab;
  color: #fff;
  .desc {
    &__img {
      text-align: center;
      width: 40%;
      @media #{$sp} {
        width: 85%;
        margin: 0 auto 15px;
      }
      img {
        max-width: none;
        width: auto;
        height: 230px;
        @media #{$sp} {
          height: 150px;
        }
      }
    }
    &__box {
      width: 40%;
      @media #{$sp} {
        width: 100%;
      }
      &--sub {
        font-size: 22px;
        margin-bottom: 20px;
        @media #{$sp} {
          font-size: 16px;
          margin-bottom: 10px;
        }
      }
      &--ttl {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 20px;
        @media #{$sp} {
          font-size: 18px;
          margin-bottom: 15px;
        }
      }
      .btn01 {
        margin: 0;
        max-width: 400px;
        font-size: 16px;
        @media #{$sp} {
          margin: 0 auto;
          font-size: 14px;
        }
      }
    }
  }
}

// ニュース　※CMS対応
.sec-news {
  .containers {
    max-width: 920px;
  }
  &__box {
    display: block;
    padding: 20px 0;
    border-bottom: 1px dashed #999;
    @media #{$sp} {
      width: 100%;
      padding: 15px 0;
    }
    &--item {
      dt {
        width: 200px;
        @media #{$sp} {
          width: 100%;
        }
      }
      dd {
        width: calc(100% - 200px - 50px);
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        @media #{$sp} {
          width: 100%;
        }
      }
    }
  }
  .btn01 {
    margin-top: 70px;
    @media #{$sp} {
      margin-top: 30px;
    }
  }
}

// カード型 type1
.card-type1 {
  background: #f7f7f7; //仮
  .card {
    margin-bottom: 60px;
    @media #{$sp} {
      margin-bottom: 30px;
    }
    &__box {
      // display: block;
      width: calc(100% / 3 - 20px);
      padding: 30px;
      background: #fff;
      @media #{$sp} {
        width: 100%;
        padding: 15px;
        &:not(:last-child) {
          margin-bottom: 15px;
        }
      }
      &--ttl {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 30px;
        @media #{$sp} {
          font-size: 16px;
          margin-bottom: 15px;
        }
      }
      &--img {
        margin-bottom: 30px;
        @media #{$sp} {
          margin-bottom: 15px;
        }
      }
      &--txt {
      }
    }
  }
}

// カード型 type2
.card-type2 {
  background: #f7f7f7; //仮
  .card {
    margin-bottom: 60px;
    @media #{$sp} {
      margin-bottom: 30px;
    }
    &__wrap {
      // display: block;
      width: calc(100% / 3 - 20px);
      @media #{$sp} {
        width: 100%;
        &:not(:last-child) {
          margin-bottom: 15px;
        }
      }
      &--ttl {
        font-size: 20px;
        font-weight: bold;
        color: #fff;
        text-align: center;
        background: #333;
        padding: 15px;
      }
    }
    &__box {
      padding: 30px;
      background: #fff;
      @media #{$sp} {
        padding: 15px;
      }
      &--img {
        margin-bottom: 30px;
        @media #{$sp} {
          margin-bottom: 15px;
        }
      }
      &--txt {
      }
    }
  }
}

// カード型 type3
.card-type3 {
  background: #f7f7f7; //仮
  .card {
    margin-bottom: 60px;
    @media #{$sp} {
      margin-bottom: 30px;
    }
    &__wrap {
      display: block;
      width: calc(100% / 3 - 20px);
      position: relative;
      @media #{$sp} {
        width: 100%;
        &:not(:last-child) {
          margin-bottom: 15px;
        }
      }
      &::before {
        content: "";
        position: absolute;
        bottom: 15px;
        right: 15px;
        width: 24px;
        height: 24px;
        background: url("../img/common/cardlink.svg") 50% / contain no-repeat;
      }
      &--img {
      }
    }
    &__box {
      padding: 30px 30px 50px 30px;
      background: #fff;
      @media #{$sp} {
        padding: 15px 15px 30px 15px;
      }
      &--ttl {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 15px;
        @media #{$sp} {
          font-size: 16px;
          margin-bottom: 10px;
        }
      }
      &--txt {
      }
    }
  }
}

// カード型 type4
.card-type4 {
  background: #f7f7f7; //仮
  .card {
    position: relative;
    &:not(:last-child) {
      margin-bottom: 70px;
      @media #{$sp} {
        margin-bottom: 60px;
      }
    }
    &__ttl {
      position: absolute;
      left: 0;
      right: 0;
      top: -20px;
      margin: auto;
      max-width: 620px;
      text-align: center;
      background: #0d5bab;
      color: #fff;
      font-size: 18px;
      font-weight: bold;
      padding: 5px;
      @media #{$sp} {
        top: -30px;
        max-width: 85%;
        font-size: 14px;
      }
      span {
        color: #fff841;
      }
    }
    &__box {
      padding: 50px 30px 30px;
      background: #fff;
      box-shadow: 0 3px 6px rgba(0, 30, 78, 0.16);
      @media #{$sp} {
        padding: 50px 15px 15px;
      }
      &--txt {
        width: calc(100% / 2 - 20px);
        @media #{$sp} {
          width: 100%;
        }
        dt {
          font-size: 22px;
          font-weight: bold;
          line-height: 1.5;
          margin-bottom: 30px;
          @media #{$sp} {
            font-size: 16px;
            margin-bottom: 15px;
          }
        }
      }
      &--img {
        width: calc(100% / 2 - 20px);
        @media #{$sp} {
          width: 100%;
        }
      }
    }
  }
}

// カード型 type5
.card-type5 {
  background: #f7f7f7; //仮
  .card {
    margin-bottom: 60px;
    @media #{$sp} {
      margin-bottom: 30px;
    }
    &__box {
      background: #fff;
      text-align: center;
      width: calc(100% / 3 - 20px);
      @media #{$sp} {
        padding: 15px;
        width: 100%;
      }
      &--img {
      }
      &--ttl {
        padding: 30px;
        font-size: 20px;
        font-weight: bold;
        @media #{$sp} {
          padding: 15px;
          font-size: 16px;
        }
      }
    }
  }
}

// カード型 type6
.card-type6 {
  width: auto;

  .card {
    max-width: 380px;
    border: 0;
    padding: 30px 34px 30px 34px;
    background-color: #e1e1e1;
    box-shadow: none;
    height: 100%;
    text-align: left;

    .ttl-quaternary-container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 57px;
      border: 0;
      margin-bottom: 30px;

      .ttl-quaternary {
        font-size: 20px;
        font-weight: 600;
        margin: 0;
        text-align: center;
        color: #000;
      }
    }

    .circle-container {
      margin: auto;
      width: 138px;
      height: 138px;
      border-radius: 50%;
      background-color: #3498db;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: 16px;
      padding: 30px 0px;
      background-color: #fff;
      color: #000000;
      border: 1px solid #747171;
      margin-bottom: 30px;
      font-weight: bold;
    }

    .ttl-senary {
      font-size: 16px;
      font-weight: 400;
      color: #000000;
      margin-bottom: 30px;
    }

    .circle-with-arrow {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #575757;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      margin: auto;
    }

    .arrow-down {
      width: 16px;
      height: 16px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      margin-bottom: 10px;
      border-right: 3px solid #fff;
      border-bottom: 3px solid #fff;
      position: absolute;
    }
  }

  a:before {
    display: none;
  }
}

// カード型 type7
.card-type7 {
  background-color: #fff;

  .containers {
    padding: 0;

    .card-wrapper {
      .item {
        background-color: #fff;
        box-shadow: none;
        padding: 0;
        width: 100%;

        .ttl-tertiary {
          letter-spacing: 2px;
          line-height: 28px;
          margin-bottom: 30px;
        }

        .item__img {
          max-width: 540px;
          max-height: 306px;
          background-color: #fff;
          font-size: 16px;
          vertical-align: middle;
          background-color: #e1e1e1;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .item__box {
          flex: 1;

          .item__box--title {
            text-align: left;
            font-size: 16px;
            color: #000;
            font-weight: 500;
            margin-bottom: 20px;
          }

          .item__box--txt {
            text-align: left;
            font-size: 16px;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: unset;
            overflow: hidden;
            line-height: 1.78;
            margin-bottom: 30px;
          }

          .item__box--txt.item__box--txt-last {
            font-weight: 400;
          }
        }
      }
      padding: 0;
    }
  }
}

// カード型 type8
.card-type8 {
  padding: 0;
  flex: 1;

  .card__box--ttl {
    padding: 10px 0;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    margin-bottom: 30px;
  }

  .container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 185px;
    border: 0;
    width: 100%;
    margin-bottom: 30px;

    .card__box-wrapper {
      flex-wrap: nowrap;

      .credit-card02 {
        max-width: 160px;
        max-height: 101px;

        .credit-card-img {
          width: 100%;
          height: 100%;
        }
      }

      .card__box-title {
        max-width: 345px;

        .ttl-terianry {
          text-align: left;
          font-size: 20px;
          font-weight: 600;
          letter-spacing: 2px;
        }
      }
    }
  }
}

// カード型 type9
.card-type9 {
  padding: 0;
  flex: 1;
  box-shadow: none;

  .card__box--ttl {
    padding: 10px 0;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    margin-bottom: 30px;
    font-weight: bold;
  }

  .card__box--ttl.card__box-ttl02 {
    background-color: #00aba0;
  }

  .container {
    display: block;
    margin-bottom: 30px;
    height: auto;

    .card__box-wrapper {
      flex-wrap: nowrap;
      margin-bottom: 30px;

      .card__box-title {
        max-width: 345px;

        .ttl-terianry {
          text-align: left;
          font-size: 20px;
          font-weight: 600;
          letter-spacing: 2px;
        }

        .price-list {
          list-style-type: none;
          padding-left: 0;
        }

        .price-list li {
          text-align: left;
          position: relative;
          padding-left: 15px;
          margin-bottom: 10px;
        }

        .price-list li::before {
          content: "•";
          position: absolute;
          left: 0;
          top: -9px;
          font-size: 24px;
          padding-right: 5px;
        }
      }
    }

    .card__box-wrapper.card__box__wrapper-right {
      div {
        flex: 1;
        padding: 34px 0;
        text-align: center;
        border-radius: 17px;
        background-color: #e1e1e1;

        dd {
          text-align: center;
        }

        .ttl-tertiary {
          font-size: 20px;
          font-weight: 600;

          small {
            font-weight: 400;
          }
        }
      }
    }
  }

  dd {
    font-size: 14px;
    line-height: 30px;
  }
}

// カード型 type10
.card-type10 {
  width: auto;
  max-width: 380px;
  padding: 35px 30px 30px 30px;
  background-color: #fff;

  .grid__card--cat {
    margin-bottom: 15px;

    .cat {
      background-color: #111450;
      font-weight: 600;
      font-size: 14px;
    }
  }

  .ttl-quaternary {
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    min-width: 315px;
    margin-bottom: 20px;
    height: 60px;
  }

  .ttl-quinary {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .ttl-senary {
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
    letter-spacing: 1px;
  }
}

// カード型 type11
.card-type11 {
  width: calc(50% - 15px);

  .card {
    background-color: #e1e1e1;
    box-shadow: none;
    padding: 30px 30px 34px 30px;

    .ttl-tertiary {
      letter-spacing: 2px;
      line-height: 28px;
      margin-bottom: 30px;
    }

    .item__img {
      width: 163px;
      height: 163px;
      background-color: #fff;
      border-radius: 10px;
      font-size: 16px;
      padding: 55px 40px;
      vertical-align: middle;
    }

    .item__box {
      flex: 1;

      .item__box--title {
        text-align: left;
        font-size: 16px;
        color: #000;
        font-weight: 500;
        margin-bottom: 20px;
      }

      .item__box--txt {
        max-width: 290px;
        text-align: left;
        font-size: 16px;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: unset;
        overflow: hidden;
        line-height: 1.78;
      }
    }
  }
}

// カード型 type12
.card-type12 {
  padding: 0;
  width: calc(33.33333% - 20px);

  .card__box--ttl {
    padding: 10px 0;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    margin-bottom: 30px;
  }

  .container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 185px;
    border: 0;
    width: 100%;
    margin-bottom: 30px;

    .centered-text {
      font-size: 20px;
      text-align: center;
      margin: 0;
      letter-spacing: 4px;
      line-height: 1.4;
      font-weight: 500;
    }

    .credit-card {
      position: absolute;
      width: 170px;
      height: 107px;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      border: 1px solid #000;

      .credit-card-img {
        width: 170px;
        height: 107px;
      }
    }
  }

  .price-list {
    list-style-type: none;
    padding-left: 15px;
    margin-bottom: 30px;
  }

  .price-list li {
    text-align: left;
    position: relative;
    padding-left: 15px;
    margin-bottom: 10px;
  }

  .price-list li::before {
    content: "•";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    padding-right: 5px;
  }
}

// カード型 type13
.card-type13 {
  padding: 0px 30px;
  margin-bottom: 30px;

  dd {
    text-align: left;
    margin-bottom: 60px;
  }

  .sp-reverse {
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin-bottom: 30px;

    .sec-left-wrapper {
      max-width: 391px;

      .sec__img {
        max-width: 441px;
        max-height: 281px;
        margin-bottom: 30px;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .sec-collection {
        .collection-item {
          width: calc(100% / 3 - 20px);

          .collection-item-content {
            position: relative;

            .collection-item-txt {
              position: absolute;
              color: black;
              top: 50%;
              width: 100%;
              transform: translateY(-50%);
              display: block;
              text-align: center;
              font-weight: bold;
              font-size: 14px;
            }
          }
        }
      }
    }

    .sec-right-wrapper {
      .sec01-right-box {
        margin-bottom: 10px;
        min-height: 70px;

        dt {
          flex-wrap: nowrap;

          .number-circle {
            width: 45px;
            height: 45px;
            flex-shrink: 0;
            border-radius: 50%;
            background-color: #003f98;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 24px;
            font-weight: bold;
            align-self: flex-start;
          }

          .ttl-senary {
            font-size: 20px;
            font-weight: 400;
            white-space: normal;
            letter-spacing: 3px;
            text-align: left;
            max-width: 100%;
            white-space: normal;

            .yellow-bottom {
              font-weight: 600;
              background: linear-gradient(
                to bottom,
                transparent 50%,
                yellow 50%
              );
              display: inline;
            }
          }
        }
      }
    }
  }
}

// カード型 type14
.card-type14 {
  width: calc(100% / 3 - 20px);
  border: 1px solid #707070;

  @media #{$sp} {
    width: 100%;
    padding: 15px;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  .card__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 20px 29px;
    background-color: #737373;
    margin-bottom: 20px;

    @media #{$sp} {
      font-size: 16px;
      margin-bottom: 15px;
    }

    .circle-child {
      width: 82px;
      height: 82px;
      border-radius: 50%;
      background-color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      font-weight: 600;
    }

    .circle-content {
      color: #000000;
    }

    .normal-child {
      text-align: left;
      width: calc(100% - 102px);
      font-size: 20px;
      font-weight: 400;
      color: #fff;
      line-height: 1.3;
    }
  }
}

// カード型 type15
.card-type15 {
  padding-right: 0;
  padding-bottom: 0;

  .desc {
    align-items: start;
    margin-bottom: 60px;

    &__img {
      text-align: center;
      width: 402px;

      @media #{$sp} {
        width: 85%;
        margin: 0 auto 15px;
      }
      img {
        max-width: none;
        width: auto;
        height: 230px;
        @media #{$sp} {
          height: 150px;
        }
      }
    }
    &__box {
      flex: 1;

      @media #{$sp} {
        width: 100%;
      }
      &--sub {
        font-size: 22px;
        margin-bottom: 20px;
        @media #{$sp} {
          font-size: 16px;
          margin-bottom: 10px;
        }
      }
      &--ttl {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;

        @media #{$sp} {
          font-size: 18px;
          margin-bottom: 15px;
        }
      }

      .ttl-senary {
        font-size: 16px;

        @media #{$sp} {
          margin: 0 auto;
          font-size: 14px;
        }
      }
    }
  }

  .btn01 {
    background-color: #f29600;
    border-color: #f29600;
    padding: 21px 0;

    &::before {
      display: none;
    }

    &:hover {
      color: #fff;
    }
  }
}

// カード型 type16
.card-type16 {
  width: calc(50% - 20px);
  padding: 0;
  background: #fff;

  .card--ttl {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 5px solid #707070;
  }

  .card-item-list {
    padding: 0 10px;
  }
}

// カード型 type17
.card-type17 {
  display: flex;

  .card__left {
    max-width: 197px;
    background-color: #003f98;
    display: flex;
    align-items: center;
    padding: 0 17px 0 20px;
    color: white;
    font-size: 20px;
    text-align: left;
    font-weight: bold;
  }

  .card__right {
    background-color: #e9e9e9;
    padding: 10px 34px 10px 30px;

    .card-item-list {
      .card-item02 {
        padding: 30px 0;
        display: flex;
        flex-wrap: nowrap;
        text-align: left;
        border-bottom: 1px solid #707070;
        align-items: center;

        &:last-child {
          border-bottom: 0;
        }

        .card__box-wrapper {
          flex-wrap: nowrap;

          .credit-card02 {
            min-width: 213px;
            max-height: 135px;
          }

          .card__box-title {
            .ttl-quaternary {
              margin-bottom: 10px;
            }

            .ttl-tertiary {
              margin-bottom: 10px;
            }
          }
        }

        .btn06 {
          min-width: 120px;
        }
      }
    }
  }
}

// カード型 type18
.card-type18 {
  .cat {
    background-color: #000;
    padding: 10px 0;
    font-size: 16px;
    margin: 0;
  }

  .card-body {
    padding: 43px 30px 0 30px;
    border: 1px solid #707070;

    .sec__img {
      max-width: 100px;
      margin: auto;
      margin-bottom: 30px;
    }

    p {
      text-align: left;
    }
  }
}

// Card item01
.card-item01 {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  .card-item--ttl {
    width: 144px;
    justify-content: center;
    align-items: center;
    background-color: #e1e1e1;
    -webkit-align-items: center;
    flex-wrap: nowrap;
  }

  .card-item--txt {
    width: calc(100% - 144px);
    background-color: #003f98;
    padding: 22px 20px;
    color: #fff;

    span {
      color: #f7ff00;
    }
  }
}
// お役立ち資料
.useful-wp {
  background: url("../img/top/bg-wp.webp") 50% / cover no-repeat;
  .card {
    display: block;
    width: calc(100% / 2 - 20px);
    background: #fff;
    @media #{$sp} {
      width: 100%;
    }
    &__img {
      background: #f6f6f6;
      text-align: center;
      padding: 30px;
      margin-bottom: 0;
      @media #{$sp} {
        padding: 15px;
      }
      img {
        max-width: none;
        width: auto;
        height: 220px;
        transition: all 0.3s;
        @media #{$sp} {
          height: 150px;
        }
      }
    }
    &__box {
      background: #fff;
      padding: 30px;
      @media #{$sp} {
        padding: 15px;
      }
      &--ttl {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        @media #{$sp} {
          font-size: 16px;
          margin-bottom: 15px;
        }
      }
      &--txt {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        margin-bottom: 30px;
        @media #{$sp} {
          margin-bottom: 15px;
        }
      }
      .more {
        font-size: 16px;
        transition: all 0.3s;
        @media #{$sp} {
          font-size: 14px;
        }
      }
    }
    &:hover {
      opacity: 1;
      .more.bgY {
        background: #fff;
        color: #f7a307;
        border: 3px solid #f7a307;
        &::before {
          border-top: solid 3px #f7a307;
          border-right: solid 3px #f7a307;
        }
      }
      .card__img img {
        transform: scale(1.1, 1.1);
      }
    }
  }
  .flex.gap30 {
    margin-bottom: 70px;
    @media #{$sp} {
      margin-bottom: 30px;
    }
  }
}

// hero01 右側にwp
.hero01 {
  background: url("../img/common/bg-hero.webp") 50% / cover no-repeat;
  &__box {
    width: calc(100% - 255px - 30px);
    @media #{$sp} {
      width: 100%;
      margin-bottom: 30px;
      text-align: center;
    }
    &--sub {
      font-weight: bold;
      margin-bottom: 10px;
    }
    .ttl-primary {
      text-align: left;
      @media #{$sp} {
        text-align: center;
      }
    }
    .btn01 {
      margin: 0;
      @media #{$sp} {
        margin: 0 auto;
      }
    }
  }
  &__wp {
    display: block;
    width: 255px;
    margin-left: auto;
    background: #fff;
    border-top: 8px solid #004664;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    @media #{$sp} {
      padding: 15px;
      margin: 0 auto;
      width: 85%;
    }
    &--ttl {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 15px;
      @media #{$sp} {
        font-size: 16px;
      }
    }
    &--txt {
      font-size: 13px;
      font-weight: 500;
      margin-bottom: 15px;
    }
    &--img {
      margin: 0 auto 15px;
      width: 85%;
    }
    &:hover {
      opacity: 1;
      box-shadow: 0 0 15px #0083d8;
      .btn01 {
        box-shadow: 0 0 15px #0083d8;
        border-radius: 10px;
      }
    }
  }
}

// hero02 左寄せ
.hero02 {
  background: url("../img/common/bg-hero.webp") 50% / cover no-repeat;
  &__box {
    &--sub {
      font-weight: bold;
      margin-bottom: 10px;
    }
    .ttl-primary {
      text-align: left;
      @media #{$sp} {
        text-align: center;
      }
    }
    .btn01 {
      margin: 0;
      @media #{$sp} {
        margin: 0 auto;
      }
    }
  }
}

// hero03 中央寄せ
.hero03 {
  background: url("../img/common/bg-hero.webp") 50% / cover no-repeat;
  &__box {
    &--sub {
      font-weight: bold;
      margin-bottom: 10px;
    }
    .ttl-primary {
    }
    .btn01 {
      margin: 0;
      @media #{$sp} {
        margin: 0 auto;
      }
    }
  }
}

// hero04 スライダー
.hero04 {
  height: 630px;
  @media #{$sp} {
    height: auto;
  }
  .containers-full {
    padding: 0;
  }
  &__box {
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media #{$sp} {
      width: 100%;
      padding: 40px 15px;
      text-align: center;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 100%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 630px 70px 0 0;
      border-color: #fff transparent transparent transparent;
      z-index: 5;
      @media #{$sp} {
        content: none;
      }
    }
    &--sub {
      font-size: 22px;
      font-weight: bold;
      @media #{$sp} {
        font-size: 16px;
        margin-bottom: 25px;
      }
    }
    &--lead {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 60px;
      @media #{$sp} {
        font-size: 14px;
        margin-bottom: 50px;
      }
    }
    .ctabtn {
      margin: 0;
      .more {
        font-size: 20px;
        @media #{$sp} {
          font-size: 14px;
        }
      }
    }
    .more {
      margin: 0 0 15px;
      width: 420px;
      @media #{$sp} {
        width: 100%;
        margin: 0 auto 15px;
      }
    }
  }
  &__slider {
    width: 50%;
    @media #{$sp} {
      width: 100%;
      overflow: hidden;
    }
    li {
      height: 630px;
      position: relative;
      @media #{$sp} {
        height: 210px;
      }
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 630px 70px;
        border-color: transparent transparent #fff transparent;
        z-index: 5;
        @media #{$sp} {
          content: none;
        }
      }
      &.slider01 {
        background: url("../img/common/slider01.webp") 50% / cover no-repeat;
      }
      &.slider02 {
        background: url("../img/common/slider02.webp") 50% / cover no-repeat;
      }
      &.slider03 {
        background: url("../img/common/slider03.webp") 50% / cover no-repeat;
      }
    }
  }
  &__wrap {
    margin-left: auto;
    @media #{$sp} {
      margin-left: 0;
    }
  }
}

// 多くの企業様に選ばれています。
.reason02 {
  background: #f8f8f8;
  .item {
    margin-bottom: 40px;
    @media #{$sp} {
      margin-bottom: 20px;
    }
    &__box {
      width: calc(100% / 3);
      text-align: center;
      position: relative;
      font-size: 22px;
      font-weight: bold;
      @media #{$sp} {
        width: 100%;
        font-size: 18px;
        padding: 15px;
      }
      &:not(:last-child) {
        &::before {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          margin: auto;
          width: 1px;
          height: 100px;
          background: #cbcbcb;
          @media #{$sp} {
            top: auto;
            left: 0;
            width: 100px;
            height: 1px;
          }
        }
      }
      &--ttl {
      }
      &--txt {
        color: #1c83d1;
        span {
          font-size: 92px;
          font-family: "din-2014";
          @media #{$sp} {
            font-size: 36px;
          }
        }
      }
    }
  }
}

// サービス資料
.catalog-menu {
  .card {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background: #fff;
    padding: 30px;
    @media #{$sp} {
      padding: 15px;
    }
    &:not(:last-child) {
      margin-bottom: 30px;
      @media #{$sp} {
        margin-bottom: 15px;
      }
    }
    &__img {
      width: 30%;
      text-align: center;
      overflow: hidden;
      @media #{$sp} {
        width: 85%;
        margin: 0 auto 15px;
      }
      img {
        aspect-ratio: 3 / 2;
        object-fit: contain;
        transition: all 0.3s;
      }
    }
    &__box {
      width: calc(100% - 30% - 30px);
      @media #{$sp} {
        width: 100%;
      }
      &--ttl {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 15px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        transition: all 0.3s;
        @media #{$sp} {
          font-size: 16px;
          margin-bottom: 10px;
        }
      }
      &--txt {
        margin-bottom: 30px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        transition: all 0.3s;
        @media #{$sp} {
          margin-bottom: 15px;
        }
      }
      .more {
        max-width: 360px;
        margin: 0 auto;
        font-size: 16px;
        transition: all 0.3s;
        @media #{$sp} {
          width: 100%;
          margin: 0 auto;
          font-size: 14px;
        }
      }
    }
    &:hover {
      opacity: 1;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      .card__box--ttl {
        color: #f7701b;
      }
      .more {
        background-position: 99% 50%;
      }
    }
  }
}

// Notification-panel1
.notification-panel1 {
  padding: 30px 30px 30px 30px;
  background-color: #fff;
  position: relative;

  .card__ttl {
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: -20px;
    background-color: #000;
    font-size: 16px;
    color: #fff;
    max-width: 480px;
    padding: 7px 0 6px;
  }

  .inquiry__box {
    background-color: #e1e1e1;
    padding: 10px 20px;
    width: 100%;
    margin: 0;
    justify-content: flex-start;
    margin-bottom: 30px;

    .inquiry__box--btn {
      width: auto;

      .btn01 {
        padding: 5px 35px;
        background-color: #000;
        border-color: #000;
        font-size: 16px;
        box-shadow: none;

        &::before {
          display: none;
        }
      }

      &:hover {
        .btn01 {
          color: #fff;
        }
      }
    }

    .inquiry__box--txt {
      width: auto;

      span {
        color: #00aba0;
      }
    }
  }

  .card__box--txt {
    font-size: 16px;
    width: auto;
    margin-bottom: 30px;
    text-align: left;
  }

  .inquiry__box.inquiry__box_02 {
    padding: 13px 0;
    background-color: #00aba0;

    .inquiry__box--txt {
      color: #fff;
      width: 100%;
    }
  }

  .notification-panel1-body {
    dd {
      text-align: left;
      margin-bottom: 30px;
    }

    margin-bottom: 60px;
  }
}

// Notification-panel2
.notification-panel2 {
  padding: 0 30px;
  background-color: #fff;

  .relation {
    border: 1px solid #00aba0;

    .single__ttl {
      padding: 13px 0;
      background-color: #00aba0;
      margin-bottom: 30px;
    }

    .notification-panel2-body {
      padding: 0 30px;
      margin-bottom: 30px;
    }
  }
}

// Notification-panel3
.notification-panel3 {
  padding: 0;
  background-color: #fff;
  position: relative;

  .card__ttl {
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: -20px;
    background-color: #000;
    font-size: 16px;
    color: #fff;
    max-width: 480px;
    padding: 7px 0 6px;
    border-radius: 50px;
    font-weight: bold;
  }

  .inquiry__box {
    background-color: #e1e1e1;
    padding: 36px 0 18px;
    width: 100%;
    margin: 0;
    justify-content: flex-start;
    margin-bottom: 30px;

    .inquiry__box--btn {
      width: auto;

      .btn01 {
        padding: 5px 35px;
        background-color: #000;
        border-color: #000;
        font-size: 16px;
        box-shadow: none;

        &::before {
          display: none;
        }
      }

      &:hover {
        .btn01 {
          color: #fff;
        }
      }
    }

    .inquiry__box--txt {
      margin: auto;
      width: auto;

      span {
        color: #00aba0;
      }
    }
  }

  .card__box--txt {
    font-size: 16px;
    width: auto;
    margin-bottom: 30px;
    text-align: left;
  }

  .inquiry__box.inquiry__box_02 {
    padding: 13px 0;
    background-color: #00aba0;

    .inquiry__box--txt {
      color: #fff;
      width: 100%;
    }
  }
}

// Table01
.table01 {
  table {
    width: 1220px;
    border-collapse: separate;
    border-spacing: 10px;
    margin-left: -10px;
  }

  th,
  td {
    padding: 8px;
    text-align: left;
    border: none;
  }

  th {
    padding: 10px 12px;
    background-color: black;
    color: white;

    div {
      text-align: center;
      justify-content: center;
      align-items: center;
      background-color: black;
      color: white;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.6;
    }
  }

  td {
    padding: 20px 15px;
    background-color: #fff;
  }

  td.table-data-primary {
    .container {
      display: block;
      height: 180px;
      margin-bottom: 0;

      .ttl-senary {
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        line-height: 1.3;
      }

      .ttl-septenary {
        text-align: center;
        font-size: 14px;
        letter-spacing: -0.5px;
        margin-bottom: 10px;
      }

      .credit-card {
        max-width: 150px;
        max-height: 94px;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  td.table-data-secondary {
    .ttl-septenary {
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 20px;
      letter-spacing: -1px;
    }

    .ttl-septenary.sub-content {
      font-weight: 400;
    }
  }

  td.table-data-tertiary {
    div {
      text-align: center;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      font-weight: 500;
      text-align: center;

      .ttl-septenary {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 20px;
        letter-spacing: -1px;
      }

      .ttl-septenary.sub-content {
        font-weight: 400;
        margin-bottom: 0;
      }
    }
  }

  td.table-data-tertiary.no-padding-right {
    padding-right: 0;
  }
}

// Credit card 01
.credit-card01 {
  position: absolute;
  width: 170px;
  height: 107px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #000;

  .credit-card-img {
    width: 170px;
    height: 107px;
  }
}

// Credit card 02
.credit-card02 {
  max-width: 160px;
  max-height: 101px;

  .credit-card-img {
    width: 100%;
    height: 100%;
  }
}

// Price-list
.price-list {
  list-style-type: none;
  padding-left: 0;

  li {
    text-align: left;
    position: relative;
    padding-left: 15px;
    margin-bottom: 10px;

    &::before {
      content: "•";
      position: absolute;
      left: 0;
      top: -9px;
      font-size: 24px;
      padding-right: 5px;
    }
  }
}

// Sublist
.sub-list {
  margin-top: 23px;
  list-style: none;
  padding: 0;

  li {
    text-align: left;
    font-size: 12px;
    font-weight: 400;
    max-width: 591px;
    margin-left: 10px;
    padding-left: 10px;
    position: relative;
  }

  li::before {
    content: "※";
    margin-right: 5px;
    position: absolute;
    font-size: 12px;
    left: -6px;
    top: 0;
  }
}
