section.rbt-sidearea {
  &.rbt-loaded {
    display: block;
    animation: fadeIn 1s;
    opacity: 1;
    transform: translateX(0);

    @media #{$sp} {
      display: none;
    }
  }
}

section.rbt-sidearea {
  min-width: 171px;
  padding-right: 10px;
  height: auto;
  position: fixed;
  right: 0;
  top: calc(50% - 233px);
  z-index: 6669991;
  opacity: 0;
  transform: translateX(9999px);

  -webkit-transition: all 1.5s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 1.5s cubic-bezier(0.77, 0, 0.175, 1);

  @media #{$sp} {
    display: none;
  }
}

.rbt-theme-dropdown {
  top: calc(50% - 25px);
}

.rbt-theme-dropdown .rbt-btn,
.rbt-purchase a {
  position: relative;
  display: block;
  cursor: pointer;
  font-size: 0 !important;
  line-height: 42px !important;
  font-weight: 500;
}

span.rbt-icon {
  color: #fff;
  width: 42px;
  display: inline-block;
  line-height: 1 !important;
  text-align: center;
  vertical-align: middle;
  position: relative;
}

span.rbt-text-name {
  color: #fff;
  font-size: 10px !important;
  letter-spacing: 0.11em !important;
}

.rbt-list {
  display: grid;
  gap: 10px;

  .rbt-item {
    background: #fff;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 3px;
    padding: 15px 10px;
    text-align: center;
    white-space: nowrap;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease-in;
    max-width: 171px;

    &:hover {
      background: transparent
            linear-gradient(90deg, $primary-color 0%, $green-color-2 100%) 0% 0%
            no-repeat padding-box;
      transition-timing-function: ease-out;
      color: #fff;
      opacity: 1;
    }

    &.active {
      background: $orange-gradient;

      color: #fff;
      cursor: pointer;

      &:hover {
        background: transparent
            linear-gradient(90deg, $primary-color 0%, $green-color-2 100%) 0% 0%
            no-repeat padding-box;
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(9999px);
  }
}

@keyframes fadeInTop {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes fadeOutTop {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
}
