{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Breadcrumb #}
{% set breadcrumb = [
  {
    head: "TOP",
    link: "/"
  },
  {
    text: "よくある質問",
    link: "#"
  }
] %}

{# Custom tags before </head> #}
{% block customHead %}{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}{% endblock %}

{# Main content #}
{% block content %}

<main class="faq-page">
  <section class="section-welcome">
    <h3 class="ttl-tertiary">中小企業・個人事業主のお客様向け</h3>
    <h1 class="ttl-primary">よくある質問</h1>
  </section>
  <section class="section-search">
    <div class="search">
      <form action="" class="search__form">
        <input class="search__input" type="search" placeholder="キーワードから探す">
        <button class="search__btn" type="submit"><img src="/assets/img/common/faq-search.svg"></button>
      </form>
    </div>
    <div class="search-block">
      <div class="grid-container">
        <div class="grid-item">
          <a href="#">
            <p class="grid-item__title">個人与信型ビジネスカード</p>
            <img src="/assets/img/common/arrow-down.svg">
          </a>
        </div>
        <div class="grid-item">
          <a href="#">
            <p class="grid-item__title">法人与信型ビジネスカード</p>
            <img src="/assets/img/common/arrow-down.svg">
          </a>
        </div>
        <div class="grid-item">
          <a href="#">
            <p class="grid-item__title">支払い.com</p>
            <img src="/assets/img/common/arrow-down.svg">
          </a>
        </div>
        <div class="grid-item">
          <a href="#">
            <p class="grid-item__title">セゾンインボイス </p>
            <img src="/assets/img/common/arrow-down.svg">
          </a>
        </div>
        <div class="grid-item">
          <a href="#">
            <p class="grid-item__title">セゾンフクリコ</p>
            <img src="/assets/img/common/arrow-down.svg">
          </a>
        </div>
        <div class="grid-item">
          <a href="#">
            <p class="grid-item__title">ビジネスサポートローン</p>
            <img src="/assets/img/common/arrow-down.svg">
          </a>
        </div>
        <div class="grid-item">
          <a href="#">
            <p class="grid-item__title">Concur Expense</p>
            <img src="/assets/img/common/arrow-down.svg">
          </a>
        </div>
        <div class="grid-item">
          <a href="#">
            <p class="grid-item__title">CosPro</p>
            <img src="/assets/img/common/arrow-down.svg">
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="text-banner-section">
    <div class="banner__title">
      <h3 class="ttl-tertiary">導入前のご質問・ご相談を承ります。<br>お気軽にお問い合わせください</h3>
      <div class="quinary-btn">
        <a href="/contact/" class="blue_gradient_btn">導入のご相談・お問い合わせ（無料）</a>
      </div>
      <div class="ttl-quaternary">2営業日以内に回答いたします。</div>
    </div>
  </section>
  <section class="octonary-section">
    <div>
      <div class="ttl-notice">CONTACT</div>
      <h3 class="ttl-tertiary">決済・ビジネスソリューションに関するお問い合わせ</h3>
      <div class="useful-wp container">
        <div class="containers">
          <div class="flex jcC gap60">
            <div href="/catalog_list/" class="card">
              <summary class="card__box">
                <div class="card__box--ttl">サービス資料ダウンロードはこちら</div>
                <div class="card__box--txt">クレディセゾンのソリューションの詳細が分かる
                  <br>
                  サービス資料をダウンロードできます。
                </div>
                <div><a class="blue_gradient_btn" href="/catalog_list/">サービス資料ダウンロード</a></div>
              </summary>
            </div>
            <div href="/contact/" class="card">
              <summary class="card__box">
                <div class="card__box--ttl">ご相談・お問い合わせはこちら</div>
                <div class="card__box--txt">中小企業や個人事業主のよくある課題に対して解決のヒントに<br>
                なる資料を無料でご提供しています。ぜひご活用ください。  
                </div>
                <div><a class="blue_gradient_btn" href="/contact/">お気軽にお問い合わせください。</a></div>
              </summary>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock %}
