{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Custom tags before </head> #}
{% block customHead %}{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}{% endblock %}

{# Main content #}
{% block content %}

  <main class="no12-page">
    <section class="section-welcome">
      <h3 class="ttl-tertiary">自分に合ったビジネスカードを。</h3>

      <h2 class="ttl-secondary">クレディセゾンのビジネスカード</h2>

      <h4 class="ttl-quaternary">お客さまの活用シーンやニーズに合わせて、<br>
        最適なビジネスカードをご用意しています。</h4>
    </section>

    <section class="section-primary">
      <div class="anc01">
        <div class="containers">
          <ul class="flex jcC gap30 inherit anc01__box">
            <li>
              <a href="#">ビジネス規模で選ぶ</a>
            </li>
            <li>
              <a href="#">目的や使い方で選ぶ</a>
            </li>
            <li>
              <a href="#">選ばれる理由</a>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="section-secondary">
      <h2 class="ttl-secondary">ビジネスカードを選ぶときのポイント</h2>

      <ul class="flex jcC gap30 card-list">
        <li class="card-type6">
          <a href="#" class="card">
            <div class="ttl-quaternary-container">
              <h4 class="ttl-quaternary">ビジネス規模</h4>
            </div>

            <div class="flex gap30">
              <div class="circle-container">
                個人事業者
              </div>

              <div class="circle-container">
                法人
              </div>
            </div>

            <h5 class="ttl-senary">
              ビジネスで利用できるカードは、一般的に個人事業者向けの「ビジネスカード」と事業者向けの「法人カード」の2つのタイプに分けられます。規模に合ったカードを選択することが大切です。</h5>
          </a>
        </li>

        <li class="card-type6">
          <a href="#" class="card">
            <div class="ttl-quaternary-container">
              <h4 class="ttl-quaternary">利用目的と利用枠</h4>
            </div>

            <div class="circle-container">
              イラスト
              <br>
              または
              <br>
              アイコン
            </div>

            <h5 class="ttl-senary">
              ビジネスカードは、利用目的により必要とする利用額も異なります。まずは利用目的・使い方と毎月の利用金額をシミュレーションして必要な利用枠のあるビジネスカードを選びましょう。</h5>
          </a>
        </li>

        <li class="card-type6">
          <a href="#" class="card">
            <div class="ttl-quaternary-container">
              <h4 class="ttl-quaternary">付帯サービス</h4>
            </div>

            <div class="circle-container">
              イラスト
              <br>
              または
              <br>
              アイコン
            </div>

            <h5 class="ttl-senary">ビジネス用のカードにもさまざまな付帯サービスがあります。自社にとって有益な、優先したい付帯サービスをピックアップして、ビジネスカードを選んでいきましょう。</h5>
          </a>
        </li>
      </ul>
    </section>

    <section class="section-tertiary">
      <h3 class="ttl-tertiary">ビジネス規模で選ぶ</h3>

      <h2 class="ttl-secondary">ビジネスカード一覧</h2>

      <div class="notification-primary">
        <div class="notification-panel2">
          <div class="relation">
            <h3 class="single__ttl">
              <span>中小企業様向け（法人与信型ビジネスカード）</span></h3>

            <div class="table01">
              <table>
                <tr>
                  <th style="width: 292px;">
                    <div>カード名</div>
                  </th>
                  <th style="width: 144px;">
                    <div>年会費</div>
                  </th>
                  <th style="width: 160px;">
                    <div>申込資格</div>
                  </th>
                  <th style="width: 102px;">
                    <div>支払い サイクル</div>
                  </th>
                  <th style="width: 105px;">
                    <div>キャッシュ バック 還元率</div>
                  </th>
                  <th style="width: 105px;">
                    <div>永久不滅 ポイント 還元率</div>
                  </th>
                  <th style="width: 107px;">
                    <div>JALマイル 還元率</div>
                  </th>
                  <th style="width: 115px;">
                    <div>詳細</div>
                  </th>
                </tr>

                <tr>
                  <td class="table-data-primary">
                    <div class="container">
                      <h6 class="ttl-septenary">キャッシュバックを重視したいという方へ</h6>
                      <h5 class="ttl-senary">&nbsp; &nbsp; セゾンプラチナ・ビジネス プロ
                        <br>
                        アメリカン・エキスプレス®・カード</h5>

                      <div class="credit-card01">
                        <img src="/assets/img/credit_cards/american-express-01.png" alt="Your Image" class="credit-card-img">
                      </div>
                    </div>
                  </td>

                  <td class="table-data-secondary">
                    <h6 class="ttl-septenary">27,500円（税込）</h6>
                    <h6 class="ttl-septenary sub-content">追加カード年会費 3,300円（税込）</h6>
                  </td>

                  <td class="table-data-tertiary">
                    <div>
                      中小規模
                      <br>法人事業者
                    </div>
                  </td>

                  <td class="table-data-tertiary">
                    <div>
                      最大84日間
                    </div>
                  </td>

                  <td class="table-data-tertiary">
                    <div>
                      1.0%
                    </div>
                  </td>

                  <td class="table-data-tertiary">
                    <div>
                      なし
                    </div>
                  </td>

                  <td class="table-data-tertiary">
                    <div>
                      なし
                    </div>
                  </td>

                  <td class="table-data-tertiary">
                    <div>
                      <a class="btn06">詳細</a>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td class="table-data-primary">
                    <div class="container">
                      <h6 class="ttl-septenary">年会費を重視したいという方へ</h6>
                      <h5 class="ttl-senary">セゾンゴールド・ビジネス プロ・カード</h5>

                      <div class="credit-card01">
                        <img src="/assets/img/credit_cards/saison-01.png" alt="Your Image" class="credit-card-img">
                      </div>
                    </div>
                  </td>

                  <td class="table-data-secondary">
                    <h6 class="ttl-septenary">3,300円（税込）</h6>
                    <h6 class="ttl-septenary sub-content">追加カード年会費 1,100円（税込）</h6>
                  </td>

                  <td class="table-data-tertiary">
                    <div>
                      中小規模
                      <br>法人事業者
                    </div>
                  </td>

                  <td class="table-data-tertiary">
                    <div>
                      最大84日間
                    </div>
                  </td>

                  <td class="table-data-tertiary">
                    <div>
                      0.5%
                    </div>
                  </td>

                  <td class="table-data-tertiary">
                    <div>
                      なし
                    </div>
                  </td>

                  <td class="table-data-tertiary">
                    <div>
                      なし
                    </div>
                  </td>

                  <td class="table-data-tertiary">
                    <div>
                      <a class="btn06">詳細</a>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td class="table-data-primary">
                    <div class="container">
                      <h5 class="ttl-senary">セゾン・アメリカン・エキスプレス®・ビジネス プロ・パーチェシング・カード</h5>

                      <div class="credit-card01">
                        <img src="/assets/img/credit_cards/saison-02.png" alt="Your Image" class="credit-card-img">
                      </div>
                    </div>
                  </td>

                  <td class="table-data-secondary">
                    <h6 class="ttl-septenary">11,000円（税込）</h6>
                    <h6 class="ttl-septenary sub-content">追加カード年会費 1,100円（税込）</h6>
                  </td>

                  <td class="table-data-tertiary">
                    <div>
                      中小規模
                      <br>法人事業者
                    </div>
                  </td>

                  <td class="table-data-tertiary">
                    <div>
                      最大84日間
                    </div>
                  </td>

                  <td class="table-data-tertiary">
                    <div>
                      0.5%
                    </div>
                  </td>

                  <td class="table-data-tertiary">
                    <div>
                      なし
                    </div>
                  </td>

                  <td class="table-data-tertiary">
                    <div>
                      なし
                    </div>
                  </td>

                  <td class="table-data-tertiary">
                    <div>
                      <a class="btn06">詳細</a>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>

        <div class="notification-panel2 second-of-type">
          <div class="relation">
            <h3 class="single__ttl">
              <span>中小規模ビジネスオーナー、個人事業主様向け（個人与信型ビジネスカード）</span></h3>

            <div class="table01">
              <table>
                <tr>
                  <th style="width: 292px;">
                    <div>カード名</div>
                  </th>
                  <th style="width: 144px;">
                    <div>年会費</div>
                  </th>
                  <th style="width: 160px;">
                    <div>申込資格</div>
                  </th>
                  <th style="width: 102px;">
                    <div>支払い サイクル</div>
                  </th>
                  <th style="width: 105px;">
                    <div>キャッシュ バック 還元率</div>
                  </th>
                  <th style="width: 105px;">
                    <div>永久不滅 ポイント 還元率</div>
                  </th>
                  <th style="width: 107px;">
                    <div>JALマイル 還元率</div>
                  </th>
                  <th style="width: 115px;">
                    <div>詳細</div>
                  </th>
                </tr>

                <tr>
                  <td class="table-data-primary">
                    <div class="container">
                      <h6 class="ttl-septenary">キャッシュバックを重視したいという方へ</h6>
                      <h5 class="ttl-senary">&nbsp; &nbsp; セゾンプラチナ・ビジネス プロ
                        <br>
                        アメリカン・エキスプレス®・カード</h5>

                      <div class="credit-card01">
                        <img src="/assets/img/credit_cards/american-express-01.png" alt="Your Image" class="credit-card-img">
                      </div>
                    </div>
                  </td>

                  <td class="table-data-secondary">
                    <h6 class="ttl-septenary">22,000円（税込） 初年度年会費無料</h6>
                    <h6 class="ttl-septenary sub-content">追加カード年会費 3,300円（税込）</h6>
                  </td>

                  <td class="table-data-tertiary">
                    <div>
                      <h6 class="ttl-septenary">個人事業主または 経営者の方
                      </h6>
                      <h6 class="ttl-septenary sub-content">（学生、未成年除く）</h6>
                    </div>
                  </td>

                  <td class="table-data-tertiary">
                    <div>
                      <h6 class="ttl-septenary">最大56日間
                      </h6>
                      <h6 class="ttl-septenary sub-content">毎月10日締め/翌月4日払い</h6>
                    </div>
                  </td>

                  <td class="table-data-tertiary">
                    <div>
                      なし
                    </div>
                  </td>

                  <td class="table-data-tertiary no-padding-right">
                    <div>
                      <h6 class="ttl-septenary">【国内】0.5%
                        <br>
                        【海外】1.0%
                      </h6>
                    </div>
                  </td>

                  <td class="table-data-tertiary">
                    <div>
                      <h6 class="ttl-septenary">最大1.125%
                      </h6>
                    </div>
                  </td>

                  <td class="table-data-tertiary">
                    <div>
                      <a class="btn06">詳細</a>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td class="table-data-primary">
                    <div class="container">
                      <h6 class="ttl-septenary">年会費無料にこだわりたいという方へ</h6>
                      <h5 class="ttl-senary">セゾンコバルト・ビジネス・アメリカン・ エキスプレス®・カード</h5>

                      <div class="credit-card01">
                        <img src="/assets/img/credit_cards/american-express.png" alt="Your Image" class="credit-card-img">
                      </div>
                    </div>
                  </td>

                  <td class="table-data-secondary">
                    <h6 class="ttl-septenary">永年無料</h6>
                  </td>

                  <td class="table-data-tertiary">
                    <div>
                      <h6 class="ttl-septenary">個人事業主またはフリーランス、経営者の方</h6>
                      <h6 class="ttl-septenary sub-content">（学生、未成年除く）</h6>
                    </div>
                  </td>

                  <td class="table-data-tertiary">
                    <div>
                      <h6 class="ttl-septenary">最大56日間
                      </h6>
                      <h6 class="ttl-septenary sub-content">毎月10日締め/翌月4日払い</h6>
                    </div>
                  </td>

                  <td class="table-data-tertiary">
                    <div>
                      なし
                    </div>
                  </td>

                  <td class="table-data-tertiary no-padding-right">
                    <div>
                      <h6 class="ttl-septenary">【国内】0.5%
                        <br>
                        【海外】1.0%
                      </h6>
                    </div>
                  </td>

                  <td class="table-data-tertiary">
                    <div>
                      <h6 class="ttl-septenary">最大0.125%
                      </h6>
                    </div>
                  </td>

                  <td class="table-data-tertiary">
                    <div>
                      <a class="btn06">詳細</a>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section-quaternary">
      <h3 class="ttl-tertiary">自分にあったカードは？</h3>

      <h2 class="ttl-secondary">利用目的や使い方でマッチしたカードを選ぶ</h2>

      <ul class="flex gap30 card-list">
        <li class="card-type14">
          <div class="flex card__header gap20">
            <div class="circle-child">
              <div class="circle-content">アイコン・ イラスト</div>
            </div>
            <div class="normal-child">
              JALの利用が多いのでマイルを貯めたい
            </div>
          </div>

          <div class="card-type9">
            <h3 class="card__box--ttl">JALマイルが最大1.125%貯まる！</h3>

            <div class="container">
              <div class="flex gap20 card__box-wrapper">
                <div class="credit-card02">
                  <img src="/assets/img/credit_cards/american-express-01.png" alt="Your Image" class="credit-card-img">
                </div>

                <div class="card__box-title">
                  <h4 class="ttl-quaternary">セゾンプラチナ・ビジネス・アメリカン・エキスプレス®・カード</h4>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li class="card-type14">
          <div class="flex card__header gap20">
            <div class="circle-child">
              <div class="circle-content">アイコン・ イラスト</div>
            </div>
            <div class="normal-child">
              公共料金や税金、広告費など経費の支払いで利用したい
            </div>
          </div>

          <div class="card-type9">
            <h3 class="card__box--ttl">カードで支払った分の
              <br>
              0.5%～1%が自動でキャッシュバック！</h3>

            <div class="container">
              <div class="flex gap20 card__box-wrapper">
                <div class="credit-card02">
                  <img src="/assets/img/credit_cards/american-express-01.png" alt="Your Image" class="credit-card-img">
                </div>

                <div class="card__box-title">
                  <h4 class="ttl-quaternary">セゾンプラチナ・ビジネス・アメリカン・エキスプレス®・カード</h4>
                </div>
              </div>

              <div class="flex gap20 card__box-wrapper">
                <div class="credit-card02">
                  <img src="/assets/img/credit_cards/saison-01.png" alt="Your Image" class="credit-card-img">
                </div>

                <div class="card__box-title">
                  <h4 class="ttl-quaternary">セゾンゴールド・ビジネス プロ・カード</h4>
                </div>
              </div>

              <div class="flex gap20 card__box-wrapper">
                <div class="credit-card02">
                  <img src="/assets/img/credit_cards/saison-02.png" alt="Your Image" class="credit-card-img">
                </div>

                <div class="card__box-title">
                  <h4 class="ttl-quaternary">セゾン・アメリカン・エキスプレス®・ビジネス プロ・パーチェシング・カード</h4>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li class="card-type14">
          <div class="flex card__header gap20">
            <div class="circle-child">
              <div class="circle-content">アイコン・ イラスト</div>
            </div>
            <div class="normal-child">
              確定申告が面倒なので 楽にしたい
            </div>
          </div>

          <div class="card-type9">
            <h3 class="card__box--ttl">個人事業主やフリーランスの方も申込可能</h3>

            <div class="container">
              <div class="flex gap20 card__box-wrapper">
                <div class="credit-card02">
                  <img src="/assets/img/credit_cards/american-express-01.png" alt="Your Image" class="credit-card-img">
                </div>

                <div class="card__box-title">
                  <h4 class="ttl-quaternary">セゾンプラチナ・ビジネス・アメリカン・エキスプレス®・カード</h4>
                </div>
              </div>

              <div class="flex gap20 card__box-wrapper">
                <div class="credit-card02">
                  <img src="/assets/img/credit_cards/american-express-02.png" alt="Your Image" class="credit-card-img">
                </div>

                <div class="card__box-title">
                  <h4 class="ttl-quaternary">セゾンプラチナ・ビジネス・アメリカン・エキスプレス®・カード</h4>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>

      <div class="banner">
        <img src="/assets/img/senary_page/banner-01.png" alt="">
      </div>
    </section>

    <section class="section-quinary">
      <h3 class="ttl-tertiary">一目で各カードの違いがわかる！</h3>

      <div class="ttl-secondary-container">
        <h2 class="ttl-secondary">「ビジネスカードの比較表」ダウンロード</h2>
      </div>

      <div class="card-type15">
        <div class="flex aiC jcC gap30 desc">
          <figure class="desc__img"><img src="/assets/img/common/img-overlap-01.png" alt=""></figure>

          <summary class="desc__box">
            <div class="desc__box--ttl">ビジネス利用に最適なセゾンのビジネスカードを
              <br>
              まとめて比較できる！</div>
            <h5 class="ttl-senary">
              自分に合ったビジネスカードが選べるように、カードの選び方・比較ポイントも解説しています。経営者・個人事業主様、中小企業事業者様に役立つ情報を記載しているので、ぜひご一読ください。
            </h5>
          </summary>
        </div>

        <a href="#" class="btn02">資料ダウンロード（無料）</a>
      </div>
    </section>

    <section class="section-senary">
      <div class="containers">
        <h2 class="ttl-secondary">クレディセゾンのビジネスカードが選ばれる理由</h2>

        <h3 class="ttl-terianary">ポイントが失効しない永久不滅ポイントやキャッシュバックの他、利用する機会の多いビジネスサービスが充実！<br>
          セゾンのビジネスカードが人気の理由をご紹介します。</h3>

        <ul class="flex gap30 card-list">
          <li class="card-type16">
            <h3 class="card--ttl">個人事業主・中小企業経営者様の場合</h3>

            <ul class="card-item-list">
              <li class="flex card-item01">
                <div class="card-item--ttl flex">イメージ
                  <br>
                  イラスト</div>
                <div class="card-item--txt">選ばれる理由①
                  <br>
                  マイルが効率的に貯まる！
                  <br>
                  <span>最大還元率1.125%</span>
                </div>
              </li>

              <li class="flex card-item01">
                <div class="card-item--ttl flex">イメージ
                  <br>
                  イラスト</div>
                <div class="card-item--txt">選ばれる理由②
                  <br>
                  ポイントが失効しない
                  <br>
                  <span>永久不滅ポイントが付与</span>
                </div>
              </li>

              <li class="flex card-item01">
                <div class="card-item--ttl flex">イメージ
                  <br>
                  イラスト</div>
                <div class="card-item--txt">選ばれる理由③
                  <br>
                  収入証明書・登記簿謄本などが不要
                  <br>
                  <span>だから申込が簡単</span>
                </div>
              </li>
            </ul>
          </li>

          <li class="card-type16">
            <h3 class="card--ttl">中小企業事業者の場合</h3>

            <ul class="card-item-list">
              <li class="flex card-item01">
                <div class="card-item--ttl flex">イメージ
                  <br>
                  イラスト</div>
                <div class="card-item--txt">選ばれる理由①
                  <br>
                  カードで支払うだけで、
                  <br>
                  <span>最大1%のキャッシュバック</span>
                </div>
              </li>

              <li class="flex card-item01">
                <div class="card-item--ttl flex">イメージ
                  <br>
                  イラスト</div>
                <div class="card-item--txt">選ばれる理由②
                  <br>
                  立替払いや仮払いをなくして
                  <br>
                  <span>経費清算の工数を削減できる</span>
                </div>
              </li>

              <li class="flex card-item01">
                <div class="card-item--ttl flex">イメージ
                  <br>
                  イラスト</div>
                <div class="card-item--txt">選ばれる理由③<br>
                  利用機会の多い
                  <br>
                  <span>ビジネスサービスが充実</span>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </section>

    <section class="section-septenary">
      <h1 class="ttl-primary">「今すぐ相談したい」という方へ</h1>

      <h3 class="ttl-tertiary">当社のサポート担当がご利用用途やご要望をお伺いさせて頂きお客さまにピッタリのカードをご提案致します。<br>
        お気軽にご相談下さい。</h3>

      <a href="#" class="btn02">ボタン名が入ります</a>
    </section>

    <section class="breadcrumb">
      <ul class="flex">
        <li>
          <a href="#">TOP</a>
        </li>
        <li>
          <a href="#">法人カード・ビジネスカードを作りたい</a>
        </li>
      </ul>
    </section>
  </main>
{% endblock %}
