<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="keywords" content="">
  <meta name="description" content="ディスクリプション">
  <meta name="author" content="">
  <title>サイトタイトル</title>
  <meta name="format-detection" content="telephone=no">

  <!-- Schema.org markup for Google+ -->
  <meta itemprop="name" content="">
  <meta itemprop="image" content="">

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="サイトタイトル">
  <meta name="twitter:image:src" content="">

  <!-- Open Graph data -->
  <meta property="og:title" content="サイトタイトル">
  <meta property="og:description" content="ディスクリプション">
  <meta property="og:type" content="website">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <meta property="og:image:width" content="">
  <meta property="og:image:height" content="">
  <meta property="og:site_name" content="">

  <!-- Web font -->
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.typekit.net/ncf8fus.css">

  <!-- Style sheet -->
  <link rel="stylesheet" href="/assets/css/main.css">

  <script src="/assets/js/all.min.js"></script>
</head>

<body class="">
  <header>
    <div class="top__header flex">
      <div class="header__logo">
        <a href="/"><img src="/assets/img/logo/header-nav-list-logo.png" /></a>
      </div>
      <div class="nav__list__container flex gap16">
        <div class="nav__list__bar">
          <nav class="nav__list__item pc-only">
            <ul class="flex jcE gap7">
              <li class="nav__list__item__button">
                <a href="/seminar_list/" class="font-12px">セミナー・動画</a>
              </li>
              <li class="nav__list__item__button">
                <a href="/whitepaper/" class="font-12px">お役立ち資料</a>
              </li>
            </ul>
            <ul class="flex gap30">
              <li>
                <a href="/strength/" class="font-15px">クレディセゾンの強み</a>
              </li>
              <li>
                <a href="/smaller_companies/" class="font-15px">中小企業向け</a>
              </li>
              <li>
                <a href="/sole_proprietorship/" class="font-15px">個人事業主向け</a>
              </li>
              <li class="nav__item__dropdown__search header_menu_trigger _pc">
                <a class="font-15px"><span>目的から探す</span></a>
                <svg xmlns="http://www.w3.org/2000/svg" width="10.287" height="10.287" viewBox="0 0 10.287 10.287">
                  <path id="Path_1216" data-name="Path 1216" d="M6.274,0V6.274H0"
                    transform="translate(5.143) rotate(45)" fill="none" stroke="#0497b5" stroke-width="2" />
                </svg>

                <div class="nav__dropdown__list__search sub-menu pc-only">
                  <div class="nav__dropdown__search">
                    <div class="nav__dropdown__search__container">
                      <div class="nav__dropdown__search__title">目的から探す</div>
                      <a class="bondi_blue_outline_btn">
                        <span class="bondi_blue_outline_btn__tittle">サービス一覧を見る</span>
                      </a>
                    </div>
                  </div>

                  <div class="nav__dropdown__list">
                    <ul class="nav__dropdown__list__first">
                      <li>
                        <a href="/business_card_creation/">
                          <span>ビジネスカードを作りたい</span>
                          <svg xmlns="http://www.w3.org/2000/svg" width="9.198" height="9.679"
                            viewBox="0 0 9.198 9.679">
                            <g id="矢印アイコン_右3" data-name="矢印アイコン　右3" transform="translate(-12.736)">
                              <path id="Path_43786" data-name="Path 43786"
                                d="M17.094,0l-.766.766L19.859,4.3H12.736V5.382h7.123L16.328,8.913l.766.766,4.84-4.84Z"
                                fill="#00758c" />
                            </g>
                          </svg>

                        </a>
                      </li>
                      <li>
                        <a href="/business_efficiency/">
                          <span>業務を効率化したい</span>
                          <svg xmlns="http://www.w3.org/2000/svg" width="9.198" height="9.679"
                            viewBox="0 0 9.198 9.679">
                            <g id="矢印アイコン_右3" data-name="矢印アイコン　右3" transform="translate(-12.736)">
                              <path id="Path_43786" data-name="Path 43786"
                                d="M17.094,0l-.766.766L19.859,4.3H12.736V5.382h7.123L16.328,8.913l.766.766,4.84-4.84Z"
                                fill="#00758c" />
                            </g>
                          </svg>

                        </a>
                      </li>
                      <li>
                        <a href="/welfare/">
                          <span>福利厚生を充実させたい</span>
                          <svg xmlns="http://www.w3.org/2000/svg" width="9.198" height="9.679"
                            viewBox="0 0 9.198 9.679">
                            <g id="矢印アイコン_右3" data-name="矢印アイコン　右3" transform="translate(-12.736)">
                              <path id="Path_43786" data-name="Path 43786"
                                d="M17.094,0l-.766.766L19.859,4.3H12.736V5.382h7.123L16.328,8.913l.766.766,4.84-4.84Z"
                                fill="#00758c" />
                            </g>
                          </svg>

                        </a>
                      </li>
                    </ul>
                    <ul class="nav__dropdown__list__secondary">
                      <li>
                        <a href="/reduction_expenses/">
                          <span>経費を削減したい</span>
                          <svg xmlns="http://www.w3.org/2000/svg" width="9.198" height="9.679"
                            viewBox="0 0 9.198 9.679">
                            <g id="矢印アイコン_右3" data-name="矢印アイコン　右3" transform="translate(-12.736)">
                              <path id="Path_43786" data-name="Path 43786"
                                d="M17.094,0l-.766.766L19.859,4.3H12.736V5.382h7.123L16.328,8.913l.766.766,4.84-4.84Z"
                                fill="#00758c" />
                            </g>
                          </svg>

                        </a>
                      </li>
                      <li>
                        <a href="/improve_cash_flow">
                          <span>資金繰りを改善したい</span>
                          <svg xmlns="http://www.w3.org/2000/svg" width="9.198" height="9.679"
                            viewBox="0 0 9.198 9.679">
                            <g id="矢印アイコン_右3" data-name="矢印アイコン　右3" transform="translate(-12.736)">
                              <path id="Path_43786" data-name="Path 43786"
                                d="M17.094,0l-.766.766L19.859,4.3H12.736V5.382h7.123L16.328,8.913l.766.766,4.84-4.84Z"
                                fill="#00758c" />
                            </g>
                          </svg>

                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
              <li class="nav__item__dropdown__support header_menu_trigger _pc">
                <a class="font-15px"><span>サポート情報</span></a>
                <svg xmlns="http://www.w3.org/2000/svg" width="10.287" height="10.287" viewBox="0 0 10.287 10.287">
                  <path id="Path_1216" data-name="Path 1216" d="M6.274,0V6.274H0"
                    transform="translate(5.143) rotate(45)" fill="none" stroke="#0497b5" stroke-width="2" />
                </svg>

                <div class="nav__dropdown__list__support sub-menu pc-only">
                  <div class="nav__dropdown__search">
                    <div class="nav__dropdown__search__container">
                      <div class="nav__dropdown__search__title">サポート情報</div>
                    </div>
                  </div>
                  <div class="nav__dropdown__list">
                    <ul class="nav__dropdown__list__first">
                      <li>
                        <a href="/case_list">
                          <span>導入事例</span>
                          <svg xmlns="http://www.w3.org/2000/svg" width="9.198" height="9.679"
                            viewBox="0 0 9.198 9.679">
                            <g id="矢印アイコン_右3" data-name="矢印アイコン　右3" transform="translate(-12.736)">
                              <path id="Path_43786" data-name="Path 43786"
                                d="M17.094,0l-.766.766L19.859,4.3H12.736V5.382h7.123L16.328,8.913l.766.766,4.84-4.84Z"
                                fill="#00758c" />
                            </g>
                          </svg>

                        </a>
                      </li>
                    </ul>
                    <ul class="nav__dropdown__list__secondary">
                      <li>
                        <a href="/faq">
                          <span>よくある質問</span>
                          <svg xmlns="http://www.w3.org/2000/svg" width="9.198" height="9.679"
                            viewBox="0 0 9.198 9.679">
                            <g id="矢印アイコン_右3" data-name="矢印アイコン　右3" transform="translate(-12.736)">
                              <path id="Path_43786" data-name="Path 43786"
                                d="M17.094,0l-.766.766L19.859,4.3H12.736V5.382h7.123L16.328,8.913l.766.766,4.84-4.84Z"
                                fill="#00758c" />
                            </g>
                          </svg>

                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </nav>
          <div id="nav-toggle" class="sp-only">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <div class="nav__list__button pc-only">
          <a href="/contact/">ご相談・お問い合わせ</a>
        </div>
      </div>
    </div>

    <div class="nav__dropdown__sp sp-only">
      <ul>
        <li>
          <a href="/strength">
            <span>クレディセゾンの強み</span>
          </a>
        </li>
        <li>
          <a href="/smaller_companies">
            <span>中小企業様向け</span>
          </a>
        </li>
        <li>
          <a href="/sole_proprietorship">
            <span>個人事業主様向け</span>
          </a>
        </li>
        <li class="nav__item__dropdown__search header_menu_trigger _sp">
          目的から探す
          <svg xmlns="http://www.w3.org/2000/svg" width="15.848" height="15.848" viewBox="0 0 15.848 15.848">
            <path id="Path_1214" data-name="Path 1214" d="M9.706,0V9.706H0" transform="translate(0 7.924) rotate(-45)"
              fill="none" stroke="#0497b5" stroke-width="3" />
          </svg>

          <div class="nav__dropdown__list__search sub-menu sp-only">
            <div class="nav__dropdown__list">
              <ul class="nav__dropdown__list__first">
                <li>
                  <a href="/business_card_creation/">
                    <span>ビジネスカードを作りたい</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="9.198" height="9.679" viewBox="0 0 9.198 9.679">
                      <g id="矢印アイコン_右3" data-name="矢印アイコン　右3" transform="translate(-12.736)">
                        <path id="Path_43786" data-name="Path 43786"
                          d="M17.094,0l-.766.766L19.859,4.3H12.736V5.382h7.123L16.328,8.913l.766.766,4.84-4.84Z"
                          fill="#00758c" />
                      </g>
                    </svg>

                  </a>
                </li>
                <li>
                  <a href="/business_efficiency/">
                    <span>業務を効率化したい</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="9.198" height="9.679" viewBox="0 0 9.198 9.679">
                      <g id="矢印アイコン_右3" data-name="矢印アイコン　右3" transform="translate(-12.736)">
                        <path id="Path_43786" data-name="Path 43786"
                          d="M17.094,0l-.766.766L19.859,4.3H12.736V5.382h7.123L16.328,8.913l.766.766,4.84-4.84Z"
                          fill="#00758c" />
                      </g>
                    </svg>

                  </a>
                </li>
                <li>
                  <a href="/welfare/">
                    <span>福利厚生を充実させたい</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="9.198" height="9.679" viewBox="0 0 9.198 9.679">
                      <g id="矢印アイコン_右3" data-name="矢印アイコン　右3" transform="translate(-12.736)">
                        <path id="Path_43786" data-name="Path 43786"
                          d="M17.094,0l-.766.766L19.859,4.3H12.736V5.382h7.123L16.328,8.913l.766.766,4.84-4.84Z"
                          fill="#00758c" />
                      </g>
                    </svg>

                  </a>
                </li>

                <li>
                  <a href="/reduction_expenses/">
                    <span>経費を削減したい</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="9.198" height="9.679" viewBox="0 0 9.198 9.679">
                      <g id="矢印アイコン_右3" data-name="矢印アイコン　右3" transform="translate(-12.736)">
                        <path id="Path_43786" data-name="Path 43786"
                          d="M17.094,0l-.766.766L19.859,4.3H12.736V5.382h7.123L16.328,8.913l.766.766,4.84-4.84Z"
                          fill="#00758c" />
                      </g>
                    </svg>

                  </a>
                </li>
                <li>
                  <a href="/improve_cash_flow">
                    <span>資金繰りを改善したい</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="9.198" height="9.679" viewBox="0 0 9.198 9.679">
                      <g id="矢印アイコン_右3" data-name="矢印アイコン　右3" transform="translate(-12.736)">
                        <path id="Path_43786" data-name="Path 43786"
                          d="M17.094,0l-.766.766L19.859,4.3H12.736V5.382h7.123L16.328,8.913l.766.766,4.84-4.84Z"
                          fill="#00758c" />
                      </g>
                    </svg>

                  </a>
                </li>
              </ul>

              <div class="nav__dropdown__back">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 9.198 9.679">
                  <g id="矢印アイコン_左3" data-name="矢印アイコン　左3" transform="translate(22.934) scale(-1, 1)">
                    <path id="Path_43786" data-name="Path 43786"
                      d="M17.094,0l-.766.766L19.859,4.3H12.736V5.382h7.123L16.328,8.913l.766.766,4.84-4.84Z"
                      fill="#00758c" />
                  </g>
                </svg>
              </div>
            </div>
          </div>
        </li>
        <li class="nav__item__dropdown__support header_menu_trigger _sp">
          サポート情報
          <svg xmlns="http://www.w3.org/2000/svg" width="15.848" height="15.848" viewBox="0 0 15.848 15.848">
            <path id="Path_1214" data-name="Path 1214" d="M9.706,0V9.706H0" transform="translate(0 7.924) rotate(-45)"
              fill="none" stroke="#0497b5" stroke-width="3" />
          </svg>
          <div class="nav__dropdown__list__support sub-menu sp-only">
            <div class="nav__dropdown__list">
              <ul class="nav__dropdown__list__first">
                <li>
                  <a href="/case_list">
                    <span>導入事例</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="9.198" height="9.679" viewBox="0 0 9.198 9.679">
                      <g id="矢印アイコン_右3" data-name="矢印アイコン　右3" transform="translate(-12.736)">
                        <path id="Path_43786" data-name="Path 43786"
                          d="M17.094,0l-.766.766L19.859,4.3H12.736V5.382h7.123L16.328,8.913l.766.766,4.84-4.84Z"
                          fill="#00758c" />
                      </g>
                    </svg>

                  </a>
                </li>

                <li>
                  <a href="/faq">
                    <span>よくある質問</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="9.198" height="9.679" viewBox="0 0 9.198 9.679">
                      <g id="矢印アイコン_右3" data-name="矢印アイコン　右3" transform="translate(-12.736)">
                        <path id="Path_43786" data-name="Path 43786"
                          d="M17.094,0l-.766.766L19.859,4.3H12.736V5.382h7.123L16.328,8.913l.766.766,4.84-4.84Z"
                          fill="#00758c" />
                      </g>
                    </svg>

                  </a>
                </li>
              </ul>

              <div class="nav__dropdown__back">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 9.198 9.679">
                  <g id="矢印アイコン_左3" data-name="矢印アイコン　左3" transform="translate(22.934) scale(-1, 1)">
                    <path id="Path_43786" data-name="Path 43786"
                      d="M17.094,0l-.766.766L19.859,4.3H12.736V5.382h7.123L16.328,8.913l.766.766,4.84-4.84Z"
                      fill="#00758c" />
                  </g>
                </svg>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="nav__button">
        <div class="flex">
          <div>
            <a href="/seminar_list/" class="font-12px">セミナー・動画</a>
          </div>
          <div>
            <a href="/whitepaper/" class="font-12px">お役立ち資料</a>
          </div>
        </div>
        <div class="nav__list__button">
          <a href="/contact/">ご相談・お問い合わせ</a>
        </div>
      </div>
    </div>
  </header>
  <div class="header_menu_bg"></div>

  <main class="contact-page form-page">
    <section class="section-welcome">
      <div class="container-1200">
        <h1 class="ttl-primary">ご相談・お問い合わせ</h1>
      </div>
    </section>

    <section class="section-primary">
      <div class="container-1200">
        <p class="section-ttl">導入前のご相談・ご質問を承ります。お気軽にお問い合わせください。2営業日以内に回答いたします。</p>

        <!--  MAForm start-->

        <!-- <script src="//go.creditsaison.jp/js/forms2/js/forms2.min.js"></script> -->
        <form id="mktoForm_1346" novalidate="novalidate" class="form-primary mktoForm mktoHasWidth mktoLayoutLeft"
          style="font-family: Helvetica, Arial, sans-serif; font-size: 13px; color: rgb(51, 51, 51);">
          <style type="text/css">
            .mktoForm .mktoButtonWrap.mktoSkip .mktoButton {
              background-color: #8c9cbf;
              background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8c9cbf), color-stop(50%, #546a9e), color-stop(50%, #36518f), color-stop(100%, #3d5691));
              background-image: -webkit-linear-gradient(top, #8c9cbf 0%, #546a9e 50%, #36518f 50%, #3d5691 100%);
              background-image: -moz-linear-gradient(top, #8c9cbf 0%, #546a9e 50%, #36518f 50%, #3d5691 100%);
              background-image: -ms-linear-gradient(top, #8c9cbf 0%, #546a9e 50%, #36518f 50%, #3d5691 100%);
              background-image: -o-linear-gradient(top, #8c9cbf 0%, #546a9e 50%, #36518f 50%, #3d5691 100%);
              background-image: linear-gradient(to bottom, #8c9cbf 0%, #546a9e 50%, #36518f 50%, #3d5691 100%);
              border: 1px solid #172d6e;
              border-bottom: 1px solid #0e1d45;
              border-radius: 5px;
              -webkit-box-shadow: inset 0 1px 0 0 #b1b9cb;
              box-shadow: inset 0 1px 0 0 #b1b9cb;
              color: #fff;
              font: bold 16px/1 "helvetica neue", helvetica, arial, sans-serif;
              padding: 7px 0 8px 0;
              text-decoration: none;
              text-align: center;
              text-shadow: 0 -1px 1px #000f4d;
              width: 150px;
            }

            .mktoForm .mktoButtonWrap.mktoSkip .mktoButton:hover {
              background-color: #7f8dad;
              background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7f8dad), color-stop(50%, #4a5e8c), color-stop(50%, #2f477d), color-stop(100%, #364c80));
              background-image: -webkit-linear-gradient(top, #7f8dad 0%, #4a5e8c 50%, #2f477d 50%, #364c80 100%);
              background-image: -moz-linear-gradient(top, #7f8dad 0%, #4a5e8c 50%, #2f477d 50%, #364c80 100%);
              background-image: -ms-linear-gradient(top, #7f8dad 0%, #4a5e8c 50%, #2f477d 50%, #364c80 100%);
              background-image: -o-linear-gradient(top, #7f8dad 0%, #4a5e8c 50%, #2f477d 50%, #364c80 100%);
              background-image: linear-gradient(to bottom, #7f8dad 0%, #4a5e8c 50%, #2f477d 50%, #364c80 100%);
              cursor: pointer;
            }

            .mktoForm .mktoButtonWrap.mktoSkip .mktoButton:active {
              -webkit-box-shadow: inset 0 0 20px 0 #1d2845, 0 1px 0 white;
              box-shadow: inset 0 0 20px 0 #1d2845, 0 1px 0 white;
            }
          </style>

          <style>
            .form-primary {
              max-width: 800px;
              margin: auto;
              text-align: left;
              padding: 60px 70px;
              background-color: #f5f5f5;
            }

            .form-primary .mktoFormRow {
              margin-bottom: 30px;
            }

            .form-primary .mktoFormRow.name {
              display: flex;
              align-items: flex-end;
              gap: 20px;
            }

            .form-primary .mktoFormRow.agree .mktoCheckboxList {
              display: flex;
              align-items: center;
              gap: 10px;
            }

            .form-primary .mktoFormRow.agree .mktoCheckboxList label {
              font-size: 14px;
            }


            .form-primary .mktoFormRow.note a {
              font-size: 16px;
              text-decoration: underline;
              color: #0497b5;
            }

            .form-primary .mktoFormRow .mktoLabel {
              display: flex;
              margin-bottom: 10px;
            }

            .form-primary .mktoFormRow .mktoLabel .item {
              font-size: 16px;
              font-weight: 700;
              margin-right: 10px;
            }

            .form-primary .mktoFormRow .mktoLabel .required {
              display: inline-block;
              font-weight: 700;
              font-size: 11px;
              padding: 0 5px;
              background: red;
              color: #fff;
              border-radius: 3px;
              min-width: 32px;
            }

            .form-primary .mktoFormRow .mktoLabel .required::after {
              content: "必須";
              white-space: nowrap;
            }

            .form-primary .mktoFormRow select,
            input {
              font-size: 16px;
              width: 100%;
              padding: 5px 10px;
              border: 1px solid #bbb;
              border-radius: 3px;
              background: #fff;
              height: 40px;
            }

            .form-primary .mktoFormRow input {
              max-width: 100%;
              border: 1px solid #bbb;
            }

            .form-primary .mktoFormRow textarea {
              padding: 5px 10px;
            }

            .form-primary .mktoButtonWrap.mktoSkip .mktoButton {
              width: 100%;
              max-width: 460px;
              text-align: center;
              display: block;
              font-weight: 400;
              font-size: 20px;
              padding: 10px 35px;
              background: #0497b5;
              color: #fff;
              border: 2px solid #0497b5;
              margin: 0 auto;
              border-radius: 3px;
              text-shadow: none;
              box-shadow: none;
            }
          </style>
          <div class="mktoFormRow">
            <div class="mktoFieldDescriptor mktoFormCol" style="margin-bottom: 10px;">
              <div class="mktoOffset" style="width: 10px;"></div>
              <div class="mktoFieldWrap mktoRequiredField">
                <label for="infoContractStatus" id="LblinfoContractStatus" class="mktoLabel mktoHasWidth">
                  <span class="item">ご契約状況</span>
                  <div><span class="required"></span></div>
                </label>
                <div class="mktoGutter mktoHasWidth" style="width: 10px;"></div><select id="infoContractStatus"
                  name="infoContractStatus" aria-labelledby="LblinfoContractStatus InstructinfoContractStatus"
                  class="mktoField mktoHasWidth mktoRequired" aria-required="true" style="max-width: 350px; width: 100%;">
                  <option value="">選択...</option>
                  <option value="すでに当社とのご契約があるお客様">すでに当社とのご契約があるお客様</option>
                  <option value="当社とのご契約がないお客様">当社とのご契約がないお客様</option>
                  <option value="不明">不明</option>
                </select><span id="InstructinfoContractStatus" tabindex="-1" class="mktoInstruction"></span>
                <div class="mktoClear"></div>
              </div>
              <div class="mktoClear"></div>
            </div>
            <div class="mktoClear"></div>
          </div>
          <div class="mktoFormRow">
            <div class="mktoFieldDescriptor mktoFormCol" style="margin-bottom: 10px;">
              <div class="mktoOffset" style="width: 10px;"></div>
              <div class="mktoFieldWrap mktoRequiredField"><label for="infoServiceName" id="LblinfoServiceName"
                  class="mktoLabel mktoHasWidth">
                  <span class="item">お問い合わせ商品</span>
                  <div><span class="required"></span></div>
                </label>
                <div class="mktoGutter mktoHasWidth" style="width: 10px;"></div><select id="infoServiceName"
                  name="infoServiceName" aria-labelledby="LblinfoServiceName InstructinfoServiceName"
                  class="mktoField mktoHasWidth mktoRequired" aria-required="true" style="max-width: 350px; width: 100%;">
                  <option value="" style="color: #aaa;">選択...</option>
                  <option value="コーポレートカードに関するお問い合わせ">コーポレートカードに関するお問い合わせ</option>
                  <option value="パーチェシングカードに関するお問い合わせ">パーチェシングカードに関するお問い合わせ</option>
                  <option value="セゾン・ビジネス プロ・カードに関するお問い合わせ">セゾン・ビジネス プロ・カードに関するお問い合わせ</option>
                  <option value="セゾンビジネスアメックスカードに関するお問い合わせ">セゾン・ビジネス・アメックスカードに関するお問い合わせ</option>
                  <option value="Concurに関するお問い合わせ">Concurに関するお問い合わせ</option>
                  <option value="ETCカードに関するお問い合わせ">ETCカードに関するお問い合わせ</option>
                  <option value="UCプライズカードに関するお問い合わせ">UCプライズカードに関するお問い合わせ</option>
                  <option value="セゾンインボイスに関するお問い合わせ">セゾンインボイスに関するお問い合わせ</option>
                  <option value="どのサービスを導入するか迷っている">どのサービスを導入するか迷っている</option>
                  <option value="その他のお問い合わせ">その他のお問い合わせ</option>
                </select><span id="InstructinfoServiceName" tabindex="-1" class="mktoInstruction"></span>
                <div class="mktoClear"></div>
              </div>
              <div class="mktoClear"></div>
            </div>
            <div class="mktoClear"></div>
          </div>
          <div class="mktoFormRow">
            <div class="mktoFieldDescriptor mktoFormCol" style="margin-bottom: 10px;">
              <div class="mktoOffset" style="width: 10px;"></div>
              <div class="mktoFieldWrap mktoRequiredField"><label for="Company" id="LblCompany"
                  class="mktoLabel mktoHasWidth">
                  <span class="item">会社名</span>
                  <div><span class="required"></span></div>
                </label>
                <div class="mktoGutter mktoHasWidth" style="width: 10px;"></div>
                <input id="Company" name="Company" placeholder="株式会社〇〇" maxlength="255"
                  aria-labelledby="LblCompany InstructCompany" type="text" style="max-width: 500px;">
                <span id="InstructCompany" tabindex="-1" class="mktoInstruction"></span>
                <div class="mktoClear"></div>
              </div>
              <div class="mktoClear"></div>
            </div>
            <div class="mktoClear"></div>
          </div>
          <div class="mktoFormRow">
            <div class="mktoFieldDescriptor mktoFormCol" style="margin-bottom: 10px;">
              <div class="mktoOffset" style="width: 10px;"></div>
              <div class="mktoFieldWrap"><label for="infoCompanyWebsite" id="LblinfoCompanyWebsite"
                  class="mktoLabel mktoHasWidth">
                  <span class="item">会社サイトURL</span>
                  <div><span class="required"></span></div>
                </label>
                <div class="mktoGutter mktoHasWidth" style="width: 10px;"></div><input id="infoCompanyWebsite"
                  name="infoCompanyWebsite" placeholder="https://business.creditsaison.jp/" maxlength="255"
                  aria-labelledby="LblinfoCompanyWebsite InstructinfoCompanyWebsite" type="url"
                  class="mktoField mktoUrlField mktoHasWidth" style="max-width: 350px; width: 100%;"><span
                  id="InstructinfoCompanyWebsite" tabindex="-1" class="mktoInstruction"></span>
                <div class="mktoClear"></div>
              </div>
              <div class="mktoClear"></div>
            </div>
            <div class="mktoClear"></div>
          </div>
          <div class="mktoFormRow">
            <div class="mktoFieldDescriptor mktoFormCol" style="margin-bottom: 10px;">
              <div class="mktoOffset" style="width: 10px;"></div>
              <div class="mktoFieldWrap mktoRequiredField"><label for="State" id="LblState"
                  class="mktoLabel mktoHasWidth">
                  <span class="item">事業所所在地</span>
                  <div><span class="required"></span></div>
                </label>
                <div class="mktoGutter mktoHasWidth" style="width: 10px;"></div><select id="State" name="State"
                  aria-labelledby="LblState InstructState" class="mktoField mktoHasWidth mktoRequired"
                  aria-required="true" style="max-width: 200px;">
                  <option value="">選択...</option>
                  <option value="北海道">北海道</option>
                  <option value="青森県">青森県</option>
                  <option value="岩手県">岩手県</option>
                  <option value="宮城県">宮城県</option>
                  <option value="秋田県">秋田県</option>
                  <option value="山形県">山形県</option>
                  <option value="福島県">福島県</option>
                  <option value="茨城県">茨城県</option>
                  <option value="栃木県">栃木県</option>
                  <option value="群馬県">群馬県</option>
                  <option value="埼玉県">埼玉県</option>
                  <option value="千葉県">千葉県</option>
                  <option value="東京都">東京都</option>
                  <option value="神奈川県">神奈川県</option>
                  <option value="新潟県">新潟県</option>
                  <option value="富山県">富山県</option>
                  <option value="石川県">石川県</option>
                  <option value="福井県">福井県</option>
                  <option value="山梨県">山梨県</option>
                  <option value="長野県">長野県</option>
                  <option value="岐阜県">岐阜県</option>
                  <option value="静岡県">静岡県</option>
                  <option value="愛知県">愛知県</option>
                  <option value="三重県">三重県</option>
                  <option value="滋賀県">滋賀県</option>
                  <option value="京都府">京都府</option>
                  <option value="大阪府">大阪府</option>
                  <option value="兵庫県">兵庫県</option>
                  <option value="奈良県">奈良県</option>
                  <option value="和歌山県">和歌山県</option>
                  <option value="鳥取県">鳥取県</option>
                  <option value="島根県">島根県</option>
                  <option value="岡山県">岡山県</option>
                  <option value="広島県">広島県</option>
                  <option value="山口県">山口県</option>
                  <option value="徳島県">徳島県</option>
                  <option value="香川県">香川県</option>
                  <option value="愛媛県">愛媛県</option>
                  <option value="高知県">高知県</option>
                  <option value="福岡県">福岡県</option>
                  <option value="佐賀県">佐賀県</option>
                  <option value="長崎県">長崎県</option>
                  <option value="熊本県">熊本県</option>
                  <option value="大分県">大分県</option>
                  <option value="宮崎県">宮崎県</option>
                  <option value="鹿児島県">鹿児島県</option>
                  <option value="沖縄県">沖縄県</option>
                </select><span id="InstructState" tabindex="-1" class="mktoInstruction"></span>
                <div class="mktoClear"></div>
              </div>
              <div class="mktoClear"></div>
            </div>
            <div class="mktoClear"></div>
          </div>
          <div class="mktoFormRow">
            <div class="mktoFieldDescriptor mktoFormCol" style="margin-bottom: 10px;">
              <div class="mktoOffset" style="width: 10px;"></div>
              <div class="mktoFieldWrap mktoRequiredField"><label for="formDepartment" id="LblformDepartment"
                  class="mktoLabel mktoHasWidth">
                  <span class="item">部署</span>
                  <div><span class="required"></span></div>
                </label>
                <div class="mktoGutter mktoHasWidth" style="width: 10px;"></div><select id="formDepartment"
                  name="formDepartment" aria-labelledby="LblformDepartment InstructformDepartment"
                  class="mktoField mktoHasWidth mktoRequired" aria-required="true" style="max-width: 350px; width: 100%;">
                  <option value="">選択...</option>
                  <option value="経営">経営</option>
                  <option value="財務・経理">財務・経理</option>
                  <option value="総務・人事">総務・人事</option>
                  <option value="経営企画">経営企画</option>
                  <option value="営業企画・販売促進">営業企画・販売促進</option>
                  <option value="営業">営業</option>
                  <option value="マーケティング・広告企画・調査">マーケティング・広告企画・調査</option>
                  <option value="商品開発">商品開発</option>
                  <option value="その他">その他</option>
                </select><span id="InstructformDepartment" tabindex="-1" class="mktoInstruction"></span>
                <div class="mktoClear"></div>
              </div>
              <div class="mktoClear"></div>
            </div>
            <div class="mktoClear"></div>
          </div>
          <div class="mktoFormRow">
            <div class="mktoFieldDescriptor mktoFormCol" style="margin-bottom: 10px;">
              <div class="mktoOffset" style="width: 10px;"></div>
              <div class="mktoFieldWrap mktoRequiredField"><label for="formPosition" id="LblformPosition"
                  class="mktoLabel mktoHasWidth">
                  <span class="item">役職</span>
                  <div><span class="required"></span></div>
                </label>
                <div class="mktoGutter mktoHasWidth" style="width: 10px;"></div><select id="formPosition"
                  name="formPosition" aria-labelledby="LblformPosition InstructformPosition"
                  class="mktoField mktoHasWidth mktoRequired" aria-required="true" style="max-width: 350px; width: 100%;">
                  <option value="">選択...</option>
                  <option value="経営者">経営者</option>
                  <option value="役員">役員</option>
                  <option value="部長">部長</option>
                  <option value="課長">課長</option>
                  <option value="係長・主任">係長・主任</option>
                  <option value="一般社員">一般社員</option>
                </select><span id="InstructformPosition" tabindex="-1" class="mktoInstruction"></span>
                <div class="mktoClear"></div>
              </div>
              <div class="mktoClear"></div>
            </div>
            <div class="mktoClear"></div>
          </div>
          <div class="mktoFormRow name">
            <div class="mktoFieldDescriptor mktoFormCol" style="margin-bottom: 10px;">
              <div class="mktoOffset" style="width: 10px;"></div>
              <div class="mktoFieldWrap mktoRequiredField"><label for="LastName" id="LblLastName"
                  class="mktoLabel mktoHasWidth">
                  <span class="item">お名前</span>
                  <div><span class="required"></span></div>
                </label>
                <div class="mktoGutter mktoHasWidth" style="width: 10px;"></div>
                <input id="LastName" name="LastName" placeholder="山田" maxlength="255"
                  aria-labelledby="LblLastName InstructLastName" type="text"
                  class="mktoField mktoTextField mktoHasWidth mktoRequired" aria-required="true">
                <span id="InstructLastName" tabindex="-1" class="mktoInstruction"></span>
                <div class="mktoClear"></div>
              </div>
              <div class="mktoClear"></div>
            </div>
            <div class="mktoFieldDescriptor mktoFormCol" style="margin-bottom: 10px;">
              <div class="mktoOffset" style="width: 10px;"></div>
              <div class="mktoFieldWrap"><label for="FirstName" id="LblFirstName" class="mktoLabel mktoHasWidth"
                  style="width: 10px;">
                </label>
                <div class="mktoGutter mktoHasWidth" style="width: 10px;"></div><input id="FirstName" name="FirstName"
                  placeholder="太郎" maxlength="255" aria-labelledby="LblFirstName InstructFirstName" type="text"
                  class="mktoField mktoTextField mktoHasWidth"><span id="InstructFirstName" tabindex="-1"
                  class="mktoInstruction"></span>
                <div class="mktoClear"></div>
              </div>
              <div class="mktoClear"></div>
            </div>
            <div class="mktoClear"></div>
          </div>
          <div class="mktoFormRow">
            <div class="mktoFieldDescriptor mktoFormCol" style="margin-bottom: 10px;">
              <div class="mktoOffset" style="width: 10px;"></div>
              <div class="mktoFieldWrap mktoRequiredField"><label for="Email" id="LblEmail"
                  class="mktoLabel mktoHasWidth">
                  <span class="item">勤務先メールアドレス</span>
                  <div><span class="required"></span></div>
                </label>
                <div class="mktoGutter mktoHasWidth" style="width: 10px;"></div><input id="Email" name="Email"
                  placeholder="xxx@example.co.jp" maxlength="255" aria-labelledby="LblEmail InstructEmail" type="email"
                  class="mktoField mktoEmailField mktoHasWidth mktoRequired" aria-required="true"
                  style="width: 100%;"><span id="InstructEmail" tabindex="-1" class="mktoInstruction"></span>
                <div class="mktoClear"></div>
              </div>
              <div class="mktoClear"></div>
            </div>
            <div class="mktoClear"></div>
          </div>
          <div class="mktoFormRow">
            <div class="mktoFieldDescriptor mktoFormCol" style="margin-bottom: 10px;">
              <div class="mktoOffset" style="width: 10px;"></div>
              <div class="mktoFieldWrap mktoRequiredField"><label for="EmailMail_Confirmation"
                  id="LblEmailMail_Confirmation" class="mktoLabel mktoHasWidth">
                  <span class="item">勤務先メールアドレス（確認用）</span>
                  <div><span class="required"></span></div>
                </label>
                <div class="mktoGutter mktoHasWidth" style="width: 10px;"></div><input id="EmailMail_Confirmation"
                  name="EmailMail_Confirmation" placeholder="xxx@example.co.jp" maxlength="255"
                  aria-labelledby="LblEmailMail_Confirmation InstructEmailMail_Confirmation" type="email"
                  class="mktoField mktoEmailField mktoHasWidth mktoRequired" aria-required="true"
                  style="width: 100%;"><span id="InstructEmailMail_Confirmation" tabindex="-1"
                  class="mktoInstruction"></span>
                <div class="mktoClear"></div>
              </div>
              <div class="mktoClear"></div>
            </div>
            <div class="mktoClear"></div>
          </div>
          <div class="mktoFormRow">
            <div class="mktoFieldDescriptor mktoFormCol" style="margin-bottom: 10px;">
              <div class="mktoOffset" style="width: 10px;"></div>
              <div class="mktoFieldWrap mktoRequiredField"><label for="Phone" id="LblPhone"
                  class="mktoLabel mktoHasWidth">
                  <span class="item">電話番号</span>
                  <div><span class="required"></span></div>
                </label>
                <div class="mktoGutter mktoHasWidth" style="width: 10px;"></div><input id="Phone" name="Phone"
                  placeholder="080-1234-5678" maxlength="255" aria-labelledby="LblPhone InstructPhone" type="tel"
                  class="mktoField mktoTelField mktoHasWidth mktoRequired" aria-required="true"
                  style="width: 250px;"><span id="InstructPhone" tabindex="-1" class="mktoInstruction"></span>
                <div class="mktoClear"></div>
              </div>
              <div class="mktoClear"></div>
            </div>
            <div class="mktoClear"></div>
          </div>
          <div class="mktoFormRow">
            <div class="mktoFieldDescriptor mktoFormCol" style="margin-bottom: 10px;">
              <div class="mktoOffset" style="width: 10px;"></div>
              <div class="mktoFieldWrap mktoRequiredField"><label for="infoContents" id="LblinfoContents"
                  class="mktoLabel mktoHasWidth">
                  <span class="item">お問い合わせ内容</span>
                  <div><span class="required"></span></div>
                </label>
                <div class="mktoGutter mktoHasWidth" style="width: 10px;"></div>
                <select id="infoContents" name="infoContents" aria-labelledby="LblinfoContents InstructinfoContents"
                  class="mktoField mktoHasWidth mktoRequired" aria-required="true" style="width: 100%;">
                  <option value="">選択...</option>
                  <option value="入会に関するお問い合わせについて">入会に関するお問い合わせについて</option>
                  <option value="サービス・機能について">サービス・機能について</option>
                  <option value="限度額について">限度額について</option>
                  <option value="お支払い方法について">お支払い方法について</option>
                  <option value="口座設定について">口座設定について</option>
                  <option value="ウェブセミナーについて">ウェブセミナーについて</option>
                  <option value="その他のお問い合わせ">その他のお問い合わせ</option>
                </select><span id="InstructinfoContents" tabindex="-1" class="mktoInstruction"></span>
                <div class="mktoClear"></div>
              </div>
              <div class="mktoClear"></div>
            </div>
            <div class="mktoClear"></div>
          </div>
          <div class="mktoFormRow">
            <div class="mktoFieldDescriptor mktoFormCol" style="margin-bottom: 10px;">
              <div class="mktoOffset" style="width: 10px;"></div>
              <div class="mktoFieldWrap mktoRequiredField"><label for="infoDetail" id="LblinfoDetail"
                  class="mktoLabel mktoHasWidth">
                  <span class="item">お問い合わせ詳細</span>
                  <div><span class="required"></span></div>
                </label>
                <div class="mktoGutter mktoHasWidth" style="width: 10px;"></div>
                <textarea id="infoDetail" name="infoDetail" placeholder="（例）広告料や税金をカードで支払いたい &#10;（例）どのビジネスカードが最適か相談したい"
                  rows="8" aria-labelledby="LblinfoDetail InstructinfoDetail"
                  class="mktoField mktoHasWidth mktoRequired" maxlength="2000" aria-required="true"
                  style="width: 100%;"></textarea>
                <span id="InstructinfoDetail" tabindex="-1" class="mktoInstruction"></span>
                <div class="mktoClear"></div>
              </div>
              <div class="mktoClear"></div>
            </div>
            <div class="mktoClear"></div>
          </div>
          <div class="mktoFormRow agree">
            <div class="mktoFieldDescriptor mktoFormCol" style="margin-bottom: 10px;">
              <div class="mktoOffset" style="width: 10px;"></div>
              <div class="mktoFieldWrap mktoRequiredField"><label for="formConsent" id="LblformConsent"
                  class="mktoLabel mktoHasWidth">
                  <span class="item">個人情報の取扱いに同意する</span>
                  <div><span class="required"></span></div>
                </label>
                <div class="mktoGutter mktoHasWidth" style="width: 10px;"></div>
                <div class="mktoLogicalField mktoCheckboxList mktoHasWidth mktoRequired">
                  <input name="formConsent" id="formConsent" type="checkbox" value="yes" aria-required="true"
                    aria-labelledby="LblformConsent InstructformConsent" class="mktoField" style="width: 21px;">
                  <label for="formConsent" id="LblformConsent">同意する</label>
                </div>
                <span id="InstructformConsent" tabindex="-1" class="mktoInstruction"></span>
                <div class="mktoClear"></div>
              </div>
              <div class="mktoClear"></div>
            </div>
            <div class="mktoClear"></div>
          </div>
          <div class="mktoFormRow note">
            <div class="mktoFormCol" style="margin-bottom: 10px;">
              <div class="mktoOffset mktoHasWidth" style="width: 10px;"></div>
              <div class="mktoFieldWrap">
                <div class="mktoHtmlText mktoHasWidth" style="width: 100%;"><span style="text-decoration: underline;">
                    <a href="https://reg18.smp.ne.jp/regist/is?SMPFORM=mamf-oikhk-5e11516dd3e831384239085b5ac4cf66"
                      target="_blank">「個人情報の取扱い（収集・保有・利用・提供）に関する同意条項」について</a></span><br><br></div>
                <div class="mktoClear"></div>
              </div>
              <div class="mktoClear"></div>
            </div>
            <div class="mktoClear"></div>
          </div>
          <div class="mktoButtonRow">
            <span class="mktoButtonWrap mktoSkip">
              <button type="submit" class="mktoButton">送信</button>
            </span>
          </div>
          <input type="hidden" name="formid" class="mktoField mktoFieldDescriptor" value="1346">
          <input type="hidden" name="munchkinId" class="mktoField mktoFieldDescriptor" value="192-HJE-909">
        </form>

        <script>MktoForms2.loadForm("//go.creditsaison.jp", "192-HJE-909", 1346);</script>

        <!--  MAForm end-->

      </div>
    </section>
  </main>

  <script>
    $(".default_option").click(function () {
      $(this).parent().toggleClass("active");
    })

    $(".select_ul li").click(function () {
      var currentele = $(this).html();
      $(".default_option li").html(currentele);
      $(this).parents(".select_wrap").removeClass("active");
    })
  </script>

  <div id="imageModal" class="modal sp-only">
    <span class="close-modal">&times;</span>
    <img class="modal-content" id="image-in-modal">
    <div id="caption"></div>
  </div>
  <footer>
    <div class="footer-container">

      <section class="breadcrumb">
        <ul class="flex">
          <li>
            <a href="/">TOP</a>
          </li>


          <li>
            <a href="#">ご相談・お問い合わせ</a>
          </li>

        </ul>
      </section>


      <section class="primary-section">
        <div class="containers flex">

          <div class="group footer__first__list">
            <div class="footer__logo">
              <img src="/assets/img/footer/footer_logo.png" />
            </div>
            <ul class="group__list">
              <li>
                <a href="#">貸金業者登録番号</a>
              </li>
              <li>
                <a href="#">関東財務局長（14）第00085号</a>
              </li>
              <li>
                <a href="#">日本貸金業協会会員 第002346号</a>
              </li>
            </ul>
          </div>

          <div class="group">
            <div class="group__ttl">サービス</div>
            <ul class="group__list">
              <li>
                <a href="#">サービス一覧</a>
              </li>
              <li>
                <a href="/smaller_companies/">中小企業向けサービス</a>
              </li>
              <li>
                <a href="/sole_proprietorship/">個人事業主向けサービス</a>
              </li>
              <li>
                <a href="/faq/">よくある質問</a>
              </li>
              <li>
                <a href="/case_list/">導入事例</a>
              </li>
              <li>
                <a href="/strength/">クレディセゾンの強み</a>
              </li>
            </ul>
          </div>

          <div class="group">
            <div class="group__ttl">目的から探す</div>
            <ul class="group__list">
              <li>
                <a href="/business_card_creation/">ビジネスカードを作りたい</a>
              </li>
              <li>
                <a href="/reduction_expenses/">経費を削減したい</a>
              </li>
              <li>
                <a href="/business_efficiency/">業務を効率化したい</a>
              </li>
              <li>
                <a href="/improve_cash_flow/">資金繰りを改善したい</a>
              </li>
              <li>
                <a href="/welfare/">福利厚生を充実させたい</a>
              </li>
            </ul>
          </div>

          <div class="group">
            <div class="group__ttl">お役立ち情報</div>
            <ul class="group__list">
              <li>
                <a href="/seminar_list">セミナー・動画</a>
              </li>
              <li>
                <a href="/whitepaper/">お役立ち資料</a>
              </li>
              <li>
                <a href="/whitepaper_list">お役立ちコラム</a>
              </li>
              <li>
                <a href="/news/">ニュース</a>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <section class="secondary-section">
        <div class="anc">
          <div class="containers">
            <ul class="flex jcC gap30 inherit anc__box">
              <li class="light_btn">
                <a href="/contact/">ご相談・お問い合わせ</a>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="27"
                  height="27" viewbox="0 0 27 27">
                  <defs>
                    <linearGradient id="linear-gradient" y1="1" x2="1" gradientunits="objectBoundingBox">
                      <stop offset="0" stop-color="#0497b5" />
                      <stop offset="1" stop-color="#53d2b2" />
                    </linearGradient>
                  </defs>
                  <g id="Group_13687" data-name="Group 13687" transform="translate(-459 -6215)">
                    <circle id="Ellipse_137" data-name="Ellipse 137" cx="13.5" cy="13.5" r="13.5"
                      transform="translate(459 6215)" fill="url(#linear-gradient)" />
                    <path id="Path_44724" data-name="Path 44724" d="M7.437,0V7.437H0"
                      transform="translate(465.039 6228.5) rotate(-45)" fill="none" stroke="#fff" stroke-width="2" />
                  </g>
                </svg>

              </li>
              <li class="light_btn">
                <a href="/catalog_list/">サービス資料</a>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="27"
                  height="27" viewbox="0 0 27 27">
                  <defs>
                    <linearGradient id="linear-gradient" y1="1" x2="1" gradientunits="objectBoundingBox">
                      <stop offset="0" stop-color="#0497b5" />
                      <stop offset="1" stop-color="#53d2b2" />
                    </linearGradient>
                  </defs>
                  <g id="Group_13687" data-name="Group 13687" transform="translate(-459 -6215)">
                    <circle id="Ellipse_137" data-name="Ellipse 137" cx="13.5" cy="13.5" r="13.5"
                      transform="translate(459 6215)" fill="url(#linear-gradient)" />
                    <path id="Path_44724" data-name="Path 44724" d="M7.437,0V7.437H0"
                      transform="translate(465.039 6228.5) rotate(-45)" fill="none" stroke="#fff" stroke-width="2" />
                  </g>
                </svg>

              </li>
              <li class="light_btn">
                <a href="/whitepaper/">お役立ち資料</a>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="27"
                  height="27" viewbox="0 0 27 27">
                  <defs>
                    <linearGradient id="linear-gradient" y1="1" x2="1" gradientunits="objectBoundingBox">
                      <stop offset="0" stop-color="#0497b5" />
                      <stop offset="1" stop-color="#53d2b2" />
                    </linearGradient>
                  </defs>
                  <g id="Group_13687" data-name="Group 13687" transform="translate(-459 -6215)">
                    <circle id="Ellipse_137" data-name="Ellipse 137" cx="13.5" cy="13.5" r="13.5"
                      transform="translate(459 6215)" fill="url(#linear-gradient)" />
                    <path id="Path_44724" data-name="Path 44724" d="M7.437,0V7.437H0"
                      transform="translate(465.039 6228.5) rotate(-45)" fill="none" stroke="#fff" stroke-width="2" />
                  </g>
                </svg>

              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
    <section class="tertiary-section">
      <div class="flex aiC gap50 sec-news__box--item">
        <ul class="flex custom-list gap27">
          <li><a href="https://corporate.saisoncard.co.jp/company/about_cs/" target="_blank">
              会社概要
              <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewbox="0 0 10 10">
                <g id="Component_39_10" data-name="Component 39 – 10" opacity="0.555">
                  <g id="Rectangle_22879" data-name="Rectangle 22879" transform="translate(0 2)" fill="#121212"
                    stroke="#fff" stroke-width="1">
                    <rect width="8" height="8" stroke="none" />
                    <rect x="0.5" y="0.5" width="7" height="7" fill="none" />
                  </g>
                  <g id="Rectangle_22880" data-name="Rectangle 22880" transform="translate(1 1)" fill="#121212"
                    stroke="#121212" stroke-width="1">
                    <rect width="8" height="8" stroke="none" />
                    <rect x="0.5" y="0.5" width="7" height="7" fill="none" />
                  </g>
                  <g id="Rectangle_22881" data-name="Rectangle 22881" transform="translate(2)" fill="#121212"
                    stroke="#fff" stroke-width="1">
                    <rect width="8" height="8" stroke="none" />
                    <rect x="0.5" y="0.5" width="7" height="7" fill="none" />
                  </g>
                  <line id="Line_365" data-name="Line 365" x2="7" transform="translate(2.5 2.5)" fill="none"
                    stroke="#fff" stroke-width="1" />
                </g>
              </svg>

            </a>
          </li>

          <li>
            <a href="https://www.saisoncard.co.jp/info/privacy-policy/" target="_blank">プライバシーポリシー
              <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewbox="0 0 10 10">
                <g id="Component_39_10" data-name="Component 39 – 10" opacity="0.555">
                  <g id="Rectangle_22879" data-name="Rectangle 22879" transform="translate(0 2)" fill="#121212"
                    stroke="#fff" stroke-width="1">
                    <rect width="8" height="8" stroke="none" />
                    <rect x="0.5" y="0.5" width="7" height="7" fill="none" />
                  </g>
                  <g id="Rectangle_22880" data-name="Rectangle 22880" transform="translate(1 1)" fill="#121212"
                    stroke="#121212" stroke-width="1">
                    <rect width="8" height="8" stroke="none" />
                    <rect x="0.5" y="0.5" width="7" height="7" fill="none" />
                  </g>
                  <g id="Rectangle_22881" data-name="Rectangle 22881" transform="translate(2)" fill="#121212"
                    stroke="#fff" stroke-width="1">
                    <rect width="8" height="8" stroke="none" />
                    <rect x="0.5" y="0.5" width="7" height="7" fill="none" />
                  </g>
                  <line id="Line_365" data-name="Line 365" x2="7" transform="translate(2.5 2.5)" fill="none"
                    stroke="#fff" stroke-width="1" />
                </g>
              </svg>

            </a>
          </li>

          <li>
            <a href="https://www.saisoncard.co.jp/info/legal/" target="_blank">
              「個人情報の保護に関する法律」に基づく公表事項
              <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewbox="0 0 10 10">
                <g id="Component_39_10" data-name="Component 39 – 10" opacity="0.555">
                  <g id="Rectangle_22879" data-name="Rectangle 22879" transform="translate(0 2)" fill="#121212"
                    stroke="#fff" stroke-width="1">
                    <rect width="8" height="8" stroke="none" />
                    <rect x="0.5" y="0.5" width="7" height="7" fill="none" />
                  </g>
                  <g id="Rectangle_22880" data-name="Rectangle 22880" transform="translate(1 1)" fill="#121212"
                    stroke="#121212" stroke-width="1">
                    <rect width="8" height="8" stroke="none" />
                    <rect x="0.5" y="0.5" width="7" height="7" fill="none" />
                  </g>
                  <g id="Rectangle_22881" data-name="Rectangle 22881" transform="translate(2)" fill="#121212"
                    stroke="#fff" stroke-width="1">
                    <rect width="8" height="8" stroke="none" />
                    <rect x="0.5" y="0.5" width="7" height="7" fill="none" />
                  </g>
                  <line id="Line_365" data-name="Line 365" x2="7" transform="translate(2.5 2.5)" fill="none"
                    stroke="#fff" stroke-width="1" />
                </g>
              </svg>

            </a>
          </li>

          <li>
            <a href="https://www.saisoncard.co.jp/cookie-policy/" target="_blank">
              cookieポリシー
              <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewbox="0 0 10 10">
                <g id="Component_39_10" data-name="Component 39 – 10" opacity="0.555">
                  <g id="Rectangle_22879" data-name="Rectangle 22879" transform="translate(0 2)" fill="#121212"
                    stroke="#fff" stroke-width="1">
                    <rect width="8" height="8" stroke="none" />
                    <rect x="0.5" y="0.5" width="7" height="7" fill="none" />
                  </g>
                  <g id="Rectangle_22880" data-name="Rectangle 22880" transform="translate(1 1)" fill="#121212"
                    stroke="#121212" stroke-width="1">
                    <rect width="8" height="8" stroke="none" />
                    <rect x="0.5" y="0.5" width="7" height="7" fill="none" />
                  </g>
                  <g id="Rectangle_22881" data-name="Rectangle 22881" transform="translate(2)" fill="#121212"
                    stroke="#fff" stroke-width="1">
                    <rect width="8" height="8" stroke="none" />
                    <rect x="0.5" y="0.5" width="7" height="7" fill="none" />
                  </g>
                  <line id="Line_365" data-name="Line 365" x2="7" transform="translate(2.5 2.5)" fill="none"
                    stroke="#fff" stroke-width="1" />
                </g>
              </svg>

            </a>
          </li>

        </ul>
      </div>
      <div class="copy-right">
        <p>Copyright(C)CREDIT SAISON Co.,Ltd.All Rights Reserved.</p>
      </div>
    </section>
  </footer>
</body>

</html>