<svg
  xmlns="http://www.w3.org/2000/svg"
  width="10.287"
  height="10.287"
  viewBox="0 0 10.287 10.287"
>
  <path
    id="Path_1216"
    data-name="Path 1216"
    d="M6.274,0V6.274H0"
    transform="translate(5.143) rotate(45)"
    fill="none"
    stroke="#0497b5"
    stroke-width="2"
  />
</svg>
