<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 21 21">
  <g transform="translate(-386 -236.533)">
    <g data-name="Ellipse 151" transform="translate(386 236.533)" fill="none" stroke="#fff" stroke-width="2">
      <circle cx="10.5" cy="10.5" r="10.5" stroke="none"/>
      <circle cx="10.5" cy="10.5" r="9.5" fill="none"/>
    </g>
    <text id="_" data-name="?" transform="translate(392.789 252.533)" fill="#fff" font-size="13" font-family="NotoSansCJKjp-Bold, Noto Sans CJK JP" font-weight="700"><tspan x="0" y="0">?</tspan></text>
  </g>
</svg>
