<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
  <g transform="translate(-651 -2738)">
    <circle id="Ellipse_108" data-name="Ellipse 108" cx="15" cy="15" r="15" transform="translate(651 2738)" fill="#0297b5"/>
    <text id="_" data-name="&gt;" transform="translate(666.71 2760.281)" fill="#fff" font-size="18" font-family="Futura-Bold, Futura" font-weight="700">
      <tspan x="-6.12" y="0">&gt;</tspan>
    </text>
  </g>
</svg>
