<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewbox="0 0 10 10">
  <g id="Component_39_10" data-name="Component 39 – 10" opacity="0.555">
    <g id="Rectangle_22879" data-name="Rectangle 22879" transform="translate(0 2)" fill="#121212" stroke="#fff" stroke-width="1">
      <rect width="8" height="8" stroke="none"/>
      <rect x="0.5" y="0.5" width="7" height="7" fill="none"/>
    </g>
    <g id="Rectangle_22880" data-name="Rectangle 22880" transform="translate(1 1)" fill="#121212" stroke="#121212" stroke-width="1">
      <rect width="8" height="8" stroke="none"/>
      <rect x="0.5" y="0.5" width="7" height="7" fill="none"/>
    </g>
    <g id="Rectangle_22881" data-name="Rectangle 22881" transform="translate(2)" fill="#121212" stroke="#fff" stroke-width="1">
      <rect width="8" height="8" stroke="none"/>
      <rect x="0.5" y="0.5" width="7" height="7" fill="none"/>
    </g>
    <line id="Line_365" data-name="Line 365" x2="7" transform="translate(2.5 2.5)" fill="none" stroke="#fff" stroke-width="1"/>
  </g>
</svg>
