<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
  <g transform="translate(-1196.5 -70)">
    <line id="Line_1776" data-name="Line 1776" x1="20" transform="translate(1196.5 80)" fill="none" stroke="#0297b5" stroke-width="3"/>
    <line id="Line_1777" data-name="Line 1777" x1="20" transform="translate(1206.5 70) rotate(90)" fill="none" stroke="#0297b5" stroke-width="3"/>
  </g>
</svg>
