<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="27" height="27" viewbox="0 0 27 27">
  <defs>
    <linearGradient id="linear-gradient" y1="1" x2="1" gradientunits="objectBoundingBox">
      <stop offset="0" stop-color="#0497b5"/>
      <stop offset="1" stop-color="#53d2b2"/>
    </linearGradient>
  </defs>
  <g id="Group_13687" data-name="Group 13687" transform="translate(-459 -6215)">
    <circle id="Ellipse_137" data-name="Ellipse 137" cx="13.5" cy="13.5" r="13.5" transform="translate(459 6215)" fill="url(#linear-gradient)"/>
    <path id="Path_44724" data-name="Path 44724" d="M7.437,0V7.437H0" transform="translate(465.039 6228.5) rotate(-45)" fill="none" stroke="#fff" stroke-width="2"/>
  </g>
</svg>
