.business_card_creation-page {
  margin: auto;
  section {
    .ttl-primary {
      font-size: 32px;
      span {
        font-size: 15px;
      }
      @media #{$sp} {
        font-size: 20px;
        text-align: center !important;
      }
    }
  }

  .section-welcome {
    padding: 114px 0;
    text-align: left;
    color: #fff;
    background: url("../img/common/banner_4.png") 50% / cover no-repeat;
    background-size: cover;
    background-repeat: no-repeat;

    .bg-title-content {
      position: relative;
      width: fit-content;
      font-size: 21px;
      font-weight: 700;
      padding: 6px 20px;

      color: $white-color;
      background-color: $blue-color-3;
      transform: skew(-10deg);
      margin-bottom: 10px;
      @media #{$sp} {
        margin-left: auto;
        margin-right: auto;
      }

      .title-content {
        display: flex;
        align-items: center;
        gap: 10px;
        line-height: 28px;
        transform: skew(10deg);
        font-size: 21px;
      }
    }

    .ttl-primary {
      font-size: 42px;
      margin-bottom: 40px;
      text-align: left;
      line-height: 1;
      margin-top: 15px;
      text-shadow: 0px 0px 20px #05172c8d;
    }

    .ttl-tertiary {
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 10px;
      background: #004098;
      color: #fff;
      width: fit-content;
      transform: skew(-10deg);
      padding: 5px;
    }

    .ttl-quaternary {
      font-size: 18px;
      line-height: 33px;
      font-weight: 400;

      @media #{$sp} {
        text-align: center;
      }
    }

    .banner-container {
      display: grid;
      grid-template-columns: 53% 47%;
      @media #{$sp} {
        grid-template-columns: 1fr;
        gap: 0px;
      }
      .right-content {
        margin-top: 25px;
        width: 100%;
        .banner-img {
          max-width: 100%;
          object-fit: cover;
        }
      }
    }

    @media #{$sp} {
      padding: 35px 15px;
      .ttl-primary {
        font-size: 32px;
      }
      .ttl-tertiary {
        font-size: 18px;
      }
      .ttl-quaternary {
        font-size: 14px;
      }
    }
  }

  .section-primary {
    .anc01 {
      background-color: #e5f4f8;
      padding: 0;

      .containers {
        padding: 40px 0;

        .anc01__box {
          li {
            max-width: 252px;
            a {
              background-color: #0297b5;
              border: 3px solid #0297b5;
              font-size: 20px;
              &::before {
                border-color: #0297b5 #0297b5 #fff #fff;
              }
              &:hover {
                background-color: #fff;
                color: #0297b5;
              }
            }
          }
        }
      }
    }
    @media #{$sp} {
      .anc01__box {
        display: grid;
        grid-template-columns: 1fr;
        li {
          margin: auto;
          width: 280px;
          a {
            height: 70px;
            font-size: 13px !important;
          }
        }
      }
    }
  }

  .section-secondary {
    .ttl-secondary {
      font-size: 32px;
      margin-bottom: 61px;
    }

    .card-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
      .card {
        box-shadow: 0px 3px 20px #0000001c;
        border-radius: 3px;
        padding: 30px;
        h2 {
          color: #0497b5;
          font-size: 20px;
          font-weight: bold;
          text-align: center;
        }
        .grid__card--img {
          margin: 20px 0;
        }
        p {
          font-size: 16px;
        }
      }
    }
    @media #{$sp} {
      .ttl-secondary {
        font-size: 24px;
      }
      .card-list {
        grid-template-columns: 1fr;
      }
    }
  }

  .section-tertiary {
    background-color: #eeeeee;
    .ttl-tertiary {
      text-align: center;
      color: #0297b5;
      font-size: 16px;
    }
    .table-card-head {
      padding: 15px;
      text-align: center;
      color: #fff;
      font-size: 20px;
      text-align: center;
      margin-bottom: 10px;
      &.card-type-1 {
        background: #0297b5;
      }
      &.card-type-2 {
        background: #24a4a4;
        margin-top: 40px;
      }
    }

    .grid-card-container {
      display: grid;
      grid-template-columns: 290px 150px 100px 100px 100px 100px 100px 130px;
      grid-gap: 10px;
      overflow: auto;
      .title-row {
        background-color: #000000;
        color: #fff;
        text-align: center;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
      }

      .card-row {
        height: 280px;
        margin-top: 10px;
        * {
          font-size: 14px;
          margin: unset;
        }
        background: #ffffff;
        display: flex;
        flex-direction: column;
        gap: 15px;
        justify-content: center;
        align-items: center;
        padding: 20px 15px;
        .ttl-quaternary {
          color: #0297b5;
          text-align: center;
        }
        .ttl-tertiary {
          color: #000000;
          text-align: center;
        }
        .ttl-normal {
          color: #000000;
          font-weight: normal !important;
        }
        .card-img {
          max-width: 150px;
        }
        .card-btn {
          padding: 25px;
          color: #fff;
          transition: 0.1s ease-in-out;
          &.card-type-1 {
            background: #0297b5;
            &:hover {
              background: #fff;
              color: #0297b5;
              border: 2px solid #0297b5;
            }
          }
          &.card-type-2 {
            background: #24a4a4;
            &:hover {
              background: #fff;
              color: #24a4a4;
              border: 2px solid #24a4a4;
            }
          }
        }
      }
    }
  }

  .section-quaternary {
    text-align: center;
    background-color: #fff;

    .ttl-tertiary {
      font-size: 16px;
      font-weight: bold;
      color: #0297b5;
    }

    .ttl-secondary {
      font-size: 32px;
      margin-bottom: 61px;
      font-weight: bold;
    }

    .card-list {
      margin-bottom: 60px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      li {
        border: 1px solid #0297b5;
      }

      .card-title {
        padding: 10px 25px;
        min-height: 114px;
        background: #0297b5;
        align-items: center;
        color: #fff;
        font-weight: bold;
        text-align: left;
        display: flex;
        gap: 15px;

        @media #{$sp} {
          min-height: unset;
        }

        .circle-child {
          width: 70px;
          height: 70px;
          border-radius: 70px;
          &.first {
            background: url("../img/common/AdobeStock_272038694_Preview.png");
          }
          &.second {
            background: url("../img/common/AdobeStock_569066668_Preview.png");
          }
          &.third {
            background: url("../img/common/AdobeStock_242946064_Preview.png");
          }
        }
        .normal-child {
          padding: 5px;
        }
      }

      .card-type9 {
        padding: 20px;

        min-height: 500px;
        @media #{$sp} {
          min-height: unset;
        }

        .card__box--ttl {
          margin-bottom: 20px;
          min-height: 76px;
          background: transparent
            linear-gradient(90deg, #111111 0%, #343434 100%) 0% 0% no-repeat
            padding-box;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .container {
          .card-detail {
            display: grid;
            grid-template-columns: 120px auto;
          }
          .credit-card02 {
            margin-bottom: 20px;
            img {
              max-width: 100%;
              object-fit: contain;
            }
          }
          .ttl-quaternary {
            margin-left: 20px;
            font-size: 14px;
          }
        }
      }
    }
    @media #{$sp} {
      .ttl-secondary {
        font-size: 24px;
      }
      .card-list {
        grid-template-columns: 1fr;
      }
    }
  }

  .section-quinary {
    background: #eeeeee;
    .ttl-tertiary {
      text-align: center;
      font-size: 16px;
      color: #0297b5;
    }
    .ttl-quaternary {
      text-align: center;
      font-weight: normal;
      font-size: 20px;
    }

    .card-list {
      display: grid;
      grid-template-columns: 1.5fr 1fr;
      gap: 35px;

      .card-list-head {
        padding: 20px;
        font-size: 18px;
        color: #fff;
        font-weight: bold;
        text-align: center;
        border-radius: 3px;
        margin-bottom: 20px;
        &.left {
          background-color: #24a4a4;
        }
        &.right {
          background-color: #0297b5;
        }
      }

      .card-list-grid {
        display: grid;
        text-align: center;
        &.left {
          grid-template-columns: repeat(3, 1fr);
          gap: 30px;
        }
        &.right {
          grid-template-columns: repeat(2, 1fr);
          gap: 30px;
        }
        .card-detail {
          display: flex;
          flex-direction: column;
          gap: 15px;
          .card-head {
            font-size: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 75px;
          }
          img {
            max-width: 100%;
            object-fit: cover;
          }
          .custom-check-box-label {
            font-size: 15px;
            font-weight: bold;
          }
        }
      }
    }
    .btn-container {
      margin-top: 50px;
      .bondi_blue_outline_btn {
        max-width: 384px;
      }
    }
    .banner-btn {
      max-width: 1000px;
      height: 200px;
      margin: auto;
      box-shadow: 0px 3px 20px #00000029;
      border-radius: 3px;
      margin-top: 50px;
      display: grid;
      grid-template-columns: 4fr 1fr;
      .btn-col {
        background: transparent
          linear-gradient(90deg, #0297b5 0%, #38beb3 73%, #53d2b2 100%) 0% 0%
          no-repeat padding-box;
        border-radius: 0px 3px 3px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 32px;
      }
      .content-col {
        display: grid;
        background: #fff;
        grid-template-columns: 1fr 3fr;

        .img-content {
          padding: 20px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-end;
        }

        .text-content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          color: #0297b5;
          .ttl-quinary {
            font-size: 16px;
          }
          .ttl-main {
            font-size: 32px;
          }
        }
      }
    }
    @media #{$sp} {
      .card-list {
        grid-template-columns: 1fr;
        .card-list-head {
          font-size: 16px !important;
        }
        .card-head {
          font-size: 13px !important;
        }

        .card-list-grid {
          &.left {
            grid-template-columns: repeat(2, 1fr);
          }
          &.right {
            grid-template-columns: repeat(1fr);
          }
          .custom-check-box-label {
            font-size: 13px;
          }
        }
      }
      .banner-btn {
        grid-template-columns: 4fr 1fr;
        .btn-col {
          font-size: 12px !important;
        }
        .content-col {
          grid-template-columns: 1fr;
          padding: 20px;
        }
        .img-content {
          display: none !important;
        }
        .ttl-quinary {
          font-size: 13px !important;
        }
        .ttl-main {
          font-size: 18px !important;
        }
        .arrow-svg {
          width: 12px;
          height: 10px;
        }
      }
    }
  }

  .section-senary {
    background: #007477;
    color: #fff;
    text-align: center;

    .ttl-tertiary {
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 5px;
    }
    .ttl-quaternary {
      font-size: 16px;
    }
    .ttl-primary {
      width: fit-content;
      margin: auto;
      &::after {
        content: "";
        width: 100%;
        height: 20px;
        display: block;
        background-color: #0497b5;
        margin-top: -20px;
      }
    }
    .senary-content {
      display: grid;
      grid-template-columns: 1fr 1.75fr;
      margin-top: 50px;
    }

    .content-img {
      max-width: 400px;
      position: relative;
      margin-right: 30px;
      img {
        max-width: 100%;
        object-fit: cover;
        &.img-bot {
          position: absolute;
          bottom: -30px;
          right: 20px;
        }
        &.img-top {
          position: relative;
          z-index: 10;
          box-shadow: 3px 3px 2px #00000029;
          border: 1px solid #707070;
        }
      }
      @media #{$sp} {
        margin-right: 0;
      }
    }

    .content-detail {
      text-align: start;
      .content-head {
        font-size: 20px;
        font-weight: bold;
      }
      p {
        margin-top: 30px;
        font-size: 16px;
      }
    }
    .btn-container {
      margin-top: 80px;
    }

    @media #{$sp} {
      .ttl-primary {
        font-size: 21px;
        &::after {
          height: 10px;
          margin-top: -10px;
        }
      }
      .senary-content {
        grid-template-columns: 1fr;
      }
      .content-img {
        margin-bottom: 50px;
      }
      .btn-container {
        margin-top: 30px;
      }
    }
  }

  .section-septenary {
    .ttl-quaternary {
      text-align: center;
      font-size: 20px;
      font-weight: normal;
    }

    .card-list-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 40px;

      .card-header {
        padding: 20px;
        color: #fff;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        &.left {
          background: #0297b5;
        }
        &.right {
          background: #24a4a4;
        }
      }

      .card-list {
        width: 100%;
        padding: 20px;
        .card {
          margin-bottom: 20px;
          display: grid;
          grid-template-columns: 1fr 2fr;
          .card-img {
            aspect-ratio: 1;
            height: 100%;
            object-fit: cover;
          }
          .card-content {
            box-shadow: 0px 3px 20px #00000029;
            border-radius: 3px;
            padding: 20px;
            color: #0297b5;
            font-weight: bold;
            .content-index {
              font-size: 15px;
            }
            .content-subhead {
              margin-top: 15px;
              font-size: 18px;
            }
            .content-mainhead {
              font-size: 22.5px;
              width: fit-content;
              &::after {
                content: "";
                width: 100%;
                height: 12px;
                background: #ffff01;
                display: block;
                margin-top: -15px;
              }
            }
          }
        }
      }
    }
    @media #{$sp} {
      .card-list-grid {
        grid-template-columns: 1fr;
        .card-list {
          padding: 7.5px;
          .card {
            grid-template-columns: 1fr 2.5fr;
            .card-content {
              padding: 10px;
              .content-index {
                font-size: 11px;
              }
              .content-subhead {
                margin-top: 10px;
                font-size: 12px;
              }
              .content-mainhead {
                font-size: 15px;
                width: fit-content;
                &::after {
                  content: "";
                  height: 5px;
                  background: #ffff01;
                  display: block;
                  margin-top: -10px;
                }
              }
            }
          }
        }
      }
    }
  }

  .section-octonary {
    text-align: center;
    .ttl-tertiary {
      &.small {
        font-size: 20px !important;
        font-weight: 400;
        line-height: 1.75;
        @media #{$sp} {
          font-size: 16px !important;
          line-height: 25px;
        }
      }
    }
  }

  .section-subinfo {
    .containers {
      padding: 8px 0;
    }
    @media #{$sp} {
      .containers {
        padding: 10px;
      }
    }
    background: #797979;
    color: #fff;
    font-size: 13px;
    text-align: left;
  }
}
