.smaller_companies {
  margin: auto;
  padding: 133px 0 0px;
  @media #{$sp} {
    padding: 50px 0 0;
  }

  // ===========START SECTIONS==========
  .section-welcome {
    padding: 133px 0 133px 0;
    text-align: center;
    position: relative;

    .slick-slider {
      .slick-list {
        height: 100%;

        .slick-track {
          height: 100%;

          img {
            height: 100%;
          }
        }
      }
    }

    &__banner {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      overflow: hidden;
      background: linear-gradient(114deg, #343434 0%, #486799 100%) 0% 0%
        no-repeat padding-box;

      img {
        position: static;
        transform: none;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    &__inner {
      display: inline-block;
      background: $primary-color;
      transform: skewX(-15deg);
      padding: 0px 20px;

      .ttl-tertiary {
        transform: skewX(15deg);
        color: #ffffff;
        margin-bottom: 0;

        strong {
          color: $yellow-color;
        }
      }
    }

    &__title {
      margin-top: 30px;
      margin-bottom: 56px;
      color: #ffffff;

      .ttl-primary {
        margin-bottom: 0;
      }
    }
  }

  .section-primary {
    text-align: center;
    padding: 60px 120px 70px;

    @media #{$sp} {
      padding: 35px 15px;
    }

    .section-primary-wrapper {
      .containers {
        max-width: unset;
        padding: 0;

        .card-list {
          display: flex;
          flex-wrap: wrap;
          column-gap: 30px;
          row-gap: 20px;
          max-width: 1200px;
          margin: auto;

          @media #{$tab} {
            display: grid;
            grid-template-columns: repeat(2, minmax(auto, 380px));
            gap: 30px;
          }

          @media #{$sp} {
            grid-template-columns: auto;
          }

          li {
            flex-basis: calc(33.33% - 60px);
            max-width: 380px;

            @media #{$sp} {
              max-width: unset;
            }
          }
        }
      }
    }

    .ttl-primary {
      font-size: 32px;
      margin-bottom: 61px;
    }

    .ttl-quaternary {
      font-size: 20px;
      font-weight: 600;
      margin: 0;
      text-align: center;
      margin-bottom: 30px;
      color: $primary-color;
    }
  }

  .section-secondary {
    text-align: center;
    padding: 90px 120px 70px;
    background-color: #eeeeee;

    @media #{$sp} {
      padding: 35px 15px;
    }

    .notification {
      margin-bottom: 60px;
      box-shadow: 0px 3px 20px #00000029;

      &.primary {
        background-color: #fff;
        padding-bottom: 30px;

        .notification-panel1 {
          .latest {
            background-color: #fff;
            padding: 0 12px;

            .lastest-list {
              justify-content: flex-start;
              margin: auto;
              padding: 0;
            }
          }

          .lastest-list {
            @media #{sp} {
              display: grid;
            }
          }
        }

        .notification-panel2 {
          margin-bottom: 30px;

          .relation {
            border: 1px solid #00aba0;

            .single__ttl {
              padding: 13px 0;
              background-color: #00aba0;
            }

            .card-type13 {
              .bondi_blue_outline_btn {
                margin-bottom: 20px;
              }
            }
          }

          &:last-child {
            margin-bottom: 0;
          }

          &-body {
            .card-list {
              @media #{$sp} {
                display: grid;
                grid-template-rows: repeat(3, auto);
                row-gap: 30px;
              }

              .card-type12 {
                @media #{$sp} {
                  width: 100%;
                  position: relative;

                  &::after {
                    position: absolute;
                    content: "";
                    width: calc(100% + 10px);
                    height: 1px;
                    bottom: -15px;
                    left: 0;
                    background: #ccc;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .section-tertiary {
    padding: 70px 0;
    text-align: center;
    background-color: $green-color;
    color: #ffffff;

    .ttl-sub {
      font-size: 14px;
      font-weight: bold;
      font-family: "Futura";
    }

    .ttl-secondary {
      font-size: 32px;
      margin-bottom: 40px;
    }

    .ttl-tertiary {
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 50px;
    }
  }

  .section-quaternary {
    text-align: center;
    padding: 60px 120px 70px;
    background-color: #f7f7f7;

    @media #{$sp} {
      padding: 35px 15px;
    }

    .ttl-sub {
      font-size: 14px;
      font-weight: bold;
      font-family: "Futura";
      color: $primary-color;
    }

    .ttl-secondary {
      font-size: 32px;
      margin-bottom: 61px;
    }
  }
  // ===========END SECTIONS==========

  .section-primary-wrapper {
    .containers {
      max-width: unset;
      padding: 0;

      .card-list {
        display: grid;
        grid-template-columns: repeat(3, minmax(auto, 380px));
        gap: 30px;
        justify-content: center;

        @media #{$tab} {
          grid-template-columns: auto;
        }
      }
    }
  }
}
