.business-support-loan {
  .rbt-list {
    .rbt-item:nth-child(2) {
      font-size: 11px;
    }

    .rbt-item {
      &:hover {
        background: $orange-color;
      }

      &.active {
        background: transparent
          linear-gradient(90deg, $primary-color 0%, $green-color-2 100%) 0% 0%
          no-repeat padding-box;

        &:hover {
          background: $orange-color;
        }
      }
    }
  }
}

.business-support-loan-page {
  margin: auto;
  // padding: 133px 0 0px;
  // @media #{$sp} {
  //   padding: 50px 0 0;
  // }

  // ===========START SECTIONS==========

  section {
    @media #{$sp} {
      padding: 35px 15px;
    }

    .ttl-primary {
      font-size: 32px;
      margin-bottom: 40px;
      @media #{$sp} {
        font-size: 20px;
        margin-bottom: 20px;
      }
    }

    .ttl-quaternary {
      margin: 0;
      text-align: center;
      margin-bottom: 45px;
      color: $primary-color;

      @media #{$sp} {
        font-size: 16px;
        line-height: 1.75;
        margin-bottom: 20px;
      }
    }
  }

  .section-welcome {
    padding-top: 70px;
    padding-bottom: 40px;
    min-height: 558px;
    text-align: center;
    position: relative;

    @media #{$sp} {
      min-height: unset;
    }

    .slick-slider {
      .slick-list {
        height: 100%;

        .slick-track {
          height: 100%;

          img {
            height: 100%;
          }
        }
      }
    }

    &-info {
      display: flex;
      align-items: center;
      max-width: 1200px;
      margin: auto;

      @media #{$sp} {
        display: block;
      }

      &-left {
        width: 50%;
        text-align: left;
        @media #{$sp} {
          width: 100%;
          text-align: center;
        }
      }

      &-right {
        width: 50%;
        @media #{$sp} {
          width: 100%;
        }

        .section-welcome-right__img {
          position: relative;
          height: 413px;
          width: 618px;

          @media #{$sp} {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background-color: #23a4a4;
          }

          img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
          }
        }
      }
    }

    &__banner {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      overflow: hidden;
      background: $primary-color;

      img {
        position: static;
        transform: none;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    &__inner {
      display: inline-block;
      background: #014a58;
      transform: skewX(-15deg);
      padding: 0px 20px;

      @media #{$sp} {
        padding: 0px 10px;
      }

      .ttl-tertiary {
        transform: skewX(15deg);
        color: #ffffff;
        margin-bottom: 0;
      }
    }

    &__title {
      margin: 20px 0;
      color: #ffffff;

      .ttl-primary {
        font-size: 42px;
        margin-bottom: 0;
        text-align: left;
        text-shadow: 0px 0px 20px #05172c8d;

        @media #{$sp} {
          text-align: center;
          font-size: 30px;
          line-height: 1.75;
        }
      }
    }

    &__desc {
      margin-bottom: 30px;
      .ttl-quaternary {
        text-align: left;
        font-size: 24px;
        color: #fff;
        @media #{$sp} {
          text-align: center;
          font-size: 16px;
          line-height: 1.75;
        }
      }
    }

    &__act {
      .act-more {
        margin-left: 0;
        position: relative;

        @media #{$sp} {
          margin: auto;
        }

        &-tooltip {
          position: absolute;
          top: -68px;
          left: calc(50% - 87px);
          width: auto;
          height: auto;

          &__content {
            position: relative;
            width: fit-content;
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 25px;
            background-color: #fff;
            border-radius: 3px;
            color: $orange-color;
            padding: 10px 20px;
            display: flex;
            align-items: center;
            justify-content: center;

            &::before {
              position: absolute;
              content: "\A";
              top: calc(100% - 1px);
              left: calc(50% - 15px);
              width: 0;
              height: 0;
              border-left: 15px solid transparent;
              border-right: 15px solid transparent;
              border-top: 10px solid #fff;
            }
          }
        }
      }
    }

    .btn-action {
      display: inline-flex;
      gap: 20px;
      .act-more {
        margin: auto;
        position: relative;
        white-space: nowrap;
        @media #{$pc} {
          padding: 14px 64px 14px 48px;
        }

        @media #{$sp} {
          max-width: unset;
          padding-right: 25px;

          &::before {
            right: 3vw;
          }
        }

        &-tooltip {
          position: absolute;
          width: 100%;
          top: -65px;
          white-space: nowrap;
          left: 50%;
          transform: translateX(-50%);

          @media #{$sp} {
            width: auto;
          }

          &__content {
            position: relative;
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 25px;
            background-color: #fff;
            border-radius: 3px;
            color: $orange-color;
            padding: 10px 20px;

            display: flex;
            align-items: center;
            justify-content: center;

            &::before {
              position: absolute;
              content: "\A";
              top: calc(100% - 1px);
              left: calc(50% - 15px);
              width: 0;
              height: 0;
              border-left: 15px solid transparent;
              border-right: 15px solid transparent;
              border-top: 10px solid #fff;
            }
          }
        }
      }
    }
  }

  .section-card-support {
    background: #343434;
    padding: 70px 170px;
    @media #{$sp} {
      padding: 30px 15px;
    }

    .ttl-secondary {
      color: #fff;
      font-size: 28px;
      @media #{$sp} {
        font-size: 20px;
        line-height: 1.75;
      }
    }

    .card-support-list {
      max-width: 1200px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
      margin: auto;

      @media #{$sp} {
        grid-template-columns: auto;
      }

      .card-support-detail {
        display: grid;
        gap: 20px;
        grid-template-columns: 42% 54%;
        background: #fff;
        border-radius: 3px;
        color: #000;
        padding: 30px;

        @media #{$sp} {
          grid-template-columns: auto;
        }

        .card-content {
          @media #{$sp} {
            text-align: center;
          }

          .ttl-quaternary {
            margin-bottom: 20px;
            color: #000;
          }
        }

        a {
          width: 100%;
          margin: auto;
        }
      }
    }
  }

  .section-primary {
    text-align: center;
    padding: 70px 0;
    max-width: 1200px;
    margin: auto;

    @media #{$sp} {
      padding: 25px 15px;
    }
    .ttl-primary {
      @media #{$sp} {
        font-size: 20px;
        line-height: 1.75;
      }
    }

    &__description {
      font-size: 20px;
      @media #{$sp} {
        font-size: 14px;
        text-align: left;
      }
    }

    &__flow {
      margin-top: 40px;
      .flow-list {
        text-align: left;
        padding: 0 30px;
      }
    }

    &__notice {
      box-shadow: 0px 3px 20px #0000001c;
      border-radius: 3px;
      padding: 40px 30px;
      max-width: 70%;
      margin: auto;
      margin-top: 32px;

      @media #{$sp} {
        max-width: 100%;
        padding: 30px 15px;
      }

      .ttl-quaternary {
        font-size: 20px;
        margin-bottom: 25px;
      }

      .notice-list {
        display: grid;
        width: fit-content;
        gap: 10px;
        text-align: left;
        margin: auto;
      }
    }
  }

  .section-secondary {
    text-align: center;
    padding: 90px 120px 70px;
    background-color: #eeeeee;

    @media #{$sp} {
      padding: 35px 15px;
    }

    .notification-primary {
      padding-bottom: 30px;
      margin-bottom: 60px;
      background-color: #fff;
      box-shadow: 0px 3px 20px #00000029;

      .notification-panel2 {
        .card-list {
          padding: 0 30px;
          margin-bottom: 30px;

          @media #{$sp} {
            flex-direction: column;
            padding: 0 10px;
          }
        }
      }
    }

    .notification-secondary {
      box-shadow: 0px 3px 20px #00000029;

      .notification-panel1 {
        margin-bottom: 60px;
      }
      .bondi_blue_outline_btn {
        font-weight: 700;
        &:hover {
          color: $white-color;
        }
      }
    }

    .notification-tertiary {
      box-shadow: 0px 3px 20px #00000029;

      .notification-panel1 {
        &-body {
          padding: 0;
          margin-bottom: 0;

          .card-list {
            padding: 0;
            background-color: #fff;

            @media #{$sp} {
              flex-direction: column;
            }
          }
        }
        .bondi_blue_outline_btn {
          margin-top: 20px;
          max-width: 522px;
          font-weight: 700;
          &:hover {
            color: $white-color;
          }
        }
      }
    }
  }

  .section-tertiary {
    padding: 70px 0;
    text-align: center;
    background-color: $green-color;
    color: #ffffff;

    .ttl-sub {
      font-size: 14px;
      font-weight: bold;
      font-family: "Futura";
    }

    .ttl-secondary {
      font-size: 32px;
      margin-bottom: 40px;
    }

    .ttl-tertiary {
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 50px;
    }
  }

  .section-quaternary {
    text-align: center;
    padding: 60px 120px 70px;
    background-color: #f7f7f7;

    @media #{$sp} {
      padding: 35px 15px;
    }

    .ttl-sub {
      font-size: 14px;
      font-weight: bold;
      font-family: "Futura";
      color: $primary-color;
    }

    .ttl-secondary {
      font-size: 32px;
      margin-bottom: 61px;
    }
  }

  .section-contact {
    .ttl-notice {
      font-family: "Futura";
    }

    @media #{$sp} {
      padding: 35px 0;
    }
    .card-type22 {
      .useful-wp {
        .containers {
          .card {
            .card__box {
              .card__box--ttl {
                @media #{$sp} {
                  font-size: 16px;
                  line-height: 1.75;
                }
              }

              .blue_gradient_btn {
                @media #{$sp} {
                  max-width: 85%;
                }
              }
            }
          }
        }
      }
    }
  }

  .section-financing {
    padding: 70px 0;
    background: #f5f5f5;

    .ttl-primary {
      @media #{$sp} {
        font-size: 20px;
        line-height: 1.75;
      }
    }

    ul li a:after {
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      right: -15px;
      border-style: solid;
      border-width: 15px 0 15px 15px;
      border-color: transparent transparent transparent #ccc;
      z-index: 10;
    }

    .flow-container {
      max-width: 1200px;
      margin: auto;
      margin-bottom: 60px;
      display: grid;
      grid-template-columns: 31% 25% 25% 19%;
      box-shadow: 0 3px 20px #00000029;
      background: $white-color;

      @media #{$sp} {
        margin-bottom: 30px;
        grid-template-columns: auto;
        gap: 10px;
      }

      .flow-item {
        position: relative;
        display: inline-block;
        padding-right: 24px;
        padding-left: 0;
        filter: drop-shadow(10px 0px 4px #00000029);

        @media #{$sp} {
          padding-right: 0;
          filter: drop-shadow(0 10px 4px #00000029);
        }

        &:last-child {
          padding: 0;
          .flow-item-detail {
            clip-path: unset;
          }
        }

        &-detail {
          position: relative;
          padding: 30px 60px 30px 20px;
          height: 100%;
          text-align: center;
          display: flex;
          flex-direction: column;
          background: $white-color;
          clip-path: polygon(
            0 0,
            calc(100% - 2em) 0,
            100% 50%,
            calc(100% - 2em) 100%,
            0 100%,
            0 0
          );

          @media #{$sp} {
            padding: 20px 15px 30px 15px;
            clip-path: polygon(50% 100%, 0% 85%, 0% 0%, 100% 0%, 100% 85%);
          }

          .flow-index {
            color: $white-color;
            font-family: "Futura";
            margin: auto;
            text-align: center;
            position: relative;
            font-size: 34px;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: $primary-color;

            @media #{$sp} {
              width: 30px;
              height: 30px;
              font-size: 16px;
            }
          }

          .flow-content {
            font-size: 16px;
            font-weight: bold;
            margin-top: 30px;
            line-height: 1.5;
            flex-grow: 1;

            @media #{$sp} {
              font-size: 9px;
              margin-top: 8px;
            }
          }
        }

        &:first-child {
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
        }

        &:last-child {
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
          clip-path: unset;

          .flow-item-detail {
            padding: 30px 35px 30px 30px;

            @media #{$sp} {
              padding: 20px 30px 30px 30px;
            }
          }
          .flow-item-detail::after {
            display: none;
          }
        }
      }
    }

    @media #{$sp} {
      padding: 30px 15px;
    }
  }

  .section-question-and-answer {
    background-color: white;
  }

  .section-loan-conditions {
    padding: 40px 0;
    .external-list {
      display: grid;
      gap: 10px;
      margin-bottom: 40px;
      .external-item {
        &-link {
          display: flex;
          gap: 10px;
          align-items: center;
        }
      }
    }

    .loan-condition-list {
      margin-bottom: 8px;
      .loan-condition-title {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 24px;
      }

      .loan-condition-item {
        font-size: 13px;
      }
    }
  }

  // ===========END SECTIONS==========

  .section-primary__wrapper {
    .containers {
      max-width: unset;
      padding: 0;
      margin-top: 40px;

      .card-list {
        display: grid;
        grid-template-columns: repeat(3, minmax(auto, 380px));
        gap: 30px;
        justify-content: center;
        a.card {
          transition: all 0.3s;
          .arrow-down {
            transition: all 0.3s;
          }
          &:hover {
            opacity: 1;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
            .arrow-down {
              top: 15px;
            }
          }
        }
        .card-type6 {
          .ttl-quaternary-container {
            margin-bottom: 0;
            .ttl-quaternary {
              @media #{$sp} {
                font-size: 16px;
              }
            }
          }
        }

        .card-type10 {
          padding: 0;
          a.card-type10-container {
            padding: 35px 30px 30px;
            transition: all 0.3s;
            .bondi_blue_outline_btn {
              font-weight: 700;
            }
            &:hover {
              opacity: 1;
              .bondi_blue_outline_btn {
                color: $white-color;
                background-color: $blue-color;
                &::before {
                  border-top: 3px solid $white-color;
                  border-right: 3px solid $white-color;
                }
              }
            }
          }
        }

        @media #{$tab} {
          grid-template-columns: auto;
        }
      }
    }
  }
}
