.concur_expense-page {
  section {
    .ttl-secondary {
      font-size: 16px;
      font-weight: bold;
      color: $primary-color;
      margin-bottom: 25px;
      @media #{$sp} {
        margin-bottom: 15px;
      }
    }

    .ttl-primary {
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 40px;
      span {
        font-size: 15px;
      }
      @media #{$sp} {
        font-size: 20px;
        line-height: 1.75;
        text-align: center !important;
        margin-bottom: 20px;
      }
    }

    .description {
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 60px;
      text-align: center;
      @media #{$sp} {
        font-size: 16px;
        margin-bottom: 32px;
        text-align: left;
      }
    }

    .ttl-quaternary {
      text-align: center;
      margin-bottom: 70px;
      .font-weight-normal {
        font-weight: normal;
      }
      @media #{$sp} {
        margin-bottom: 30px;
      }
    }
  }

  .section-welcome {
    padding-top: 70px;
    padding-bottom: 40px;
    @media #{$sp} {
      padding: 70px 0;
    }
    text-align: center;
    position: relative;

    .slick-slider {
      .slick-list {
        height: 100%;

        .slick-track {
          height: 100%;

          img {
            height: 100%;
          }
        }
      }
    }

    &__inner {
      display: inline-block;
      background: #111111;
      transform: skewX(-15deg);
      padding: 0px 20px;

      .ttl-tertiary {
        font-size: 21px;
        transform: skewX(15deg);
        color: #ffffff;
        font-weight: bold;
        margin-bottom: 0;

        @media #{$sp} {
          font-size: 16px;
          white-space: pre;
        }
      }
      @media #{$sp} {
        padding: 0px 25px;
      }
    }

    &__banner {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      overflow: hidden;
      background: $orange-color;

      img {
        position: static;
        transform: none;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    &-info {
      display: flex;
      align-items: center;
      max-width: 1200px;
      margin: auto;

      @media #{$sp} {
        display: block;
      }

      &-left {
        width: 50%;
        text-align: left;
        @media #{$sp} {
          width: 100%;
          text-align: center;
          margin-bottom: 20px;
        }
      }

      &-right {
        width: 50%;
        @media #{$sp} {
          width: 100%;
        }

        .section-welcome-right__img {
          position: relative;
          height: 426px;
          width: 712px;

          @media #{$sp} {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
          }

          img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
          }

          .info-list {
            position: absolute;
            bottom: -20px;
            right: 60px;

            .info-item {
              color: $white-color;
              font-size: 16px;
              font-weight: 700;
              background-color: $primary-color;
              padding: 16px 10px 13px 20px;
              border-radius: 3px;
              margin-bottom: 10px;
              text-align: left;
              .special {
                font-size: 24px;
              }
            }
          }

          .sub-note {
            position: absolute;
            bottom: -25px;
            left: 60px;
            font-size: 13px;
            line-height: 22px;
            color: #797979;
          }
        }
      }

      &-right-sp {
        .info-list {
          color: $white-color;
          text-align: left;
          margin: auto;
          width: 85%;
          font-size: 20px;
          font-weight: 700;
          display: grid;
          gap: 20px;
          @media #{$sp} {
            font-size: 14px;
            gap: 10px;
          }

          .info-item {
            padding: 10px 20px;
            background: $primary-color;
            border-radius: 4px;
            @media #{$sp} {
              padding: 10px 20px;
            }
          }
        }

        .sub-note {
          @media #{$sp} {
            width: 85%;
            text-align: left;
            margin: auto;
            margin-top: 25px;
            color: #797979;
            font-size: 13px;
            line-height: 22px;
          }
        }
      }
    }

    &__title {
      margin: 20px 0;
      color: #ffffff;

      .ttl-primary {
        font-size: 42px;
        text-shadow: 0px 0px 20px #05172c8d;
        margin-bottom: 0;
        text-align: left;

        @media #{$sp} {
          font-size: 30px;
          line-height: 1.75;
          text-align: center;
        }
      }
    }

    &__desc {
      margin-bottom: 123px;
      @media #{$sp} {
        margin-bottom: 35px;
      }
      .ttl-quaternary {
        text-align: left;
        font-size: 24px;
        color: #fff;
        text-shadow: 0px 0px 20px #05172c8d;
        @media #{$sp} {
          text-align: center;
          font-size: 16px;
          line-height: 1.75;
        }
      }
    }

    &__act {
      .act-more {
        margin-left: 0;
        position: relative;
        line-height: 31px;
        padding: 18px 80px 20px 70px;
        font-size: 16px;

        @media #{$sp} {
          margin: auto;
        }

        &-tooltip {
          position: absolute;
          top: -68px;
          left: calc(50% - 128.5px);
          width: auto;
          height: auto;

          &__content {
            position: relative;
            width: fit-content;
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 25px;
            background-color: #fff;
            border-radius: 3px;
            color: #111111;
            padding: 10px 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            @media #{$sp} {
              width: 100%;
            }

            &::before {
              position: absolute;
              content: "\A";
              top: calc(100% - 1px);
              left: calc(50% - 15px);
              width: 0;
              height: 0;
              border-left: 15px solid transparent;
              border-right: 15px solid transparent;
              border-top: 10px solid #fff;
            }
          }
        }
      }
    }
  }

  .section-primary {
    padding: 74px 0 70px;

    @media #{$sp} {
      padding: 30px 15px;
    }

    .container {
      @media #{$sp} {
        margin: 0 -15px;
      }
    }

    .concur_expense-introduction {
      display: flex;
      gap: 20px;
      @media #{$sp} {
        flex-direction: column;
      }
      .introduction-list-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .introduction-list-title {
          position: relative;
          color: $white-color;
          font-size: 20px;
          font-weight: 700;
          padding: 25px 100px;
          margin-bottom: 20px;
          line-height: 28px;
          @media #{$sp} {
            text-align: center;
          }
          &::before {
            content: "";
            position: absolute;
            top: 0;
            right: -44px;
            width: 0;
            height: 0;
            border-top: 39px solid transparent;
            border-bottom: 39px solid transparent;

            border-left: 45px solid $primary-color;
            @media #{$sp} {
              content: none;
            }
          }
          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 0;
            border-top: 39px solid transparent;
            border-bottom: 39px solid transparent;

            border-left: 45px solid $white-color;
            @media #{$sp} {
              content: none;
            }
          }
        }
        .introduction-list-content {
          .introduction-context-txt {
            text-align: center;
            font-size: 15px;
            font-weight: 700;
            color: $green-color-2;
          }
          .introduction-context-image {
            img {
              object-fit: contain;
            }
          }
        }
        &.fullsize {
          .introduction-list-title {
            background-color: $primary-color;
            z-index: 4;
          }
          .introduction-list-content {
            padding: 30px 52px 17px;
            box-shadow: 0px 3px 20px #00000029;
            .introduction-context-txt {
              padding-bottom: 39px;
              @media #{$sp} {
                padding-bottom: 20px;
              }
            }
            .introduction-context-image {
              position: relative;
              display: flex;
              flex-direction: column;
              height: 170px;
              img {
                position: absolute;
                width: 112px;
                &:first-child {
                  top: 0;
                  left: 0;
                }
                &:last-child {
                  bottom: 0;
                  right: 0;
                }
              }
            }
          }
        }
        &.double-horizontal {
          .introduction-list-title {
            background-color: $green-color-2;
            padding: 25px 56px 25px 100px;
            z-index: 3;
            @media #{$sp} {
              padding: 25px 0;
            }
            &::before {
              border-left: 45px solid $green-color-2;
            }
          }
          .introduction-list-content {
            display: flex;
            flex-direction: column;
            gap: 20px;
            border-radius: 3px;
            .introduction-content-section {
              display: flex;
              padding: 20px;
              gap: 16px;
              box-shadow: 0px 3px 20px #00000029;
              img {
                width: 129px;
              }
              .introduction-context-txt {
                text-align: left;
              }
              &:nth-child(2) {
                gap: 21px;
                img {
                  width: 67px;
                }
              }
            }
          }
        }
        &.double-vertical {
          .introduction-list-title {
            background-color: $green-color-4;
            padding: 25px 26px 25px 84px;
            z-index: 2;
            @media #{$sp} {
              padding: 25px 0;
            }
            &::before {
              border-left: 45px solid $green-color-4;
            }
          }
          .introduction-list-content {
            display: flex;
            justify-content: center;
            gap: 20px;
            height: 100%;
            border-radius: 3px;
            .introduction-content-section {
              width: 50%;
              display: flex;
              flex-direction: column;
              align-items: center;
              padding: 60px 20px 0;
              gap: 18px;
              box-shadow: 0px 3px 20px #00000029;
              @media #{$sp} {
                padding: 25px 0;
              }
              img {
                width: 86px;
              }
              &:nth-child(2) {
                img {
                  width: 67px;
                }
              }
            }
          }
          &.bg-2 {
            .introduction-list-title {
              background-color: $green-color-1;
              z-index: 1;
              &::before {
                border-left: 45px solid $green-color-1;
              }
            }
          }
        }
        &:first-child {
          .introduction-list-title {
            &::after {
              content: none;
            }
          }
        }
        &:last-child {
          .introduction-list-title {
            &::before {
              content: none;
            }
          }
        }
      }
    }
  }

  .section-secondary {
    padding: 70px 0 100px;
    .containers {
      padding: 30px;
    }
    .ttl-primary {
      margin-bottom: 60px;
    }
    @media #{$sp} {
      padding: 0 0 35px;
      .ttl-primary {
        margin-bottom: 40px;
      }
    }

    text-align: center;
    .ttl-quaternary {
      font-size: 20px;
      font-weight: normal;
    }
    .grid-card-containers {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
      @media #{$sp} {
        gap: 50px;
      }

      .card {
        .card-head {
          position: absolute;
          top: -20px;
          left: 50%;
          transform: translateX(-50%);
          background: transparent
            linear-gradient(90deg, #111111 0%, #343434 100%) 0% 0% no-repeat
            padding-box;
          width: 200px;
          height: 40px;
          border-radius: 24px;
          color: #fff;
          line-height: 40px;
          font-size: 16px;
          font-weight: bold;
        }
        box-shadow: 0px 3px 20px #0000001c;
        border-radius: 3px;
        padding: 30px;
        background: #fff;
        display: flex;
        flex-direction: column;
        position: relative;
        .ttl-head {
          font-size: 20px !important;
          color: #0497b5;
          font-weight: bold;
          margin-bottom: 30px;
        }
        .card-img {
          max-width: 100%;
          object-fit: cover;
          margin-bottom: 20px;
        }
        .ttl-normal {
          font-size: 16px;
          text-align: start;
          margin-bottom: 80px;
        }
        .more-btn {
          position: absolute;
          bottom: 30px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
    @media #{$sp} {
      .grid-card-containers {
        grid-template-columns: 1fr;
        .ttl-normal {
          font-size: 14px !important;
        }
      }
    }
  }

  .section-tertiary {
    color: $white-color;
    background-color: $blue-color-4;
    padding: 70px 0 80px 0;
    .section-tertiary-container {
      margin: auto;
      text-align: center;
      .ttl-primary {
        font-size: 32px;
        margin-bottom: 100px;
        @media #{$sp} {
          font-size: 20px;
          margin-bottom: 130px;
        }
      }
      .act-more {
        margin-left: 0;
        position: relative;
        padding: 14px 64px 14px 48px;
        white-space: nowrap;

        &-tooltip {
          position: absolute;
          width: auto;
          top: -65px;
          white-space: nowrap;
          left: 50%;
          transform: translateX(-50%);
          @media #{$sp} {
            width: 100%;
          }

          &__content {
            position: relative;
            width: fit-content;
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 25px;
            background-color: transparent;
            border-radius: 3px;
            color: $white-color;
            border: 1px solid white;
            padding: 10px 20px;

            display: flex;
            align-items: center;
            justify-content: center;

            @media #{$sp} {
              font-size: 16px;
              white-space: pre-wrap;
              top: -35px;
            }

            &::before {
              bottom: -14px;
              left: calc(50% - 2px);
              position: absolute;
              content: "";
              width: 15px;
              height: 15px;
              background: $blue-color-4;
              border: 1px solid #fff;
              border-top: none;
              border-left: none;
              transform: rotate(45deg) translateX(-50%);
              z-index: 1;
            }
          }
        }

        &-content {
          display: flex;
          justify-content: center;
          align-items: center;
          .act-more-content-img {
            position: relative;
            display: block;
            width: 153px;
            height: 90px;
            margin-bottom: 30px;
            img {
              width: 115px;
              height: 100%;
              &.primary-img {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
              }
              &.secondary-img {
                position: absolute;
                bottom: -10px;
                right: 0;
                z-index: 1;
              }
            }
          }
          .act-more-content-btn {
            height: auto;
            a {
              padding: 18px 72px 20px;
            }
            @media #{$sp} {
              width: 100%;
              a {
                font-size: 14px;
                padding: 13px 35px;
              }
            }
          }

          @media #{$sp} {
            flex-direction: column;
          }
        }

        @media #{$sp} {
          padding: 0;
        }
      }
    }
    @media #{$sp} {
      padding: 50px 15px;
    }
  }

  .section-quaternary {
    padding: 85px 0 70px;

    @media #{$sp} {
      padding: 35px 15px;
    }

    .container {
      @media #{$sp} {
        margin: 0 -15px;
      }
    }

    .saison-feature-list {
      display: grid;
      gap: 40px;
      .card-type25 {
        padding: 50px 78px 57px;
        @media #{$sp} {
          gap: 20px;
          padding: 35px 15px;
        }
        .card-heading {
          .card-issue-title {
            color: #111111;
          }
          .card-index {
            @media #{$sp} {
              width: auto;
            }
          }
        }
        .card-solution-title {
          margin: 32px 0 54px;
          @media #{$sp} {
            margin: 32px 0;
          }
        }
        .card-solution-content__text {
          font-size: 16px;
          margin-bottom: 40px;
          padding-top: 0;
          text-align: left;
        }
        li {
          width: 100%;
          box-shadow: 0px 3px 20px #00000029;
          background-color: $white-color;
          transition: all 0.3s;
          .card {
            display: flex;
            align-items: center;
            text-align: left;
            gap: 30px;
            padding: 36px 30px;
            .preferential-service-img {
              display: flex;
              width: 100%;
              gap: 0;
            }
            .preferential-service-description {
              font-size: 20px;
              font-weight: 700;
              color: $primary-color;
              .title {
                line-height: 27px;
              }
              @media #{$sp} {
                font-size: 16px;
              }
            }
            img {
              width: 120px;
              height: 120px;
            }
            @media #{$sp} {
              gap: 10px;
              padding: 15px;
            }
          }
          &:hover {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
            a {
              opacity: 1;
            }
          }
          @media #{$sp} {
            max-width: 100%;
          }
        }
        .concur-expense-accountant {
          padding: 40px 22px;
          background-color: $white-color;
          .concur-expense-accountant-title {
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 40px;
          }
          .concur-expense-accountant-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
            .accountant-section {
              position: relative;
              border-radius: 3px;
              border: 2px solid $primary-color;
              .accountant-section-title {
                color: $white-color;
                font-size: 20px;
                font-weight: 700;
                padding: 19px 0 22px;
                background-color: $primary-color;
              }
              .accountant-section-content {
                display: flex;
                flex-direction: column;
                padding: 30px 35px 28px 59px;
                li {
                  font-size: 16px;
                  box-shadow: none;
                  text-align: left;
                }
                @media #{$sp} {
                  padding: 20px 20px 38px;
                }
              }
              &.section-2 {
                border: 2px solid $green-color-2;
                .accountant-section-title {
                  background-color: $green-color-2;
                }
                .accountant-section-content {
                  padding: 30px 35px 28px 57px;
                  @media #{$sp} {
                    padding: 20px 20px 38px;
                  }
                  svg {
                    circle {
                      fill: $green-color-2;
                    }
                  }
                }
                &::before {
                  border-left: 35px solid $green-color-2;
                  @media #{$sp} {
                    border-left: 15px solid transparent;
                    border-top: 30px solid $green-color-2;
                  }
                }
              }
              &.section-3 {
                border: 2px solid $green-color-1;
                .accountant-section-title {
                  background-color: $green-color-1;
                }
                .accountant-section-content {
                  padding: 30px 35px 28px;
                  @media #{$sp} {
                    padding: 20px 20px 38px;
                  }
                  svg {
                    circle {
                      fill: $green-color-1;
                    }
                  }
                }
                &::before {
                  content: none;
                }
              }
              &::before {
                content: "";
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: -28px;
                width: 0;
                height: 0;
                border-top: 20px solid transparent;
                border-bottom: 20px solid transparent;
                border-left: 35px solid $primary-color;
                z-index: 1;
                @media #{$sp} {
                  border-left: 15px solid transparent;
                  border-right: 15px solid transparent;
                  border-top: 30px solid $primary-color;
                  top: calc(100% - 10px);
                  left: 50%;
                  transform: translateX(-50%);
                }
              }
            }
            @media #{$sp} {
              grid-template-columns: repeat(1, 1fr);
            }
          }
        }
        .expense-black-box {
          padding: 30px;
          background-color: $white-color;
          display: flex;
          gap: 54px;
          @media #{$sp} {
            flex-direction: column;
          }
          .expense-black-box-img {
            position: relative;
            width: 30%;
            height: 250px;
            @media #{$sp} {
              width: 100%;
            }
            img {
              position: absolute;
              &:first-child {
                width: 211px;
                top: 0;
                left: 0;
                z-index: 1;
              }
              &:last-child {
                width: 196px;
                bottom: 0;
                right: 0;
              }
            }
          }
          .expense-black-box-content {
            width: 70%;
            @media #{$sp} {
              width: 100%;
            }
            .content-title {
              color: $white-color;
              font-size: 16px;
              font-weight: 700;
              padding: 18px 0;
              background-color: $orange-color;
              border-radius: 3px;
              margin-bottom: 19px;
            }
            .content-list {
              display: grid;
              grid-template-columns: repeat(3, 1fr);
              gap: 10px;
              @media #{$sp} {
                grid-template-columns: repeat(1, 1fr);
              }
              li {
                color: $orange-color;
                font-size: 16px;
                font-weight: 700;
                line-height: 25px;
                padding: 18px 12px 18px 16px;
                border: 1px solid $orange-color;
                border-radius: 3px;
                box-shadow: none;
              }
            }
          }
        }
        &:nth-child(3) {
          padding: 50px 29px 59px 50px;
          @media #{$sp} {
            padding: 35px 15px;
          }
        }
      }
      &-description {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        line-height: 30px;
        div {
          text-align: left;
        }
        .title {
          font-size: 20px;
          font-weight: bold;
          color: $primary-color;
        }
        .muted {
          font-size: 15px;
        }
        .special {
          font-size: 23px;
          font-weight: bold;
        }
      }
    }
  }

  .section-flow {
    padding: 74px 0 70px 0;
    background-color: #f5f5f5;
    .flow-container {
      display: grid;
      grid-template-columns: 27% 27% 27% auto;
      box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1607843137254902);
      background: #fff;

      @media #{$sp} {
        grid-template-columns: auto;
        gap: 20px;
      }

      .flow-item {
        position: relative;
        display: inline-block;
        padding-right: 24px;
        padding-left: 0;
        filter: drop-shadow(10px 0px 4px #00000029);

        @media #{$sp} {
          padding-right: 0;
          filter: drop-shadow(0 10px 4px #00000029);
        }

        &.flow-2 {
          .ttl-tertiary {
            margin-bottom: 13px;
          }
          img {
            width: 76px;
            margin-bottom: 10px;
          }
        }
        &.flow-3 {
          .ttl-tertiary {
            margin-bottom: 15px;
          }
          img {
            width: 74px;
            margin-bottom: 23px;
          }
        }
        &.flow-4 {
          .ttl-tertiary {
            margin-bottom: 28px;
          }
          img {
            width: 79px;
            margin-bottom: 25px;
          }
        }

        &:last-child {
          padding: 0;
          .flow-item-detail {
            clip-path: unset;
          }
        }

        &-detail {
          position: relative;
          padding: 30px 60px 30px 0px;
          height: 100%;

          text-align: center;
          display: flex;
          flex-direction: column;
          background: $white-color;
          clip-path: polygon(
            0 0,
            calc(100% - 2em) 0,
            100% 50%,
            calc(100% - 2em) 100%,
            0 100%,
            0 0
          );

          .ttl-tertiary {
            font-size: 16px;
            margin-bottom: 20px;
          }

          .flow-item-desc {
            font-size: 16px;
            text-align: left;
          }

          @media #{$sp} {
            padding: 15px 15px 55px 15px;
            clip-path: polygon(50% 100%, 0% 85%, 0% 0%, 100% 0%, 100% 85%);
          }

          img {
            width: 98px;
            margin-bottom: 15px;
          }
        }

        &-desc {
          flex-grow: 1;

          @media #{$sp} {
            font-size: 16px;
          }
        }

        &:first-child {
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
          .flow-item-detail {
            padding-left: 30px;
            @media #{$sp} {
              padding: 15px 15px 50px;
            }
          }
        }

        &:last-child {
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
          clip-path: unset;

          .flow-item-detail {
            padding: 30px 23px 30px 0;

            @media #{$sp} {
              padding: 15px;
            }
          }
        }
      }
    }
    .section-more {
      margin-top: 123px;
      .act-more {
        padding: 18px 67px 20px;
        &-tooltip {
          top: -73px;
          @media #{$sp} {
            top: -95px;
          }
        }
      }
      @media #{$sp} {
        margin-top: 140px;
      }
    }
    @media #{$sp} {
      padding: 35px 0;
    }
  }

  .section-usage {
    padding: 74px 0 70px;
    .ttl-primary {
      margin-bottom: 60px;
      @media #{$sp} {
        margin-bottom: 20px;
      }
    }
    .list__wrapper {
      max-width: 780px;
      margin: auto;
      .containers {
        max-width: unset;
        padding: 0;
        margin-top: 40px;

        .card-list {
          display: grid;
          grid-template-columns: repeat(2, minmax(auto, 380px));
          gap: 30px;
          justify-content: center;
          a.card {
            transition: all 0.3s;
            gap: 20px;
            .arrow-down {
              transition: all 0.3s;
            }
            &:hover {
              opacity: 1;
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
              .arrow-down {
                top: 15px;
              }
            }
          }
          .card-type6 {
            .ttl-quaternary-container {
              display: grid;
              margin-bottom: 0;
            }
          }

          .card-type10 {
            box-shadow: 0px 3px 20px #0000001c;
            border-radius: 3px;
            height: 100%;

            .ttl-senary {
              -webkit-line-clamp: unset;
              margin-bottom: 0;
            }
          }

          @media #{$tab} {
            grid-template-columns: repeat(1, 1fr);
          }
        }
        .text-muted {
          text-align: right;
          margin-top: 20px;
        }
      }
      @media #{$sp} {
        max-width: 100%;
      }
    }

    .scene {
      padding: 20px;
      border-radius: 10px;
      background: $primary-color;
      color: $white-color;
      text-align: center;
      display: flex;
      flex-direction: column;

      &.seagreen {
        background-color: #25a5a5;
      }

      &.green {
        background-color: #44b397;
      }

      &-name {
        background: #000;
        border-radius: 25px;
        text-align: center;
        margin-bottom: 0;
      }
      &-desc {
        font-size: 24px;
        font-weight: bold;
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &-cost {
        font-weight: bold;
        color: $yellow-color;
        padding: 45px 0 41px;
        span {
          font-size: 24px;
          &.special {
            font-size: 40px;
            &-1 {
              font-size: 58px;
            }
          }
        }
      }
    }

    .section-more {
      margin-top: 152px;
      .blue_gradient_btn {
        max-width: 500px;
        padding: 18px 102px 20px 72px;
        @media #{$sp} {
          font-size: 12px;
          max-width: 90%;
        }
      }
      .act-more-tooltip {
        top: -76px;
        @media #{$sp} {
          top: -125px;
        }
      }
      @media #{$sp} {
        margin-top: 165px;
      }
    }
    @media #{$sp} {
      padding: 35px 15px;
    }
  }

  .section-contact {
    .blue_gradient_btn {
      white-space: nowrap;
    }
  }

  //============ COMMON SECTION ===========
  .section-more {
    margin-top: 115px;
    @media #{$sp} {
      margin-left: -15px;
      margin-right: -15px;
    }
    .act-more {
      margin: auto;
      position: relative;
      padding: 14px 64px 14px 48px;
      white-space: nowrap;
      &.blue_gradient_btn {
        max-width: 500px;
        @media #{$sp} {
          font-size: 14px;
          max-width: 90%;
        }
      }

      &-tooltip {
        position: absolute;
        width: auto;
        top: -65px;
        white-space: nowrap;
        left: 50%;
        transform: translateX(-50%);

        @media #{$sp} {
          top: -115px;
          width: 100%;
        }

        &__content {
          position: relative;
          width: fit-content;
          font-size: 20px;
          font-weight: 700;
          margin-bottom: 25px;
          background-color: #fff;
          border-radius: 3px;
          border: 1px solid $primary-color;
          color: $primary-color;
          padding: 10px 20px;

          display: flex;
          align-items: center;
          justify-content: center;

          @media #{$sp} {
            width: 100%;
            white-space: pre-wrap;
            font-size: 16px;
            padding: 10px;
          }

          &::before {
            bottom: -14px;
            left: calc(50% - 2px);
            position: absolute;
            content: "";
            width: 15px;
            height: 15px;
            background: $white-color;
            border: 1px solid $blue-color;
            border-top: none;
            border-left: none;
            transform: rotate(45deg) translateX(-50%);
            z-index: 1;
          }
        }
      }
    }
    @media #{$sp} {
      margin-top: 150px;
    }
  }
}
