.cospro {
  .rbt-list {
    .rbt-item {
      &:hover {
        background: $orange-color;
      }

      &.active {
        background: transparent
          linear-gradient(90deg, $primary-color 0%, $green-color-2 100%) 0% 0%
          no-repeat padding-box;

        &:hover {
          background: $orange-color;
        }
      }
    }
  }
}

.cospro-page {
  section {
    &.bg-gray {
      background: $gray-color-9;
      padding: 70px 0;
      @media #{$sp} {
        padding: 35px 0;
      }
    }

    .ttl-secondary {
      font-size: 16px;
      color: $primary-color;
      margin-bottom: 40px;
      text-align: center;

      @media #{$sp} {
        margin-bottom: 15px;
      }
    }

    .ttl-primary {
      font-size: 32px;
      margin-bottom: 40px;
      text-align: center;
      font-weight: bold;

      @media #{$sp} {
        font-size: 20px;
        line-height: 1.75;
        margin-bottom: 20px;
      }
    }

    .ttl-tertiary {
      font-size: 20px;
      text-align: center;
      font-weight: normal;

      &.bold {
        font-weight: bold;
      }

      @media #{$sp} {
        font-size: 14px;
        margin-bottom: 20px;
      }

      a {
        color: $primary-color;
        text-decoration: underline;
        text-underline-offset: 4px;
      }
      @media #{$sp} {
        font-size: 16px;
        text-align: left;
      }
    }
  }

  .section-welcome {
    padding-top: 70px;
    padding-bottom: 40px;
    min-height: 558px;
    text-align: center;
    position: relative;

    .slick-slider {
      .slick-list {
        height: 100%;

        .slick-track {
          height: 100%;

          img {
            height: 100%;
          }
        }
      }
    }

    &-info {
      display: flex;
      align-items: center;
      max-width: 1200px;
      margin: auto;

      @media #{$sp} {
        display: block;
      }

      &-left {
        width: 50%;
        text-align: left;
        @media #{$sp} {
          width: 100%;
          text-align: center;
        }
      }

      &-right {
        width: 50%;
        @media #{$sp} {
          width: 100%;
        }

        .section-welcome-right__img {
          position: relative;
          height: 413px;
          width: 618px;

          @media #{$sp} {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
          }

          img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
          }
          .content-absolute {
            position: absolute;
            z-index: 2;
            color: #fff;
            left: 30%;
            bottom: -30px;
            div {
              font-size: 24px;
              line-height: 27px;
              margin-top: 10px;
              text-align: start;
              background-color: #0297b5;
              padding: 15px 20px;
              font-weight: bold;

              .font-smaller {
                font-size: 16px;
              }
            }
            @media #{$sp} {
              display: none;
            }
          }
        }
      }
    }

    &__banner {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      overflow: hidden;
      background: $primary-color;

      img {
        position: static;
        transform: none;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    &__inner {
      display: inline-block;
      background: #014a58;
      transform: skewX(-15deg);
      padding: 0px 20px;

      @media #{$sp} {
        padding: 0px 10px;
      }

      .ttl-tertiary {
        transform: skewX(15deg);
        color: #ffffff;
        margin-bottom: 0;
      }
    }

    &__title {
      margin: 20px 0;
      color: #ffffff;

      .ttl-primary {
        margin-bottom: 0;
        text-align: left;
        text-shadow: 0px 0px 20px #05172c8d;
        font-size: 42px;

        @media #{$sp} {
          text-align: center;
        }
      }
    }

    &__desc {
      margin-bottom: 123px;
      @media #{$sp} {
        margin-bottom: 30px;
      }
      .ttl-quaternary {
        text-align: left;
        font-size: 24px;
        color: #fff;
        text-shadow: 0px 0px 20px #05172c8d;
        font-weight: 500;
        @media #{$sp} {
          text-align: center;
          font-size: 16px;
          line-height: 1.75;
        }
      }
    }

    &__act {
      .act-more {
        margin-left: 0;
        position: relative;
        width: 310px;

        @media #{$sp} {
          margin: auto;
        }

        &-tooltip {
          position: absolute;
          top: -58px;
          left: 0;
          width: auto;
          height: auto;

          &__content {
            position: relative;
            width: fit-content;
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 25px;
            background-color: #fff;
            border-radius: 3px;
            color: $orange-color;
            padding: 10px 15px;
            width: 310px;
            display: flex;
            align-items: center;
            justify-content: center;

            &::before {
              position: absolute;
              content: "\A";
              top: calc(100% - 1px);
              left: calc(50% - 15px);
              width: 0;
              height: 0;
              border-left: 15px solid transparent;
              border-right: 15px solid transparent;
              border-top: 10px solid #fff;
            }
          }
        }
      }
    }
  }

  .section-secondary {
    .ttl-primary {
      font-size: 32px;
      margin-bottom: 40px;
    }

    @media #{$sp} {
      .ttl-primary {
        font-size: 22px;
      }
    }

    .ttl-tertiary {
      font-size: 16px;
      text-align: center;
      color: #0297b5;
      font-weight: bold;
    }
    .ttl-quaternary {
      text-align: center;
      font-size: 20px;
      font-weight: normal;
      margin-bottom: 40px;
      @media #{$sp} {
        font-size: 16px;
      }
    }
    .font-bold {
      font-weight: bold !important;
    }

    .card-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
      .card {
        background: #fff;
        box-shadow: 0px 3px 20px #0000001c;
        border-radius: 3px;
        padding: 30px;
        h2 {
          color: #0497b5;
          font-size: 20px;
          font-weight: bold;
          text-align: center;
        }
        .grid__card--img {
          margin: 20px 0;
        }
        p {
          font-size: 16px;
        }
        &:hover {
          box-shadow: 0px 3px 20px #00000029;
        }
      }
    }
    @media #{$sp} {
      .ttl-secondary {
        font-size: 24px;
      }
      .card-list {
        grid-template-columns: 1fr;
      }
    }
  }

  .section-octonary {
    .containers {
      padding: 30px;
    }
    .ttl-primary {
      margin-bottom: 80px;
    }
    @media #{$sp} {
      .ttl-primary {
        font-size: 22px;
        margin-bottom: 50px;
      }
    }

    text-align: center;
    .ttl-quaternary {
      font-size: 20px;
      font-weight: normal;
    }
    .grid-card-containers {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
      @media #{$sp} {
        gap: 50px;
      }

      .card {
        .card-head {
          position: absolute;
          top: -20px;
          left: 50%;
          transform: translateX(-50%);
          background: transparent
            linear-gradient(90deg, #111111 0%, #343434 100%) 0% 0% no-repeat
            padding-box;
          width: 200px;
          height: 40px;
          border-radius: 24px;
          color: #fff;
          line-height: 40px;
          font-size: 16px;
          font-weight: bold;
        }
        box-shadow: 0px 3px 20px #0000001c;
        border-radius: 3px;
        padding: 30px;
        background: #fff;
        display: flex;
        flex-direction: column;
        position: relative;
        .ttl-head {
          font-size: 20px !important;
          color: #0497b5;
          font-weight: bold;
          margin-bottom: 30px;
        }
        .card-img {
          max-width: 100%;
          object-fit: cover;
          margin-bottom: 20px;
        }
        .ttl-normal {
          font-size: 16px;
          text-align: start;
          margin-bottom: 80px;
        }
        .more-btn {
          position: absolute;
          bottom: 30px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
    @media #{$sp} {
      .grid-card-containers {
        grid-template-columns: 1fr;
        .ttl-normal {
          font-size: 14px !important;
        }
      }
    }
  }

  .section-quaternary {
    background: #014a58;
    color: #fff;
    text-align: center;
    @media #{$sp} {
      .ttl-primary {
        font-size: 22px;
      }
    }

    .sub-content {
      margin-top: 20px;
      font-size: 14px;
      color: #f5f5f5;
    }
    .tooltip-container {
      padding: 10px 15px;
      border: 1px solid #fff;
      width: fit-content;
      position: relative;
      margin: auto;
      margin-bottom: 30px;
      font-size: 20px;
      font-weight: bold;
      &:after {
        position: absolute;
        content: "";
        width: 15px;
        height: 15px;
        border: 1px solid #fff;
        bottom: -15px;
        left: 50%;
        background: #014a58;
        border-left: none;
        border-top: none;
        transform: rotate(45deg) translateX(-50%);
      }
    }

    .act-more-content {
      display: flex;
      justify-content: center;
      align-items: center;

      @media #{$sp} {
        flex-direction: column;
        gap: 10px;
      }
      .act-more-content-img {
        position: relative;
        display: block;
        width: 153px;
        height: 90px;
        margin-bottom: 30px;
        img {
          width: 115px;
          height: 100%;
          &.primary-img {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
          }
          &.secondary-img {
            position: absolute;
            bottom: -10px;
            right: 0;
            z-index: 1;
          }
        }
      }
      .act-more-content-btn {
        height: auto;
        width: 346px;
        @media #{$sp} {
          width: 100%;
          a {
            font-size: 14px;
            padding: 13px 35px;
          }
        }
      }
    }
  }

  .section-senary {
    h4 {
      &.ttl-tertiary {
        color: #0297b5;
        text-align: center;
        font-size: 16px;
      }
    }
    @media #{$sp} {
      .ttl-primary {
        font-size: 22px;
      }
    }
    .step-container {
      background: #e5f4f8;
      padding: 30px 25px;
      margin-bottom: 40px;
      box-shadow: 0px 3px 20px #00000029;
      border-radius: 3px;

      @media #{$sp} {
        padding: 15px;
      }

      .step-title {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        .badge {
          background: transparent
            linear-gradient(90deg, #111111 0%, #343434 100%) 0% 0% no-repeat
            padding-box;
          border-radius: 24px;
          color: #fff;
          font-size: 16px;
          font-weight: bold;
          padding: 10px 20px;
          min-width: 130px;
          text-align: center;
          @media #{$sp} {
            min-width: 90px;
            padding: 5px 15px;
            font-size: 13px;
          }
        }
        .title {
          font-weight: bold;
          font-size: 20px;
          @media #{$sp} {
            font-size: 16px;
          }
        }
        @media #{$sp} {
          flex-direction: column;
          gap: 15px;
        }
      }

      .step-arrow {
        margin: 30px auto;
        display: flex;
        justify-content: center;
        @media #{$sp} {
          width: 80px;
          height: 30px;
        }
      }

      .ttl-secondary {
        font-size: 24px;
        color: #004097;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        .text-underline {
          width: fit-content;
          word-wrap: normal;
          &::after {
            content: "";
            width: 100%;
            height: 15px;
            display: block;
            background-color: $yellow-color;
            margin-top: -15px;
          }
        }
        @media #{$sp} {
          margin-top: 10px;
          font-size: 15px;
          flex-direction: column;
          .text-underline {
            &::after {
              height: 7.5px;
              margin-top: -7.5px;
            }
          }
        }
      }

      .ttl-quinary {
        margin-bottom: 40px;
      }

      .step-list {
        margin-top: 30px;
        font-weight: bold;
        font-size: 20px;
        @media #{$sp} {
          font-size: 15px;
        }
      }

      .grid-card-containers {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        .card {
          background: #ffffff 0% 0% no-repeat padding-box;
          box-shadow: 0px 3px 20px #00000029;
          border: 1px solid #f5f5f5;
          border-radius: 3px;
          padding: 30px;
          .card-head {
            display: grid;
            grid-template-columns: 1fr 2fr;
            gap: 30px;
            &.type-2 {
              display: unset;
              .card-title {
                text-align: center;
              }
            }
            .card-title {
              color: #0297b5;
              font-size: 20px;
              font-weight: bold;
            }
          }
          .card-description {
            margin-top: 20px;
            .font-bold {
              font-weight: bold;
            }
          }
        }
        .sub-info {
          color: #797979;
          font-size: 13px;
          margin-top: -20px;
        }
        @media #{$sp} {
          .sub-info {
            margin-top: -50px;
          }
          grid-template-columns: 1fr;
          .card-head {
            grid-template-columns: 1fr !important;
            .card-title {
              font-size: 16px !important;
              text-align: center !important;
            }
          }
        }
      }
    }
  }

  .section-septenary {
    background: #f5f5f5 0% 0% no-repeat padding-box;
    .ttl-tertiary {
      color: #0297b5;
      font-size: 16px;
      text-align: center;
    }
    @media #{$sp} {
      .ttl-primary {
        font-size: 21px;
      }
    }
    .notice-board {
      background: #ffffff 0% 0% no-repeat padding-box;
      border: 2px solid #00aba0;
      border-radius: 3px;
      .board-head {
        background: #24a4a4 0% 0% no-repeat padding-box;
        border-radius: 3px 3px 0px 0px;
        padding: 15px;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        color: #fff;
        @media #{$sp} {
          font-size: 15px;
        }
      }
      .board-container {
        padding: 30px;
        display: grid;
        grid-template-columns: 1fr 4fr;
        gap: 10px;

        .float-end {
          float: right;
        }
        .board-content {
          font-weight: bold;
          font-size: 20px;
          &.normal {
            font-size: 13px;
            color: #797979;
            font-weight: normal;
          }
        }
        @media #{$sp} {
          grid-template-columns: 30px auto;
          .board-content {
            font-size: 14px;
            &.normal {
              font-size: 13px;
            }
          }
        }
      }
    }
  }

  .section-quinary {
    .ttl-tertiary {
      color: #0297b5;
      font-size: 16px;
      text-align: center;
    }

    ul li a:after {
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      right: -15px;
      border-style: solid;
      border-width: 15px 0 15px 15px;
      border-color: transparent transparent transparent #ccc;
      z-index: 10;
    }

    .btn-sp-only {
      display: none;
      @media #{$sp} {
        display: block;
        margin-top: -30px;
      }
    }

    .flow-container {
      max-width: 1200px;
      margin: auto;
      margin-bottom: 60px;
      display: grid;
      grid-template-columns: 27% 27% 27% 19%;
      box-shadow: 0 3px 20px #00000029;
      background: $white-color;

      @media #{$sp} {
        grid-template-columns: auto;
        gap: 20px;
      }

      .flow-item {
        position: relative;
        display: inline-block;
        padding-right: 24px;
        padding-left: 0;
        filter: drop-shadow(10px 0px 4px #00000029);

        @media #{$sp} {
          padding-right: 0;
          filter: drop-shadow(0 10px 4px #00000029);
        }

        .ttl-head {
          font-weight: bold;
          margin-bottom: 20px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          @media #{$sp} {
            font-size: 11px;
          }
        }

        .card-img {
          max-width: 50%;
          @media #{$sp} {
            width: auto;
          }
        }

        .bondi_blue_outline_btn {
          padding: 8px 12px;
          width: 100%;
          a {
            font-size: 12px;
            &:after {
              display: none;
            }
          }
          &:hover {
            a {
              color: #fff;
            }
          }
          @media #{$sp} {
            display: none;
          }
        }

        &:last-child {
          padding: 0;
          .flow-item-detail {
            clip-path: unset;
          }
        }

        &-detail {
          position: relative;
          padding: 30px 60px 30px 20px;
          height: 100%;
          text-align: center;
          display: flex;
          flex-direction: column;
          background: $white-color;
          clip-path: polygon(
            0 0,
            calc(100% - 2em) 0,
            100% 50%,
            calc(100% - 2em) 100%,
            0 100%,
            0 0
          );

          @media #{$sp} {
            padding: 15px 15px 55px 15px;
            clip-path: polygon(50% 100%, 0% 85%, 0% 0%, 100% 0%, 100% 85%);
          }

          .flow-content {
            font-size: 16px;
            margin-top: 20px;
            flex-grow: 1;

            @media #{$sp} {
              font-size: 16px;
            }
          }
        }

        &:first-child {
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
        }

        &:last-child {
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
          clip-path: unset;

          .flow-item-detail {
            padding: 30px 35px 30px 30px;

            @media #{$sp} {
              padding: 15px;
            }
          }
          .flow-item-detail::after {
            display: none;
          }
        }
      }
    }

    @media #{$sp} {
      .ttl-primary {
        font-size: 21px;
      }
    }
  }

  .section-contact {
    .blue_gradient_btn {
      &:first-child {
        padding: 12px 20px;
      }
    }
    .ttl-notice {
      @media #{$sp} {
        font-size: 16px;
      }
    }
    .ttl-tertiary {
      font-size: 32px;
      font-weight: bold;

      @media #{$sp} {
        font-size: 20px;
        line-height: 1.75;
        text-align: center;
      }
    }
  }


  .ttl-primary {
    font-size: 32px;
  }
}
