.faq-service_list-page {
  .section-welcome {
    background-image: url("/assets/img/common/lower_visual.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 46px 0 35px;
    text-align: center;

    @media #{$sp} {
      padding: 50px 10px;
    }

    .ttl-primary {
      font-size: 42px;
      margin-bottom: 16px;

      @media #{$sp} {
        font-size: 32px;
      }
    }

    .ttl-tertiary {
      display: inline-block;
      font-size: 20px;

      @media #{$sp} {
        font-size: 16px;
      }
    }
  }

  .section-primary {
    background-color: #F5F5F5;  
    padding: 0;

    .container-800 {
      padding: 70px 0;

      @media #{$sp} {
        padding: 30px 10px;
      }

      .anc01__content {
        .anc01__content-head {
          font-size: 32px;
          text-align: center;
          color: #000000;
          font-weight: bold;
          margin-bottom: 31px;
          margin-right: 10px;

          @media #{$sp} {
            font-size: 22px;
          }
        }
        .anc01__content-detail {
          font-size: 20px;
          text-align: left;
          letter-spacing: 0px;
          color: #000000;

          @media #{$sp} {
            font-size: 16px;
          }

          a {
            color: $blue-color;
            text-decoration: underline;
          }
        }
      }
    }
  }

  .section-secondary {
    .container-800 {
      @media #{$sp} {
        padding: 30px 10px;
      }
    }

    .QA__content {
      padding: 50px 0px;

      @media #{$sp} {
        font-size: 22px;

        padding: 20px 0;
      }

      border-bottom: 0.1px solid #707070;
      .question__content {
        cursor: pointer;
        display: flex;
      }
      .answer__content {
        display: none;
        margin-top: 10px;
      }
      .QA__content-head {
        font-size: 32px;
        color: #0497b5;
        font-weight: 500;
      }
      .QA__content-content {
        color: #333333;
        font-size: 20px;
        margin: 0 15px;
        font-weight: bold;

        @media #{$sp} {
          font-size: 16px;
        }
      }
      .answer__content {
        .QA__content-head {
          color: #000;
          font-weight: bolder;
        }
        .QA__content-content {
          font-weight: normal;
        }
      }
      .arrow-svg {
        transition: transform 0.3s ease;
      }

      .is__open .arrow-svg {
        transform: rotate(180deg);
      }
    }
  }

  .section-tertiary {
    .card-type22 {
      .ttl-tertiary {
        @media #{$sp} {
          font-size: 20px;
        }
      }
    }

    .card__box {
      padding: 40px !important;
      .card__info {
        display: grid;
        grid-template-columns: 1fr 2fr;
        color: #000000;
        margin-left: -15px;

        @media #{$sp} {
          grid-template-columns: 1fr;
        }

        .card__info-content {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          h2 {
            font-weight: bold;
            font-size: 24px;

            @media #{$sp} {
              margin-top: 20px;
              font-size: 18px;
              text-align: center;
            }
          }
          span {
            text-align: left;
            margin-top: 24px;
            letter-spacing: 0px;
            color: #000000;
          }
        }
        .card__info-image {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            max-width: 100%;
            width: 100%;
          }
        }
      }
      .col-right {
        grid-template-columns: 1fr 1.2fr;

        @media #{$sp} {
          grid-template-columns: 1fr;
        }

        .card__info-image {
          img {
            height: 111px;

            @media #{$sp} {
              height: auto;
            }
          }
        }
      }
      .btn-container {
        padding: 0 57px;

        @media #{$sp} {
          padding: 0 10px;
        }

        .blue_gradient_btn {
          margin-top: 35px;

          @media #{$sp} {
            max-width: 100%;
          }
        }
      }
    }
  }
}
