.introduce-page {
  max-width: 1440px;
  margin: auto;
  padding: 140px 0 0px;

  .section-welcome {
    padding: 133px 0 133px 0;
    text-align: center;
    background-color: #f7f7f7;

    .ttl-primary {
      font-size: 42px;
      margin-bottom: 31px;
    }

    .ttl-tertiary {
      font-size: 24px;
    }

    .ttl-quaternary {
      font-size: 20px;
    }
  }

  .section-primary {
    text-align: center;
    padding: 60px 120px 70px;

    .ttl-primary {
      font-size: 32px;
      margin-bottom: 61px;
    }

    .ttl-quaternary {
      font-size: 20px;
      font-weight: 600;
      margin: 0;
      text-align: center;
      margin-bottom: 30px;
    }

    .section-primary-wrapper {
      .containers {
        max-width: unset;
        padding: 0;

        .section-primary-list {
          justify-content: center;
        }
      }
    }
  }

  .section-secondary {
    text-align: center;
    padding: 90px 120px 70px;
    background-color: #eeeeee;

    .notification-primary {
      padding-bottom: 30px;
      margin-bottom: 60px;
      background-color: #fff;

      .notification-panel1 {
        .latest {
          background-color: #fff;
          padding: 0 12px;

          .lastest-list {
            justify-content: flex-start;
            margin: auto;
            padding: 0;
          }
        }
      }

      .notification-panel2 {
        margin-bottom: 30px;

        .relation {
          border: 1px solid #00aba0;

          .single__ttl {
            padding: 13px 0;
            background-color: #00aba0;
          }
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .notification-secondary {
      margin-bottom: 60px;
    }

    .notification-tertiary {
      margin-bottom: 60px;

      .notification-panel1 {
        .card-type13 {
          padding: 0;
          margin-bottom: 60px;

          .sp-reverse {
            .sec__img {
              max-width: 391px;
            }
          }
        }
      }
    }

    .notification-quaterary {
      margin-bottom: 60px;

      .notification-panel1 {
        .card-type13 {
          padding: 0;
          margin-bottom: 60px;

          .sp-reverse {
            .sec_img {
              max-width: 429px;
            }
          }
        }
      }
    }

    .notification-quinary {
      .notification-panel1 {
        .card-type13 {
          padding: 0;
          margin-bottom: 60px;

          .sp-reverse {
            .sec_img {
              max-width: 439px;
            }
          }
        }
      }
    }
  }

  .section-tertiary {
    padding: 70px 0;
    text-align: center;
    background-color: #fff;

    .ttl-secondary {
      font-size: 32px;
      margin-bottom: 31px;
    }

    .ttl-tertiary {
      font-size: 20px;
      font-weight: 400;
    }
  }

  .section-quaternary {
    text-align: center;
    padding: 60px 120px 70px;
    background-color: #f7f7f7;

    .ttl-secondary {
      font-size: 32px;
      margin-bottom: 61px;
    }

  }

  .breadcrumb {
    padding: 0 120px;
    font-size: 14px;

    ul {
      justify-content: flex-start;
    }
  }
}
