.rbt-list {
  .rbt-item {
    &.active {
      background: $orange-gradient;
    }
  }
}
.payment_com-page {
  section {
    .ttl-notice {
      font-size: 13px;
      color: $primary-color;
      margin-bottom: 45px;
    }
    .ttl-primary {
      font-size: 32px;
      span {
        font-size: 15px;
      }
    }
    .ttl-quaternary {
      text-align: center;
      margin-bottom: 70px;
      .font-weight-normal {
        font-weight: normal;
      }
    }
  }

  .section-welcome {
    width: 100%;
    height: 560px;
    background-image: url("/assets/img/common/banner_service.png");
    background-size: cover;
    background-repeat: no-repeat;

    position: relative;
    .section-welcome-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
    }
    .section-welcome-left {
      .title-notice {
        position: relative;
        display: inline-block;
        font-size: 21px;
        font-weight: 700;
        padding: 6px 20px;

        color: $white-color;
        background-color: $blue-color-3;
        transform: skew(-10deg);
        margin-bottom: 15px;
        .title-content {
          line-height: 28px;
          transform: skew(10deg);
          font-size: 21px;
          .yellow-txt {
            color: $yellow-color;
          }
        }
      }
      .ttl-primary {
        color: $white-color;
        font-size: 42px;
        text-align: left;
        margin-bottom: 20px;
        text-shadow: 0px 0px 20px #05172c8d;
      }
      .ttl-tertiary {
        color: $white-color;
        margin-bottom: 105px;
        .special {
          font-size: 28px;
          text-shadow: 0px 0px 20px #05172c8d;
        }
      }
      .btn-action {
        display: inline-flex;
        gap: 20px;
        .act-more {
          margin-left: 0;
          position: relative;
          padding: 14px 64px 14px 48px;
          white-space: nowrap;

          &-tooltip {
            position: absolute;
            width: auto;
            top: -65px;
            width: auto;
            white-space: nowrap;
            left: 50%;
            transform: translateX(-50%);

            &__content {
              position: relative;
              width: fit-content;
              font-size: 14px;
              font-weight: 600;
              margin-bottom: 25px;
              background-color: #fff;
              border-radius: 3px;
              color: $orange-color;
              padding: 10px 20px;

              display: flex;
              align-items: center;
              justify-content: center;

              &::before {
                position: absolute;
                content: "\A";
                top: calc(100% - 1px);
                left: calc(50% - 15px);
                width: 0;
                height: 0;
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
                border-top: 10px solid #fff;
              }
            }
          }
        }
      }
    }
    .section-welcome-right {
      position: relative;
      width: 640px;
      height: 402px;
      background-image: url("/assets/img/common/payment_com_banner.png");
      background-size: contain;
      background-repeat: no-repeat;
      ul {
        position: absolute;
        bottom: -27px;
        right: 0;
        li {
          color: $white-color;
          font-size: 16px;
          font-weight: 700;
          background-color: $green-color-2;
          padding: 10px 20px;
          border-radius: 3px;
          margin-bottom: 10px;
          .special {
            font-size: 24px;
          }
        }
      }
    }
    .info-note {
      position: absolute;
      bottom: -65px;
      right: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      font-size: 13px;
      color: $gray-color-8;
      line-height: 22px;
    }
  }

  .section-primary {
    padding: 74px 0 130px 0;

    img {
      object-fit: contain;
    }
  }

  .section-secondary {
    .section-secondary-content {
      margin: 50px 0 70px 0;
      .card {
        position: relative;
        width: 380px;
        border-radius: 3px;
        box-shadow: 0px 3px 20px #0000001c;
        padding: 32px 30px 30px;
        .black_pill_btn {
          position: absolute;
          display: inline-block;
          border-radius: 24px;
          top: -15px;
          left: 50%;
          transform: translateX(-50%);
        }
        .ttl-quinary {
          font-size: 20px;
          font-weight: bold;
          line-height: 29px;
          text-align: center;
          color: $blue-color;
          .yellow-underline {
            background: linear-gradient(
              180deg,
              rgba(0, 0, 0, 0) 70%,
              #ffff01 0
            );
          }
        }
        img {
          width: 100%;
          height: 179px;
          object-fit: cover;
          margin: 20px 0;
        }
        .card-description {
          li {
            font-size: 16px;
          }
        }
      }
    }
  }

  .section-tertiary {
    color: $white-color;
    background-color: $blue-color-4;
    padding: 70px 0 80px 0;
    .section-tertiary-container {
      margin: auto;
      text-align: center;
      .ttl-primary {
        font-size: 32px;
        margin-bottom: 100px;
      }
      .act-more {
        margin-left: 0;
        position: relative;
        padding: 14px 64px 14px 48px;
        white-space: nowrap;

        &-tooltip {
          position: absolute;
          width: auto;
          top: -65px;
          width: auto;
          white-space: nowrap;
          left: 50%;
          transform: translateX(-50%);

          &__content {
            position: relative;
            width: fit-content;
            font-size: 20px;
            margin-bottom: 25px;
            background-color: transparent;
            border-radius: 3px;
            color: $white-color;
            border: 1px solid white;
            padding: 10px 20px;

            display: flex;
            align-items: center;
            justify-content: center;

            &::before {
              position: absolute;
              content: "\A";
              top: calc(100% - 1px);
              left: calc(50% - 15px);
              width: 0;
              height: 0;
              border-left: 15px solid transparent;
              border-right: 15px solid transparent;
              border-top: 10px solid #fff;
            }
          }
        }

        &-content {
          display: flex;
          justify-content: center;
          align-items: center;
          .act-more-content-img {
            position: relative;
            display: block;
            width: 153px;
            height: 90px;
            margin-bottom: 30px;
            img {
              width: 115px;
              height: 100%;
              &.primary-img {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
              }
              &.secondary-img {
                position: absolute;
                bottom: -10px;
                right: 0;
                z-index: 1;
              }
            }
          }
          .act-more-content-btn {
            height: auto;
          }
        }
      }
    }
  }

  .section-reason-chosing {
    background: #F5F5F5;
    padding: 70px 0;
  }

    // ===========END SECTIONS==========

    .section-primary__wrapper {
      .containers {
        max-width: unset;
        padding: 0;
        margin-top: 40px;

        .card-list {
          display: grid;
          grid-template-columns: repeat(3, minmax(auto, 380px));
          gap: 30px;
          justify-content: center;
          a.card {
            transition: all 0.3s;
            .arrow-down {
              transition: all 0.3s;
            }
            &:hover {
              opacity: 1;
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
              .arrow-down {
                top: 15px;
              }
            }
          }
          .card-type6 {
            .ttl-quaternary-container {
              margin-bottom: 0;
            }
          }

          .card-type10 {
            padding: 0;
            a.card-type10-container {
              padding: 35px 30px 30px;
              transition: all 0.3s;
              .bondi_blue_outline_btn {
                font-weight: 700;
              }
              &:hover {
                opacity: 1;
                .bondi_blue_outline_btn {
                  color: $white-color;
                  background-color: $blue-color;
                  &::before {
                    border-top: 3px solid $white-color;
                    border-right: 3px solid $white-color;
                  }
                }
              }
            }
          }

          @media #{$tab} {
            grid-template-columns: auto;
          }
        }
      }
    }
}
