.personal-page {
  margin: auto;
  padding: 133px 0 0px;
  @media #{$sp} {
    padding: 50px 0 0;
  }

  // ===========START SECTIONS==========

  .section-welcome {
    padding: 136px 0;
    text-align: center;
    position: relative;

    .slick-slider {
      .slick-list {
        height: 100%;

        .slick-track {
          height: 100%;

          img {
            height: 100%;
          }
        }
      }
    }

    &__banner {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      overflow: hidden;
      background: linear-gradient(114deg, #343434 0%, #486799 100%) 0% 0%
        no-repeat padding-box;

      img {
        position: static;
        transform: none;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    &__inner {
      display: inline-block;
      background: $primary-color;
      transform: skewX(-15deg);
      padding: 0px 20px;

      @media #{$sp} {
        padding: 0px 10px;
      }

      .ttl-tertiary {
        transform: skewX(15deg);
        color: #ffffff;
        margin-bottom: 0;
      }
    }

    &__title {
      margin-top: 38px;
      margin-bottom: 54px;
      color: #ffffff;

      .ttl-primary {
        margin-bottom: 0;
        @media #{$sp} {
          font-size: 30px;
        }
      }
    }
  }

  .section-primary {
    text-align: center;
    padding: 60px 120px 70px;

    @media #{$sp} {
      padding: 35px 15px;
    }

    .ttl-primary {
      font-size: 32px;
      margin-bottom: 61px;
      @media #{$sp} {
        font-size: 20px;
        line-height: 1.75;
      }
    }

    .ttl-quaternary {
      font-size: 20px;
      font-weight: 600;
      margin: 0;
      text-align: center;
      margin-bottom: 30px;
      color: $primary-color;

      @media #{$sp} {
        font-size: 18px;
      }
    }
  }

  .section-secondary {
    text-align: center;
    padding: 90px 120px 70px;
    background-color: #eeeeee;

    @media #{$sp} {
      padding: 35px 15px;
    }

    .notification-primary {
      padding-bottom: 30px;
      margin-bottom: 60px;
      background-color: #fff;
      box-shadow: 0px 3px 20px #00000029;

      .notification-panel1 {
        .item__img {
          img {
            border-radius: 4px;
          }
        }
      }

      .notification-panel2 {
        .card-list {
          padding: 0 30px;
          margin-bottom: 30px;

          @media #{$sp} {
            flex-direction: column;
            padding: 0 10px;
          }
        }
      }
    }

    .notification-secondary {
      box-shadow: 0px 3px 20px #00000029;

      .notification-panel1 {
        margin-bottom: 60px;
        .cash-flow-img {
          img {
            transition: all 0.3s;
            &:hover {
              transform: scale(1.04);
            }
          }
        }
      }
      .bondi_blue_outline_btn {
        font-weight: 700;
        &:hover {
          color: $white-color;
        }
      }
    }

    .notification-tertiary {
      box-shadow: 0px 3px 20px #00000029;

      .notification-panel1 {
        &-body {
          padding: 0;
          margin-bottom: 0;

          .card-list {
            padding: 0;
            background-color: #fff;

            @media #{$sp} {
              flex-direction: column;
            }
          }
        }
        .bondi_blue_outline_btn {
          margin-top: 20px;
          max-width: 522px;
          font-weight: 700;
          &:hover {
            color: $white-color;
          }
        }
      }
    }
  }

  .section-tertiary {
    padding: 70px 0;
    text-align: center;
    background-color: $green-color;
    color: #ffffff;
    @media #{$sp} {
      padding: 35px 15px;
    }

    .ttl-sub {
      font-size: 14px;
      font-weight: bold;
      font-family: "Futura";
    }

    .ttl-secondary {
      font-size: 32px;
      margin-bottom: 40px;
      @media #{$sp} {
        font-size: 20px;
        line-height: 1.75;
        margin-bottom: 25px;
      }
    }

    .ttl-tertiary {
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 50px;
      @media #{$sp} {
        font-size: 16px;
        line-height: 1.75;
        margin-bottom: 35px;
      }
    }
  }

  .section-quaternary {
    text-align: center;
    padding: 60px 120px 70px;
    background-color: #f7f7f7;

    @media #{$sp} {
      padding: 35px 15px;
    }

    .ttl-sub {
      font-size: 14px;
      font-weight: bold;
      font-family: "Futura";
      color: $primary-color;
    }

    .ttl-secondary {
      font-size: 32px;
      margin-bottom: 61px;
      @media #{$sp} {
        font-size: 20px;
        margin-bottom: 35px;
      }
    }
  }

  .section-question-and-answer {
    background-color: #fff;

    h5.ttl-secondary {
      font-family: Futura;
      margin-bottom: 0;
    }
  }

  // ===========END SECTIONS==========

  .section-primary-wrapper {
    .containers {
      max-width: unset;
      padding: 0;

      .card-list {
        display: grid;
        grid-template-columns: repeat(3, minmax(auto, 380px));
        gap: 30px;
        justify-content: center;
        a.card {
          transition: all 0.3s;
          .arrow-down {
            transition: all 0.3s;
          }
          &:hover {
            opacity: 1;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
            .arrow-down {
              top: 15px;
            }
          }
        }
        .card-type10 {
          padding: 0;
          a.card-type10-container {
            padding: 35px 30px 30px;
            transition: all 0.3s;
            .bondi_blue_outline_btn {
              font-weight: 700;
            }
            &:hover {
              opacity: 1;
              .bondi_blue_outline_btn {
                color: $white-color;
                background-color: $blue-color;
                &::before {
                  border-top: 3px solid $white-color;
                  border-right: 3px solid $white-color;
                }
              }
            }
          }
        }

        @media #{$tab} {
          grid-template-columns: auto;
        }
      }
    }
  }
}
