.personal-page {
  margin: auto;
  padding: 140px 0 0px;

  .section-welcome {
    padding: 133px 0 133px 0;
    text-align: center;
    background-color: #f7f7f7;

    .ttl-primary {
      font-size: 42px;
      margin-bottom: 31px;
    }

    .ttl-tertiary {
      font-size: 24px;
    }

    .ttl-quaternary {
      font-size: 20px;
    }
  }

  .section-primary {
    text-align: center;
    padding: 60px 120px 70px;

    .ttl-primary {
      font-size: 32px;
      margin-bottom: 61px;
    }

    .ttl-quaternary {
      font-size: 20px;
      font-weight: 600;
      margin: 0;
      text-align: center;
      margin-bottom: 30px;
    }

    .section-primary-wrapper {
      .containers {
        max-width: unset;
        padding: 0;

        .card-list {
          justify-content: center;
        }
      }
    }
  }

  .section-secondary {
    text-align: center;
    padding: 90px 120px 70px;
    background-color: #eeeeee;

    .notification-primary {
      padding-bottom: 30px;
      margin-bottom: 60px;
      background-color: #fff;

      .notification-panel2 {
        .card-list {
          padding: 0 30px;
          margin-bottom: 30px;
        }
      }
    }

    .notification-secondary {
      .notification-panel1 {
        margin-bottom: 60px;
      }
    }

    .notification-tertiary {
      .notification-panel1 {
        .notification-panel1-body {
          padding: 0;

          .card-list {
            padding: 0;
            background-color: #fff;
          }
        }
      }
    }
  }

  .section-tertiary {
    padding: 70px 0;
    text-align: center;
    background-color: #fff;

    .ttl-secondary {
      font-size: 32px;
      margin-bottom: 31px;
    }

    .ttl-tertiary {
      font-size: 20px;
      font-weight: 400;
    }
  }

  .section-quaternary {
    text-align: center;
    padding: 60px 120px 70px;
    background-color: #f7f7f7;

    .ttl-secondary {
      font-size: 32px;
      margin-bottom: 61px;
    }
  }

  .section-question-and-answer {
    text-align: center;
    padding: 60px 120px 70px;
    background-color: #fff;

    .ttl-secondary {
      font-size: 32px;
      margin-bottom: 61px;
    }

    .question-tab,
    .answer-tab {
      justify-content: space-between;
      align-items: center;
      position: relative;
      padding: 4px 30px;
      width: 100%;
      border-radius: 10px;
      box-shadow: 0px 3px 6px #00000029;
      margin-bottom: 30px;

      .ttl-secondary {
        font-size: 30px;
        margin-bottom: 0;
      }

      .qa-content {
        flex: 1;

        .ttl-tertiary {
          text-align: left;
          font-size: 20px;
          margin-bottom: 0;
          font-weight: 400;
        }
      }

      .qa-button {
        svg {
          margin-top: 5px;

          line {
            stroke: #707070;
          }
        }
      }
    }

    .question-tab {
      background-color: #eeeeee;
    }

    .question-tab.open {
      svg {
        display: none;
      }
    }

    .answer-tab {
      background-color: #ffffff;
      margin-top: -30px;
    }
  }
}
