.platinum-business-pro-page {
  .section-welcome {
    padding: 0;

    .row {
      display: grid;
      grid-template-columns: 62% 38%;

      @media #{$sp} {
        grid-template-columns: auto;
      }

      .right {
        height: 100%;
        width: 100%;
        background: #000000;
        clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
        position: relative;

        .banner-right {
          color: #fff;
          font-size: 29px;
          font-family: "Sawarabi Mincho", serif;
          padding-top: 88px;
          padding-left: 188px;
        }
      }

      .banner-containers {
        padding-left: 78px;
        @media #{$sp} {
          padding-left: 0;
        }
      }
    }
  }
}
