.quaternary-page {
  max-width: 1440px;
  margin: auto;
  padding: 140px 0 0px;

  .section-welcome {
    padding: 133px 0 133px 0;
    text-align: center;
    background-color: #f7f7f7;

    .ttl-primary {
      font-size: 42px;
      margin-bottom: 31px;
    }

    .ttl-tertiary {
      font-size: 24px;
    }

    .ttl-quaternary {
      font-size: 20px;
    }

    .btn01:hover {
      color: #fff;
    }
  }

  .section-primary {
    text-align: center;
    padding: 60px 120px 70px;

    .ttl-primary {
      font-size: 32px;
      margin-bottom: 61px;
    }

    .ttl-quaternary {
      font-size: 20px;
      font-weight: 600;
      margin: 0;
      text-align: center;
      margin-bottom: 30px;
    }

    .section-primary-wrapper {
      .containers {
        max-width: unset;
        padding: 0;

        .section-primary-list {
          justify-content: center;
        }
      }
    }
  }

  .section-secondary {
    text-align: center;
    padding: 90px 120px 70px;
    background-color: #eeeeee;

    // ======= Common and usable panel ========
    .panel-primary-type {
      margin-bottom: 60px;

      .card-type4 {
        background-color: #fff;

        .card {
          padding: 30px 30px 30px 30px;

          .card__ttl {
            background-color: #000;
            font-size: 16px;
            color: #fff;
            max-width: 480px;
            padding: 7px 0 6px;
          }

          .inquiry__box {
            background-color: #e1e1e1;
            padding: 10px 20px;
            width: 100%;
            margin: 0;
            justify-content: flex-start;
            margin-bottom: 30px;

            .inquiry__box--btn {
              width: auto;

              .btn01 {
                padding: 5px 35px;
                background-color: #000;
                border-color: #000;
                font-size: 16px;
                color: #fff;

                &::before {
                  display: none;
                }
              }

              &:hover {
                .btn01 {
                  color: #fff;
                }
              }
            }

            .inquiry__box--txt {
              width: auto;

              span {
                color: #00aba0;
              }
            }
          }

          .sec01 {
            padding: 30px;
            background-color: #fff;

            .containers {
              padding: 0;

              dd {
                text-align: left;
                margin-bottom: 60px;
              }

              .sp-reverse {
                justify-content: flex-start;
                align-items: flex-start;
                flex-wrap: nowrap;
                margin-bottom: 60px;

                .sec01__img {
                  max-width: 391px;
                  max-height: 262px;

                  img {
                    width: 100%;
                    height: 100%;
                  }
                }

                .sec01-right-wrapper {
                  .sec01-right-box {
                    margin-bottom: 10px;

                    dt {
                      flex-wrap: nowrap;

                      .number-circle {
                        width: 45px;
                        height: 45px;
                        flex-shrink: 0;
                        border-radius: 50%;
                        background-color: #003f98;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: white;
                        font-size: 24px;
                        font-weight: bold;
                        align-self: flex-start;
                      }

                      .ttl-senary {
                        font-size: 20px;
                        font-weight: 400;
                        white-space: normal;
                        letter-spacing: 3px;
                        text-align: left;
                        max-width: 458px;
                        white-space: normal;

                        .yellow-bottom {
                          font-weight: 600;

                          background: linear-gradient(
                            to bottom,
                            transparent 50%,
                            yellow 50%
                          );
                          display: inline;
                        }
                      }
                    }
                  }
                }
              }

              .btn01 {
                background-color: #fff;
                font-size: 16px;
                font-weight: 450;
                color: #003f98;
                padding: 9px 22px 9px 0;
                border-radius: 10px;
                text-align: right;
                font-weight: bold;
                max-width: 340px;
                box-shadow: none;

                &::before {
                  display: none;
                }
              }
            }
          }
        }
      }
    }

    .notification-primary {
      padding-bottom: 30px;
      margin-bottom: 60px;
      background-color: #fff;
    }

    .notification-secondary {
      .notification-panel1 {
        margin-bottom: 60px;
      }
    }

    .notification-tertinary {
      .notification-panel1 {
        .notification-panel1-body {
          padding: 0;

          .card-list {
            padding: 0;
            background-color: #fff;
          }
        }
      }
    }
  }

  .section-tertinary {
    padding: 70px 0;
    text-align: center;
    background-color: #fff;

    .ttl-secondary {
      font-size: 32px;
      margin-bottom: 31px;
    }

    .ttl-tertiary {
      font-size: 20px;
      font-weight: 400;
    }
  }

  .section-quaternary {
    text-align: center;
    padding: 60px 120px 70px;
    background-color: #f7f7f7;

    .ttl-secondary {
      font-size: 32px;
      margin-bottom: 61px;
    }
  }

  .section-question-and-answer {
    text-align: center;
    padding: 60px 120px 70px;
    background-color: #fff;

    .ttl-secondary {
      font-size: 32px;
      margin-bottom: 61px;
    }

    .question-tab,
    .answer-tab {
      justify-content: space-between;
      align-items: center;
      position: relative;
      padding: 4px 30px;
      width: 100%;
      border-radius: 10px;
      box-shadow: 0px 3px 6px #00000029;
      margin-bottom: 30px;

      .ttl-secondary {
        font-size: 30px;
        margin-bottom: 0;
      }

      .qa-content {
        flex: 1;

        .ttl-tertinary {
          text-align: left;
          font-size: 20px;
        }
      }

      .qa-button {
        svg {
          margin-top: 5px;

          line {
            stroke: #707070;
          }
        }
      }
    }

    .question-tab {
      background-color: #eeeeee;
    }

    .question-tab.open {
      svg {
        display: none;
      }
    }

    .answer-tab {
      background-color: #ffffff;
      margin-top: -30px;
    }
  }

  .breadcrumb {
    padding: 0 120px;
    font-size: 14px;

    ul {
      justify-content: flex-start;
    }
  }
}
