.saison-invoice-page {
  section {
    .ttl-notice {
      font-size: 14px;
      color: $primary-color;
      margin-bottom: 45px;
    }
    .ttl-primary {
      font-size: 32px;
      span {
        font-size: 15px;
      }
      @media #{$sp} {
        font-size: 20px;
        text-align: center !important;
      }
    }
    .ttl-quaternary {
      text-align: center;
      margin-bottom: 70px;
      .font-weight-normal {
        font-weight: normal;
      }
      @media #{$sp} {
        margin-bottom: 30px;
      }
    }
    .yellow-underline {
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 70%,
        $yellow-color 0
      );
    }
    .primary-txt {
      color: $primary-color;
    }
  }

  .section-welcome {
    padding-top: 70px;
    padding-bottom: 40px;
    @media #{$sp} {
      padding: 70px 0;
    }
    text-align: center;
    position: relative;

    .slick-slider {
      .slick-list {
        height: 100%;

        .slick-track {
          height: 100%;

          img {
            height: 100%;
          }
        }
      }
    }

    &__inner {
      display: inline-block;
      background: #029742;
      transform: skewX(-15deg);
      padding: 0px 20px;

      @media #{$sp} {
        padding: 0px 10px;
      }

      .ttl-tertiary {
        transform: skewX(15deg);
        color: #ffffff;
        margin-bottom: 0;
      }
    }

    &__banner {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      overflow: hidden;
      background: $primary-color;

      @media #{$sp} {
        height: auto;
      }

      img {
        position: static;
        transform: none;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    &-info {
      display: flex;
      align-items: center;
      max-width: 1200px;
      margin: auto;

      @media #{$sp} {
        display: block;
      }

      &-left {
        width: 50%;
        text-align: left;
        @media #{$sp} {
          width: 100%;
          text-align: center;
        }
      }

      &-right {
        width: 50%;
        @media #{$sp} {
          width: 100%;
        }

        .section-welcome-right__img {
          position: relative;
          height: 476px;
          width: 712px;

          @media #{$sp} {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
          }

          img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
          }

          .info-list {
            position: absolute;
            bottom: 64px;
            right: 42px;

            .info-item {
              color: $white-color;
              font-size: 16px;
              font-weight: 700;
              background-color: $primary-color;
              padding: 10px 20px;
              border-radius: 3px;
              margin-bottom: 10px;
              .special {
                font-size: 24px;
              }
            }
          }
        }
      }
    }

    &__title {
      margin: 20px 0;
      color: #ffffff;

      .ttl-primary {
        margin-bottom: 0;
        text-align: left;

        @media #{$sp} {
          text-align: center;
        }
      }
    }

    &__desc {
      margin-bottom: 123px;
      .ttl-quaternary {
        text-align: left;
        font-size: 24px;
        color: #fff;
        @media #{$sp} {
          text-align: center;

          font-size: 20px;
        }
      }
    }

    &__act {
      .act-more {
        margin-left: 0;
        position: relative;

        @media #{$sp} {
          margin: auto;
        }

        &-tooltip {
          position: absolute;
          top: -68px;
          left: calc(50% - 128.5px);
          width: auto;
          height: auto;

          &__content {
            position: relative;
            width: fit-content;
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 25px;
            background-color: #fff;
            border-radius: 3px;
            color: $orange-color;
            padding: 10px 20px;
            display: flex;
            align-items: center;
            justify-content: center;

            &::before {
              position: absolute;
              content: "\A";
              top: calc(100% - 1px);
              left: calc(50% - 15px);
              width: 0;
              height: 0;
              border-left: 15px solid transparent;
              border-right: 15px solid transparent;
              border-top: 10px solid #fff;
            }
          }
        }
      }
    }
  }

  .section-primary {
    padding: 74px 0 130px 0;

    @media #{$sp} {
      padding: 70px 0;
    }

    img {
      object-fit: contain;
    }
  }

  .section-secondary {
    .section-secondary-content {
      margin: 50px 0 70px 0;
      .card {
        position: relative;
        width: 380px;
        border-radius: 3px;
        box-shadow: 0px 3px 20px #0000001c;
        padding: 32px 30px 30px;
        .black_pill_btn {
          position: absolute;
          display: inline-block;
          border-radius: 24px;
          top: -15px;
          left: 50%;
          transform: translateX(-50%);
        }
        .ttl-quinary {
          font-size: 20px;
          font-weight: bold;
          line-height: 29px;
          text-align: center;
          color: $blue-color;
          .yellow-underline {
            background: linear-gradient(
              180deg,
              rgba(0, 0, 0, 0) 70%,
              #ffff01 0
            );
          }
        }
        img {
          width: 100%;
          height: 179px;
          object-fit: cover;
          margin: 20px 0;
        }
        .card-description {
          li {
            font-size: 16px;
          }
        }
        @media #{$sp} {
          width: 100%;
        }
      }
    }
  }

  .section-tertiary {
    color: $white-color;
    background-color: $blue-color-4;
    padding: 70px 0 80px 0;
    .section-tertiary-container {
      margin: auto;
      text-align: center;
      .ttl-primary {
        font-size: 32px;
        margin-bottom: 100px;
        @media #{$sp} {
          font-size: 20px;
          margin-bottom: 130px;
        }
      }
      .act-more {
        margin-left: 0;
        position: relative;
        padding: 14px 64px 14px 48px;
        white-space: nowrap;

        &-tooltip {
          position: absolute;
          width: auto;
          top: -65px;
          white-space: nowrap;
          left: 50%;
          transform: translateX(-50%);

          &__content {
            position: relative;
            width: fit-content;
            font-size: 20px;
            margin-bottom: 25px;
            background-color: transparent;
            border-radius: 3px;
            color: $white-color;
            border: 1px solid white;
            padding: 10px 20px;

            display: flex;
            align-items: center;
            justify-content: center;

            @media #{$sp} {
              font-size: 16px;
              white-space: pre;
              top: -35px;
            }

            &::before {
              position: absolute;
              content: "\A";
              top: calc(100% - 1px);
              left: calc(50% - 15px);
              width: 0;
              height: 0;
              border-left: 15px solid transparent;
              border-right: 15px solid transparent;
              border-top: 10px solid #fff;
            }
          }
        }

        &-content {
          display: flex;
          justify-content: center;
          align-items: center;
          .act-more-content-img {
            position: relative;
            display: block;
            width: 153px;
            height: 90px;
            margin-bottom: 30px;
            img {
              width: 115px;
              height: 100%;
              &.primary-img {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
              }
              &.secondary-img {
                position: absolute;
                bottom: -10px;
                right: 0;
                z-index: 1;
              }
            }
          }
          .act-more-content-btn {
            height: auto;
            @media #{$sp} {
              width: 100%;
              a {
                font-size: 14px;
                padding: 13px 35px;
              }
            }
          }

          @media #{$sp} {
            flex-direction: column;
          }
        }

        @media #{$sp} {
          padding: 0;
        }
      }
    }
    @media #{$sp} {
      padding: 50px 15px;
    }
  }

  .section-quaternary {
    padding: 70px 0;

    @media #{$sp} {
      padding-top: 0;
    }
    .ttl-notice {
      margin-bottom: 25px;
    }
    .section-quaternary-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      .card {
        position: relative;
        width: 360px;
        border-radius: 3px;
        box-shadow: 0px 3px 20px #0000001c;
        .card-title {
          width: 100%;
          display: flex;
          .step-no {
            font-size: 16px;
            font-weight: 500;
            color: $white-color;
            padding: 20px 13px;
            background: $gradient-bg-2;
          }
          .step-title {
            width: 100%;
            text-align: center;
            color: $black-color;
            font-size: 18px;
            font-weight: bold;
            background-color: $blue-color-2;
            padding: 17px 0;
          }
        }
        .card-content {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 30px 30px 60px 30px;
          .tag {
            display: inline-block;
            color: $white-color;
            font-size: 16px;
            font-weight: bold;
            padding: 3px 38px;
            border-radius: 20px;
            background-color: $primary-color;
            &.outline {
              color: $green-color-2;
              background-color: transparent;
              border: 2px solid $green-color-2;
            }
          }
          img {
            width: 119px;
            object-fit: contain;
            margin: 30px 0;
          }
          .card-description {
            font-size: 16px;
            .text-note {
              color: $gray-color-8;
              font-size: 13px;
              line-height: 20px;
              font-weight: bold;
            }
          }
        }
      }
      .information {
        display: inline-block;
        padding: 14px 66px;
        font-size: 20px;
        background-color: $blue-color-2;
        border-radius: 3px;
        margin: 60px 0 105px;

        @media #{$sp} {
          padding: 15px;
        }

        span {
          font-weight: bold;
        }
      }
      .act-more {
        margin: auto;
        position: relative;
        padding: 14px 64px 14px 48px;
        white-space: nowrap;
        background: $gradient-bg;

        &-tooltip {
          position: absolute;
          width: auto;
          top: -65px;
          white-space: nowrap;
          left: 50%;
          transform: translateX(-50%);

          @media #{$sp} {
            top: -90px;
          }

          &__content {
            position: relative;
            width: fit-content;
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 25px;
            background-color: #fff;
            border-radius: 3px;
            border: 1px solid $primary-color;
            color: $primary-color;
            padding: 10px 20px;

            display: flex;
            align-items: center;
            justify-content: center;

            @media #{$sp} {
              white-space: pre;
            }

            &::before {
              position: absolute;
              content: "\A";
              top: calc(100% - 1px);
              left: calc(50% - 15px);
              width: 0;
              height: 0;
              border-left: 15px solid transparent;
              border-right: 15px solid transparent;
              border-top: 10px solid $primary-color;
            }
          }
        }
      }
    }
  }

  .section-reason-chosing {
    background: #f5f5f5;
    padding: 70px 0;
    @media #{$sp} {
      padding: 50px 15px;
    }
  }

  .section-voice {
    text-align: center;
    padding: 70px 0;
    background-color: #fff;

    @media #{$sp} {
      padding: 35px 15px;
    }

    .ttl-sub {
      font-size: 14px;
      font-weight: bold;
      font-family: "Futura";
      color: $primary-color;
    }

    .ttl-secondary {
      font-size: 32px;
      margin-bottom: 61px;
      @media #{$sp} {
        margin-bottom: 25px;
      }
    }
  }

  .section-question-and-answer {
    text-align: center;
    padding: 60px 0px 70px;
    background: #f5f5f5;
    margin: auto;

    @media #{$sp} {
      padding: 35px 15px;
    }

    &__description {
      font-size: 20px;
      line-height: 35px;

      a {
        text-decoration: underline;
        color: $primary-color;
      }

      @media #{$sp} {
        font-size: 16px;
      }
    }

    &__list {
      margin-bottom: 50px;
    }

    .ttl-sub {
      font-size: 14px;
      font-weight: bold;
      font-family: "Futura";
      color: $primary-color;
    }

    .ttl-secondary {
      font-size: 32px;
      margin-bottom: 61px;

      @media #{$sp} {
        margin-bottom: 25px;
      }
    }

    .question-tab,
    .answer-tab {
      justify-content: space-between;
      align-items: center;
      position: relative;
      padding: 4px 30px;
      width: 100%;
      margin-bottom: 30px;

      @media #{$sp} {
        padding: 4px 8px;
      }

      .ttl-secondary {
        font-size: 30px;
        margin-bottom: 0;
      }

      .qa-content {
        flex: 1;

        .ttl-tertiary {
          text-align: left;
          font-size: 20px;
          margin-bottom: 0;
          font-weight: 400;

          @media #{$sp} {
            font-size: 16px;
          }
        }
      }

      .qa-button {
        svg {
          margin-top: 5px;
        }
        .svg__minus {
          display: none;
        }
        &.open {
          .svg__plus {
            display: none;
          }
          .svg__minus {
            display: block;
          }
        }
      }
    }

    .question-tab {
      margin-top: 50px;

      cursor: pointer;
      background: $blue-color-2 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 20px #00000029;

      .qa-marker {
        color: $primary-color;
      }

      .qa-content {
        .ttl-tertiary {
          font-weight: bold;
        }
      }

      @media #{$sp} {
        margin-top: 30px;
        margin-bottom: 0;
      }
    }

    .question-tab.open {
      svg {
        display: none;
      }
    }

    .answer-tab {
      background-color: #ffffff;
      margin-top: -30px;
      padding: 0 60px 0 30px;
      display: none;

      @media #{$sp} {
        padding: 8px;
        margin-top: 0;
      }

      .qa-marker {
        color: $green-color-1;
      }
    }
  }

  .section-contact {
    .ttl-notice {
      font-family: "Futura";
      margin-bottom: 0;
      color: $white-color;
    }

    .card-type22 .useful-wp .containers .card .card__box {
      padding: 38px 44px;
      @media #{$sp} {
        padding: 30px 15px;
      }

      .card__box--ttl {
        font-size: 20px;
      }

      .card__box--cont {
        margin-bottom: 30px;
        .card__box--txt {
          text-align: left;
        }
      }
    }
  }

  // ===========END SECTIONS==========

  .section-primary__wrapper {
    .containers {
      max-width: unset;
      padding: 0;
      margin-top: 40px;

      .card-list {
        display: grid;
        grid-template-columns: repeat(3, minmax(auto, 380px));
        gap: 30px;
        justify-content: center;
        a.card {
          transition: all 0.3s;
          .arrow-down {
            transition: all 0.3s;
          }
          &:hover {
            opacity: 1;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
            .arrow-down {
              top: 15px;
            }
          }
        }
        .card-type6 {
          .ttl-quaternary-container {
            margin-bottom: 0;
          }
        }

        .card-type10 {
          box-shadow: 0px 3px 20px #0000001c;
          border-radius: 3px;

          .ttl-senary {
            -webkit-line-clamp: unset;
            margin-bottom: 0;
          }
        }

        @media #{$tab} {
          grid-template-columns: auto;
        }
      }
    }
  }
}
