.saison-invoice-page {
  section {
    &.bg-gray {
      background: $gray-color-9;
      padding: 70px 0;
      @media #{$sp} {
        padding: 35px 0;
      }
    }

    .ttl-secondary {
      font-size: 16px;
      color: $primary-color;
      margin-bottom: 40px;
      text-align: center;

      @media #{$sp} {
        margin-bottom: 15px;
      }
    }

    .ttl-primary {
      font-size: 32px;
      margin-bottom: 40px;
      text-align: center;
      font-weight: bold;

      @media #{$sp} {
        font-size: 20px;
        line-height: 1.75;
        margin-bottom: 20px;
      }
    }

    .ttl-tertiary {
      font-size: 20px;
      text-align: center;
      font-weight: normal;

      &.bold {
        font-weight: bold;
      }

      @media #{$sp} {
        font-size: 14px;
        margin-bottom: 20px;
      }

      a {
        color: $primary-color;
        text-decoration: underline;
        text-underline-offset: 4px;
      }
      @media #{$sp} {
        font-size: 16px;
        text-align: left;
      }
    }
  }

  .section-welcome {
    padding-top: 70px;
    padding-bottom: 40px;
    @media #{$sp} {
      padding: 70px 0;
    }
    text-align: center;
    position: relative;

    .slick-slider {
      .slick-list {
        height: 100%;

        .slick-track {
          height: 100%;

          img {
            height: 100%;
          }
        }
      }
    }

    &__inner {
      display: inline-block;
      background: #029742;
      transform: skewX(-15deg);
      padding: 0px 20px;

      .ttl-tertiary {
        transform: skewX(15deg);
        color: #ffffff;
        font-weight: bold;
        margin-bottom: 0;

        @media #{$sp} {
          white-space: pre;
        }
      }
      @media #{$sp} {
        padding: 0px 25px;
      }
    }

    &__banner {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      overflow: hidden;
      background: $blue-color-3;

      img {
        position: static;
        transform: none;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    &-info {
      display: flex;
      align-items: center;
      max-width: 1200px;
      margin: auto;

      @media #{$sp} {
        display: block;
      }

      &-left {
        width: 50%;
        text-align: left;
        @media #{$sp} {
          width: 100%;
          text-align: center;
        }
      }

      &-right {
        width: 50%;
        @media #{$sp} {
          width: 100%;
        }

        .section-welcome-right__img {
          position: relative;
          height: 476px;
          width: 712px;

          @media #{$sp} {
            position: unset;
            height: unset;
            width: unset;
          }

          img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
          }

          .info-list {
            position: absolute;
            bottom: 64px;
            right: 42px;

            @media #{$sp} {
              position: unset;
              margin-top: 30px;
            }

            .info-item {
              color: $white-color;
              font-size: 16px;
              font-weight: 700;
              background-color: $primary-color;
              padding: 10px 15px;
              border-radius: 3px;
              margin-bottom: 10px;
              line-height: 35px;
              text-align: left;

              &:first-child {
                color: $yellow-color;
                background-color: $purple-color;
              }

              @media #{$sp} {
                font-size: 14px;
                margin-bottom: 10px;
                text-align: left;
                margin-inline: auto;
                width: 85%;
              }

              .special {
                font-size: 24px;
                line-height: 35px;
                @media #{$sp} {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }

      &-right-sp {
        .info-list {
          color: $white-color;
          text-align: left;
          margin: auto;
          width: 85%;
          font-size: 20px;
          font-weight: 700;
          display: grid;
          gap: 20px;

          .info-item {
            padding: 10px 20px;
            background: $primary-color;
            border-radius: 4px;
            @media #{$sp} {
              padding: 10px 20px;
            }
          }
        }
      }
    }

    &__title {
      margin: 20px 0;
      color: #ffffff;

      .ttl-primary {
        font-size: 42px;
        text-shadow: 0px 0px 20px #05172c8d;
        margin-bottom: 0;
        text-align: left;

        @media #{$sp} {
          text-align: center;
          font-size: 32px;
          line-height: 1.75;
        }
      }
    }

    &__desc {
      margin-bottom: 123px;
      @media #{$sp} {
        margin-bottom: 30px;
      }

      .ttl-quaternary {
        text-align: left;
        font-size: 24px;
        color: #fff;
        @media #{$sp} {
          text-align: center;
          font-size: 20px;
          line-height: 1.75;
        }
      }
    }

    &__act {
      .act-more {
        margin-left: 0;
        position: relative;
        max-width: 310px;

        @media #{$sp} {
          margin: auto;
        }

        &-tooltip {
          position: absolute;
          top: -68px;
          left: calc(50% - 128.5px);
          width: auto;
          height: auto;

          &__content {
            position: relative;
            width: fit-content;
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 25px;
            background-color: #fff;
            border-radius: 3px;
            color: $orange-color;
            padding: 10px 20px;
            display: flex;
            align-items: center;
            justify-content: center;

            &::before {
              position: absolute;
              content: "\A";
              top: calc(100% - 1px);
              left: calc(50% - 15px);
              width: 0;
              height: 0;
              border-left: 15px solid transparent;
              border-right: 15px solid transparent;
              border-top: 10px solid #fff;
            }
          }
        }
      }
    }
  }

  .section-primary {
    text-align: center;
    padding: 60px 120px 70px;

    @media #{$sp} {
      padding: 35px 15px;
    }

    .ttl-tertiary {
      margin-bottom: 95px;
    }

    .section-primary-wrapper {
      .containers {
        max-width: unset;
        padding: 0;
      }
    }

    .saison-introduce {
      padding: 30px;
      margin: 60px 20px 0 20px;
      background-color: $primary-color;
      color: $white-color;
      border-radius: 3px;

      display: grid;
      grid-template-columns: 30% 70%;
      gap: 30px;

      @media #{$sp} {
        grid-template-columns: auto;
        margin: 30px -15px 0 -15px;
        padding: 30px 15px;
      }

      &-video {
        iframe {
          width: 100%;
          height: 100%;
          background-color: #000;

          body {
            margin: 0;
            padding: 0;
            background: transparent;
          }
        }
      }

      &-description {
        text-align: left;

        .ttl-quaternary {
          margin-bottom: 20px;
          font-size: 20px;
        }

        .ttl-tertiary {
          margin-bottom: 10px;
        }
        @media #{$sp} {
          .ttl-quaternary {
            font-size: 14px;
            margin-top: 20px;
          }
          .ttl-tertiary {
            font-size: 14px;
          }
        }
      }
    }
  }

  .section-secondary,
  .section-quinary {
    background: $gray-color-9;
    padding: 42px 0 76px;

    .content {
      margin-top: 40px;
      text-align: center;

      img {
        width: auto;
      }
      @media #{$sp} {
        margin-top: 10px;
      }
    }
  }

  .section-tertiary {
    padding: 60px 120px 70px;
    .ttl-primary {
      margin-bottom: 65px;
    }

    @media #{$sp} {
      padding: 35px 15px;
    }

    .list__wrapper .containers .card-list {
      @media #{$sp} {
        gap: 50px;
      }
    }

    .card-type24 {
      .ttl-quaternary {
        margin-top: 10px;
      }
      .card-image {
        margin: 20px 0;
      }
    }
  }

  .section-sub-content {
    .sub-content-container {
      .act-more {
        &-tooltip {
          &__content {
            &::before {
              bottom: -14px;
              left: calc(50% - 2px);
              position: absolute;
              content: "";
              width: 15px;
              height: 15px;
              background: $blue-color-4;
              border: 1px solid #fff;
              border-top: none;
              border-left: none;
              transform: rotate(45deg) translateX(-50%);
              z-index: 1;
            }
          }
        }
      }
    }
  }

  .section-quaternary {
    padding: 70px 0;

    @media #{$sp} {
      padding: 35px 15px;
    }

    .container {
      @media #{$sp} {
        margin: 0 -15px;
      }
    }

    .saison-feature-list {
      display: grid;
      gap: 40px;
      .card-type25 {
        .card-solution-content__text {
          text-align: left;
        }
      }

      @media #{$sp} {
        gap: 20px;
      }
    }
  }

  .section-flow {
    .flow-container {
      display: grid;
      grid-template-columns: 35% 35% 30%;
      box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1607843137254902);
      background: #fff;

      @media #{$sp} {
        grid-template-columns: auto;
        gap: 20px;
      }

      .flow-item {
        position: relative;
        display: inline-block;
        padding-right: 24px;
        padding-left: 0;
        filter: drop-shadow(10px 0px 4px #00000029);

        @media #{$sp} {
          padding-right: 0;
          filter: drop-shadow(0 10px 4px #00000029);
        }

        &:last-child {
          padding: 0;
          .flow-item-detail {
            clip-path: unset;
          }
        }

        &-detail {
          position: relative;
          padding: 30px 60px 30px 20px;
          height: 100%;
          text-align: center;
          display: flex;
          flex-direction: column;
          background: $white-color;
          clip-path: polygon(
            0 0,
            calc(100% - 2em) 0,
            100% 50%,
            calc(100% - 2em) 100%,
            0 100%,
            0 0
          );

          @media #{$sp} {
            padding: 15px 15px 55px 15px;
            clip-path: polygon(50% 100%, 0% 85%, 0% 0%, 100% 0%, 100% 85%);
          }

          img {
            width: auto;
          }
          .flow-item-image {
            flex-grow: 1;
          }

          .ttl-tertiary {
            text-align: center;
          }
        }

        &-desc {
          margin-top: 20px;
          flex-grow: 1;

          @media #{$sp} {
            font-size: 16px;
          }
        }

        &:first-child {
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
        }

        &:last-child {
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
          clip-path: unset;

          .flow-item-detail {
            padding: 30px 35px 30px 30px;

            @media #{$sp} {
              padding: 15px;
            }
          }
        }
      }
    }

    .section-more {
      @media #{$sp} {
        margin-left: -15px;
        margin-right: -15px;
      }
      .blue_gradient_btn {
        max-width: 500px;
        @media #{$sp} {
          font-size: 12px;
          max-width: 90%;
        }
      }
    }
  }

  .section-usage {
    padding: 60px 0 70px;

    .scene {
      padding: 20px;
      border-radius: 10px;
      background: $primary-color;
      color: $white-color;
      text-align: center;
      display: flex;
      flex-direction: column;

      &.seagreen {
        background-color: #25a5a5;
      }

      &.green {
        background-color: #44b397;
      }

      &-name {
        background: #000;
        border-radius: 25px;
        text-align: center;
      }
      &-desc {
        font-size: 24px;
        font-weight: bold;
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &-cost {
        font-weight: bold;
        font-size: 58px;
        color: $yellow-color;
        span {
          font-size: 32px;
        }
      }
    }

    .section-more {
      .blue_gradient_btn {
        max-width: 500px;
        @media #{$sp} {
          font-size: 12px;
          max-width: 90%;
        }
      }
      .act-more-tooltip {
        @media #{$sp} {
          top: -115px;
        }
      }
    }
    @media #{$sp} {
      padding: 35px 0;
    }
  }

  .section-reason-chosing {
    background: #f5f5f5;
    padding: 70px 0;
    @media #{$sp} {
      padding: 50px 15px;
    }
  }

  .section-contact {
    .blue_gradient_btn {
      &:first-child {
        padding: 12px 20px;
      }
    }
    .ttl-notice {
      @media #{$sp} {
        font-size: 16px;
      }
    }
    .ttl-tertiary {
      font-size: 32px;
      font-weight: bold;

      @media #{$sp} {
        font-size: 20px;
        line-height: 1.75;
        text-align: center;
      }
    }
  }

  // ===========END SECTIONS==========

  // =========SUPPORT SECTIONS========
  .section-more {
    margin-top: 130px;
    .act-more {
      margin: auto;
      position: relative;
      padding: 14px 64px 14px 48px;
      white-space: nowrap;
      &.blue_gradient_btn {
        @media #{$sp} {
          max-width: 90%;
        }
      }

      &-tooltip {
        position: absolute;
        width: auto;
        top: -65px;
        white-space: nowrap;
        left: 50%;
        transform: translateX(-50%);

        @media #{$sp} {
          top: -115px;
          width: 100%;
        }

        &__content {
          position: relative;
          width: fit-content;
          font-size: 14px;
          font-weight: 600;
          margin-bottom: 25px;
          background-color: #fff;
          border-radius: 3px;
          border: 1px solid $primary-color;
          color: $primary-color;
          padding: 10px;

          display: flex;
          align-items: center;
          justify-content: center;

          @media #{$sp} {
            width: 100%;
            white-space: pre;
          }

          &::before {
            bottom: -14px;
            left: calc(50% - 2px);
            position: absolute;
            content: "";
            width: 15px;
            height: 15px;
            background: $white-color;
            border: 1px solid $blue-color;
            border-top: none;
            border-left: none;
            transform: rotate(45deg) translateX(-50%);
            z-index: 1;
          }
        }
      }
    }
    @media #{$sp} {
      margin-top: 150px;
    }
  }

  .list__wrapper {
    .containers {
      max-width: unset;
      padding: 0;
      margin-top: 40px;

      .card-list {
        display: grid;
        grid-template-columns: repeat(3, minmax(auto, 380px));
        gap: 30px;
        justify-content: center;
        a.card {
          transition: all 0.3s;
          gap: 20px;
          .arrow-down {
            transition: all 0.3s;
          }
          &:hover {
            opacity: 1;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
            .arrow-down {
              top: 15px;
            }
          }
        }
        .card-type6 {
          .ttl-quaternary-container {
            display: grid;
            margin-bottom: 0;
            position: relative;
            .act-more-tooltip {
              position: absolute;
              top: -75px;
              left: calc(50% - 128.5px);
              width: auto;
              height: auto;

              &__content {
                position: relative;
                width: fit-content;
                font-size: 20px;
                font-weight: 700;
                margin-bottom: 25px;
                background-color: $yellow-color;
                border-radius: 3px;
                color: #000000;
                border: 1px solid #000000;
                padding: 11px 20px;
                line-height: 35px;

                display: flex;
                align-items: center;
                justify-content: center;

                &::before {
                  position: absolute;
                  content: "\A";
                  top: calc(100% - 1px);
                  left: 50%;
                  width: 15px;
                  height: 15px;
                  background: $yellow-color;
                  border: 1px solid #000000;
                  border-top: none;
                  border-left: none;
                  transform: rotate(45deg) translateX(-50%);
                  z-index: 1;
                }
              }
            }
          }
        }

        .card-type10 {
          box-shadow: 0px 3px 20px #0000001c;
          border-radius: 3px;
          height: 100%;

          .ttl-senary {
            -webkit-line-clamp: unset;
            margin-bottom: 0;
          }
        }

        @media #{$tab} {
          grid-template-columns: auto;
        }
      }
    }
  }
}
