.section-sub-content {
  color: $white-color;
  background-color: $blue-color-4;
  padding: 70px 0 80px 0;
  .sub-content-container {
    margin: auto;
    text-align: center;
    .ttl-primary {
      font-size: 32px;
      margin-bottom: 100px;
      @media #{$sp} {
        font-size: 20px;
        margin-bottom: 130px;
      }
    }
    .act-more {
      margin-left: 0;
      position: relative;
      padding: 14px 64px 14px 48px;
      white-space: nowrap;

      &-tooltip {
        position: absolute;
        width: auto;
        top: -65px;
        white-space: nowrap;
        left: 50%;
        transform: translateX(-50%);

        &__content {
          position: relative;
          width: fit-content;
          font-size: 20px;
          margin-bottom: 25px;
          background-color: transparent;
          border-radius: 3px;
          color: $white-color;
          border: 1px solid white;
          padding: 10px 20px;

          display: flex;
          align-items: center;
          justify-content: center;

          @media #{$sp} {
            font-size: 16px;
            white-space: pre;
            top: -35px;
          }

          &::before {
            position: absolute;
            content: "\A";
            top: calc(100% - 1px);
            left: calc(50% - 15px);
            width: 0;
            height: 0;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-top: 10px solid #fff;
          }
        }
      }

      &-content {
        display: flex;
        justify-content: center;
        align-items: center;
        .act-more-content-img {
          position: relative;
          display: block;
          width: 153px;
          height: 90px;
          margin-bottom: 30px;
          img {
            width: 115px;
            height: 100%;
            &.primary-img {
              position: absolute;
              top: 0;
              left: 0;
              z-index: 2;
            }
            &.secondary-img {
              position: absolute;
              bottom: -10px;
              right: 0;
              z-index: 1;
            }
          }
        }
        .act-more-content-btn {
          height: auto;
          @media #{$sp} {
            width: 100%;
            a {
              font-size: 14px;
              padding: 13px 35px;
            }
          }
        }

        @media #{$sp} {
          flex-direction: column;
          gap: 10px;
        }
      }

      @media #{$sp} {
        padding: 0;
      }
    }
  }
  @media #{$sp} {
    padding: 50px 15px;
  }
}

.section-contact {
  .ttl-notice {
    font-family: "Futura";
    margin-bottom: 0;
    color: $white-color;
  }

  .card-type22 .useful-wp .containers .card .card__box {
    padding: 38px 44px;
    @media #{$sp} {
      padding: 30px 15px;
    }

    .card__box--ttl {
      font-size: 20px;

      @media #{$sp} {
        font-size: 16px;
        line-height: 1.5;
      }
    }

    .card__box--cont {
      margin-bottom: 30px;
      .card__box--txt {
        text-align: left;
        @media #{$sp} {
          margin-bottom: 0;
        }
      }
    }

    .blue_gradient_btn {
      @media #{$sp} {
        font-size: 14px;
      }
    }
  }
}

.section-contact2 {
  background-image: url("https://ferret-one.akamaized.net/images/650d6c71e6dc9307760599e5/original.png?utime=1695378545");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  padding: 170px 0 70px;

  @media #{$sp} {
    padding: 140px 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55);
  }

  .card-type22 .useful-wp .containers .card .card__box {
    padding: 38px 44px;
    @media #{$sp} {
      padding: 30px 15px;
    }
  }

  .card-type22 {
    background: unset;
    padding: 0;
    &::before {
      display: none;
    }
    .ttl-tertiary {
      width: fit-content;
      margin-left: auto;
      margin-right: auto;

      span {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 70%, #0297b5 0);
        @media #{$sp} {
          line-height: 1.75;
        }
      }

      strong {
        color: $yellow-color;
      }
    }

    .description {
      text-align: center;
      font-size: 20px;
      color: $white-color;
      margin-bottom: 60px;
      @media #{$sp} {
        font-size: 16px;
        line-height: 1.75;
      }
    }

    .card__box {
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 38px 44px;

      @media #{$sp} {
        padding: 30px 15px;
      }

      &--ttl {
        font-size: 20px;
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        @media #{$sp} {
          font-size: 16px;
          line-height: 1.5;
        }
      }

      &--cont {
        margin-bottom: 30px;
        .card__box--txt {
          text-align: left;
        }
      }

      .blue_gradient_btn {
        @media #{$sp} {
          font-size: 14px;
        }
      }
    }
  }

  .tooltip {
    position: absolute;
    top: -90px;
    left: calc(50% - 181px);

    @media #{$sp} {
      top: -64px;
    }

    &__content {
      padding: 0 20px;
      border: 1px solid $white-color;
      color: $white-color;
      width: fit-content;
      position: relative;
      font-size: 20px;
      font-weight: 700;
      border-bottom: none;

      @media #{$sp} {
        line-height: 51px;
      }
    }

    .tooltip-container {
      position: relative;
      .tooltip_path {
        position: absolute;
        width: calc(50% - 11px);
        height: 1px;
        background-color: $white-color;
      }
      &::before,
      &::after {
        content: "";
        position: absolute;
        width: calc(50% - 11px);
        height: 1px;
        background-color: $white-color;
        bottom: 0;
      }

      &::before {
        left: 0;
      }
      &::after {
        right: 0;
      }
    }

    &::before {
      bottom: -14px;
      left: calc(50% - 2px);
      position: absolute;
      content: "";
      width: 15px;
      height: 15px;
      background: transparent;
      border: 1px solid #fff;
      border-top: none;
      border-left: none;
      transform: rotate(45deg) translateX(-50%);
      z-index: 1;
    }
  }
}

.section-voice {
  text-align: center;
  padding: 70px 0;
  background-color: #fff;

  @media #{$sp} {
    padding: 35px 15px;
  }

  .ttl-sub {
    font-size: 14px;
    font-weight: bold;
    font-family: "Futura";
    color: $primary-color;
  }

  .ttl-secondary {
    font-size: 32px;
    margin-bottom: 61px;
    @media #{$sp} {
      margin-bottom: 25px;
    }
  }
}

.section-subinfo {
  .containers {
    padding: 8px 0;
    text-align: left;
  }
  background: #797979;
  color: #fff;
  font-size: 13px;
}

.section-loan-conditions {
  padding: 40px 0;
  .external-list {
    display: grid;
    gap: 10px;
    margin-bottom: 40px;
    .external-item {
      &-link {
        display: flex;
        gap: 10px;
        align-items: center;
        svg {
          text {
            font-size: 15px;
          }
        }
      }
    }
  }

  .loan-condition-list {
    margin-bottom: 8px;
    .loan-condition-title {
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 24px;
    }

    .loan-condition-item {
      font-size: 13px;
    }
  }
}

.section-license {
  font-size: 13px;
  color: $white-color;
  background-color: $gray-color-8;
  padding: 8px 0;
}
