.welfare-page {
  margin: auto;
  padding: 140px 0 0px;

  .section-welcome {
    padding: 85px 120px;
    text-align: left;
    background-color: #f7f7f7;

    .ttl-primary {
      font-size: 42px;
      margin-bottom: 31px;
      text-align: left;
      line-height: 1;
    }

    .ttl-tertiary {
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 30px;
      display: inline-block;
      background-color: #003f98;
      color: white;
      font-weight: bold;
    }

    .ttl-quaternary {
      font-size: 20px;
      font-weight: 400;
    }

    .dark_blue_outline_rounded_btn {
      margin: 0;
      margin-right: auto;
    }
  }

  .section-primary {
    text-align: center;
    padding: 70px 120px 70px;
    background-color: #fff;

    .ttl-secondary {
      font-size: 32px;
      margin-bottom: 61px;
    }

    .card-list {
      .card-type6 {
        width: calc(100% / 3 - 20px);
        padding: 0;

        .card {
          width: 100%;
          max-width: unset;

          .ttl-senary {
            margin-bottom: 0;
          }

          .card-body {
            justify-content: flex-start;
            flex-wrap: nowrap;
            margin-bottom: 30px;

            .circle-container {
              margin: auto;
              margin-bottom: 30px;
            }

            .check-list {
              list-style: none;

              li {
                position: relative;
                margin-left: 20px;
              }

              li:before {
                content: "✓";
                left: -20px;
                position: absolute;
              }
            }
          }
        }
      }
    }
  }

  .section-secondary {
    text-align: center;
    padding: 120px 120px 70px;
    background-color: #eeeeee;
    position: relative;

    .up-triangle {
      width: 0;
      height: 0;
      border-left: 180px solid transparent;
      border-right: 180px solid transparent;
      border-top: 60px solid #ffffff;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
    }

    .ttl-secondary {
      font-size: 32px;
      margin-bottom: 30px;
    }

    .section-img {
      margin: auto;
      max-width: 479px;
      text-align: center;
      margin-bottom: 30px;
    }

    .ttl-tertiary {
      .yellow-bottom {
        font-weight: 600;
        background: linear-gradient(to bottom, transparent 70%, $yellow-color 30%);
        display: inline;
      }
    }

    .panel-primary {
      margin-bottom: 60px;

      .notification-panel2 {
        padding: 0;

        .relation {
          border: 1px solid #003f98;
          .single__ttl {
            background-color: #003f98;
          }
        }
      }
    }

    .panel-secondary {
      margin-bottom: 60px;

      .notification-panel2 {
        padding: 0;

        .relation {
          border: 1px solid #003f98;
          padding-bottom: 30px;

          .single__ttl {
            background-color: #003f98;
          }

          dd {
            margin-bottom: 30px;
            text-align: left;
            padding: 0 30px;
          }

          .card-container {
            padding: 0 30px;
            flex-wrap: nowrap;
            align-items: center;

            .card-circle {
              width: calc(28% - 20px);
              padding-bottom: calc(28% - 20px);
              border-radius: 50%;
              background-color: #ccc;
              display: flex;
              justify-content: center;
              align-items: center;
              position: relative;
              flex-shrink: 0;

              .card-circle-text {
                display: block;
                position: absolute;
                display: flex;
                top: 50%;
                left: 50%;
                align-items: center;
                justify-content: center;
                transform: translate(-50%, -50%);
                flex-shrink: 0;
              }
            }

            .card-button {
              width: calc(22% - 20px);
              flex-shrink: 0;

              .default_btn:last-child {
                margin-bottom: 0;
              }
            }

            .card-txt {
              width: calc(50% - 20px);
              font-weight: 500;
              flex-shrink: 0;
              text-align: left;
            }
          }
        }
      }
    }

    .panel-tertiary {
      margin-bottom: 60px;

      .notification-panel2 {
        padding: 0;

        .relation {
          border: 1px solid #003f98;
          padding-bottom: 30px;

          .single__ttl {
            background-color: #003f98;
          }

          dd {
            margin-bottom: 30px;
            text-align: left;
            padding: 0 30px;
          }

          .card-icon {
            flex-wrap: nowrap;
            margin-bottom: 60px;

            img {
              width: auto;
              flex-basis: calc(10% - 10px);
            }
          }

          .card-list {
            padding: 0 60px;

            .card-type11 {
              .card {
                background-color: #fff;
                border: 1px solid #707070;
                border-radius: 10px;
                padding: 0;

                .ttl-tertiary {
                  text-align: center;
                  padding: 8px 0;
                  border-bottom: 1px solid #707070;
                  letter-spacing: 0px;
                }

                .item-list {
                  padding: 30px;

                  .item__img {
                    width: 178px;
                    height: 142px;
                    padding: 0 30px;
                    background-color: #e1e1e1;
                  }

                  .ttl-tertiary {
                    border-bottom: 0;
                    font-weight: 400;
                    padding: 0;
                    text-align: left;
                  }
                }
              }
            }
          }
        }
      }
    }

    .panel-quaterary {
      margin-bottom: 0px;

      .notification-panel2 {
        padding: 0;

        .card-type13 {
          margin-bottom: 30px;

          dd {
            margin-bottom: 30px;
          }

          .sp-reverse {
            margin-bottom: 30px;

            .sec__img {
              max-width: 391px;
              flex: 1;

              img {
                max-width: 167px;
              }
            }
          }

          .sec-right-wrapper {
            max-width: calc(100% - 391px - 30px);
          }
        }

        .dark_blue_outline_btn {
          margin-bottom: 30px;
        }
      }
    }
  }

  .section-tertiary {
    padding: 70px 0;

    .ttl-secondary {
      margin-bottom: 30px;
    }

    .ttl-tertiary {
      margin-bottom: 30px;
      text-align: center;
      font-weight: 400;
    }

    .section-img {
      max-width: 479px;
      margin: auto;
      margin-bottom: 60px;
    }
  }

  .section-quaterary {
    padding: 70px 0;
    background-color: #e1e1e1;

    .card-type21 {
      .card-list {
        .card {
          background-color: #fff;
        }
      }
    }
  }
}
