// Breakpoint設定

$sp: "all and (max-width : 768px)";
//$sm: "all and (max-width : 840px)";
//$md: "all and (max-width : 1000px)";
//$lg: "all and (max-width : 1100px)";
$tab: "all and (max-width : 860px)";
//$xl: "all and (max-width : 1200px)";
$pc: "all and (min-width: 769px)";

$font-family: "Noto Sans JP", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",
  "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ＭＳ Ｐゴシック",
  "MS PGothic", sans-serif;

// カラー

$primary-color: #0297b5;
$black_color: #191919;
$black-color-01: #121212;

$secondary-color: #ccc;

$tertiary-color: #eee;

$white-color: #fff;

$orange-color: #ef783e;

$orange-gradient: transparent linear-gradient(78deg, #f29a39 0%, #ef783e 100%)
  0% 0% no-repeat padding-box;
$orange-gradient-reserve: transparent
  linear-gradient(258deg, #f29a39 0%, #ef783e 100%) 0% 0% no-repeat padding-box;

$gradient-bg: transparent linear-gradient(61deg, #0497b5 0%, #53d2b2 100%) 0% 0%
  no-repeat padding-box;
$gradient-bg-reverse: transparent
  linear-gradient(241deg, #0497b5 0%, #53d2b2 100%) 0% 0% no-repeat padding-box;
$gradient-bg-2: transparent linear-gradient(90deg, #111111 0%, #444444 100%) 0%
  0% no-repeat padding-box;

$blue-color: #0497b5;
$blue-color-1: #00758c;
$blue-color-2: #e5f4f8;
$blue-color-3: #004098;
$blue-color-4: #014A58;

$green-color: #007477;
$green-color-1: #53d2b2;
$green-color-2: #24A4A4;

$gray-color: #f1f1f1;
$gray-color-2: #a7a7a7;
$gray-color-3: #dddddd;
$gray-color-4: #0000001c;
$gray-color-5: #666666;
$gray-color-6: #00000029;
$gray-color-7: #eeeeee;
$gray-color-8: #797979;

$yellow-color: #ffff01;

// テキストカラー

// コンテナー設定

$container: 1200px;
$container-full: 100%;

// グリッド設定

$gutter: 20px;
$small-gutter: 10px;
