// Breakpoint設定

$sp: "all and (max-width : 768px)";
//$sm: "all and (max-width : 840px)";
//$md: "all and (max-width : 1000px)";
//$lg: "all and (max-width : 1100px)";
$tab: "all and (max-width : 860px)";
//$xl: "all and (max-width : 1200px)";
$pc: "all and (min-width: 769px)";


$font-family: 'Noto Sans JP','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','游ゴシック','Yu Gothic','游ゴシック体','YuGothic','ＭＳ Ｐゴシック','MS PGothic',sans-serif;


// カラー

$primary-color: #0297B5;
$black_color: #191919;
$black-color-01: #121212;

$secondary-color: #ccc;

$tertiary-color: #eee;

$white-color: #fff;

$gradient-bg: transparent linear-gradient(61deg, #0497B5 0%, #53D2B2 100%) 0% 0% no-repeat padding-box;
$gradient-bg-reverse: transparent linear-gradient(241deg, #0497B5 0%, #53D2B2 100%) 0% 0% no-repeat padding-box;
$gradient-bg-2: transparent linear-gradient(90deg, #111111 0%, #444444 100%) 0% 0% no-repeat padding-box;

$blue-color: #0497B5;
$blue-color-1: #00758C;
$blue-color-2: #E5F4F8;

$green-color: #007477;
$green-color-1: #53D2B2;

$gray-color: #F1F1F1;
$gray-color-2: #A7A7A7;
$gray-color-3: #DDDDDD;
$gray-color-4: #0000001C;
$gray-color-5: #666666;
$gray-color-6: #00000029;
$gray-color-7: #EEEEEE;

$yellow-color: #FFFF01;

// テキストカラー



// コンテナー設定

$container: 1200px;
$container-full: 100%;

// グリッド設定

$gutter: 20px;
$small-gutter: 10px;
