<!DOCTYPE html>
<html lang="ja">

<head>
  {% include 'partial/meta.njk' %}
  {# Custom head #}
  {%- block customHead %}
  {% endblock -%}
  <script src="/assets/js/all.min.js"></script>
</head>

<body class="{% if page %}{{ page }}{% endif %}">
  {% include 'partial/top_header.njk' %}
  {# Page content #}
  {%- block content %}
  {% endblock -%}
  {% include 'partial/footer.njk' %}
  {# Custom js #}
  {%- block customJs %}
  {% endblock -%}
</body>

</html>
