{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Breadcrumb #}
{% set breadcrumb = [{
text:"サービス一覧",
link:"#"
}] %}

{# Custom tags before </head> #}
{% block customHead %}{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}{% endblock %}

{# Main content #}
{% block content %}

<main class="service-page">
  <section class="section-welcome">
    <div class="container-1200">
      <h1 class="ttl-primary">サービス一覧</h1>

      <h3 class="ttl-tertiary">クレディセゾンは、法人・個人事業主の方向けに、カード会社の枠を超えた <br> ビジネス成長につながる幅広いソリューションをご提供しています。 </h3>
    </div>
  </section>

  <section class="section-secondary">
    <div class="container-1200 refine-search">
      <h2 class="ttl-secondary">絞り込み検索</h2>

      <div class="section-wrapper">
        <div class="card-section by-size">
          <div class="left-content">
            規模別
          </div>
          <div class="right-content">
            <a href="#" class="bondi_blue_outline_btn">個人事業主向け</a>
            <a href="#" class="bondi_blue_outline_btn">中小企業向け</a>
          </div>
        </div>
        <div class="card-section by-purpose">
          <div class="left-content">
            目的別
          </div>
          <div class="right-content">
            <a href="#" class="bondi_green_outline_btn">ビジネスカードを作りたい</a>
            <a href="#" class="bondi_green_outline_btn">経費を削減したい</a>
            <a href="#" class="bondi_green_outline_btn">資金繰りを改善したい</a>
            <a href="#" class="bondi_green_outline_btn">業務効率化を図りたい</a>
            <a href="#" class="bondi_green_outline_btn">福利厚生を充実したい</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-card-list">
    <div class="container-1200">
      <div class="section-wrapper">
        <div class="card-section cursor-pointer cursor-pointer">
          <img src="/assets/img/credit_cards/saison-03.png" alt="cast flow">
          <div class="content">
            <div class="title">
              <span class="primary">法人与信型ビジネスカード</span>
              セゾンプラチナ・ビジネス プロアメリカン・エキスプレス®・カード
            </div>
            <div class="description">
              中小企業の経営と事業成長を強力にサポートする一枚。
            </div>
            <div class="list-button">
              <a href="#" class="bondi_blue_outline_btn">中小企業向け</a>
              <a href="#" class="bondi_green_outline_btn">ビジネスカードを作りたい</a>
              <a href="#" class="bondi_green_outline_btn">経費を削減したい</a>
            </div>
          </div>
        </div>

        <div class="card-section cursor-pointer">
          <img src="/assets/img/credit_cards/saison-01.png" alt="cast flow">
          <div class="content">
            <div class="title">
              <span class="primary">法人与信型ビジネスカード</span>
              セゾンゴールド・ビジネス プロ・カード
            </div>
            <div class="description">
              ビジネスにさらなる安心を与える一枚。
            </div>
            <div class="list-button">
              <a href="#" class="bondi_blue_outline_btn">中小企業向け</a>
              <a href="#" class="bondi_green_outline_btn">ビジネスカードを作りたい</a>
              <a href="#" class="bondi_green_outline_btn">経費を削減したい</a>
            </div>
          </div>
        </div>

        <div class="card-section cursor-pointer">
          <img src="/assets/img/credit_cards/saison-02.png" alt="cast flow">
          <div class="content">
            <div class="title">
              <span class="primary">法人与信型ビジネスカード</span>
              セゾン・アメリカン・エキスプレス®・ビジネス プロ・パーチェシング・カード
            </div>
            <div class="description">
              効率化とコスト削減を目指すならこの一枚。
            </div>
            <div class="list-button">
              <a href="#" class="bondi_blue_outline_btn">中小企業向け</a>
              <a href="#" class="bondi_green_outline_btn">ビジネスカードを作りたい</a>
              <a href="#" class="bondi_green_outline_btn">経費を削減したい</a>
            </div>
          </div>
        </div>
        <div class="card-section cursor-pointer">
          <img src="/assets/img/credit_cards/american-express-01.png" alt="cast flow">
          <div class="content">
            <div class="title">
              <span class="secondary">個人与信型ビジネスカード</span>
              セゾンプラチナ・ビジネス・アメリカン・エキスプレス®・カード
            </div>
            <div class="description">
              個人与信型ビジネスカード
            </div>
            <div class="list-button">
              <a href="#" class="bondi_blue_outline_btn">個人事業主向け</a>
              <a href="#" class="bondi_green_outline_btn">ビジネスカードを作りたい</a>
              <a href="#" class="bondi_green_outline_btn">経費を削減したい</a>
            </div>
          </div>
        </div>
        <div class="card-section cursor-pointer">
          <img src="/assets/img/credit_cards/american-express-02.png" alt="cast flow">
          <div class="content">
            <div class="title">
              <span class="secondary">個人与信型ビジネスカード</span>
              セゾンコバルト・ビジネス・アメリカン・エキスプレス®・カード
            </div>
            <div class="description">
              初めてのビジネスカードに。シンプルなこの一枚。
            </div>
            <div class="list-button">
              <a href="#" class="bondi_blue_outline_btn">中小企業向け</a>
              <a href="#" class="bondi_green_outline_btn">ビジネスカードを作りたい</a>
              <a href="#" class="bondi_green_outline_btn">経費を削減したい</a>
            </div>
          </div>
        </div>
        <div class="card-section cursor-pointer">
          <img src="/assets/img/credit_cards/saison-04.png" alt="cast flow">
          <div class="content">
            <div class="title">
              <span class="blue">後払い決済・請求代行サービス</span>
              セゾンインボイス
            </div>
            <div class="description">
              毎⽉の請求業務を最短15分に短縮！未⼊⾦対応をゼロに
            </div>
            <div class="list-button">
              <a href="#" class="bondi_blue_outline_btn">中小企業向け</a>
              <a href="#" class="bondi_green_outline_btn">資金繰りを改善したい</a>
              <a href="#" class="bondi_green_outline_btn">業務効率化を図りたい</a>
            </div>
          </div>
        </div>
        <div class="card-section cursor-pointer">
          <img src="/assets/img/credit_cards/saison-05.png" alt="cast flow">
          <div class="content">
            <div class="title">
              <span class="blue">請求書カード払いサービス</span>
              支払い.com
            </div>
            <div class="description">
              すべての支払いを、最長60日後にカードで先延ばし!
            </div>
            <div class="list-button">
              <a href="#" class="bondi_blue_outline_btn">個人事業主様向け</a>
              <a href="#" class="bondi_blue_outline_btn">中小企業向け</a>
              <a href="#" class="bondi_green_outline_btn">資金繰りを改善したい</a>
              <a href="#" class="bondi_green_outline_btn">業務効率化を図りたい</a>
            </div>
          </div>
        </div>
        <div class="card-section cursor-pointer">
          <img src="/assets/img/credit_cards/saison-06.png" alt="cast flow">
          <div class="content">
            <div class="title">
              <span class="blue">福利厚生サービス</span>
              セゾンフクリコ
            </div>
            <div class="description">
              従業員が喜ぶ優待メニューが充実!月額385円～/人で。!
            </div>
            <div class="list-button">
              <a href="#" class="bondi_blue_outline_btn">中小企業向け</a>
              <a href="#" class="bondi_green_outline_btn">福利厚生を充実させたい</a>
            </div>
          </div>
        </div>
        <div class="card-section cursor-pointer">
          <img src="/assets/img/credit_cards/saison-07.png" alt="cast flow">
          <div class="content">
            <div class="title">
              <span class="blue">ローンサービス</span>
              ビジネスサポートローン
            </div>
            <div class="description">
              まとまった資金を低金利で!
            </div>
            <div class="list-button">
              <a href="#" class="bondi_blue_outline_btn">個人事業主様向け</a>
              <a href="#" class="bondi_green_outline_btn">資金繰りを改善したい</a>
            </div>
          </div>
        </div>
        <div class="card-section cursor-pointer">
          <img src="/assets/img/credit_cards/saison-08.png" alt="cast flow">
          <div class="content">
            <div class="title">
              <span class="blue">経費精算・管理クラウド</span>
              Concur Expense
            </div>
            <div class="description">
              仮払い・立替払いを廃止！経費精算を自動化できる!
            </div>
            <div class="list-button">
              <a href="#" class="bondi_blue_outline_btn">中小企業向け</a>
              <a href="#" class="bondi_green_outline_btn">業務効率化を図りたい</a>
            </div>
          </div>
        </div>
        <div class="card-section cursor-pointer">
          <img src="/assets/img/credit_cards/saison-09.png" alt="cast flow">
          <div class="content">
            <div class="title">
              <span class="blue">出張手配サービス</span>
              CosPro
            </div>
            <div class="description">
              出張手配の問題をまるごと解決!
            </div>
            <div class="list-button">
              <a href="#" class="bondi_blue_outline_btn">中小企業向け</a>
              <a href="#" class="bondi_green_outline_btn">業務効率化を図りたい</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-tertiary">
    <h5 class="ttl-sub">DOCUMENTS</h5>
    <h2 class="ttl-secondary">もっと詳しく知りたい方へ</h2>
    <h3 class="ttl-tertiary">クレディセゾンのビジネスカードやソリューションの詳細がわかる資料をダウンロードいただけます。</h3>
    <a href="/catalog_list/" class="blue_gradient_btn">サービス資料一覧を見る</a>
  </section>

  <section class="section-license">
    <div class="container">
      ※「アメリカン・エキスプレス」は、アメリカン・エキスプレスの登録商標です。(株)クレディセゾンは、アメリカン・エキスプレスのライセンスに基づき使用しています。
    </div>
  </section>
</main>
{% endblock %}
