{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Custom tags before </head> #}
{% block customHead %}{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}{% endblock %}

{# Breadcrumb #}
{% set breadcrumb = [
{
text: "セゾンコバルト・ビジネス・アメリカン・エキスプレス®・カード",
link: "#"
}
] %}


{% set menuSidebar = [
{
text: "年会費・入会資格",
link: "#membership-fee"
},
{
text: "付帯サービス",
link: "#additional-services"
},
{
text: "ご利用シーン",
link: "#usage"
},
{
text: "カード比較",
link: "#card-comparison"
},
{
text: "よくある質問",
link: "#faq"
},
{
text: "お申し込みまでの流れ",
link: "#application-flow"
},
{
text: "お申し込み",
link: "#top"
}
] %}

{# Main content #}
{% block content %}
<div class="business_pro_mega_menu">
  {% include 'partial/sidebar.njk' %}
</div>
<main class="business_pro-page">
  <section id="top" class="section-welcome cobalt fadein">
    <div class="containers">
      <div class="banner-containers">
        <div class="banner-left">
          <div class="title-notice">
            <h3 class="title-content">
              個人与信型ビジネスカード
              {% include 'component/icons/circle-question.njk' %}
            </h3>
          </div>
          <h1 class="ttl-primary">
            セゾンコバルト・ビジネス・<br> アメリカン・エキスプレス®・カード
          </h1>

          <div class="card-contents">
            <div class="card-img">
              <img src="/assets/img/credit_cards/american-express-02.png" alt="Your Image" class="credit-card-img">
            </div>
            <div class="card-description">
              <span class="yellow-bottom">年会費永年無料</span>
            </div>
          </div>

          <div class="banner-btn">
            <a class="banner-btn__option blue_gradient_btn" href="#">お申し込みはこちら</a>
          </div>

        </div>
        <div class="banner-right pc-only">
          ビジネスに特化した<br />
          シンプルな<br />
          一枚なら。
        </div>
      </div>
    </div>
  </section>

  <section class="section-tertiary">
    <div class="containers">
      <h2 class="ttl-primary">はじめての方にうれしい！2つの特典</h2>

      <div class="grid-card-containers">
        <div class="card-item">
          <a class="card">
            <div class="card-head">年会費</div>
            <div class="card-content">
              <div><span class="percent blue-text">永年無料</span></div>
            </div>
          </a>
        </div>
        <div class="card-item">
          <a class="card">
            <div class="card-head">永久不滅ポイント優遇</div>
            <div class="card-content">
              <div><span class="blue-text"> 国内：</span> 1,000円<font size="2">(税込)</font>で <span
                  class="percent blue-text">1</span> <span class="blue-text">ポイント</span></div>
              <div class="minus-margin"><span class="blue-text"> 海外：</span> 1,000円<font size="2">(税込)</font>で <span
                  class="percent blue-text">2</span> <span class="blue-text">ポイント</span></div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="section-secondary">
    <div class="containers">
      <h2 class="ttl-secondary">うれしいビジネス機能が充実</h2>

      <ul class="card-list">
        <li class="card">
          <h2>支払い猶予が最長56日</h2>
          <div class="grid__card--img"><img src="/assets/img/cobalt_business/cobalt1.png" alt="work image"></div>
          <p>請求サイクルは、毎月10日締めの翌月4日支払い。そのため、1回払いで決済した場合、決済からお支払いまでに最大56日間の猶予があるので、キャッシュフローにゆとりができます。</p>
        </li>
        <li class="card">
          <h2>ご利用額の増枠・一時増枠</h2>
          <div class="grid__card--img"><img src="/assets/img/cobalt_business/cobalt2.png" alt="work image"></div>
          <p>
            増枠期間や利用目的を定めた「一時的な増枠」か、定めのない「継続的な増枠」にて、ご利用可能枠を引き上げることが可能です。<br />
            <br />

            <span class="note">※審査により、増枠のご希望に添えない場合もございます。</span>
          </p>
        </li>
        <li class="card">
          <h2>選べる引き落とし口座</h2>
          <div class="grid__card--img"><img src="/assets/img/cobalt_business/cobalt3.png" alt="work image"></div>
          <p>お引き落とし口座を本会員様の「個人名義口座」、または「法人口座名義※」よりお選びいただけます。法人名義口座をご指定いただけるので、経費管理がしやすくなります。<br />
            <span class="note">※法人口座は代表者名併記のものに限ります。</span>
          </p>
        </li>
      </ul>
    </div>
  </section>

  <section class="section-quaternary">
    <div class="containers">

      <h2 class="ttl-primary">登記簿や決算書の提出は不要です！</h2>
      <h4 class="ttl-tertiary">登記簿や決算書といった業務内容や実績を示す書類の提出が不要です。<br>
        <strong>書類郵送に取られる期間がなくなるため、発行までにかかる期間の短縮ができます。</strong>
      </h4>
      <div>
        <a href="" class="blue_gradient_btn">お申し込みはこちら</a>
      </div>
      <p class="note">※申込み時にフォームにて、決算内容の入力は必要です。決算内容がわかるもののご用意をお願いいたします。</p>
    </div>
  </section>

  <section id="membership-fee" class="section-quinary">
    <div class="containers">
      <h2 class="ttl-primary">年会費・入会資格</h2>

      <div class="card-contents">
        <div class="grid-card-containers">
          <div class="col-left">
            年会費
          </div>
          <div class="col-right">
            <div class="ttl-quaternary">永年無料</div>
          </div>
        </div>

        <div class="grid-card-containers">
          <div class="col-left">
            入会資格
          </div>
          <div class="col-right">
            <div class="ttl-quaternary">個人事業主様またはフリーランス、経営者の方（高校生を除く）</div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="additional-services" class="section-septenary">
    <div class="containers">
      <h4 class="ttl-primary">付帯サービス</h4>
      <div class="grid-card-containers">
        <div class="card">
          <div class="card-img">
            <img src="/assets/img/cobalt_business/add_service1.png" alt="work image">
          </div>
          <div class="card-content">
            <h4 class="ttl-quaternary">レンタルサーバーが<br />お得にご利用可能</h4>
            <div class="ttl-normal">国内シェアトップクラス、エックスサーバーのレンタルサーバーをお得にご利用いただけます。</div>
          </div>
        </div>

        <div class="card">
          <div class="card-img">
            <img src="/assets/img/cobalt_business/add_service2.png" alt="work image">
          </div>
          <div class="card-content">
            <h4 class="ttl-quaternary">法人向けモバイル<br />Wi-Fiを特別価格で</h4>
            <div class="ttl-normal">
              オフィスでも、在宅ワークでも、新幹線や打ち合わせのカフェなどの外出中も、安心・安全・快適にインターネット通信をご利用いただけます。
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-img">
            <img src="/assets/img/cobalt_business/add_service3.png" alt="work image">
          </div>
          <div class="card-content">
            <h4 class="ttl-quaternary">補助⾦・助成⾦コンサルティングサービス ご優待</h4>
            <div class="ttl-normal">累計1万社以上、補助金・助成金申請額120億円以上の支援実績を誇る、株式会社ライトアップが提供する、補助金・助成金申請サ ポートサービスを優待価格でご利用いただけます。
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-img">
            <img src="/assets/img/cobalt_business/add_service4.png" alt="work image">
          </div>
          <div class="card-content">
            <h4 class="ttl-quaternary">貸し会議室、<br />事務用品などのご優待</h4>
            <div class="ttl-normal">
              レンタカー、電話代行サービス、貸会議室など、さまざまな業種の経費のお支払いに、料金交渉の手間もなくいつでも優待価格でご利用いただけます。</div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="usage" class="section-octonary">
    <div class="containers">
      <h4 class="ttl-primary">ご利用シーン</h4>
      <h2 class="ttl-quaternary">ビジネスサービスに特化した一枚。開業前でも気軽に申し込め、支払いで貯めたポイントを経費削減に活用できるなど、<br />初めてビジネスカードを持つ方におすすめです。</h2>

      <div class="grid-card-containers">
        <div class="card">
          <h2 class="ttl-head">独⽴したてでも</h2>
          <img src="/assets/img/cobalt_business/usage1.png" alt="work image" class="card-img">
          <div class="ttl-normal">
            経費削減のためにビジネスカードを作りた いと思っていたところ、仲間からセゾンコ
            バルト・ビジネス・アメリカン・エキスプレス®・カードをすすめられた。決算書・登記簿がなくても申し込めて、年会費も永年無料というから驚き。独立したての自分にとって、この条件は本当にありがたい。
          </div>
        </div>

        <div class="card">
          <h2 class="ttl-head">毎⽉の経費管理で</h2>
          <img src="/assets/img/cobalt_business/usage2.png" alt="work image" class="card-img">
          <div class="ttl-normal">
            オフィス賃料、交通費、雑費など、独立すると何かと出費が…。とはいえ、本業に集中したいので、経費管理に時間を取られたくない。セゾンコバルト・ビジネス・アメリカン・エキスプレス®・カードなら、経費処理の手間が省けるので助かっている。
          </div>
        </div>

        <div class="card">
          <h2 class="ttl-head">確定申告で</h2>
          <img src="/assets/img/cobalt_business/usage3.png" alt="work image" class="card-img">
          <div class="ttl-normal">
            確定申告は、避けることのできない一大行事。それなのに、仕事の納期と重なってし
            まった…。幸いにも、ビジネスカードで支払いをまとめていたので、領収書などを整理する手間が省けた。しかも、納税してポイントまで貯まるというから驚きだ。
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-senary">
    <div class="containers">
      <h3 class="ttl-tertiary">DOCUMENTS</h3>
      <h1 class="ttl-quaternary">ビジネスカードを検討しているなら、知らないともったいない！</h1>
      <h4 class="ttl-primary"><span class="blue-bottom">「ビジネスカードの🉐活用ガイド」</span></h4>

      <div class="senary-content">
        <div class="content-img">
          <img src="/assets/img/business_card_creation/business_card _usage_guide.png" alt="work image" class="img-top">
        </div>
        <div class="content-detail">
          <div class="content-head">ビジネスカードのメリットを使い倒すためのオトクな活用方法をまるっと紹介！</div>
          <p>
            ビジネスカードが役立つ場面はたくさんありますが、多くの場合においてそのメリットや特典を使いこなしていないケースもあります。本資料では、ビジネスカードのメリットや特典を使い倒すために具体的な使い方や活用シーンを紹介しています。これからビジネスカードを利用したいという方は参考にしてみてください。
          </p>
        </div>
      </div>

      <div class="btn-container">
        <a class="blue_gradient_btn" href="#">資料ダウンロード（無料）</a>
      </div>
    </div>
  </section>

  <section id="card-comparison" class="section-card-info">
    <div class="containers">
      <h4 class="ttl-primary">カード比較</h4>

      <div class="scroll container-content">
        <div class="card-row card-row-1">
          <div class="card-type">
            <div></div>
          </div>
          <div class="card-type card-type-0">
            <div>
              <div class="ttl-quinary">セゾンプラチナ・ビジネス・
                <br />アメリカン・エキスプレス®・カード
              </div>
              <img src="/assets/img/credit_cards/american-express-01.png" alt="amex" class="credit-card-img">
            </div>
          </div>
          <div class="card-type card-type-1">
            <div>
              <div class="ttl-quinary">セゾンコバルト・ビジネス・
                <br />アメリカン・エキスプレス®・カード
              </div>
              <img src="/assets/img/credit_cards/american-express-02.png" alt="amex2" class="credit-card-img">
            </div>
          </div>
        </div>
        <div class="card-row card-row-2">
          <div class="title-col item-1">
            <div>特長</div>
          </div>
          <div class="first-column">
            <div class="content-col aiS">
              <ul>
                <li>プラチナカード</li>
                <li>キャッシュバック率 1％※1</li>
                <li>支払いサイト 最長84日間※1</li>
                <li>海外最高1億円、国内最高5,000万円の<br />旅行傷害保険</li>
              </ul>
            </div>
          </div>
          <div class="second-column">
            <div class="content-col aiS">
              <ul>
                <li>登記簿がなくても個人与信で審査ができる</li>
                <li>ビジネスに役立つウェブサービスご利用で最大2％還元（通常の4倍）</li>
                <li>ビジネスに役立つメリットがたくさんあります</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-row card-row-3">
          <div class="title-col">
            <div>代表者 <br> 年会費</div>
          </div>
          <div class="first-column">
            <div class="content-col pl-45">
              <div class="normal-text">
                22,000円（税込）
              </div>
            </div>
          </div>
          <div class="second-column">
            <div class="content-col pl-45">
              <div class="normal-text">
                永年無料
              </div>
            </div>
          </div>
        </div>
        <div class="card-row card-row-4">
          <div class="title-col">
            <div>追加カード <br> 年会費</div>
          </div>
          <div class="first-column">
            <div class="content-col pl-45">
              <div class="normal-text">
                3,300円（税込）
              </div>
            </div>
          </div>
          <div class="second-column">
            <div class="content-col pl-45">
              <div class="normal-text">
                永年無料
              </div>
            </div>
          </div>
        </div>
        <div class="card-row card-row-5">
          <div class="title-col">
            <div>追加カード <br> 年会費</div>
          </div>
          <div class="first-column">
            <div class="content-col pl-45">
              <div class="normal-text">
                10枚（本カード含）
              </div>
            </div>
          </div>
          <div class="second-column">
            <div class="content-col pl-45">
              <div class="normal-text">
                10枚（本カード含）
              </div>
            </div>
          </div>
        </div>
        <div class="card-row card-row-6">
          <div class="title-col">
            <div>申し込み <br> 資格</div>
          </div>
          <div class="first-column">
            <div class="content-col pl-45">
              <div class="normal-text">
                個人事業主・経営者をはじめ、安定した収入があり、社会的信用を有するご連絡可能な方（学生、未成年を除く）
              </div>
            </div>
          </div>
          <div class="second-column">
            <div class="content-col pl-45">
              <div class="normal-text">
                個人事業主またはフリーランス、経営者の方（高校生除く）
              </div>
            </div>
          </div>
        </div>
        <div class="card-row card-row-7">
          <div class="title-col">
            <div>MORE</div>
          </div>
          <div class="first-column">
            <div class="content-col direction-col aiS">
              <ul>
                <li>プラチナ会員専用デスク</li>
                <li>AMEXセンチュリオンデザイン採用</li>
                <li>通常429米ドルのプライオリティパスを代表者様は無料でご登録可能</li>
              </ul>

              <a href="#" class="bondi_blue_outline_btn aiS">
                <span class="bondi_blue_outline_btn__tittle">詳細はこちら</span>
              </a>
            </div>
          </div>
          <div class="second-column">
            <div class="content-col direction-col aiS">
              <ul>
                <li>コバルトビジネスカードの特典・優待サービス</li>
                <li>AMEXセンチュリオンデザイン採用</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="card-comparison">
        <p class="text-muted">※1：サービスはカードごとに選択いただくサービスとなります。</p>
        <p class="text-muted">※上記一覧は概要となります。詳しくはサービス記載項目をご確認ください。</p>
      </div>

      <div class="contact-us">
        <p>「どのビジネスカードがよいかわからない」という方はお気軽にご相談下さい。<br />
          担当者がカード選びをサポートさせていただきます。
        </p>

        <a href="#" class="bondi_blue_btn more btn-contact">お問い合わせはこちら</a>
      </div>
    </div>
  </section>

  <section id="faq" class="section-question-and-answer">
    <h5 class="ttl-sub">FAQ</h5>
    <h2 class="ttl-secondary">よくある質問</h2>
    {% for i in range(1, 5) %}
    <div class="qa">
      <div class="flex gap20 question-tab">
        <div class="qa-marker">
          <h2 class="ttl-secondary">Q</h2>
        </div>
        <div class="qa-content">
          <h3 class="ttl-tertiary">
            質問内容が入ります。質問内容が入ります。質問内容が入ります。質問内容が入ります。質問内容が入ります。
          </h3>
        </div>
        <button class="qa-button">
          <span class="svg__plus">{% include 'component/icons/plus.njk' %}</span>
          <span class="svg__minus">{% include 'component/icons/minus.njk' %}</span>
        </button>
      </div>
      <div class="flex gap20 answer-tab">
        <div class="qa-marker">
          <h2 class="ttl-secondary">A</h2>
        </div>
        <div class="qa-content">
          <h3 class="ttl-tertiary">
            質問回答が入ります。質問回答が入ります。質問回答が入ります。質問回答が入ります。質問回答が入ります。質問回答が入ります。質問回答が入ります。質問回答が入ります。質問回答が入ります。質問回答が入ります。質問回答が入ります。質問回答が入ります。質問回答が入ります。
          </h3>
        </div>
      </div>
    </div>
    {% endfor %}

    <div class="btn-actions">
      <a href="#" class="btn bondi_blue_outline_btn">もっと見る</a>
    </div>

  </section>

  <section id="application-flow" class="section-application-flow">
    <div class="containers">
      <div class="ttl-primary">お申し込みまでの流れ</div>

      <div class="grid-card-containers four">
        <div class="step">
          <div class="ttl-quaternary">STEP 1</div>
          <div class="svg-step">
            {% include "component/icons/step1.njk" %}
          </div>
          <div class="ttl-quinary">Webから <br /> 簡単お申し込み</div>
          <div class="arrowStep"> {% include "component/icons/arrowStep.njk" %}</div>
        </div>


        <div class="step">
          <div class="ttl-quaternary">STEP 2</div>
          <div class="svg-step">
            {% include "component/icons/step2_.njk" %}
          </div>
          <div class="ttl-quinary">契約確認書類の <br /> 受領</div>
          <div class="arrowStep"> {% include "component/icons/arrowStep.njk" %}</div>
        </div>


        <div class="step">
          <div class="ttl-quaternary">STEP 3</div>
          <div class="svg-step">
            {% include "component/icons/step3.njk" %}
          </div>
          <div class="ttl-quinary">審査結果の <br /> ご案内</div>
          <div class="arrowStep"> {% include "component/icons/arrowStep.njk" %}</div>
        </div>


        <div class="step">
          <div class="ttl-quaternary">STEP 4</div>
          <div class="svg-step">
            {% include "component/icons/step4.njk" %}
          </div>
          <div class="ttl-quinary">郵送で <br /> カードお受け取り</div>
        </div>
      </div>

      <div class="btn-container small">
        <span class="bondi_blue_btn">
          お申し込みはこちら
          <svg xpl-45ns="http://www.w3.org/2000/svg" width="15.095" height="15.095" viewBox="0 0 15.095 15.095">
            <path id="Path_44704" data-name="Path 44704" d="M9.674,0V9.674H0" transform="translate(0 7.548) rotate(-45)"
              fill="none" stroke="#fff" stroke-width="2" />
          </svg>
        </span>
      </div>
    </div>
  </section>

  <section class="section-subinfo">
    <div class="sub-infos">
      <div class="containers">
        ※「アメリカン・エキスプレス」は、アメリカン・エキスプレスの登録商標です。(株)クレディセゾンは、アメリカン・エキスプレスのライセンスに基づき使用しています。
      </div>
    </div>
  </section>
</main>
{% endblock %}
