{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "" %}
{% set description = "" %}
{% set keywords = "" %}

{% set breadcrumb = [{
head:"TOP",
link:"/"
},{
text:"サービス資料",
link:"news_list"
}] %}

{# Page settings and also body class #}
{% set page = "" %}

{# Custom tags before </head> #}
{% block customHead %}{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}{% endblock %}

{# Main content #}
{% block content %}

<main class="catalog-list-page">
  <section class="section-header">
    <h1 class="header-title">サービス資料ダウンロード</h1>
    <div class="header-subtitle">クレディセゾンのソリューションの詳細が分かるサービス資料をダウンロードいただけます。</div>
  </section>
  <section class="section-content container">
    <div class="content-title">ご興味のある資料にチェックをいれて「チェックした資料をダウンロードする」ボタンをクリックしてください。</div>
    <div class="content-list">
      <div class="list-row">
        <div class="list-item">
          <div class="item-thumbnail">
            <div class="thumbnail--up">
              <div class="thumbnail-title">資料画像</div>
            </div>
            <div class="thumbnail--down"></div>
          </div>
          <div class="item-checkbox">
            <div class="checkbox checked">
              <div class="checkbox-icon"></div>
            </div>
            <label class="checkbox-label" for="checkbox">サービス名入ります。</label>
          </div>
          <div class="item-description">資料の紹介文が入ります。資料の紹介文が入ります。資料の紹介文が入ります。資料</div>
          <div class="item-button">
            <div class="button-name">この資料をダウンロードする</div>
            <div class="button-icon"></div>
          </div>
        </div>
        <div class="list-item">
          <div class="item-thumbnail">
            <div class="thumbnail--up">
              <div class="thumbnail-title">資料画像</div>
            </div>
            <div class="thumbnail--down"></div>
          </div>
          <div class="item-checkbox">
            <div class="checkbox"></div>
            <label class="checkbox-label" for="checkbox">サービス名入ります。</label>
          </div>
          <div class="item-description">資料の紹介文が入ります。資料の紹介文が入ります。資料の紹介文が入ります。資料</div>
          <div class="item-button">
            <div class="button-name">この資料をダウンロードする</div>
            <div class="button-icon"></div>
          </div>
        </div>
        <div class="list-item">
          <div class="item-thumbnail">
            <div class="thumbnail--up">
              <div class="thumbnail-title">資料画像</div>
            </div>
            <div class="thumbnail--down"></div>
          </div>
          <div class="item-checkbox">
            <div class="checkbox"></div>
            <label class="checkbox-label" for="checkbox">サービス名入ります。</label>
          </div>
          <div class="item-description">資料の紹介文が入ります。資料の紹介文が入ります。資料の紹介文が入ります。資料</div>
          <div class="item-button">
            <div class="button-name">この資料をダウンロードする</div>
            <div class="button-icon"></div>
          </div>
        </div>
        <div class="list-item">
          <div class="item-thumbnail">
            <div class="thumbnail--up">
              <div class="thumbnail-title">資料画像</div>
            </div>
            <div class="thumbnail--down"></div>
          </div>
          <div class="item-checkbox">
            <div class="checkbox"></div>
            <label class="checkbox-label" for="checkbox">サービス名入ります。</label>
          </div>
          <div class="item-description">資料の紹介文が入ります。資料の紹介文が入ります。資料の紹介文が入ります。資料</div>
          <div class="item-button">
            <div class="button-name">この資料をダウンロードする</div>
            <div class="button-icon"></div>
          </div>
        </div>
        <div class="list-item">
          <div class="item-thumbnail">
            <div class="thumbnail--up">
              <div class="thumbnail-title">資料画像</div>
            </div>
            <div class="thumbnail--down"></div>
          </div>
          <div class="item-checkbox">
            <div class="checkbox"></div>
            <label class="checkbox-label" for="checkbox">サービス名入ります。</label>
          </div>
          <div class="item-description">資料の紹介文が入ります。資料の紹介文が入ります。資料の紹介文が入ります。資料</div>
          <div class="item-button">
            <div class="button-name">この資料をダウンロードする</div>
            <div class="button-icon"></div>
          </div>
        </div>
        <div class="list-item">
          <div class="item-thumbnail">
            <div class="thumbnail--up">
              <div class="thumbnail-title">資料画像</div>
            </div>
            <div class="thumbnail--down"></div>
          </div>
          <div class="item-checkbox">
            <div class="checkbox"></div>
            <label class="checkbox-label" for="checkbox">サービス名入ります。</label>
          </div>
          <div class="item-description">資料の紹介文が入ります。資料の紹介文が入ります。資料の紹介文が入ります。資料</div>
          <div class="item-button">
            <div class="button-name">この資料をダウンロードする</div>
            <div class="button-icon"></div>
          </div>
        </div>
        <div class="list-item">
          <div class="item-thumbnail">
            <div class="thumbnail--up">
              <div class="thumbnail-title">資料画像</div>
            </div>
            <div class="thumbnail--down"></div>
          </div>
          <div class="item-checkbox">
            <div class="checkbox"></div>
            <label class="checkbox-label" for="checkbox">サービス名入ります。</label>
          </div>
          <div class="item-description">資料の紹介文が入ります。資料の紹介文が入ります。資料の紹介文が入ります。資料</div>
          <div class="item-button">
            <div class="button-name">この資料をダウンロードする</div>
            <div class="button-icon"></div>
          </div>
        </div>
        <div class="list-item">
          <div class="item-thumbnail">
            <div class="thumbnail--up">
              <div class="thumbnail-title">資料画像</div>
            </div>
            <div class="thumbnail--down"></div>
          </div>
          <div class="item-checkbox">
            <div class="checkbox"></div>
            <label class="checkbox-label" for="checkbox">サービス名入ります。</label>
          </div>
          <div class="item-description">資料の紹介文が入ります。資料の紹介文が入ります。資料の紹介文が入ります。資料</div>
          <div class="item-button">
            <div class="button-name">この資料をダウンロードする</div>
            <div class="button-icon"></div>
          </div>
        </div>
        <div class="list-item">
          <div class="item-thumbnail">
            <div class="thumbnail--up">
              <div class="thumbnail-title">資料画像</div>
            </div>
            <div class="thumbnail--down"></div>
          </div>
          <div class="item-checkbox">
            <div class="checkbox">
              <div class="checkbox-icon"></div>
            </div>
            <label class="checkbox-label" for="checkbox">サービス名入ります。</label>
          </div>
          <div class="item-description">資料の紹介文が入ります。資料の紹介文が入ります。資料の紹介文が入ります。資料</div>
          <div class="item-button">
            <div class="button-name">この資料をダウンロードする</div>
            <div class="button-icon"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-bottom container">
    <div class="bottom-button">
      <div class="button-name">チェックした資料をダウンロードする</div>
      <div class="button-icon"></div>
    </div>
  </section>

  <section class="roundbtn">
    <button type="submit" class="roundbtn__box">チェックした資料をダウンロードする</button>
  </section>
</main>
{% endblock %}