{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Custom tags before </head> #}
{% block customHead %}{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}{% endblock %}

{# Main content #}
{% block content %}

<main class="no13-page">
  <section class="section-welcome">
    <div class="container-1200">
      <h3 class="ttl-tertiary">様々な間接コストを削減！</h3>

      <h2 class="ttl-secondary">経費削減をサポートするサービス</h2>

      <h4 class="ttl-quaternary">お客さまの活用シーンやニーズに合わせて、<br>
        最適なビジネスカードをご用意しています</h4>

      <a href="#" class="dark_blue_outline_rounded_button">経費削減につながるカードはこちら</a>
    </div>
  </section>

  <section class="section-primary">
    <div class="container-1200">
      <h2 class="ttl-secondary">ビジネスカードを持つだけで、<br>
        経費削減ができることをご存知ですか？</h2>

      <ul class="flex jcC gap30 card-list">
        <li class="card-type6">
          <a href="#" class="card">
            <div class="ttl-quaternary-container">
              <h4 class="ttl-quaternary">振込手数料の削減</h4>
            </div>

            <div class="flex gap30">
              <div class="circle-container">
                イラスト
                <br>
                または
                <br>
                アイコン
              </div>
            </div>

            <h5 class="ttl-senary">
              法人カード・ビジネスカードを利用すれば指定口座からまとめて自動引き落としになるため、お支払いの振込手数料が削減できます。</h5>
          </a>
        </li>

        <li class="card-type6">
          <a href="#" class="card">
            <div class="ttl-quaternary-container">
              <h4 class="ttl-quaternary">出張費の削減</h4>
            </div>

            <div class="circle-container">
              イラスト
              <br>
              または
              <br>
              アイコン
            </div>

            <h5 class="ttl-senary">
              マイル還元率の高いビジネスカードや新幹線の優待サービスが付帯したエクスプレスコーポレートカードを利用して決済すれば、出張費を削減できます。</h5>
          </a>
        </li>

        <li class="card-type6">
          <a href="#" class="card">
            <div class="ttl-quaternary-container">
              <h4 class="ttl-quaternary">事務経費を削減</h4>
            </div>

            <div class="circle-container">
              イラスト
              <br>
              または
              <br>
              アイコン
            </div>

            <h5 class="ttl-senary">個人用クレジットカードと同様に、ビジネスカードもポイントが貯まります。貯まったポイントで消耗品などを購入すれば、コスト削減につながります。</h5>
          </a>
        </li>

        <li class="card-type6">
          <a href="#" class="card">
            <div class="ttl-quaternary-container">
              <h4 class="ttl-quaternary">キャッシュバック</h4>
            </div>

            <div class="circle-container">
              イラスト
              <br>
              または
              <br>
              アイコン
            </div>

            <h5 class="ttl-senary">カードでお支払いいただくだけで、毎日の業務に関わる費用はもちろん、公共料金や税金の支払い、広告費や資材購入費など経費の支払いが自動的にキャッシュバックされます。</h5>
          </a>
        </li>

        <li class="card-type6">
          <a href="#" class="card">
            <div class="ttl-quaternary-container">
              <h4 class="ttl-quaternary">保険料の削減</h4>
            </div>

            <div class="circle-container">
              イラスト
              <br>
              または
              <br>
              アイコン
            </div>

            <h5 class="ttl-senary">海外出張中の病気やケガを補償する海外傷害保険など自動付帯のカードを使用することで、手続きを省力化できるだげでなく、掛け捨て保険をなくす事でコスト削減につながります。
            </h5>
          </a>
        </li>

        <li class="card-type6">
          <a href="#" class="card">
            <div class="ttl-quaternary-container">
              <h4 class="ttl-quaternary">福利厚生費の削減</h4>
            </div>

            <div class="circle-container">
              イラスト
              <br>
              または
              <br>
              アイコン
            </div>

            <h5 class="ttl-senary">ビジネスカードの中には福利厚生サービスが付帯されているものも多く、ホテルやレストランなどのさまざまな施設を特別優待料金で利用することができます。</h5>
          </a>
        </li>
      </ul>
    </div>
  </section>

  <section class="section-secondary">
    <div class="container-1200">
      <h3 class="ttl-tertiary">ビジネス規模で選ぶ</h3>

      <h2 class="ttl-secondary">ビジネスカード一覧</h2>

      <ul class="flex gap30 card-list">
        <li class="card-type17">
          <div class="card__left">中小企業の経営者様個人事業主様・におすすめ!</div>

          <div class="card__right">
            <ul class="card-item-list">
              <li class="flex card-item02 gap20">
                <div class="flex gap20 card__box-wrapper">
                  <div class="credit-card02">
                    <img src="/assets/img/credit_cards/american-express-01.png" alt="Your Image"
                      class="credit-card-img">
                  </div>

                  <div class="card__box-title">
                    <h4 class="ttl-quternary">ポイント・マイルの還元率を重視したいという方へ</h4>

                    <ul class="price-list">
                      <li>
                        <dd>年会費：22,000円（税込）→初年度年会費無料/ 追加カード年会費：3,300円（税込）</dd>
                      </li>
                      <li>
                        <dd>申込資格 :個人事業者、中小規模ビジネスオーナー</dd>
                      </li>
                    </ul>
                  </div>
                </div>

                <div>
                  <a class="orange_fill_button">詳細はこちら</a>
                </div>
              </li>

              <li class="flex card-item02 gap20">
                <div class="flex gap20 card__box-wrapper">
                  <div class="credit-card02">
                    <img src="/assets/img/credit_cards/american-express-02.png" alt="Your Image"
                      class="credit-card-img">
                  </div>

                  <div class="card__box-title">
                    <h4 class="ttl-quternary">キャッシュバックを重視したいという方へ</h4>

                    <h3 class="ttl-tertiary">
                      セゾンプラチナ・ビジネス プロ・アメリカン・エキスプレス®・カード
                    </h3>

                    <ul class="price-list">
                      <li>
                        <dd>年会費：27,500円（税込）/ 追加カード年会費：3,300円（税込）</dd>
                      </li>
                      <li>
                        <dd>申込資格 : 中小規模法人事業者</dd>
                      </li>
                    </ul>
                  </div>
                </div>

                <div>
                  <a class="orange_fill_button">詳細はこちら</a>
                </div>
              </li>
            </ul>
          </div>
        </li>

        <li class="card-type17">
          <div class="card__left">中小企業様 におすすめ!</div>

          <div class="card__right">
            <ul class="card-item-list">
              <li class="flex card-item02 gap20">
                <div class="flex gap20 card__box-wrapper">
                  <div class="credit-card02">
                    <img src="/assets/img/credit_cards/american-express-01.png" alt="Your Image"
                      class="credit-card-img">
                  </div>

                  <div class="card__box-title">
                    <h4 class="ttl-quternary">キャッシュバックを重視したいという方へ</h4>

                    <h3 class="ttl-tertinary">セゾンプラチナ・ビジネス プロ・アメリカン・エキスプレス®・カード</h3>

                    <ul class="price-list">
                      <li>
                        <dd>年会費：27,500円（税込）/ 追加カード年会費：3,300円（税込）</dd>
                      </li>

                      <li>
                        <dd>申込資格 : 中小規模法人事業者</dd>
                      </li>
                    </ul>
                  </div>
                </div>

                <div>
                  <a class="orange_fill_button">詳細はこちら</a>
                </div>
              </li>

              <li class="flex card-item02 gap20">
                <div class="flex gap20 card__box-wrapper">
                  <div class="credit-card02">
                    <img src="/assets/img/credit_cards/saison-01.png" alt="Your Image" class="credit-card-img">
                  </div>

                  <div class="card__box-title">
                    <h4 class="ttl-quternary">年会費を重視したいという方へ</h4>

                    <h3 class="ttl-tertiary">
                      セゾンゴールド・ビジネス プロ・カード
                    </h3>

                    <ul class="price-list">
                      <li>
                        <dd>年会費：3,300円（税込）/ 追加カード年会費：1,100円（税込）</dd>
                      </li>
                      <li>
                        <dd>申込資格 : 中小規模法人事業者</dd>
                      </li>
                    </ul>
                  </div>
                </div>

                <div>
                  <a class="orange_fill_button">詳細はこちら</a>
                </div>
              </li>

              <li class="flex card-item02 gap20">
                <div class="flex gap20 card__box-wrapper">
                  <div class="credit-card02">
                    <img src="/assets/img/credit_cards/saison-02.png" alt="Your Image" class="credit-card-img">
                  </div>

                  <div class="card__box-title">
                    <h4 class="ttl-quternary">紛失盗難等による不正利用のリスクを軽減したい方へ</h4>

                    <h3 class="ttl-tertiary">
                      セゾン・アメリカン・エキスプレス®・ビジネス プロ・パーチェシング・カード
                    </h3>

                    <ul class="price-list">
                      <li>
                        <dd>年会費：11,000円（税込）/ 追加カード年会費：1,100円（税込）</dd>
                      </li>
                      <li>
                        <dd>申込資格 : 中小規模法人事業者</dd>
                      </li>
                    </ul>

                    <ul>
                      <li>※プラスチックカードは発行されません。</li>
                    </ul>
                  </div>
                </div>

                <div>
                  <a class="orange_fill_button">詳細はこちら</a>
                </div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="section-tertiary">
    <div class="container-1200">
      <h1 class="ttl-primary">「どのビジネスカードが迷っている・・・」という方へ</h1>

      <h3 class="ttl-tertiary">当社のサポート担当がご利用用途やご要望をお伺いさせて頂きお客さまにピッタリのカードをご提案致します。 お気軽にサポート担当にご相談下さい。<br>
        お気軽にサポート担当にご相談下さい。</h3>

      <a href="#" class="orange_more">サポート担当に無料で相談する</a>
    </div>
  </section>

  <section class="breadcrumb">
    <ul class="flex">
      <li>
        <a href="#">TOP</a>
      </li>
      <li>
        <a href="#">法人カード・ビジネスカードを作りたい</a>
      </li>
    </ul>
  </section>
</main>
{% endblock %}
