{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Breadcrumb #}
{% set breadcrumb = [{
text:"導入事例",
link:"/case"
},{
text:"ETCカードの導入で毎月の経費計算処理の手間と時間が削減！",
link:"#"
}] %}

{# Custom tags before </head> #}
{% block customHead %}{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}{% endblock %}

{# Main content #}
{% block content %}

<main class="case-details-page">
  <section class="section-welcome">
    <div class="container-1200 flex gap60">
      <div class="section-welcome--img">
        <img src="/assets/img/common/img-welcome-01.png" alt="">
      </div>

      <div class="section-welcome--content">
        <h3 class="ttl-tertiary">株式会社サカイ引越センター　様</h3>

        <h2 class="ttl-secondary">ETCカードの導入で毎月の経費計算処理の手間と時間が削減！</h2>

        <a href="#" class="black_pill_btn small show-arrow"><span>ご利用サービス</span> <strong>ETCカード</strong></a>
      </div>
    </div>
  </section>

  <section class="section-primary">
    <div class="container-1200">
      <div class="des-icon-list flex gap60">
        <div class="des-icon flex gap20">
          <div class="des-icon-img">
            <img src="/assets/img/common/img-account-01.png" alt="">
          </div>

          <div class="des-icon-content">
            <h5 class="ttl-quinary">
              株式会社サカイ引越センター
            </h5>

            <h6 class="ttl-senary">管理部　次長　清水幸治　様 <br>管理部　川出彩香　様</h6>
          </div>
        </div>

        <div class="des-icon flex gap20">
          <div class="des-icon-img">
            <img src="/assets/img/common/img-bag-02.png" alt="">
          </div>

          <div class="des-icon-content">
            <h5 class="ttl-quinary">
              引越運送、引越付帯サービス業務
            </h5>
          </div>
        </div>
      </div>

      <ul class="question-list">
        <li class="question-item">
          <h3 class="ttl-tertiary">Q1.弊社商品の導入前に抱えていた課題についてお聞かせください。</h3>

          <div class="question-content">
            <p>以前からETCカードは利用はしていましたが、実際利用したETCカードの使用実績は報告書から集計を手作業で作成しており、毎月の事務処理や経費計算処理にもにかなりの手間と時間がかかっていました。</p>
          </div>
        </li>

        <li class="question-item">
          <h3 class="ttl-tertiary">Q2.ご導入いただいたポイント（またはきっかけなど）をお聞かせください。</h3>

          <div class="question-content flex gap30">
            <div class="question-img">
              <img src="/assets/img/common/img-question-01.png" alt="">
            </div>

            <div class="question-txt">
              <p>クレディセゾンの営業担当者より使用実績のデータ化についての説明を聞き、経費計算処理および事務処理の効率化が図れると考えたため導入をしようと思いました。<br> <br>
                また、カード券面自体に自社の管理区分である文字が印字することが可能と聞き、当社の管理上でも業務効率化の向上がはかれると考えました。
              </p>
            </div>
          </div>
        </li>

        <li class="question-item">
          <h3 class="ttl-tertiary">Q3.弊社商品を導入後、貴社が抱えていた課題がどのように解決されたかお聞かせください。</h3>

          <div class="question-content">
            <p>集計業務が手作業からデータでの処理が可能になり、効率化が大幅に改善さ れました。</p>
          </div>
        </li>
      </ul>

      <div class="section-card">
        <h6 class="ttl-senary">SERVICES USED</h6>

        <h2 class="ttl-secondary">本事例でご利用されたサービス</h2>

        <div class="card-item flex">
          <div class="card-item--img">
            <img src="/assets/img/credit_cards/plastic-mockup.png" alt="">
          </div>

          <div class="card-item--content">
            <h3 class="ttl-tertiary">有料道路の料金所をキャッシュレスで通過できるETCカード</h3>

            <p>お手持ちのUC法人・コーポレートカードへの追加や、<br>
              法人様向けにETCカードだけをご用意することも可能です。
            </p>

            <a href="#" class="bondi_blue_btn small">
              詳細はこちら
              <svg xmlns="http://www.w3.org/2000/svg" width="15.095" height="15.095" viewBox="0 0 15.095 15.095">
                <path id="Path_44704" data-name="Path 44704" d="M9.674,0V9.674H0"
                  transform="translate(0 7.548) rotate(-45)" fill="none" stroke="#fff" stroke-width="2" />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
