{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Breadcrumb #}
{% set breadcrumb = [
  {
    text: "中小企業向けサービス",
    link: "#"
  }
] %}

{# Custom tags before </head> #}
{% block customHead %}{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}{% endblock %}

{# Main content #}
{% block content %}
  <main class="smaller_companies">
    <section class="section-welcome">
      <div class="section-welcome__banner">
        <img src={{ smaller_companies.welcome.image }}>
      </div>
      <div class="section-welcome__inner">
        <h3 class="ttl-tertiary">
          {{ smaller_companies.welcome.inner | safe }}
        </h3>
      </div>
      <div class="section-welcome__title">
        <h1 class="ttl-primary">{{ smaller_companies.welcome.title }}</h1>
      </div>
      <div>
        <a href="/catalog_list/" class="blue_gradient_btn">{{ common.button.download }}</a>
      </div>
    </section>

    <section class="section-primary">
      <h4 class="ttl-quaternary">{{ smaller_companies.primary.sub_title }}</h4>
      <h2 class="ttl-primary">{{ smaller_companies.primary.title }}</h2>
      <div class="section-primary-wrapper">
        <div class="containers">
          <ul class="inherit card-list">
            {% for item in smaller_companies.primary.list %}
              <li class="card-type6">
                <a class="card" href={{item.href}}>
                  <div class="ttl-quaternary-container">
                    <h4 class="ttl-quaternary">{{ item.title | safe }}</h4>
                  </div>
                  <div class="card-image">
                    <img src={{ item.image }}>
                  </div>
                  <ul class="card-description">
                    {% for des in item.description %}
                      <li class="card-description__detail">
                        {% include 'component/icons/circle-checked.njk' %}
                        <span>{{ des }}</span>
                      </li>
                    {% endfor %}
                  </ul>
                  <button class="circle-with-arrow">
                    <div class="arrow-down"></div>
                  </button>
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </section>

    <section class="section-secondary">
      <div class="container-1200">
        <div class="notification primary">
          <div id={{smaller_companies.secondary.id}} class="notification-panel1">
            <h2 class="card__ttl">{{ smaller_companies.secondary.sub_title }}</h2>
            <summary class="flex gap30 aic inquiry__box">
              <div class="flex inquiry__box--btn">
                <span class="black_pill_btn">{{ common.button.solution }}</span>
              </div>
              <div class="inquiry__box--txt">
                {{ smaller_companies.secondary.title | safe }}
              </div>
            </summary>
            <ul class="inquiry__box--content gap30 lastest-list">
              {% for item in smaller_companies.secondary.panel1 %}
                <li class="card-type11">
                  <div href="#" class="card">
                    <h3 class="ttl-tertiary">{{ item.title }}</h3>
                    <div class="card-content flex gap30">
                      <div class="item__img">
                        <img src={{ item.image }}>
                      </div>
                      <div class="item__box">
                        <dd class="item__box--txt">
                          {{ item.description | safe }}
                        </dd>
                      </div>
                    </div>
                  </div>
                </li>
              {% endfor %}
            </ul>
          </div>

          <div class="notification-panel2">
            <div class="relation">
              <h3 class="single__ttl">
                <span>{{ smaller_companies.secondary.panel2.title }}</span>
              </h3>
              <div class="notification-panel2-body">
                <ul class="flex gap30 card-list">
                  {% for item in smaller_companies.secondary.panel2.cards %}
                    <li class="card-type12">
                      <h3 class="card__box--ttl" style="font-weight:normal !important;">{{ item.title }}</h3>
                      <div class="credit-card">
                        <a href={{ item.link }}>
                          <img src={{ item.image }} class="credit-card-img">
                        </a>
                      </div>
                      <div class="card__box--des">
                        <h3 class="ttl-terianry centered-text">{{ item.content | safe }}</h3>
                        <ul class="price-list">
                          {% for detail in item.detail %}
                            <li style="margin-bottom: 0;">
                              <dd>{{ detail }}</dd>
                            </li>
                          {% endfor %}
                        </ul>
                      </div>
                      <a class="bondi_blue_outline_btn" href={{ item.btn_link }}>{{ common.button.detail }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>

          <div class="notification-panel2">
            <div class="relation">
              <h3 class="single__ttl">
                <span>{{ smaller_companies.secondary.panel3.title }}</span>
              </h3>
              <div class="card-type13">
                <dd>{{ smaller_companies.secondary.panel3.description }}</dd>
                <div class="flex gap30 aic sp-reverse">
                  <div class="sec-left-wrapper">
                    <figure class="sec__img"><img src={{ smaller_companies.secondary.panel3.image }}></figure>
                  </div>
                  <div class="gap-10 sec-right-wrapper">
                    {% for item in smaller_companies.secondary.panel3.detail %}
                      <dl class="flex aic gap30 sec01-right-box">
                        <dt class="flex aic gap20 sp-fs">
                          <div class="number-circle">{{ loop.index }}</div>
                          <h5 class="ttl-senary">{{ item | safe }}</h5>
                        </dt>
                      </dl>
                    {% endfor %}
                  </div>
                </div>
                <a href="/concur_expense/" class="bondi_blue_outline_btn">「Concur Expense」{{ common.button.more }}</a>
              </div>
            </div>
          </div>
        </div>

        {% for solution in smaller_companies.solutions %}
          <div id={{solution.id}} class="notification quaterary">
            <div class="notification-panel1">
              <h2 class="card__ttl">{{ solution.issue }}</h2>

              <summary class="flex gap30 aic inquiry__box">
                <div class="flex inquiry__box--btn">
                  <a href="#" class="black_pill_btn">{{ common.button.solution }}</a>
                </div>

                <div class="inquiry__box--txt">
                  <span>{{ solution.highlight }}</span>{{ solution.title }}
                </div>
              </summary>

              <div class="card-type13">
                <dd>{{ solution.description | safe }}</dd>

                <div class="flex gap30 aic sp-reverse">
                  <div class="sec-left-wrapper">
                    <figure class="sec__img"><img src={{ solution.image }}></figure>
                  </div>
                  {% if solution.detail %}
                    <div class="gap-10 sec-right-wrapper">
                      {% for sd in solution.detail %}
                        <dl class="flex aic gap30 sec01-right-box">
                          <dt class="flex aic gap20 sp-fs">
                            <div class="number-circle">{{ loop.index }}</div>
                            <h5 class="ttl-senary">
                              {{ sd | safe}}</h5>
                          </dt>
                        </dl>
                      {% endfor %}
                      {% if solution.sub_list %}
                        <ul class="sub-list">
                          {% for sl in solution.sub_list %}
                            <li>{{ sl }}</li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </div>
                  {% endif %}
                </div>
              </div>

              <a href={{ solution.link }} class="bondi_blue_outline_btn">{{ solution.more }}</a>
            </div>
          </div>
        {% endfor %}
      </div>
    </section>

    <section class="section-tertiary">
      <h5 class="ttl-sub">{{ smaller_companies.tertiary.sub_title }}</h5>
      <h2 class="ttl-secondary">{{ smaller_companies.tertiary.title }}</h2>
      <h3 class="ttl-tertiary">{{ smaller_companies.tertiary.description }}</h3>
      <a href="/catalog_list/" class="blue_gradient_btn">{{ common.button.download }}</a>
    </section>

    <section class="section-quaternary">
      <h5 class="ttl-sub">{{ smaller_companies.quaternary.sub_title }}</h5>
      <h2 class="ttl-secondary">{{ smaller_companies.quaternary.title }}</h2>
      <div class="section-primary-wrapper">
        <div class="containers">
          <ul class="inherit card-list">
            {% for comment in smaller_companies.quaternary.comments %}
              <div class="card-type10">
                <div class="flex fs grid__card--cat">
                  <span class="cat">{{ comment.tag }}</span>
                </div>
                <h4 class="ttl-quaternary">
                  {{ comment.title }}
                </h4>
                <h5 class="ttl-quinary">
                  {{ comment.sub_title }}
                </h5>
                <h6 class="ttl-senary">
                  {{ comment.content | safe}}
                </h6>
                {% if comment.more %}
                  <a href="#" class="bondi_blue_outline_btn">インタビューの続きを見る</a>
                {% endif %}
              </div>
            {% endfor %}
          </ul>
        </div>
      </div>
    </section>

    <section class="section-license">
      <div class="container">
        {{ smaller_companies.license.title }}
      </div>
    </section>
  </main>
{% endblock %}
