{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Custom tags before </head> #}
{% block customHead %}{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}{% endblock %}

{# Breadcrumb #}
{% set breadcrumb = [
{
text: "セゾンプラチナ・ビジネス プロ・アメリカン・エキスプレス®・カード",
link: "#"
}
] %}


{% set menuSidebar = [
{
text: "年会費・入会資格",
link: "#membership-fee"
},
{
text: "付帯サービス",
link: "#additional-services"
},
{
text: "カード比較",
link: "#card-comparison"
},
{
text: "よくある質問",
link: "#faq"
},
{
text: "お申し込みまでの流れ",
link: "#application-flow"
},
{
text: "お申し込み",
link: "#application-flow"
}
] %}

{# Main content #}
{% block content %}
{% include 'partial/sidebar.njk' %}
<main class="business_pro-page">
  <section id="top" class="section-welcome platinum fadein">
    <div class="containers">
      <div class="banner-containers">
        <div class="banner-left">
          <div class="title-notice">
            <h3 class="title-content">
              法人与信型ビジネスカード
              {# {% include 'component/icons/circle-question.njk' %} #}
            </h3>
          </div>
          <h1 class="ttl-primary">
            セゾンプラチナ・ビジネス プロ・<br> アメリカン・エキスプレス®・カード
          </h1>

          <div class="card-contents">
            <div class="card-img">
              <img src="/assets/img/credit_cards/saison-03.png" alt="Your Image" class="credit-card-img">
            </div>
            <div class="card-description">
              <span>選べる機能で中小企業の経営をサポート</span>
              <div class="card-description__options">
                <div class="option">
                  <span>1％<br />
                    のキャッシュバック
                  </span>
                </div>
                OR
                <div class="option">
                  <span>お支払いを<br />
                    最長84日後・手数料0円
                  </span>
                </div>
              </div>

            </div>
          </div>

          <div class="banner-btn">
            <a class="banner-btn__option blue_gradient_btn"
              href="https://www.saisoncard.co.jp/bizpro/kiyaku?app_card=1&pioneer_store_number=3166968&referral_store_number=0000001&referral_contact_number="
              target="_blank">お申込みはこちら</a>
            <a class="banner-btn__option bondi_blue_outline_btn" href="/contact/">お問い合わせはこちら</a>
          </div>

        </div>
        <div class="banner-right pc-only">
          その挑戦に、
          <br /> 即戦力を
        </div>
      </div>
    </div>
  </section>

  <section class="section-tertiary">
    <div class="containers">
      <h2 class="ttl-primary">選べる2つの特典</h2>

      <div class="grid-card-containers or">
        <div class="card-item">
          <div class="card or">
            <div class="card-head">キッシュバックサービス</div>
            <div class="card-content">
              <div>支払い金額の<span class="percent blue-text">1％</span>をキャッシュバック</div>
            </div>
          </div>
          <p class="card-description">カードでお支払いするだけで、毎日の業務にかかわる費用はもちろん、公共料金や税金の支払い、広告費や資材購入費など経費の支払いが自動的にキャッシュバックされます。
          </p>
        </div>
        <div class="card-item">
          <div class="card">
            <div class="card-head">お支払い１ヵ月スキップ払い</div>
            <div class="card-content">
              <div>お支払いを最長<span class="percent blue-text">84</span>日後・手数料<span class="percent blue-text">0</span>円</div>
            </div>
          </div>
          <p class="card-description">カードご利用からお支払日まで最大84日間のお支払猶予があるため、支払いサイトと入金サイトの課題解決をサポート、社用資金の効率的な運用が可能となります。
          </p>
        </div>
      </div>

      <p class="card-note">※「1％のキャッシュバック」と「最長84日間の支払いサイトのサービス」はご選択型のサービスです。</p>
    </div>
  </section>

  <section class="section-secondary">
    <div class="containers">
      <h2 class="ttl-secondary">中小企業の皆様にうれしいビジネス機能が充実</h2>

      <ul class="card-list">
        <li class="card">
          <h2>経費管理業務も削減</h2>
          <div class="grid__card--img"><img src="/assets/img/business_pro/business_pro1.png" alt="work image"></div>
          <p><strong>最長15ヵ月分のご利用明細をWEB上でご確認</strong>いただけます。明細データはPDFやCSVでダウンロード可能。お支払い時の詳細が記 載されているので、精算事務作業を大幅に軽減できます。
          </p>
        </li>
        <li class="card">
          <h2>柔軟なご利用枠</h2>
          <div class="grid__card--img"><img src="/assets/img/business_pro/business_pro2.png" alt="work image"></div>
          <p>
            ビジネスに対応する<strong>ゆとりのご利用可能</strong>枠で、従業員の皆様のご利用をサポート。<br /><strong>「仮払い」</strong>や<strong>「立替払い」が不要</strong>になり、従業員の皆様の事務の手間が軽減されます。
          </p>
        </li>
        <li class="card">
          <h2>カード毎に利用枠の設定可能</h2>
          <div class="grid__card--img"><img src="/assets/img/business_pro/business_pro3.png" alt="work image"></div>
          <p><strong>カード毎に利用枠の設定</strong>ができますので、1枚ずつ異なった利用枠の設定が可能です。<br />WEB明細でカード使用者ごとの経費支出が確認できますので、ガバナンス強化にも役立ちます。
          </p>
        </li>
      </ul>
    </div>
  </section>

  <section class="section-quaternary">
    <div class="containers">

      <h2 class="ttl-primary">登記簿や決算書の提出は不要です！</h2>
      <h4 class="ttl-tertiary">登記簿や決算書といった業務内容や実績を示す書類の提出は不要です。<br>
        <strong>書類郵送に取られる期間がなくなるため、発行までにかかる期間の短縮ができます。</strong>
      </h4>
      <div>
        <a href="https://www.saisoncard.co.jp/bizpro/kiyaku?app_card=1&pioneer_store_number=3166968&referral_store_number=0000001&referral_contact_number="
          target="_blank" class="blue_gradient_btn">お申し込みはこちら</a>
      </div>
      <p class="note">※申込み時にフォームにて、決算内容の入力は必要です。決算内容がわかるもののご用意をお願いいたします。</p>
    </div>
  </section>

  <section id="membership-fee" class="section-quinary">
    <div class="containers">
      <h2 class="ttl-primary">年会費・入会資格</h2>

      <div class="card-contents">
        <div class="grid-card-containers">
          <div class="col-left">
            年会費
          </div>
          <div class="col-right">
            <div class="ttl-quaternary">27,500円（税込） 追加カード年会費：3,300円（税込）</div>
            <div class="ttl-quaternary normal-text">年会費は会計上経費として計上可能です。詳しくは税理士等にご確認ください。</div>
          </div>
        </div>

        <div class="grid-card-containers">
          <div class="col-left">
            入会資格
          </div>
          <div class="col-right">
            <div class="ttl-quaternary">法人代表者（未成年を除く）</div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="additional-services" class="section-septenary">
    <div class="containers">
      <h4 class="ttl-primary">付帯サービス</h4>
      <div class="grid-card-containers">
        <div class="card">
          <div class="card-img">
            <img src="/assets/img/common/plat5.png" alt="work image">
          </div>
          <div class="card-content">
            <h4 class="ttl-quaternary">国内空港ラウンジ</h4>
            <div class="ttl-normal">国内の主要空港ラウンジを無料でご利用いただけます。ご搭乗までのひとときを、ゆったりとお過ごしください。従業員様のカードでもご利用可能です。</div>
          </div>
        </div>

        <div class="card">
          <div class="card-img">
            <img src="/assets/img/common/plat6.png" alt="work image">
          </div>
          <div class="card-content">
            <h4 class="ttl-quaternary">海外空港ラウンジ</h4>
            <div class="ttl-normal">
              148以上の国や地域、1,300ヵ所以上の空港ラウンジをご利用いただける「プライオリティ・パス（通常年会費469米ドル／プレステージ会員）」に、代表者様カード限定の特別なサービスとして無料でご登録いただけます※1。
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-img">
            <img src="/assets/img/common/plat2.png" alt="work image">
          </div>
          <div class="card-content">
            <h4 class="ttl-quaternary">プラチナ会員専用コールセンター</h4>
            <div class="ttl-normal">出張の手配や会食の設定などは、専用のコールセンターへ。<br> 24時間365日、専任のスタッフが誠心誠意お応えします。</div>
          </div>
        </div>

        <div class="card">
          <div class="card-img">
            <img src="/assets/img/common/plat1.png" alt="work image">
          </div>
          <div class="card-content">
            <h4 class="ttl-quaternary">従業員も対象の旅行傷害保険</h4>
            <div class="ttl-normal">
              海外・国内の旅行中の事故について補償いたします。海外旅行中の事故について最高１億円※2まで、国内旅行中の事故について最高5,000万円※3まで補償いたします。
            </div>
          </div>
        </div>
      </div>

      <div class="sub-content">
        ※1 別途「プライオリティ・パス」へのご登録が必要です。<br>
        ※2 海外旅行傷害保険の死亡・後遺障害保険金額。事前のカード決済等の条件により適用される金額です。決済等がない場合は最高5,000万円となります。 <br>
        ※3 国内旅行傷害保険の死亡・後遺障害保険金額
      </div>
    </div>
  </section>

  <section class="section-senary">
    <div class="containers">
      <h3 class="ttl-tertiary">DOCUMENTS</h3>
      <h1 class="ttl-quaternary">ビジネスカードを検討しているなら、知らないともったいない！</h1>
      <h4 class="ttl-primary"><span class="blue-bottom">「ビジネスカードの🉐活用ガイド」</span></h4>

      <div class="senary-content">
        <div class="content-img">
          <img src="/assets/img/business_card_creation/business_card _usage_guide.png" alt="work image" class="img-top">
        </div>
        <div class="content-detail">
          <div class="content-head">ビジネスカードのメリットを使い倒すためのオトクな活用方法をまるっと紹介！</div>
          <p>
            ビジネスカードが役立つ場面はたくさんありますが、多くの場合においてそのメリットや特典を使いこなしていないケースもあります。本資料では、ビジネスカードのメリットや特典を使い倒すために具体的な使い方や活用シーンを紹介しています。これからビジネスカードを利用したいという方は参考にしてみてください。
          </p>
        </div>
      </div>

      <div class="btn-container">
        <a class="blue_gradient_btn" href="#">資料ダウンロード（無料）</a>
      </div>
    </div>
  </section>

  <section id="card-comparison" class="section-card-info">
    <div class="containers">
      <h4 class="ttl-primary">カード比較</h4>

      <div class="scroll container-content">
        <div class="card-row three card-row-1">
          <div class="card-type">
            <div></div>
          </div>
          <div class="card-type card-type-0">
            <div>
              <div class="ttl-quinary">セゾンプラチナ・ビジネス プロ・アメリカ<br />ン・エキスプレス®・カード</div>
              <img src="/assets/img/credit_cards/saison-03.png" alt="amex-pro" class="credit-card-img">
            </div>
          </div>
          <div class="card-type card-type-1">
            <div>
              <div class="ttl-quinary">セゾンゴールド・<br />ビジネス プロ・カード</div>
              <img src="/assets/img/credit_cards/saison-01.png" alt="saison" class="credit-card-img">
            </div>
          </div>
          <div class="card-type card-type-1">
            <div>
              <div class="ttl-quinary">セゾン・アメリカン・エキスプレス®・<br />ビジネス プロ・パーチェシング・カード</div>
              <img src="/assets/img/credit_cards/saison-02.png" alt="purchasing" class="credit-card-img">
            </div>
          </div>
        </div>
        <div class="card-row three card-row-2">
          <div class="title-col item-1">
            <div>特長</div>
          </div>
          <div class="">
            <div class="content-col aiS">
              <ul>
                <li>プラチナカード</li>
                <li>キャッシュバック率 1％※1</li>
                <li>支払いサイト 最長84日間※1</li>
                <li>海外最高1億円、国内最高5,000万円の<br />旅行傷害保険</li>
              </ul>
            </div>
          </div>
          <div class="">
            <div class="content-col aiS">
              <ul>
                <li>ゴールドカード</li>
                <li>キャッシュバック率 0.5％※1</li>
                <li>支払いサイト 最長84日間※1</li>
                <li>海外最高5,000万円、国内最高5,000万円の旅行傷害保険</li>
              </ul>
            </div>
          </div>
          <div class="">
            <div class="content-col aiS">
              <ul>
                <li>カードの発行なし</li>
                <li>キャッシュバック率 0.5％※1</li>
                <li>支払いサイト 最長84日間</li>
                <li>＋キャッシュバック率0.25％※1</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-row three card-row-3">
          <div class="title-col">
            <div>代表者 <br> 年会費</div>
          </div>
          <div class="">
            <div class="content-col height-80">
              <div class="normal-text">
                27,500円（税込）
              </div>
            </div>
          </div>
          <div class="">
            <div class="content-col height-80">
              <div class="normal-text">
                3,300円（税込）
              </div>
            </div>
          </div>
          <div class="">
            <div class="content-col height-80">
              <div class="normal-text">
                11,000円（税込）
              </div>
            </div>
          </div>
        </div>
        <div class="card-row three card-row-4">
          <div class="title-col">
            <div>追加カード <br> 年会費</div>
          </div>
          <div class="first-column">
            <div class="content-col height-80">
              <div class="normal-text">
                3,300円（税込）
              </div>
            </div>
          </div>
          <div class="second-column">
            <div class="content-col height-80">
              <div class="normal-text">
                1,100円（税込）
              </div>
            </div>
          </div>
          <div class="third-column">
            <div class="content-col height-80">
              <div class="normal-text">
                1,100円（税込）
              </div>
            </div>
          </div>
        </div>
        <div class="card-row three card-row-5">
          <div class="title-col">
            <div>追加カード <br> 年会費</div>
          </div>
          <div class="first-column">
            <div class="content-col height-80">
              <div class="normal-text">
                100枚（代表者カード含）
              </div>
            </div>
          </div>
          <div class="second-column">
            <div class="content-col height-80">
              <div class="normal-text">
                100枚（代表者カード含）
              </div>
            </div>
          </div>
          <div class="third-column">
            <div class="content-col height-80">
              <div class="normal-text">
                100枚（代表者カード含）
              </div>
            </div>
          </div>
        </div>
        <div class="card-row three card-row-6">
          <div class="title-col">
            <div>申し込み <br> 資格</div>
          </div>
          <div class="first-column">
            <div class="content-col height-80">
              <div class="normal-text">
                中小規模法人代表者（未成年者除く）
              </div>
            </div>
          </div>
          <div class="second-column">
            <div class="content-col height-80">
              <div class="normal-text">
                個人事業主またはフリーランス、経営者の方（高校生除く）
              </div>
            </div>
          </div>
          <div class="third-column">
            <div class="content-col height-80">
              <div class="normal-text">
                個人事業主またはフリーランス、経営者の方（高校生除く）
              </div>
            </div>
          </div>
        </div>
        <div class="card-row three card-row-7">
          <div class="title-col">
            <div>MORE</div>
          </div>
          <div class="first-column">
            <div class="content-col ">
              <ul>
                <li>プラチナ会員専用デスク</li>
                <li>AMEXセンチュリオンデザイン採用</li>
                <li>通常469米ドルのプライオリティ・パスを代表者様は無料でご登録可能</li>
              </ul>
            </div>
          </div>
          <div class="second-column">
            <div class="content-col direction-col aiS">
              <ul>
                <li>国内ラウンジサービス</li>
              </ul>
              <a href="/gold_business_pro/" class="bondi_blue_outline_btn">
                <span class="bondi_blue_outline_btn__tittle">詳細はこちら</span>
              </a>
            </div>
          </div>
          <div class="third-column">
            <div class="content-col direction-col aiS">
              <ul>
                <li>部署名・費用項目名での発番可能 </li>
              </ul>
              <a href="/purchasing_card/" class="bondi_blue_outline_btn">
                <span class="bondi_blue_outline_btn__tittle">詳細はこちら</span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="card-comparison">
        <p class="text-muted">※1：サービスはカードごとに選択いただくサービスとなります。</p>
        <p class="text-muted">※上記一覧は概要となります。詳しくはサービス記載項目をご確認ください。</p>
      </div>

      <div class="contact-us">
        <p>「どのビジネスカードがよいかわからない」という方はお気軽にご相談下さい。<br />
          担当者がカード選びをサポートさせていただきます。
        </p>

        <a href="https://saison-test.tmedia.jp/contact/" class="bondi_blue_btn more btn-contact">お問い合わせはこちら</a>
      </div>
    </div>
  </section>

  <section id="faq" class="section-question-and-answer fadein">
    <div class="container">
      <h5 class="ttl-secondary">FAQ</h5>
      <h2 class="ttl-primary">よくある質問</h2>
      {% include 'partial/qa_section.njk' %}
      <a href="/contact/" class="btn bondi_blue_btn more btn-other-question">その他のご質問をしたい方はこちら</a>
    </div>
  </section>

  <section id="application-flow" class="section-application-flow">
    <div class="containers">
      <div class="ttl-primary">お申し込みまでの流れ</div>

      <div class="grid-card-containers">
        <div class="step">
          <div class="ttl-quaternary">STEP 1</div>
          <div class="svg-step">
            {% include "component/icons/step1.njk" %}
          </div>
          <div class="ttl-quinary">Webから <br /> 簡単お申し込み</div>
          <div class="arrowStep"> {% include "component/icons/arrowStep.njk" %}</div>
        </div>


        <div class="step">
          <div class="ttl-quaternary">STEP 2</div>
          <div class="svg-step">
            {% include "component/icons/step2.njk" %}
          </div>
          <div class="ttl-quinary">契約確認書類の <br /> 受領</div>
          <div class="arrowStep"> {% include "component/icons/arrowStep.njk" %}</div>
        </div>


        <div class="step">
          <div class="ttl-quaternary">STEP 3</div>
          <div class="svg-step">
            {% include "component/icons/step3.njk" %}
          </div>
          <div class="ttl-quinary">審査結果の <br /> ご案内</div>
          <div class="arrowStep"> {% include "component/icons/arrowStep.njk" %}</div>
        </div>


        <div class="step">
          <div class="ttl-quaternary">STEP 4</div>
          <div class="svg-step">
            {% include "component/icons/step4.njk" %}
          </div>
          <div class="ttl-quinary">郵送で <br /> カードお受け取り</div>
          <div class="arrowStep"> {% include "component/icons/arrowStep.njk" %}</div>
        </div>


        <div class="step">
          <div class="ttl-quaternary">STEP 5</div>
          <div class="svg-step">
            {% include "component/icons/step5.njk" %}
          </div>
          <div class="ttl-quinary">カードと一緒に届く <br /> 口座設定用紙を返送</div>
        </div>
      </div>

      <div class="btn-container">
        <a href="https://www.saisoncard.co.jp/bizpro/kiyaku?app_card=1&pioneer_store_number=3166968&referral_store_number=0000001&referral_contact_number="
          target="_blank">
          <span class="bondi_blue_btn">
            お申し込みはこちら
            <svg xmlns="http://www.w3.org/2000/svg" width="15.095" height="15.095" viewBox="0 0 15.095 15.095">
              <path id="Path_44704" data-name="Path 44704" d="M9.674,0V9.674H0"
                transform="translate(0 7.548) rotate(-45)" fill="none" stroke="#fff" stroke-width="2" />
            </svg>
          </span>
        </a>
      </div>
    </div>
  </section>

  <section class="section-subinfo">
    <div class="sub-infos">
      <div class="containers">
        ※「アメリカン・エキスプレス」は、アメリカン・エキスプレスの登録商標です。(株)クレディセゾンは、アメリカン・エキスプレスのライセンスに基づき使用しています。
      </div>
    </div>
  </section>
</main>
{% endblock %}
