<footer>
  <div class="footer-container">
    {% if breadcrumb %}
    <section class="breadcrumb">
      <ul class="flex">
        {% for crumb in breadcrumb %}
        <li>
          <a href="{{ crumb.link }}">{{ crumb.head or crumb.text }}</a>
        </li>
        {% endfor %}
      </ul>

    </section>
    {% endif %}

    <section class="primary-section">
      <div class="containers flex">

        <div class="group footer__first__list">
          <div class="footer__logo">
            <img src="/assets/img/footer/footer_logo.png" />
          </div>
          <ul class="group__list">
            <li>
              <a href="#">貸金業者登録番号</a>
            </li>
            <li>
              <a href="#">関東財務局長（14）第00085号</a>
            </li>
            <li>
              <a href="#">日本貸金業協会会員 第002346号</a>
            </li>
          </ul>
        </div>

        <div class="group">
          <div class="group__ttl">サービス</div>
          <ul class="group__list">
            <li>
              <a href="#">サービス一覧</a>
            </li>
            <li>
              <a href="/smaller_companies/">中小企業向けサービス</a>
            </li>
            <li>
              <a href="/sole_proprietorship/">個人事業主向けサービス</a>
            </li>
            <li>
              <a href="/faq/">よくある質問</a>
            </li>
            <li>
              <a href="/case_list/">導入事例</a>
            </li>
            <li>
              <a href="/strength/">クレディセゾンの強み</a>
            </li>
          </ul>
        </div>

        <div class="group">
          <div class="group__ttl">目的から探す</div>
          <ul class="group__list">
            <li>
              <a href="#">ビジネスカードを作りたい</a>
            </li>
            <li>
              <a href="#">経費を削減したい</a>
            </li>
            <li>
              <a href="#">業務を効率化したい</a>
            </li>
            <li>
              <a href="#">資金繰りを改善したい</a>
            </li>
            <li>
              <a href="#">福利厚生を充実させたい</a>
            </li>
          </ul>
        </div>

        <div class="group">
          <div class="group__ttl">お役立ち情報</div>
          <ul class="group__list">
            <li>
              <a href="#">セミナー・動画</a>
            </li>
            <li>
              <a href="/whitepaper/">お役立ち資料</a>
            </li>
            <li>
              <a href="#">お役立ちコラム</a>
            </li>
            <li>
              <a href="/news/">ニュース</a>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="secondary-section">
      <div class="anc">
        <div class="containers">
          <ul class="flex jcC gap30 inherit anc__box">
            <li class="light_btn">
              <a href="/contact/">ご相談・お問い合わせ</a>
              {% include 'component/icons/priamry-arrow-right.njk' %}
            </li>
            <li class="light_btn">
              <a href="/catalog_list/">サービス資料</a>
              {% include 'component/icons/priamry-arrow-right.njk' %}
            </li>
            <li class="light_btn">
              <a href="/whitepaper/">お役立ち資料</a>
              {% include 'component/icons/priamry-arrow-right.njk' %}
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
  <section class="tertiary-section">
    <div class="flex aiC gap50 sec-news__box--item">
      <ul class="flex custom-list gap27">
        <li><a href="https://corporate.saisoncard.co.jp/company/about_cs/" target="_blank">
            会社概要
            {% include 'component/icons/external.njk' %}
          </a>
        </li>

        <li>
          <a href="https://www.saisoncard.co.jp/info/privacy-policy/" target="_blank">プライバシーポリシー
            {% include 'component/icons/external.njk' %}
          </a>
        </li>

        <li>
          <a href="https://www.saisoncard.co.jp/privacy.html" target="_blank">
            「個人情報の保護に関する法律」に基づく公表事項
            {% include 'component/icons/external.njk' %}
          </a>
        </li>

        <li>
          <a href="https://www.saisoncard.co.jp/cookie-policy/" target="_blank">
            cookieポリシー
            {% include 'component/icons/external.njk' %}
          </a>
        </li>

      </ul>
    </div>
    <div class="copy-right">
      <p>Copyright(C)CREDIT SAISON Co.,Ltd.All Rights Reserved.</p>
    </div>
  </section>
</footer>