<header class="top__header flex">
  <div class="header__logo">
    <a href="#"><img src="/assets/img/logo/header-nav-list-logo.png" /></a>
  </div>

  {# This is for preventing all min js errors #}
  <div class="show"></div>
  <div class="hide"></div>
  <div class="floating"></div>

  <div class="nav__list__container flex gap16">
    <div class="nav__list__bar">
      <nav class="nav__list__item pc-only">
        <ul class="flex jcE gap7">
          <li class="nav__list__item__button">
            <a href="#" class="font-12px">セミナー・動画</a>
          </li>
          <li class="nav__list__item__button">
            <a href="#" class="font-12px">お役立ち資料</a>
          </li>
        </ul>
        <ul class="flex gap30">
          <li>
            <a href="#">クレディセゾンの強み</a>
          </li>
          <li>
            <a href="#">中小企業様向け</a>
          </li>
          <li>
            <a href="#">個人事業主様向け</a>
          </li>
          <li class="nav__list__item__dropdown">
            <a href="#">目的から探す</a>
          </li>
          <li class="nav__list__item__dropdown">
            <a href="#">サポート情報</a>
          </li>
        </ul>
      </nav>
      <div id="nav-toggle" class="sp-only">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="nav__list__button pc-only">
      <a href="#">ご相談・お問合せ</a>
    </div>
  </div>
</header>
