<header>
  <div class="in">
    <div class="flex inherit">
      <div class="in__logo"></div>
      <nav class="in__nav pc-only">
        <ul class="flex">
          <li>
            <a href="#">セミナー・動画</a>
          </li>
          <li>
            <a href="#">お役立ち資料</a>
          </li>
          <li>
            <a href="#">お役立ちコラム</a>
          </li>
          <li>
            <a href="#">よくある質問</a>
          </li>
        </ul>
      </nav>
      <div id="nav-toggle" class="sp-only">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <div class="nav-list pc-only">
    <div class="nav-list-bar flex">
      <div class="nav-list-logo">
        <a href="#"><img src="/assets/img/logo/header_nav_list_logo.png"/>
        </a>
      </div>
      <ul class="flex">
        <li>
          <a href="#">クレディセゾンの強み中小企業様向け</a>
        </li>
        <li>
          <a href="#">個人事業主様向け</a>
        </li>
        <li>
          <a href="#">目的から探す</a>
        </li>
        <li>
          <a href="#">導入事例</a>
        </li>
      </ul>
      <div class="nav-list-button">
        <a href="#">ご相談・お問合せ</a>
      </div>
    </div>
  </header>
