{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Custom tags before </head> #}
{% block customHead %}{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}{% endblock %}

{# Main content #}
{% block content %}

<main class="no15-page">
  <section class="section-welcome">
    <div class="container-1200">
      <h3 class="ttl-tertiary">法人経営者様・個人事業主様へ。</h3>

      <h2 class="ttl-secondary">資金繰り・資金調達をサポートするサービス</h2>

      <h4 class="ttl-quaternary">クレディセゾンは、資金繰り改善や資金調達をもっと手軽に実現できる、<br>
        サ－ビスをご提供いたします。</h4>
    </div>
  </section>

  <section class="section-primary">
    <div class="container-1200">
      <h2 class="ttl-secondary">こんなニーズやお悩みありませんか？</h2>

      <ul class="flex jcC gap30 card-list">
        <li class="card-type6">
          <a href="#" class="card">
            <div class="ttl-quaternary-container">
              <h4 class="ttl-quaternary">資金繰りを改善したい</h4>
            </div>

            <div class="flex gap30 card-body">
              <div class="circle-container">
                イラスト
                <br>
                または
                <br>
                アイコン
              </div>

              <ul class="check-list">
                <li>入金サイトが長く、資金繰りに困っている</li>
                <li>支払いを先延ばししたい</li>
                <li>金融機関に知られずに解決したい</li>
              </ul>
            </div>

            <div class="circle-with-arrow">
              <div class="arrow-down"></div>
            </div>
          </a>
        </li>

        <li class="card-type6">
          <a href="#" class="card">
            <div class="ttl-quaternary-container">
              <h4 class="ttl-quaternary">資金調達をしたい</h4>
            </div>

            <div class="flex gap30 card-body">
              <div class="circle-container">
                イラスト
                <br>
                または
                <br>
                アイコン
              </div>

              <ul class="check-list">
                <li>金融機関以外から事業資金を調達したい</li>
                <li>無担保・無保証人で借りたい</li>
                <li>できる限り低金利で借りたい</li>
              </ul>
            </div>

            <div class="circle-with-arrow">
              <div class="arrow-down"></div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </section>

  <section class="section-secondary">
    <div class="container-1200">
      <h2 class="ttl-secondary">資金繰り改善や資金調達をもっと手軽に</h2>

      <div class="panel-primary">
        <div class="cat">資金繰り改善サポート</div>

        <div class="notification-panel2">
          <div class="relation">
            <h3 class="single__ttl">
              <span>経費清算クラウド「Concur Expense」</span>
            </h3>

            <div class="card-type13">
              <dd>「支払い.com」を利用すれば、期限の迫った請求書も、支払いまで最長60日余裕をプラス。資金繰りを改善し、借りずに事業を加速できます。
                必要なのはお手持ちのカードだけ。審査も書類も必要ありません。</dd>

              <div class="flex gap30 aiC sp-reverse">
                <div class="sec-left-wrapper">
                  <figure class="sec__img"><img src="/assets/img/introduce_page/cash-flow.png" alt=""></figure>
                </div>

                <div class="gap-10 sec-right-wrapper">
                  <div class="card-type18">
                    <div class="cat">利用可能ブランド</div>

                    <div class="card-body">
                      <figure class="sec__img"><img src="/assets/img/credit_cards/saison.png" alt=""></figure>
                      <figure class="sec__img"><img src="/assets/img/credit_cards/master_card.png" alt=""></figure>
                      <figure class="sec__img"><img src="/assets/img/credit_cards/visa.png" alt=""></figure>

                      <p>すべてのセゾンカードをご利用いただけます。</p>
                    </div>
                  </div>
                </div>
              </div>

              <a href="#" class="btn03 small">支払い.comをもっと詳しく</a>
            </div>
          </div>
        </div>
      </div>

      <div class="panel-secondary">
        <div class="cat">資金調達サポート</div>

        <div class="notification-panel2">
          <div class="relation">
            <h3 class="single__ttl">
              <span>セゾンビジネスサポートローン（カード会員様限定）</span>
            </h3>

            <div class="card-type13">
              <dd>
                セゾンビジネスサポートローンは、下記対象のビジネスカードでご利用頂ける中小企業・個人事業主の経営を支援する融資サービスです。お持ちのビジネスカードに、最大950万円のゆとりあるご融資可能枠と借り入れ額に応じた優遇金利をご用意しております。カード1枚で用途を問わず、ビジネスのあらゆるシーンで幅広くご利用いただけます。。
              </dd>

              <ul class="flex gap30 card-list">
                <li class="card-type9">
                  <h3 class="card__box--ttl">対象（下記カードをお持ちの方）</h3>

                  <div class="container">
                    <div class="flex gap20 card__box-wrapper">
                      <div class="credit-card02">
                        <img src="/assets/img/credit_cards/american-express-01.png" alt="Your Image"
                          class="credit-card-img">
                      </div>

                      <div class="card__box-title">
                        <h3 class="ttl-terianry">セゾンコバルト・ビジネス・ アメリカン・エキスプレス®・カード</h3>
                      </div>
                    </div>

                    <div class="flex gap20 card__box-wrapper">
                      <div class="credit-card02">
                        <img src="/assets/img/credit_cards/american-express-02.png" alt="Your Image"
                          class="credit-card-img">
                      </div>

                      <div class="card__box-title">
                        <h3 class="ttl-terianry">セゾンコバルト・ビジネス・ アメリカン・エキスプレス®・カード</h3>
                      </div>
                    </div>
                  </div>
                </li>

                <li class="card-type9">
                  <h3 class="card__box--ttl card__box-ttl02">融資サービスの内容</h3>

                  <div class="container">
                    <div class="flex gap30 card__box-wrapper card__box__wrapper-right">
                      <div>
                        <dd>融資枠</dd>
                        <h3 class="ttl-tertiary">最大950万円
                          <small>※1</small>
                        </h3>
                      </div>
                      <div>
                        <dd>金利</dd>
                        <h3 class="ttl-tertiary">2.8％～9.6%
                          <small>※1</small>
                        </h3>
                      </div>
                    </div>
                  </div>

                  <dd>※1 初回は融資実行となります。ご融資枠の上限は、年収の1/3以内となります。<br>※2
                    ご利用可能枠が110万円以上の方が対象。本サービスご利用前の金利はセゾンプラチナ・ビジネス・アメリカン・エキスプレス®・カードの場合14.5％、セゾンコバルト・ビジネス・アメリカン・エキスプレス®・カードの場合18.0％です。
                  </dd>
                </li>
              </ul>

              <a href="#" class="btn03">セゾンビジネスサポートローンをもっと詳しく</a>
            </div>
          </div>
        </div>
      </div>

      <div class="panel-tertiary">
        <div class="notification-panel2">
          <div class="relation">
            <h3 class="single__ttl">
              <span>ビジネスファンディング（全東信加盟店様限定）</span>
            </h3>

            <div class="card-type13">
              <dd>
                クレディセゾンのビジネスファンディングは、毎月のクレジットカード売上を「いま」必要な資金に変えるオンライン資金調達サービスです。（将来債権買取サービス）保証人、担保は不要でWebですぐにお申し込みが完了します。
              </dd>

              <div class="flex gap50 aiC sp-reverse">
                <figure class="sec__img"><img src="/assets/img/introduce_page/business-fantink.png" alt=""></figure>

                <div class="gap-10 sec-right-wrapper">
                  <dl class="flex aiC gap30 sec01-right-box">
                    <dt class="flex aiC gap20 sp-fS">
                      <div class="number-circle">1</div>
                      <h5 class="ttl-senary"><span class="yellow-bottom">保証人、担保は不要</span></h5>
                    </dt>
                  </dl>

                  <dl class="flex aiC gap30 sec01-right-box">
                    <dt class="flex aiC gap20 sp-fS">
                      <div class="number-circle">2</div>
                      <h5 class="ttl-senary"><span class="yellow-bottom">
                          最短2営業日</span>で入金可能</h5>
                    </dt>
                  </dl>

                  <dl class="flex aiC gap30 sec01-right-box">
                    <dt class="flex aiC gap20 sp-fS">
                      <div class="number-circle">3</div>
                      <h5 class="ttl-senary">
                        <span class="yellow-bottom">初期費用・月額費用、延滞金もな</span> <br> し
                      </h5>
                    </dt>
                  </dl>

                  <dl class="flex aiC gap30 sec01-right-box">
                    <dt class="flex aiC gap20 sp-fS">
                      <div class="number-circle">4</div>
                      <h5 class="ttl-senary">ご精算は
                        <span class="yellow-bottom">売上に応じた定率精</span>だから <br> 安心
                      </h5>
                    </dt>
                  </dl>
                </div>
              </div>
            </div>

            <a href="#" class="btn03 small">ビジネスファンディングをもっと詳しく</a>
          </div>
        </div>
      </div>

      <div class="panel-quaterary">
        <div class="notification-panel2">
          <div class="relation">
            <h3 class="single__ttl">
              <span>MONEY CARD</span>
            </h3>

            <div class="card-type13">
              <dd>
                MONEY
                CARDとは、キャッシングリボ専用のローンカードです。全国の郵便局をはじめ、都市銀行、地方銀行、信用金庫、コンビニなどで、ご利用可能枠の範囲内で繰り返しご利用いただけます。目的用途を事業資金としても活用できる余裕のある融資枠を設定しています。
              </dd>

              <div class="flex gap50 aiC sp-reverse">
                <figure class="sec__img"><img src="/assets/img/introduce_page/saison-03.png" alt=""></figure>

                <div class="gap-10 sec-right-wrapper">
                  <dl class="flex aiC gap30 sec01-right-box">
                    <dt class="flex aiC gap20 sp-fS">
                      <div class="number-circle">1</div>
                      <h5 class="ttl-senary"><span class="yellow-bottom">全国のコンビニ・A</span>TMでご利用可能</h5>
                    </dt>
                  </dl>

                  <dl class="flex aiC gap30 sec01-right-box">
                    <dt class="flex aiC gap20 sp-fS">
                      <div class="number-circle">2</div>
                      <h5 class="ttl-senary"><span class="yellow-bottom">
                          ご指定の口座</span>に最短数十秒で振り<br>込み</h5>
                    </dt>
                  </dl>

                  <dl class="flex aiC gap30 sec01-right-box">
                    <dt class="flex aiC gap20 sp-fS">
                      <div class="number-circle">3</div>
                      <h5 class="ttl-senary">
                        ご利用用途は自由<span class="yellow-bottom">。ご利用可能枠：最大300万</span> <br> 円
                      </h5>
                    </dt>
                  </dl>

                  <dl class="flex aiC gap30 sec01-right-box">
                    <dt class="flex aiC gap20 sp-fS">
                      <div class="number-circle">4</div>
                      <h5 class="ttl-senary">新規のご契約＆ご利用
                        <span class="yellow-bottom">で、最大2カ月分のご利息をキャッ </span>
                      </h5>
                    </dt>
                  </dl>
                </div>
              </div>
            </div>

            <a href="#" class="btn03 small">MONEY CARDをもっと詳しく</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-tertiary">
    <div class="container-1200">
      <div class="card-type18">
        <div class="ttl-tertiary-wrapper">
          <h3 class="ttl-tertiary border-bottom">資金繰りや資金調達にお悩みの方へ</h3>
        </div>

        <h2 class="ttl-secondary">
          素早く・手軽に解決できるサービスをご提供します</h2>

        <h3 class="ttl-tertiary fw-normal">
          経営者様や個人事業主様にとって資金繰り改善や資金調達は、急ぎ解決したい課題だと思います。クレディセゾンはそういった方向けに
          <strong>「素早く・手軽に解決できる」</strong>サービスをご提供しています。お気軽にご相談下さい。
        </h3>

        <div class="flex gap60 card-list">
          <div class="card">
            <h3 class="ttl-tertiary">「詳しい資料が欲しい」
              <br>という方はこちら
            </h3>

            <a href="#" class="btn02 small show-arrow">サービス資料ダウンロード</a>
          </div>

          <div class="card">
            <h3 class="ttl-tertiary">「詳しい話を聞きたい」「相談したい」

              <br>という方はこちら
            </h3>

            <a href="#" class="btn02 small show-arrow">サポート担当に無料で相談する</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="breadcrumb">
    <ul class="flex">
      <li>
        <a href="#">TOP</a>
      </li>
      <li>
        <a href="#">資金繰りを改善したい</a>
      </li>
    </ul>
  </section>
</main>
{% endblock %}
