{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Custom tags before </head> #}
{% block customHead %}{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}{% endblock %}

{# Main content #}
{% block content %}

  <main class="detail-page">
    <div class="container">
      <section class="section-content">
        <div class="section-content-sub_title">
          <h4 class="ttl-quaternary">お申込み後、リアルタイムでお送りいたします!</h4>
        </div>
        <h2 class="ttl-primary">ホワイトペーパータイトルが入ります。ホワイトペーパータイトルが入ります。ホワイトペーパータ</h2>

        <section class="section-content-carousel carousel-single">
          <div class="carousel-item">
            <img src="/assets/img/common/whitepaper_cover.png" alt="banner 1">
          </div>
          <div class="carousel-item">
            <img src="/assets/img/common/whitepaper_cover.png" alt="banner 1">
          </div>
        </section>

        <dd>
        資料紹介文が入ります。資料紹介文が入ります。資料紹介文が入ります。資料紹介文が入ります。資料紹介文が入ります。資料紹介文が入ります。資料紹介文が入ります。資料紹介文が入ります。資料紹介文が入ります。資料紹介文が入ります。資料紹介文が入ります。
      </dd>

        <div class="section-content-document">
          <h2 class="title">本資料の目次</h2>
          <ul class="doccument-list">
            {% for i in range(1, 9) %}
              <li class="document-item">章タイトルが入ります。章タイトルが入ります。章タイトルが入ります。</li>
            {% endfor %}
          </ul>
        </div>

      </section>

      <section class="section-form">
        <form class="form-primary">
          <h2 class="form-title">ダウンロード申込みフォーム</h2>

          <div class="form-section company-name-field">
            <label class="form-ttl">
              <span class="item">会社名</span>
              <span class="required"></span>
            </label>

            <input type="text" placeholder="株式会社クレディセゾン">
          </div>

          <div class="form-section prefecture-field">
            <label class="form-ttl">
              <span class="item h1">事業所所在地（都道府県）</span>
              <span class="required"></span>
            </label>

            <div class="custom-select">
              <div class="select_wrap">

                <ul class="default_option">
                  <li>
                    <div class="option disabled">
                      <p>東京都</p>
                    </div>
                  </li>
                </ul>

                <ul class="select_ul">
                  <li>
                    <div class="option">
                      <p>商品の機能について</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="form-section name-field">
            <label class="form-ttl">
              <span class="item h1">お名前</span>
              <span class="required"></span>
            </label>

            <div class="name-field-content flex aic fs gap20">
              <p class="flex fs aic half nowrap gap10">
                <span>氏</span><input type="text" placeholder="例）佐藤"></p>
              <p class="flex fs aic half nowrap gap10">
                <span>名</span><input type="text" placeholder="例）太郎"></p>
            </div>
          </div>

          <div class="form-section company-email-field">
            <label class="form-ttl">
              <span class="item h1">勤務先メールアドレス</span>
              <span class="required"></span>
            </label>

            <input type="email" placeholder="yamada@company.co.jp">
          </div>

          <div class="form-section work-email-field">
            <label class="form-ttl">
              <span class="item h1">勤務先メールアドレス（確認用）</span>
              <span class="required"></span>
            </label>

            <input type="email" placeholder="yamada@company.co.jp">
          </div>

          <div class="form-section tel-field">
            <label class="form-ttl">
              <span class="item h1">電話番号</span>
              <span class="required"></span>
            </label>

            <input type="tel" placeholder="03-1234-5678">
          </div>

          <div class="form-section inquiry-purpose-field">
            <label class="form-ttl">
              <span class="item h1">ホワイトペーパーダウンロードの目的</span>
              <span class="required"></span>
            </label>

            <div class="custom-select">
              <div class="select_wrap">
                <ul class="default_option">
                  <li>
                    <div class="option">
                      <p>選択してください</p>
                    </div>
                  </li>
                </ul>

                <ul class="select_ul">
                  <li>
                    <div class="option">
                      <p>商品の機能について</p>
                    </div>
                  </li>
                  <li>
                    <div class="option burger">
                      <p>商品の価格について</p>
                    </div>
                  </li>
                  <li>
                    <div class="option ice">
                      <p>商品の利用方法について</p>
                    </div>
                  </li>
                  <li>
                    <div class="option fries">
                      <p>ご契約までの期間について</p>
                    </div>
                  </li>

                  <li>
                    <div class="option fries">
                      <p>ご契約後フォローについて</p>
                    </div>
                  </li>

                  <li>
                    <div class="option fries">
                      <p>その他</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="form-section term-agree-field">
            <label class="form-ttl">
              <span class="item h1">個人情報の取扱いに同意する</span>
              <span class="required"></span>
            </label>

            <label class="custom-checkbox">
              <input type="checkbox">
              <span class="checkmark"></span>
              <span class="custom-check-box-label">同意する</span>
            </label>
          </div>

          <a href="https://www.saisoncard.co.jp/info/legal/" class="term-agreement" target = "_blank">
            <p>「個人情報の取扱い（収集・保有・利用・提供）に関する同意条項」について</p>
          </a>

          <div class="submit-area">
            <button type="submit" class="bondi_blue_btn">
              <span>確認画面へ進む</span>
            </button>
          </div>
        </form>

      </section>

    </div>

  </main>

  <script>
    $(".default_option").click(function () {
      $(this)
        .parent()
        .toggleClass("active");
    })

    $(".select_ul li").click(function () {
      var currentele = $(this).html();
      $(".default_option li").html(currentele);
      $(this)
        .parents(".select_wrap")
        .removeClass("active");
    })

    $(window).on('load', function () {
      setTimeout(function () {

        $(".carousel-single").slick({
          slidesToShow: 1,
          slidesToScroll: 1,
          dots: false,
          useTransform: false,
          prevArrow: '<button type="button" class="slick-prev"><svg xmlns="http://www.w3.org/2000/svg" width="15.095" height="15.095" viewBox="0 0 15.095 15.095"><path id="Path_44704" data-name="Path 44704" d="M9.674,9.674V0H0" transform="translate(8.255 14.388) rotate(-135)" fill="none" stroke="#fff" stroke-width="2"/></svg></button>',
          nextArrow: '<button type="button" class="slick-next"><svg xmlns="http://www.w3.org/2000/svg" width="15.095" height="15.095" viewBox="0 0 15.095 15.095"><path id="Path_44704" data-name="Path 44704" d="M9.674,0V9.674H0" transform="translate(0 7.548) rotate(-45)" fill="none" stroke="#fff" stroke-width="2"/></svg></button>',
          responsive: [
            {
              breakpoint: 768,
              settings: {
                slidesToShow: 1,
                slidesToScroll: 1
              }
            }
          ]
        });

        $(".carousel-single").show();
      }, 100);

    });
  </script>

{% endblock %}
