{% extends "layout/no_footer.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Custom tags before </head> #}
{% block customHead %}{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}{% endblock %}

{# Main content #}
{% block content %}

  <main class="meta-search-page">
    <section class="section-primary">
      <div class="containers">
        <div class="flex inherit content-wrapper">
          <div class="content-title">
            <a href="#">目的から探す</a>
          </div>

          <div class="flex inherit sub-content-wrapper">
            <ul class="jcC inherit triangle-arrow-list">
              <li><a href="#">ビジネスカードを作りたい</a></li>
              <li><a href="#">業務を効率化したい</a></li>
              <li><a href="#">福利厚生を充実させたい</a></li>
            </ul>

            <ul class="jcC inherit triangle-arrow-list pipe-list">
              <li><a href="#">経費を削減したい</a></li>
              <li><a href="#">資金繰りを改善したい</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </main>

{% endblock %}
