{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Custom tags before </head> #}
{% block customHead %}{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}{% endblock %}

{# Main content #}
{% block content %}

  <main class="no18-page">
    <section class="section-welcome">
      <h3 class="ttl-tertiary">業務の効率化から資金繰りまで</h3>

      <h2 class="ttl-primary">中小企業様向けサービス</h2>

      <a href="#" class="btn02">まとめて資料をダウンロードする</a>
    </section>

    <section class="section-primary">
      <h4 class="ttl-quaternary">中小企業の経営者様・経理ご担当者様へ</h4>

      <h2 class="ttl-primary">こんなニーズやお悩みありませんか？</h2>

      <div class="section-primary-wrapper">
        <div class="containers">
          <ul class="flex gap30 card-list">
            <li class="card-type6">
              <a href="#" class="card">
                <div class="ttl-quaternary-container">
                  <h4 class="ttl-quaternary">経費清算に時間がとられている</h4>
                </div>
                <div class="circle-container">
                  イラスト
                  <br>
                  または
                  <br>
                  アイコン
                </div>

                <h5 class="ttl-senary">カード利用明細から個人の利用と経費を分けるのが大変。確定申告時も大変だ。</h5>

                <div class="circle-with-arrow">
                  <div class="arrow-down"></div>
                </div>
              </a>
            </li>

            <li class="card-type6">
              <a href="#" class="card">
                <div class="ttl-quaternary-container">
                  <h4 class="ttl-quaternary">資金繰りを改善したい</h4>
                </div>

                <div class="circle-container">
                  イラスト
                  <br>
                  または
                  <br>
                  アイコン
                </div>

                <h5 class="ttl-senary">借りずに資金繰りを改善したい。期限の迫った請求書の支払いを先延ばししたい。</h5>

                <div class="circle-with-arrow">
                  <div class="arrow-down"></div>
                </div>

              </a>
            </li>

            <li class="card-type6">
              <a href="#" class="card">
                <div class="ttl-quaternary-container">
                  <h4 class="ttl-quaternary">請求・回収業務に
                    <br>
                    工数がとられている</h4>
                </div>

                <div class="circle-container">
                  イラスト
                  <br>
                  または
                  <br>
                  アイコン
                </div>

                <h5 class="ttl-senary">カード利用明細から個人の利用と経費を分けるのが大変。確定申告時も大変だ。</h5>

                <div class="circle-with-arrow">
                  <div class="arrow-down"></div>
                </div>

              </a>
            </li>

            <li class="card-type6">
              <a href="#" class="card">
                <div class="ttl-quaternary-container">
                  <h4 class="ttl-quaternary">経費清算に時間がとられている</h4>
                </div>

                <div class="circle-container">
                  イラスト
                  <br>
                  または
                  <br>
                  アイコン
                </div>

                <h5 class="ttl-senary">カード利用明細から個人の利用と経費を分けるのが大変。確定申告時も大変だ。</h5>

                <div class="circle-with-arrow">
                  <div class="arrow-down"></div>
                </div>
              </a>
            </li>

            <li class="card-type6">
              <a href="#" class="card">
                <div class="ttl-quaternary-container">
                  <h4 class="ttl-quaternary">福利厚生サービスを導入したい</h4>
                </div>

                <div class="circle-container">
                  イラスト
                  <br>
                  または
                  <br>
                  アイコン
                </div>

                <h5 class="ttl-senary">カード利用明細から個人の利用と経費を分けるのが大変。確定申告時も大変だ。</h5>

                <div class="circle-with-arrow">
                  <div class="arrow-down"></div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="section-secondary">
      <div class="notification-primary">
        <div class="notification-panel1">
          <h2 class="card__ttl">課題：経費清算に時間がとられている</h2>

          <summary class="flex gap30 aiC inquiry__box">
            <div class="flex inquiry__box--btn">
              <a href="#" class="btn04 small">解決策！</a>
            </div>

            <div class="inquiry__box--txt">
              <span>「法人カード」や「経費清算クラウド」</span>で経費清算を効率化できます！</div>
          </summary>

          <div class="card__box--txt">経費精算業務に時間をとられていませんか？法人カードを利用することで、経費精算業務を効率化することができます。</div>

          <div class="latest">
            <ul class="flex gap30 lastest-list">
              <li class="card-type11">
                <a href="#" class="card">
                  <h3 class="ttl-tertiary">従業員もラクに！</h3>

                  <div class="flex gap30">
                    <div class="item__img">イメージ
                      <br>
                      イラスト</div>

                    <div class="item__box">
                      <div class="item__box--title">法人へ一括請求にできるから
                        <br>
                        仮払いや立替清算が不要に！</div>
                      <div class="item__box--txt">
                        社員の方にとっても立替払いとその精算は、手間ばかりかかって得がありません。法人カードを導入することで、社員の方も清算業務から解放されます。</div>
                    </div>
                  </div>
                </a>
              </li>

              <li class="card-type11">
                <a href="#" class="card">
                  <h3 class="ttl-tertiary">従業員もラクに！</h3>

                  <div class="flex gap30">
                    <div class="item__img">イメージ
                      <br>
                      イラスト</div>

                    <div class="item__box">
                      <div class="item__box--title">法人へ一括請求にできるから
                        <br>
                        仮払いや立替清算が不要に！</div>
                      <div class="item__box--txt">
                        社員の方にとっても立替払いとその精算は、手間ばかりかかって得がありません。法人カードを導入することで、社員の方も清算業務から解放されます。</div>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="notification-panel2">
          <div class="relation">
            <h3 class="single__ttl">
              <span>経費清算におすすめの法人カード</span></h3>

            <div class="notification-panel2-body">
              <ul class="flex gap30 card-list">
                <li class="card-type12">
                  <h3 class="card__box--ttl">キャッシュバックを重視したいという方へ</h3>

                  <div class="container">
                    <h3 class="ttl-terianry centered-text">セゾンプラチナ・ビジネス プロ・
                      <br>
                      アメリカン・エキスプレス®・カード</h3>

                    <div class="credit-card">
                      <img src="/assets/img/credit_cards/american-express-01.png" alt="Your Image" class="credit-card-img">
                    </div>
                  </div>

                  <ul class="price-list">
                    <li>
                      <dd>年会費：27,500円（税込）</dd>
                    </li>
                    <li>
                      <dd>追加カード年会費：3,300円（税込）</dd>
                    </li>
                  </ul>

                  <a href="#" class="btn03 small">カードの詳細はこちら</a>
                </li>

                <li class="card-type12">
                  <h3 class="card__box--ttl">年会費を重視したいという方へ</h3>

                  <div class="container">
                    <h3 class="ttl-terianry centered-text">セゾンゴールド・ビジネス プロ・カード</h3>

                    <div class="credit-card">
                      <img src="/assets/img/credit_cards/saison-01.png" alt="Your Image" class="credit-card-img">
                    </div>
                  </div>

                  <ul class="price-list">
                    <li>
                      <dd>年会費：3,300円（税込）</dd>
                    </li>
                    <li>
                      <dd>追加カード年会費：1,100円（税込）</dd>
                    </li>
                  </ul>

                  <a href="#" class="btn03 small">カードの詳細はこちら</a>
                </li>

                <li class="card-type12">
                  <h3 class="card__box--ttl">不正利用のリスクを軽減したい方へ</h3>

                  <div class="container">
                    <h3 class="ttl-terianry centered-text">セゾン・アメリカン・エキスプレス®・ビジネス プロ・パーチェシング・カード</h3>

                    <div class="credit-card">
                      <img src="/assets/img/credit_cards/saison-02.png" alt="Your Image" class="credit-card-img">
                    </div>
                  </div>

                  <ul class="price-list">
                    <li>
                      <dd>年会費：11,000円（税込）</dd>
                    </li>
                    <li>
                      <dd>追加カード年会費：1,100円（税込）</dd>
                    </li>
                  </ul>

                  <a href="#" class="btn03 small">カードの詳細はこちら</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="notification-panel2">
          <div class="relation">
            <h3 class="single__ttl">
              <span>経費清算クラウド「Concur Expense」</span></h3>

            <div class="card-type13">
              <dd>経費清算クラウド「Concur Expense」は、法人カード、交通系ICカード（スイカ、パスモなど）、ホテル手配やタクシー配車アプリなど様々なサービスと連携。経費明細が自動で Concur Expense に取り込まれるので、ペーパーレス化はもちろん経費精算を自動化することができます。</dd>

              <div class="flex gap30 aiC sp-reverse">
                <figure class="sec__img"><img src="/assets/img/introduce_page/concur-expense.png" alt=""></figure>

                <div class="gap-10 sec-right-wrapper">
                  <dl class="flex aiC gap30 sec01-right-box">
                    <dt class="flex aiC gap20 sp-fS">
                      <div class="number-circle">1</div>
                      <h5 class="ttl-senary">様々な決済手段と連携。<span class="yellow-bottom">経費明細が自動で取り込</span>
                        み！</h5>
                    </dt>
                  </dl>

                  <dl class="flex aiC gap30 sec01-right-box">
                    <dt class="flex aiC gap20 sp-fS">
                      <div class="number-circle">2</div>
                      <h5 class="ttl-senary">
                        <span class="yellow-bottom">
                          定期券経路分は自動で控除</span>
                        ＆
                        <span class="yellow-bottom">二重申請も自動的にチェック</span></h5>
                    </dt>
                  </dl>

                  <dl class="flex aiC gap30 sec01-right-box">
                    <dt class="flex aiC gap20 sp-fS">
                      <div class="number-circle">3</div>
                      <h5 class="ttl-senary">スマホ・モバイ
                        <span class="yellow-bottom">ルで、いつでも申請・承</span>
                        認が可能</h5>
                    </dt>
                  </dl>
                </div>
              </div>

              <a href="#" class="btn03 small">「Concur Expense」をもっと詳しく</a>
            </div>
          </div>
        </div>
      </div>

      <div class="notification-secondary">
        <div class="notification-panel1">
          <h2 class="card__ttl">課題：経費清算に時間がとられている</h2>

          <summary class="flex aiC inquiry__box">
            <div class="flex inquiry__box--btn">
              <a href="#" class="btn04 small">解決策！</a>
            </div>

            <div class="inquiry__box--txt">
              <span>「法人カード」や「経費清算クラウド」</span>で経費清算を効率化できます！</div>
          </summary>

          <div class="notification-panel1-body">
            <dd>経費清算クラウド「Concur Expense」は、法人カード、交通系ICカード（スイカ、パスモなど）、ホテル手配やタクシー配車アプリなど様々なサービスと連携。経費明細が自動で Concur Expense に取り込まれるので、ペーパーレス化はもちろん経費精算を自動化することができます。</dd>

            <div class="cash-flow-img">
              <img src="/assets/img/introduce_page/cash-flow.png" alt="Your Image" class="credit-card-img">
            </div>
          </div>

          <a href="#" class="btn03 small">支払い.comをもっと詳しく</a>
        </div>
      </div>

      <div class="notification-tertiary">
        <div class="notification-panel1">
          <h2 class="card__ttl">課題：請求・回収業務に工数がとられている</h2>

          <summary class="flex aiC inquiry__box">
            <div class="flex inquiry__box--btn">
              <a href="#" class="btn04 small">解決策！</a>
            </div>

            <div class="inquiry__box--txt">
              <span>「セゾンインボイス」</span>で未入金対応を0に。さらに毎月の請求業務を最短15分で！</div>
          </summary>

          <div class="card-type13">
            <dd>セゾンインボイスとは、請求業務“すべて”を代行するサービスです。顧客を登録し、取引情報を入力するだけ。与信審査、請求書作成・発行、入金確認、督促まですべてクレディセゾンが代行いたします。顧客の与信枠内であれば、その後未払いになったとしても貴社に振込。未回収リスクがなくなります。</dd>

            <div class="flex gap50 aiC sp-reverse">
              <figure class="sec__img"><img src="/assets/img/introduce_page/saison-invoice.png" alt=""></figure>

              <div class="gap-10 sec-right-wrapper">
                <dl class="flex aiC gap30 sec01-right-box">
                  <dt class="flex aiC gap20 sp-fS">
                    <div class="number-circle">1</div>
                    <h5 class="ttl-senary">請求業務はすべて代行<span class="yellow-bottom">。業務を15分で完</span>了！</h5>
                  </dt>
                </dl>

                <dl class="flex aiC gap30 sec01-right-box">
                  <dt class="flex aiC gap20 sp-fS">
                    <div class="number-circle">2</div>
                    <h5 class="ttl-senary">未払いでも全額振込<span class="yellow-bottom">
                        。未回収リスク100%保</span>
                      証。</h5>
                  </dt>
                </dl>

                <dl class="flex aiC gap30 sec01-right-box">
                  <dt class="flex aiC gap20 sp-fS">
                    <div class="number-circle">3</div>
                    <h5 class="ttl-senary">
                      <span class="yellow-bottom">最短翌日の入金</span>で運用資金をスピード確保。</h5>
                  </dt>
                </dl>
              </div>
            </div>
          </div>

          <a href="#" class="btn03 small">セゾンインボイスをもっと詳しく</a>
        </div>
      </div>

      <div class="notification-quaterary">
        <div class="notification-panel1">
          <h2 class="card__ttl">課題：課題が入ります。課題が入ります。</h2>

          <summary class="flex gap30 aiC inquiry__box">
            <div class="flex inquiry__box--btn">
              <a href="#" class="btn04 small">解決策！</a>
            </div>

            <div class="inquiry__box--txt">
              <span>「セゾンフクリコ」</span>で従業員の満足度を高めて人材が定着する会社に。</div>
          </summary>

          <div class="card-type13">
            <dd>セゾンフクリコとは、従業員のみなさまの暮らしに役立つ様々なサービスを、<span>最大66％OFFで利用できるお得な福利厚生優待サービスです。</span>
              <br>
              1人あたり月額385円（税込）とお手頃な価格なので、はじめての福利厚生を導入する企業様でもお気軽に利用できますす。</dd>

            <div class="flex gap50 aiC sp-reverse">
              <figure class="sec__img"><img src="/assets/img/introduce_page/saison-fukurico.png" alt=""></figure>

              <div class="gap-10 sec-right-wrapper">
                <dl class="flex aiC gap30 sec01-right-box">
                  <dt class="flex aiC gap20 sp-fS">
                    <div class="number-circle">1</div>
                    <h5 class="ttl-senary">
                      <p>
                        <span class="yellow-bottom">全国25,000以上</span>の施設で使えるコンテ<br>ンツ</p>
                    </h5>
                  </dt>
                </dl>

                <dl class="flex aiC gap30 sec01-right-box">
                  <dt class="flex aiC gap20 sp-fS">
                    <div class="number-circle">2</div>
                    <h5 class="ttl-senary">
                      <p>ビジネスサポートメニ<span class="yellow-bottom">ューで大幅コ</span>スト削減が可能</p>
                    </h5>
                  </dt>
                </dl>

                <dl class="flex aiC gap30 sec01-right-box">
                  <dt class="flex aiC gap20 sp-fS">
                    <div class="number-circle">3</div>
                    <h5 class="ttl-senary">
                      <p>
                        <span class="yellow-bottom">完全アウトソーシングで手間がかか</span><br>らない</p>
                    </h5>
                  </dt>
                </dl>

                <dl class="flex aiC gap30 sec01-right-box">
                  <dt class="flex aiC gap20 sp-fS">
                    <div class="number-circle">4</div>
                    <h5 class="ttl-senary">
                      <p>
                        会員様だけでなく<span class="yellow-bottom">、ご家族※もご利用で</span><br>きます
                      </p>
                      <ul class="sub-list">
                        <li>ご利用者の範囲は会員様と配偶者、およびそれぞれの二親等内（両親・祖父母・兄弟・子・孫）のご家族となります。</li>
                        <li>施設によって会員特典が適用される範囲や人数が異なる場合がございます。</li>
                      </ul>
                    </h5>
                  </dt>
                </dl>
              </div>
            </div>
          </div>

          <a href="#" class="btn03 small">セゾンフクリコをもっと詳しく</a>
        </div>
      </div>

      <div class="notification-quinary">
        <div class="notification-panel1">
          <h2 class="card__ttl">課題：課題が入ります。課題が入ります。</h2>

          <summary class="flex gap30 aiC inquiry__box">
            <div class="flex inquiry__box--btn">
              <a href="#" class="btn04 small">解決策！</a>
            </div>

            <div class="inquiry__box--txt">
              <span>「CosPro」</span>で出張手配にまつわる問題をまとめて解決！</div>
          </summary>

          <div class="card-type13">
            <dd>
              CosProとは、法人企業様の出張手配に関わる様々な課題を解決するために生まれた出張手配サービスです。<span>社員様が予約されたチケットの料金が適正かどうかのチェックを行う、弊社独自の「適正化チェック」のサービスで法人企業様の出張コスト削減に寄与</span>
              いたします。</dd>

            <div class="flex gap50 aiC sp-reverse">
              <figure class="sec__img"><img src="/assets/img/introduce_page/cos-pro.png" alt=""></figure>

              <div class="gap-10 sec-right-wrapper">
                <dl class="flex aiC gap30 sec01-right-box">
                  <dt class="flex aiC gap20 sp-fS">
                    <div class="number-circle">1</div>
                    <h5 class="ttl-senary">
                      <p>出張手配に社内ルールを！
                        <br>
                        <span class="yellow-bottom">手配を一本化して業務の透明化とコスト削減を</span><br>実現</p>
                    </h5>
                  </dt>
                </dl>

                <dl class="flex aiC gap30 sec01-right-box">
                  <dt class="flex aiC gap20 sp-fS">
                    <div class="number-circle">2</div>
                    <h5 class="ttl-senary">
                      <p>
                        <span class="yellow-bottom">初期費用・ランニングコスト・国内発券手数料
                        </span><br>無料！</p>
                    </h5>
                  </dt>
                </dl>

                <dl class="flex aiC gap30 sec01-right-box">
                  <dt class="flex aiC gap20 sp-fS">
                    <div class="number-circle">3</div>
                    <h5 class="ttl-senary">
                      <p>
                        <span class="yellow-bottom">365日稼働のコールセン</span>ターからも予約Ｏ
                        <br>
                        Ｋ！※</p>
                    </h5>
                  </dt>
                </dl>

                <dl class="flex aiC gap30 sec01-right-box">
                  <dt class="flex aiC gap20 sp-fS">
                    <div class="number-circle">4</div>
                    <h5 class="ttl-senary">
                      <p>
                        <span class="yellow-bottom">適正化チェッ</span>クで出張コストを抑制！
                      </p>
                      <ul class="sub-list">
                        <li>365日稼働のコールセンターは国内出張の手配専用の窓口です。海外出張の手配窓口に関しては平日のみの稼働となります。</li>
                      </ul>
                    </h5>
                  </dt>
                </dl>
              </div>
            </div>
          </div>

          <a href="#" class="btn03 small">CosProをもっと詳しく</a>
        </div>
      </section>
    </div>
  </div>
</section>

<section class="section-tertiary">

  <h2 class="ttl-secondary">各種サービス資料をまとめてダウンロード</h2>

  <h3 class="ttl-tertiary">興味のあるサービス資料をまとめてダウンロードできます。</h3>

  <a href="#" class="btn02">まとめて資料をダウンロードする</a>
</section>

<section class="section-quaternary">

  <h2 class="ttl-secondary">お客様の声</h2>

  <div class="flex gap30">
    <div class="card-type10">
      <div class="flex fS grid__card--cat">
        <span class="cat">ビジネスカード</span>
      </div>

      <h4 class="ttl-quaternary">
        最強のコスパとマイル還元率です。
      </h4>

      <h5 class="ttl-quinary">
        truck LLC/代表/善利光雅 様
      </h5>

      <h6 class="ttl-senary">ビジネスカードを探していたのですが、どのカードが自分に合うのかが分からず迷っていました。そこで、自身がビジネスカードに求める事項が備わっているか・・</h6>

      <a href="#" class="btn05 small">インタビューの続きを見る</a>
    </div>

    <div class="card-type10">
      <div class="flex fS grid__card--cat">
        <span class="cat">支払い.com</span>
      </div>

      <h4 class="ttl-quaternary">
        本当に60秒で300万円の支払いが完了してびっくりしています。
      </h4>

      <h5 class="ttl-quinary">
        建設業 代表 様
      </h5>

      <h6 class="ttl-senary">月末の職人への支払いに迫られ本当に困っていましたが、圧倒的に簡単に振込が完了し、手数料も安かったので大変助かりました。また利用させていただきます。</h6>
    </div>

    <div class="card-type10">
      <div class="flex fS grid__card--cat">
        <span class="cat">支払い.com</span>
      </div>

      <h4 class="ttl-quaternary">
        ファクタリングの10%と比べて安くとても助かりました。
      </h4>

      <h5 class="ttl-quinary">
        フリーランスエンジニア 様
      </h5>

      <h6 class="ttl-senary">引越しの初期費用が必要で急いでいたのですが、スピードはもちろん、ファクタリングの10%と比べて安くとても助かりました。
        <br>条件の良い物件に引っ越せたので大満足です。</h6>
    </div>
  </div>
</section>

<section class="breadcrumb">
  <ul class="flex">
    <li>
      <a href="#">TOP</a>
    </li>
    <li>
      <a href="#">中小企業様向け</a>
    </li>
  </ul>
</section>
</main>
{% endblock %}
