{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Custom tags before </head> #}
{% block customHead %}{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}{% endblock %}

{# Main content #}
{% block content %}

<main class="no14-page">
  <section class="section-welcome">
    <div class="container-1200">
      <h3 class="ttl-tertiary">経費清算・請求・出張手配まで。</h3>

      <h2 class="ttl-secondary">業務効率化をサポートするサービス</h2>

      <h4 class="ttl-quaternary">クレディセゾンは中小企業様・個人事業主様向けに、<br>
        今すぐ始められて効果を生み出す業務効率化サービスをご提供いたします。</h4>
    </div>
  </section>

  <section class="section-primary">
    <div class="container-1200">
      <h2 class="ttl-secondary">ビジネスカードを持つだけで、<br>
        経費削減ができることをご存知ですか？</h2>

      <ul class="flex jcC gap30 card-list">
        <li class="card-type6">
          <a href="#" class="card">
            <div class="ttl-quaternary-container">
              <h4 class="ttl-quaternary">請求・回収業務</h4>
            </div>

            <div class="flex gap30 card-body">
              <div class="circle-container">
                イラスト
                <br>
                または
                <br>
                アイコン
              </div>

              <ul class="check-list">
                <li>請求・回収業務に忙殺されている</li>
                <li>支払いを先延ばししたい</li>
                <li>支払い日までの運用資金確保が大変</li>
              </ul>
            </div>

            <div class="circle-with-arrow">
              <div class="arrow-down"></div>
            </div>
          </a>
        </li>

        <li class="card-type6">
          <a href="#" class="card">
            <div class="ttl-quaternary-container">
              <h4 class="ttl-quaternary">経費清算業務</h4>
            </div>

            <div class="flex gap30 card-body">
              <div class="circle-container">
                イラスト
                <br>
                または
                <br>
                アイコン
              </div>

              <ul class="check-list">
                <li>仮払い・立替払いの経費清算が面倒</li>
                <li>清算漏れ・遅れが頻繁に発生している</li>
                <li>利用明細の入力作業をやめたい</li>
              </ul>
            </div>

            <div class="circle-with-arrow">
              <div class="arrow-down"></div>
            </div>
          </a>
        </li>

        <li class="card-type6">
          <a href="#" class="card">
            <div class="ttl-quaternary-container">
              <h4 class="ttl-quaternary">支払い業務</h4>
            </div>

            <div class="flex gap30 card-body">
              <div class="circle-container">
                イラスト
                <br>
                または
                <br>
                アイコン
              </div>

              <ul class="check-list">
                <li>経理業務負担を削減したい</li>
                <li>紙請求書対応のため、リモートワークができない</li>
                <li>急な支払いで現金が足りない</li>
              </ul>
            </div>

            <div class="circle-with-arrow">
              <div class="arrow-down"></div>
            </div>
          </a>
        </li>

        <li class="card-type6">
          <a href="#" class="card">
            <div class="ttl-quaternary-container">
              <h4 class="ttl-quaternary">出張手配</h4>
            </div>

            <div class="flex gap30 card-body">
              <div class="circle-container">
                イラスト
                <br>
                または
                <br>
                アイコン
              </div>

              <ul class="check-list">
                <li>社員の出張状況を把握できていない</li>
                <li>社員の立替が負担になっている</li>
                <li>経理の仮払いが面倒</li>
              </ul>
            </div>

            <div class="circle-with-arrow">
              <div class="arrow-down"></div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </section>

  <section class="section-secondary">
    <div class="container-1200">
      <h2 class="ttl-secondary">今すぐ始められる！クレディセゾンの業務効率化サービス</h2>

      <div class="panel-primary">
        <div class="notification-panel3">
          <h2 class="card__ttl">未入金対応を0に。さらに毎月の請求業務を最短15分で！</h2>

          <summary class="flex gap30 aiC inquiry__box">
            <div class="inquiry__box--txt">
              BtoB向け後払い決済・請求代行サービス
              <span>「セゾンインボイス」</span>
            </div>
          </summary>

          <div class="card-type13">
            <dd>
              セゾンインボイスとは、請求業務“すべて”を代行するサービスです。顧客を登録し、取引情報を入力するだけ。与信審査、請求書作成・発行、入金確認、督促まですべてクレディセゾンが代行いたします。顧客の与信枠内であれば、その後未払いになったとしても貴社に振込。未回収リスクがなくなります。
            </dd>

            <div class="flex gap50 aiC sp-reverse">
              <div class="sec-left-wrapper">
                <figure class="sec__img"><img src="/assets/img/introduce_page/saison-invoice.png" alt=""></figure>

                <div class="sec-collection flex gap20">
                  <div class="collection-item">
                    <div class="collection-item-content">
                      <div class="collection-item-txt">最短翌日
                        <br>
                        に振込
                      </div>
                      <img src="/assets/img/common/laurel-wreath.png" class="collection-item-img" />
                    </div>
                  </div>

                  <div class="collection-item">
                    <div class="collection-item-content">
                      <div class="collection-item-txt">口座振替
                        <br>
                        カード払い対応
                      </div>
                      <img src="/assets/img/common/laurel-wreath.png" class="collection-item-img" />
                    </div>

                  </div>

                  <div class="collection-item">
                    <div class="collection-item-content">
                      <div class="collection-item-txt">月額
                        <br>
                        定費0円
                      </div>
                      <img src="/assets/img/common/laurel-wreath.png" class="collection-item-img" />
                    </div>
                  </div>
                </div>
              </div>

              <div class="gap-10 sec-right-wrapper">
                <dl class="flex aiC gap30 sec01-right-box">
                  <dt class="flex aiC gap20 sp-fS">
                    <div class="number-circle">1</div>
                    <h5 class="ttl-senary">
                      <p>
                        請求業務はすべて代行<span class="yellow-bottom">。業務を15分で完</span><br>ンツ</p>
                    </h5>
                  </dt>
                </dl>

                <dl class="flex aiC gap30 sec01-right-box">
                  <dt class="flex aiC gap20 sp-fS">
                    <div class="number-circle">2</div>
                    <h5 class="ttl-senary">
                      <p>未払いでも全額振込
                        <span class="yellow-bottom">。未回収リスク100%保</span>
                        <br>
                        証。
                      </p>
                    </h5>
                  </dt>
                </dl>

                <dl class="flex aiC gap30 sec01-right-box">
                  <dt class="flex aiC gap20 sp-fS">
                    <div class="number-circle">3</div>
                    <h5 class="ttl-senary">
                      <p>
                        <span class="yellow-bottom">最短翌日の入金</span>で運用資金をスピード確<br>保。
                      </p>
                    </h5>
                  </dt>
                </dl>

                <a href="#" class="dark__blue__outline__button small">セゾンフクリコをもっと詳しく</a>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="panel-secondary">
        <div class="notification-panel3">
          <h2 class="card__ttl">未入金対応を0に。さらに毎月の請求業務を最短15分で！</h2>

          <summary class="flex gap30 aiC inquiry__box">
            <div class="inquiry__box--txt">
              中小企業向け経費精算クラウド
              <span>「Concur Expense」</span>
            </div>
          </summary>

          <div class="card-type13">
            <dd>経費清算クラウド「Concur Expense」は、法人カード、交通系ICカード（スイカ、パスモなど）、ホテル手配やタクシー配車アプリなど様々なサービスと連携。経費明細が自動で Concur Expense
              に取り込まれるので、ペーパーレス化はもちろん経費精算を自動化することができます。</dd>

            <div class="flex gap50 aiC sp-reverse">
              <div class="sec-left-wrapper">
                <figure class="sec__img"><img src="/assets/img/introduce_page/concur-expense.png" alt=""></figure>

                <div class="sec-collection flex gap20">
                  <div class="collection-item">
                    <div class="collection-item-content">
                      <div class="collection-item-txt">国内売上シェア
                        <br>
                        9年連続No.1*
                      </div>
                      <img src="/assets/img/common/laurel-wreath.png" class="collection-item-img" />
                    </div>

                    <h6 class="ttl-senary">*「ITR Market View：予算・経費・サブスクリプション管理市場2023」</h6>
                  </div>

                  <div class="collection-item">
                    <div class="collection-item-content">
                      <div class="collection-item-txt">顧客満足度
                        <br>
                        No.1**
                      </div>
                      <img src="/assets/img/common/laurel-wreath.png" class="collection-item-img" />
                    </div>

                    <h6 class="ttl-senary">**ITreviewカテゴリーレポート 「経費精算部門/中堅・中小企業」（2023 Winter）</h6>
                  </div>
                </div>
              </div>

              <div class="gap-10 sec-right-wrapper">
                <dl class="flex aiC gap30 sec01-right-box">
                  <dt class="flex aiC gap20 sp-fS">
                    <div class="number-circle">1</div>
                    <h5 class="ttl-senary">
                      <p>
                        様々な決済手段と連携<span class="yellow-bottom">。経費明細が自動で取り込</span><br>み！</p>
                    </h5>
                  </dt>
                </dl>

                <dl class="flex aiC gap30 sec01-right-box">
                  <dt class="flex aiC gap20 sp-fS">
                    <div class="number-circle">2</div>
                    <h5 class="ttl-senary">
                      <p>定期券経路分は自動で控除＆二重申請も自動的に
                        <br>
                        チェック
                      </p>
                    </h5>
                  </dt>
                </dl>

                <dl class="flex aiC gap30 sec01-right-box">
                  <dt class="flex aiC gap20 sp-fS">
                    <div class="number-circle">3</div>
                    <h5 class="ttl-senary">
                      <p>
                        スマホ・モバイ<span class="yellow-bottom">ルで、いつでも申請・承</span>認が可能</p>
                    </h5>
                  </dt>
                </dl>

                <a href="#" class="dark__blue__outline__button small">「Concur Expense」をもっと詳しく</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel-tertiary">
        <div class="notification-panel3">
          <h2 class="card__ttl">支払い業務を効率化＆資金繰り改善もできる！</h2>

          <summary class="flex gap30 aiC inquiry__box">
            <div class="inquiry__box--txt">
              請求書カード払いサービス
              <span>「支払い.com」</span>
            </div>
          </summary>

          <div class="card-type13">
            <dd>
              請求書カード払いサービスとは、あらゆる銀行振込のお支払いをお持ちのクレジットカードで決済できるサービスです。支払い.comを利用することで、全ての「支払い」を延長することができ、急な支払いで手元資金が足りない場合や資金繰りの改善にも役立ちます。
            </dd>

            <div class="flex gap50 aiC sp-reverse">
              <div class="sec-left-wrapper">
                <figure class="sec__img"><img src="/assets/img/introduce_page/icon-website.png" alt=""></figure>

                <div class="sec-collection flex gap20">
                  <div class="collection-item">
                    <div class="collection-item-content">
                      <div class="collection-item-txt">国内売上シェア
                        <br>
                        20,000社を突破*
                      </div>
                      <img src="/assets/img/common/laurel-wreath.png" class="collection-item-img" />
                    </div>

                    <h6 class="ttl-senary">*2023年6月現在</h6>
                  </div>

                  <div class="collection-item">
                    <div class="collection-item-content">
                      <div class="collection-item-txt">支払い先延ばし
                        <br>
                        最長60日
                      </div>
                      <img src="/assets/img/common/laurel-wreath.png" class="collection-item-img" />
                    </div>
                  </div>

                  <div class="collection-item">
                    <div class="collection-item-content">
                      <div class="collection-item-txt">最短1日後の
                        <br>
                        振込に対応
                      </div>
                      <img src="/assets/img/common/laurel-wreath.png" class="collection-item-img" />
                    </div>
                  </div>
                </div>
              </div>

              <div class="gap-10 sec-right-wrapper">
                <dl class="flex aiC gap30 sec01-right-box">
                  <dt class="flex aiC gap20 sp-fS">
                    <div class="number-circle">1</div>
                    <h5 class="ttl-senary">
                      <p>
                        早くて簡単！3ステッ<span class="yellow-bottom">プ、60秒で支払い業務が</span><br>完了</p>
                    </h5>
                  </dt>
                </dl>

                <dl class="flex aiC gap30 sec01-right-box">
                  <dt class="flex aiC gap20 sp-fS">
                    <div class="number-circle">2</div>
                    <h5 class="ttl-senary">
                      <p>
                        <span class="yellow-bottom">書類提出、審査、面談は不</span>
                        <br>
                        要。
                      </p>
                    </h5>
                  </dt>
                </dl>

                <dl class="flex aiC gap30 sec01-right-box">
                  <dt class="flex aiC gap20 sp-fS">
                    <div class="number-circle">3</div>
                    <h5 class="ttl-senary">
                      <p>
                        <span class="yellow-bottom">支払い期限を最大60日延長！</span>借りずに資金繰りを
                        <br>改善
                      </p>
                    </h5>
                  </dt>
                </dl>

                <a href="#" class="dark__blue__outline__button small">セゾンインボイスをもっと詳しく</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel-quaternary">
        <div class="notification-panel3">
          <h2 class="card__ttl">出張手配の問題をまるごと解決！</h2>

          <summary class="flex gap30 aiC inquiry__box">
            <div class="inquiry__box--txt">
              出張手配サービス
              <span>「CosPro」</span>
            </div>
          </summary>

          <div class="card-type13">
            <dd>
              CosProとは、法人企業様の出張手配に関わる様々な課題を解決するために生まれた出張手配サービスです。社員様が予約されたチケットの料金が適正かどうかのチェックを行う、弊社独自の「適正化チェック」のサービスで法人企業様の出張コスト削減に寄与いたします。
            </dd>

            <div class="flex gap50 aiC sp-reverse">
              <div class="sec-left-wrapper">
                <figure class="sec__img"><img src="/assets/img/introduce_page/cos-pro.png" alt=""></figure>

                <div class="sec-collection flex gap20">
                  <div class="collection-item">
                    <div class="collection-item-content">
                      <div class="collection-item-txt">初期費用
                        <br>
                        0円
                      </div>
                      <img src="/assets/img/common/laurel-wreath.png" class="collection-item-img" />
                    </div>
                  </div>

                  <div class="collection-item">
                    <div class="collection-item-content">
                      <div class="collection-item-txt">月額費用
                        <br>
                        0円
                      </div>
                      <img src="/assets/img/common/laurel-wreath.png" class="collection-item-img" />
                    </div>
                  </div>

                  <div class="collection-item">
                    <div class="collection-item-content">
                      <div class="collection-item-txt">国内発券手数料
                        <br>
                        0円
                      </div>
                      <img src="/assets/img/common/laurel-wreath.png" class="collection-item-img" />
                    </div>
                  </div>
                </div>
              </div>

              <div class="gap-10 sec-right-wrapper">
                <dl class="flex aiC gap30 sec01-right-box">
                  <dt class="flex aiC gap20 sp-fS">
                    <div class="number-circle">1</div>
                    <h5 class="ttl-senary">
                      <p>
                        <span class="yellow-bottom">書類提出、審査、面談は不</span>
                        <br>
                        要。
                      </p>
                    </h5>
                  </dt>
                </dl>

                <dl class="flex aiC gap30 sec01-right-box">
                  <dt class="flex aiC gap20 sp-fS">
                    <div class="number-circle">2</div>
                    <h5 class="ttl-senary">
                      <p>
                        <span class="yellow-bottom">支払い期限を最大60日延長！</span>借りずに資金繰りを
                        <br>改善
                      </p>
                    </h5>
                  </dt>
                </dl>

                <dl class="flex aiC gap30 sec01-right-box">
                  <dt class="flex aiC gap20 sp-fS">
                    <div class="number-circle">3</div>
                    <h5 class="ttl-senary">
                      <p>
                        <span class="yellow-bottom">365日稼働のコールセンタ</span>ーからも予約ＯＫ！※
                      </p>
                    </h5>
                  </dt>
                </dl>

                <dl class="flex aiC gap30 sec01-right-box">
                  <dt class="flex aiC gap20 sp-fS">
                    <div class="number-circle">4</div>
                    <h5 class="ttl-senary">
                      <p>
                        <span class="yellow-bottom">適正化チェッ</span>で出張コストを抑制！
                      </p>

                      <ul class="sub-list">
                        <li>365日稼働のコールセンターは国内出張の手配専用の窓口です。海外出張の手配窓口に関しては平日のみの稼働となります。</li>
                      </ul>
                    </h5>
                  </dt>
                </dl>

                <a href="#" class="dark__blue__outline__button small">セゾンインボイスをもっと詳しく</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-tertiary">
    <div class="container-1200">
      <div class="card-type21">
        <div class="ttl-tertiary-wrapper">
          <h3 class="ttl-tertiary border-bottom">業務効率化をご検討中の中小企業・個人事業主の皆様へ</h3>
        </div>

        <h2 class="ttl-secondary">
          「分かりやすい効果」と「メリット」をご提供します</h2>

        <h3 class="ttl-tertiary fw-normal">
          業務効率化の取り組み方が分からなかったり、取り組んでもあまり効果が得られなかったりする方も多いのではないでしょうか。クレディセゾンはそういった方向けに「今すぐ始められる」＆「分かりやすい効果とメリット」をご提供いたします。お気軽にご相談下さい。
        </h3>

        <div class="flex gap60 card-list">
          <div class="card">
            <h3 class="ttl-tertiary">「詳しい資料が欲しい」
              <br>という方はこちら
            </h3>

            <a href="#" class="orange__more small show-arrow">サービス資料ダウンロード</a>
          </div>

          <div class="card">
            <h3 class="ttl-tertiary">「詳しい話を聞きたい」「相談したい」
              <br>という方はこちら
            </h3>

            <a href="#" class="orange__more small show-arrow">サポート担当に無料で相談する</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="breadcrumb">
    <ul class="flex">
      <li>
        <a href="#">TOP</a>
      </li>
      <li>
        <a href="#">法人カード・ビジネスカードを作りたい</a>
      </li>
    </ul>
  </section>
</main>
{% endblock %}
