{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Custom tags before </head> #}
{% block customHead %}{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}{% endblock %}

{# Main content #}
{% block content %}

<main class="no16-page">
  <section class="section-welcome">
    <div class="container-1200">
      <h3 class="ttl-tertiary">人材の定着・従業員のモチベーションUPに。</h3>

      <h2 class="ttl-secondary">福利厚生を充実できるサービス</h2>

      <h4 class="ttl-quaternary">クレディセゾンは、従業員のみなさまの暮らしに役立つ様々なサービスを、<br>
        最大66％OFFで利用できるお得な福利厚生優待サービスをご提供しています。</h4>
    </div>
  </section>

  <section class="section-primary">
    <div class="container-1200">
      <h2 class="ttl-secondary">多くの中小企業が抱える課題</h2>

      <ul class="flex jcC gap30 card-list">
        <li class="card-type6">
          <a href="#" class="card">
            <div class="ttl-quaternary-container">
              <h4 class="ttl-quaternary">人材が定着しない・<br>
                採用難易度も上がっている</h4>
            </div>

            <div class="card-body">
              <div class="circle-container">
                イラスト
                <br>
                または
                <br>
                アイコン
              </div>

              <ul class="check-list">
                <li>従業員のモチベーションが低下している</li>
                <li>従業員のワークライフバランスを充実させたい</li>
                <li>年々採用コストが上がっている</li>
              </ul>
            </div>

            <div class="circle-with-arrow">
              <div class="arrow-down"></div>
            </div>
          </a>
        </li>

        <li class="card-type6">
          <a href="#" class="card">
            <div class="ttl-quaternary-container">
              <h4 class="ttl-quaternary">福利厚生を入れたいが <br> 費用や手間がかかりそう</h4>
            </div>

            <div class="card-body">
              <div class="circle-container">
                イラスト
                <br>
                または
                <br>
                アイコン
              </div>

              <ul class="check-list">
                <li>自社で導入・運用しようとすると多くの費用がかかりそう</li>
                <li>社内の業務負担を軽減したい</li>
              </ul>
            </div>

            <div class="circle-with-arrow">
              <div class="arrow-down"></div>
            </div>
          </a>
        </li>

        <li class="card-type6">
          <a href="#" class="card">
            <div class="ttl-quaternary-container">
              <h4 class="ttl-quaternary">福利厚生を入れているが <br> あまり使われていない</h4>
            </div>

            <div class="card-body">
              <div class="circle-container">
                イラスト
                <br>
                または
                <br>
                アイコン
              </div>

              <ul class="check-list">
                <li>使用率が低く、使う人が偏ってしまっている</li>
                <li>多くの従業員に使ってもらえる福利厚生がほしい</li>
              </ul>
            </div>

            <div class="circle-with-arrow">
              <div class="arrow-down"></div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </section>

  <section class="section-secondary">
    <div class="container-1200">
      <h2 class="ttl-secondary">「セゾンフクリコ」がまとめて解決します。</h2>

      <div class="up-triangle"></div>

      <div class="section-img">
        <img src="/assets/img/common/saison-fukurico.png" alt="">
      </div>

      <h3 class="ttl-tertiary">
        セゾンフクリコは、<div class="yellow-bottom">
          わずか月額385円(税込)
        </div> でご利用できる中小企業様向けの法定外複利厚生サービスです。<br>
        従業員のエンゲージメント・企業価値の向上に貢献します。
      </h3>

      <div class="panel-primary">
        <div class="notification-panel2">
          <div class="relation">
            <h3 class="single__ttl">
              <span>①従業員のエンゲージメント向上で、離職防止に貢献</span>
            </h3>

            <div class="card-type19">
              <dd>
                福利厚生の導入や見直しは、従業員の労働環境改善や生活環境の向上につながります。従業員が高いパフォーマンスで業務を行うことは、生産性の向上につながるため、会社にとっても大きなメリットがあります。企業価値の向上で採用の課題を克服します。
              </dd>

              <div class="card-list flex gap30">
                <div class="card">
                  <div class="cat">従業員のメリット</div>
                  <ul class="circle-list">
                    <li>生活や健康が安定・向上する</li>
                    <li>スキルアップの機会が得られる</li>
                    <li>パフォーマンスが向上する</li>
                    <li>ライフワークバランスが改善する</li>
                  </ul>
                </div>

                <div class="card">
                  <div class="cat">従業員のメリット</div>
                  <ul class="circle-list">
                    <li>生活や健康が安定・向上する</li>
                    <li>スキルアップの機会が得られる</li>
                    <li>パフォーマンスが向上する</li>
                    <li>ライフワークバランスが改善する</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel-secondary">
        <div class="notification-panel2">
          <div class="relation">
            <h3 class="single__ttl">
              <span>②完全アウトソーシングで運用の手間いらず</span>
            </h3>

            <dd>
              福利厚生の種類を増やして充実させるほど、運営の手間はかかります。しかし、「セゾンフクリコ」なら、施設などとの直接契約業務や、設備投資・運営はすべて完全アウトソーシングなので導入事業者様に業務をご負担いただく必要はありません。
            </dd>
            <div class="flex gap30 card-container">
              <div class="card-circle">
                <div class="card-circle-text"> イラスト
                  <br>
                  または
                  <br>
                  アイコン
                </div>
              </div>

              <div class="card-button">
                <a href="#" class="default_btn">社内規定の作成</a>
                <a href="#" class="default_btn">申請書の作成や処理</a>
                <a href="#" class="default_btn">従業員からの質問・対応</a>
                <a href="#" class="default_btn">利用者の把握や管理</a>
                <a href="#" class="default_btn">利用後の処理</a>
              </div>

              <div class="card-txt">
                <h3 class="ttl-tertiary">完全アウトソーシング型の福利厚生サービスなので、新たな業務が増える心配はありません。運用は全てお任せください。</h3>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel-tertiary">
        <div class="notification-panel2">
          <div class="relation">
            <h3 class="single__ttl">
              <span>③全国を網羅した豊富な特別優待メニュー</span>
            </h3>

            <dd>福利厚生はただ導入をすればいいというものではなく、従業員に利用してもらうことに意味があります。セゾンフクリコは、多様化する従業員のニーズに応じた、幅広いサービスを各種取りそろえています。</dd>

            <div class="card-icon flex">
              <div> <img src="/assets/img/common/img-carousel-01.png" alt=""></div>
              <div> <img src="/assets/img/common/img-cutlery-set-01.png" alt=""></div>
              <div> <img src="/assets/img/common/img-mirror-01.png" alt=""></div>
              <div> <img src="/assets/img/common/img-golf-01.png" alt=""></div>
              <div> <img src="/assets/img/common/img-book-01.png" alt=""></div>
              <div> <img src="/assets/img/common/img-heart-in-hand-01.png" alt=""></div>
              <div> <img src="/assets/img/common/img-flower-01.png" alt=""></div>
              <div> <img src="/assets/img/common/img-bag-01.png" alt=""></div>
            </div>

            <div class="flex gap30 card-list">
              <div class="card-type11">
                <a href="#" class="card">
                  <h3 class="ttl-tertiary">全国25,000以上の施設で最大66%OFFで利用可能</h3>

                  <div class="flex gap30 item-list">
                    <div class="item__img">イラスト<br>または
                      <br>
                      アイコン
                    </div>

                    <div class="item__box">
                      <h3 class="ttl-tertiary">レジャーや健康増進、育児・介護のライフサポートなど、従業員の方々が利用しやすい多彩な優待を取り揃えています。</h3>
                    </div>
                  </div>
                </a>
              </div>

              <div class="card-type11">
                <a href="#" class="card">
                  <h3 class="ttl-tertiary">全国25,000以上の施設で最大66%OFFで利用可能</h3>

                  <div class="flex gap30 item-list">
                    <div class="item__img">イラスト<br>または
                      <br>
                      アイコン
                    </div>

                    <div class="item__box">
                      <h3 class="ttl-tertiary"> 日本語、英語のほか中国語（簡体、繁体）、ベトナム語に対応しています！</h3>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-tertiary">
    <div class="container-1200">
      <h2 class="ttl-secondary">ご利用はわずか月額385円（税込）/1アカウント</h2>

      <h3 class="ttl-tertiary">ご法人様向け/個人事業主様向けプランをご用意しています。</h3>

      <div class="section-img">
        <img src="/assets/img/common/saison-fukurico.png" alt="">
      </div>

      <a href="#" class="dark_blue_outline_btn">セゾンフクリコをもっと詳しく</a>
    </div>
  </section>

  <section class="section-quaterary">
    <div class="container-1200">
      <div class="card-type21">
        <div class="ttl-tertiary-wrapper">
          <h3 class="ttl-tertiary border-bottom">法定外福利厚生サービスをご検討中の事業者様へ</h3>
        </div>

        <h2 class="ttl-secondary">
          「従業員の満足度を高めて人材が定着する会社に</h2>

        <h3 class="ttl-tertiary fw-normal">
          企業が法定外福利厚生を独自にどれだけ導入をしているかが、福利厚生における充実度を決めるポイントとなります。
          <strong>従業員が定着し、高いパフォーマンスで業務を行える</strong>よう法定外福利厚生サービスの導入を検討してみませんか？
        </h3>

        <div class="flex gap60 card-list">
          <div class="card">
            <h3 class="ttl-tertiary">「詳しい資料が欲しい」
              <br>という方はこちら
            </h3>

            <a href="#" class="orange_more small show-arrow">サービス資料ダウンロード</a>
          </div>

          <div class="card">
            <h3 class="ttl-tertiary">「詳しい話を聞きたい」「相談したい」

              <br>という方はこちら
            </h3>

            <a href="#" class="orange_more small show-arrow">サポート担当に無料で相談する</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="breadcrumb">
    <ul class="flex">
      <li>
        <a href="#">TOP</a>
      </li>
      <li>
        <a href="#">資金繰りを改善したい</a>
      </li>
    </ul>
  </section>
</main>
{% endblock %}
