{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Custom tags before </head> #}
{% block customHead %}{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}{% endblock %}

{# Breadcrumb #}
{% set breadcrumb = [
  {
    text: "ビジネスカードを作りたい",
    link: "#"
  }
] %}

{# Main content #}
{% block content %}

<main class="business_card_creation-page">
  <section class="section-welcome">
    <div class="container-1200">
      <h3 class="ttl-tertiary">自分に合ったビジネスカードを</h3>

      <h1 class="ttl-primary">クレディセゾンのビジネスカード</h1>

      <h4 class="ttl-quaternary">お客さまの活用シーンやニーズに合わせて、<br>
        最適なビジネスカードをご用意しています。</h4>
    </div>
  </section>

  <section class="section-primary">
    <div class="anc01">
      <div class="containers">
        <ul class="flex jcC gap30 inherit anc01__box">
          <li>
            <a href="#scale">ビジネス規模で選ぶ</a>
          </li>
          <li>
            <a href="#purpose">目的や使い方で選ぶ</a>
          </li>
          <li>
            <a href="#card">カード比較・診断</a>
          </li>
          <li>
            <a href="#reason">選ばれる理由</a>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section id="scale" class="section-secondary">
    <div class="containers">
      <h2 class="ttl-secondary">ビジネスカードを選ぶときのポイント</h2>

      <ul class="card-list">
        <li class="card">
          <h2>ビジネス規模</h2>
          <div class="grid__card--img"><img src="/assets/img/common/mask-group1.png" alt="work image"></div>
          <p>ビジネスで利用できるカードは、一般的に個人事業主様向けの「ビジネスカード」と事業者向けの「法人カード」の2つのタイプに分けられます。ビジネス規模に合ったカードを選択することが大切です。</p>
        </li>
        <li class="card">
          <h2>利用目的と利用枠</h2>
          <div class="grid__card--img"><img src="/assets/img/common/mask-group2.png" alt="work image"></div>
          <p>ビジネスカードは、利用目的により必要なご利用可能枠も異なります。まずは利用目的・使い方と毎月の利用金額をシミュレーションして必要な利用枠のあるビジネスカードを選びましょう。</p>
        </li>
        <li class="card">
          <h2>付帯サービス</h2>
          <div class="grid__card--img"><img src="/assets/img/common/mask-group3.png" alt="work image"></div>
          <p>ビジネス用のカードにもさまざまな付帯サービスがあります。自社にとって有益な、活用しやすいサービスが付帯しているかどうかをひとつの基準に、ビジネスカードを選んでいきましょう。</p>
        </li>
      </ul>
    </div>
  </section>

  <section class="section-tertiary">
    <div class="containers">
      <h3 class="ttl-tertiary">ビジネス規模で選ぶ</h3>
      <h1 class="ttl-primary">ビジネスカード一覧</h1>

      <div class="table-card">
        <div class="table-card-head card-type-1">中小企業様向け（法人与信型ビジネスカード）</div>
        <div class="grid-card-container">
          <div>
            <div class="title-row">
              カード名
            </div>

            <div class="card-row">
              <div class="ttl-quaternary">
                キャッシュバックを重視したい方へ
              </div>
              <div class="ttl-tertiary">セゾンプラチナ・ビジネス プロ アメリカン・エキスプレス®・カード</div>
              <div class="card-img">
                <img src="/assets/img/credit_cards/american-express-01.png" alt="Your Image" class="credit-card-img">
              </div>
            </div>

            <div class="card-row">
              <div class="ttl-quaternary">
                年会費を重視したい方へ
              </div>
              <div class="ttl-tertiary">セゾンゴールド・<br> ビジネス プロ・カード</div>
              <div class="card-img">
                <img src="/assets/img/credit_cards/saison-01.png" alt="Your Image" class="credit-card-img">
              </div>
            </div>

            <div class="card-row">
              <div class="ttl-quaternary">
                カードレスの法人カードをお探しの方へ
              </div>
              <div class="ttl-tertiary">セゾン・アメリカン・エキスプレス®・ビジネス プロ・パーチェシング・カード</div>
              <div class="card-img">
                <img src="/assets/img/credit_cards/saison-02.png" alt="Your Image" class="credit-card-img">
              </div>
            </div>

          </div>
          <div>
            <div class="title-row">
              年会費
            </div>

            <div class="card-row">
              <div class="ttl-secondary">
                27,500円（税込）
              </div>
              <div class="ttl-normal">セゾンプラチナ・ビジネス プロ アメリカン・エキスプレス®・カード</div>

            </div>

            <div class="card-row">
              <div class="ttl-secondary">
                3,300円（税込）
              </div>
              <div class="ttl-normal">追加カード年会費 1,100円（税込）</div>

            </div>

            <div class="card-row">
              <div class="ttl-secondary">
                11,000円（税込）
              </div>
              <div class="ttl-normal">追加カード年会費 1,100円（税込）</div>
            </div>
          </div>
          <div>
            <div class="title-row">申込資格</div>
            <div class="card-row">
              <div class="ttl-secondary">
                中小規模 <br> 法人事業者
              </div>
            </div>

            <div class="card-row">
              <div class="ttl-secondary">
                中小規模 <br> 法人事業者
              </div>
            </div>

            <div class="card-row">
              <div class="ttl-secondary">
                中小規模 <br> 法人事業者
              </div>
            </div>
          </div>
          <div>
            <div class="title-row">支払い <br> サイクル</div>
            <div class="card-row">
              <div class="ttl-secondary">
                最大84日間
              </div>
            </div>

            <div class="card-row">
              <div class="ttl-secondary">
                最大84日間
              </div>
            </div>

            <div class="card-row">
              <div class="ttl-secondary">
                最大84日間
              </div>
            </div>
          </div>
          <div>
            <div class="title-row">キャッシュ <br> バック 還元率</div>
            <div class="card-row">
              <div class="ttl-secondary">
                1.0%
              </div>
            </div>

            <div class="card-row">
              <div class="ttl-secondary">
                0.5%
              </div>
            </div>

            <div class="card-row">
              <div class="ttl-secondary">
                0.5%
              </div>
            </div>
          </div>
          <div>
            <div class="title-row">永久不滅 <br> ポイント <br> 還元率</div>
            <div class="card-row">
              <div class="ttl-secondary">
                なし
              </div>
            </div>

            <div class="card-row">
              <div class="ttl-secondary">
                なし
              </div>
            </div>

            <div class="card-row">
              <div class="ttl-secondary">
                なし
              </div>
            </div>
          </div>
          <div>
            <div class="title-row">JALマイル <br> 還元率</div>

            <div class="card-row">
              <div class="ttl-secondary">
                なし
              </div>
            </div>

            <div class="card-row">
              <div class="ttl-secondary">
                なし
              </div>
            </div>

            <div class="card-row">
              <div class="ttl-secondary">
                なし
              </div>
            </div>
          </div>
          <div>
            <div class="title-row">詳細</div>

            <div class="card-row">
              <div class="card-btn card-type-1">
                <a href="#" class="">詳細</a>
              </div>
            </div>

            <div class="card-row">
              <div class="card-btn card-type-1">
                <a href="#" class="">詳細</a>
              </div>
            </div>

            <div class="card-row">
              <div class="card-btn card-type-1">
                <a href="#" class="">詳細</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="table-card">
        <div class="table-card-head card-type-2">中小規模ビジネスオーナー様、個人事業主様向け（個人与信型ビジネスカード）</div>
        <div class="grid-card-container">
          <div>
            <div class="title-row">
              カード名
            </div>

            <div class="card-row">
              <div class="ttl-quaternary">
                ポイント・マイルの還元率を <br> 重視したい方へ
              </div>
              <div class="ttl-tertiary">セゾンプラチナ・ビジネス・ アメリカン・エキスプレス®・カード</div>
              <div class="card-img">
                <img src="/assets/img/credit_cards/american-express-01.png" alt="Your Image" class="credit-card-img">
              </div>
            </div>

            <div class="card-row">
              <div class="ttl-quaternary">
                年会費無料にこだわりたい方へ
              </div>
              <div class="ttl-tertiary">セゾンコバルト・ビジネス・ アメリカン・エキスプレス®・カード</div>
              <div class="card-img">
                <img src="/assets/img/credit_cards/american-express-02.png" alt="Your Image" class="credit-card-img">
              </div>
            </div>
          </div>
          <div>
            <div class="title-row">
              年会費
            </div>

            <div class="card-row">
              <div class="ttl-secondary">
                22,000円（税込） <br> <span class="ttl-normal">初年度年会費無料 2年目以降は22,000円（税込）</span>
              </div>
              <div class="ttl-normal">追加カード年会費 3,300円（税込）</div>

            </div>

            <div class="card-row">
              <div class="ttl-secondary">
                永年無料
              </div>
            </div>
          </div>
          <div>
            <div class="title-row">申込資格</div>
            <div class="card-row">
              <div class="ttl-secondary">
                個人事業主または 経営者の方 <br> <br> <span class="ttl-normal">（学生、未成年除く）</span>
              </div>
            </div>

            <div class="card-row">
              <div class="ttl-secondary">
                個人事業主または フリーランス、 経営者の方 <br> <br> <span class="ttl-normal">（高校生除く）</span>
              </div>
            </div>
          </div>
          <div>
            <div class="title-row">支払い <br> サイクル</div>
            <div class="card-row">
              <div class="ttl-secondary">
                最大56日間 <br> <br> <span class="ttl-normal">毎月10日 締め/翌月4 日払い</span>
              </div>
            </div>

            <div class="card-row">
              <div class="ttl-secondary">
                最大56日間 <br> <br> <span class="ttl-normal">毎月10日 締め/翌月4 日払い</span>
              </div>
            </div>
          </div>
          <div>
            <div class="title-row">キャッシュ <br> バック 還元率</div>
            <div class="card-row">
              <div class="ttl-secondary">
                なし
              </div>
            </div>

            <div class="card-row">
              <div class="ttl-secondary">
                なし
              </div>
            </div>
          </div>
          <div>
            <div class="title-row">永久不滅 <br> ポイント <br> 還元率</div>
            <div class="card-row">
              <div class="ttl-secondary">
                【国内】0.5% 【海外】1.0%
              </div>
            </div>

            <div class="card-row">
              <div class="ttl-secondary">
                【国内】0.5% 【海外】1.0% <br> <br> ※特定加盟店 2.0％
              </div>
            </div>
          </div>
          <div>
            <div class="title-row">JALマイル <br> 還元率</div>

            <div class="card-row">
              <div class="ttl-secondary">
                最大1.125%
              </div>
            </div>

            <div class="card-row">
              <div class="ttl-secondary">
                最大0.25%
              </div>
            </div>
          </div>
          <div>
            <div class="title-row">詳細</div>

            <div class="card-row">
              <div class="card-btn card-type-2">
                <a href="#" class="">詳細</a>
              </div>
            </div>

            <div class="card-row">
              <div class="card-btn card-type-2">
                <a href="#" class="">詳細</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section id="purpose" class="section-quaternary">
    <div class="containers">
      <h3 class="ttl-tertiary">自分にあったカードは？</h3>

      <h2 class="ttl-secondary">利用目的や使い方でマッチしたカードを選ぶ</h2>

      <ul class="flex gap30 card-list">
        <li>
          <div class="card-title">
            <div class="circle-child first">
            </div>
            <div class="normal-child">
              JALの利用が多いのでマイルを貯めたい
            </div>
          </div>

          <div class="card-type9">
            <h3 class="card__box--ttl">JALマイルが最大1.125%貯まる！</h3>

            <div class="container">
              <div class="card-detail">
                <div class="credit-card02">
                  <img src="/assets/img/credit_cards/american-express-01.png" alt="Your Image" class="credit-card-img">
                </div>

                <div class="card__box-title">
                  <h4 class="ttl-quaternary">セゾンプラチナ・ビジネス・アメリカン・エキスプレス®・カード</h4>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li>
          <div class="card-title">
            <div class="circle-child second">
            </div>
            <div class="normal-child">
              公共料金や税金、広告費など経費の支払いで利用したい
            </div>
          </div>

          <div class="card-type9">
            <h3 class="card__box--ttl">カードで支払った分の
              <br>
              0.5%～1%が自動でキャッシュバック！
            </h3>

            <div class="container">
              <div class="card-detail">
                <div class="credit-card02">
                  <img src="/assets/img/credit_cards/american-express-01.png" alt="Your Image" class="credit-card-img">
                </div>

                <div class="card__box-title">
                  <h4 class="ttl-quaternary">セゾンプラチナ・ビジネス・アメリカン・エキスプレス®・カード</h4>
                </div>
              </div>

              <div class="card-detail">
                <div class="credit-card02">
                  <img src="/assets/img/credit_cards/saison-01.png" alt="Your Image" class="credit-card-img">
                </div>

                <div class="card__box-title">
                  <h4 class="ttl-quaternary">セゾンゴールド・ビジネス プロ・カード</h4>
                </div>
              </div>

              <div class="card-detail">
                <div class="credit-card02">
                  <img src="/assets/img/credit_cards/saison-02.png" alt="Your Image" class="credit-card-img">
                </div>

                <div class="card__box-title">
                  <h4 class="ttl-quaternary">セゾン・アメリカン・エキスプレス®・ビジネス プロ・パーチェシング・カード</h4>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li>
          <div class="card-title">
            <div class="circle-child third">
            </div>
            <div class="normal-child">
              確定申告が面倒なので 楽にしたい
            </div>
          </div>

          <div class="card-type9">
            <h3 class="card__box--ttl">個人事業主やフリーランスの方も申込可能</h3>

            <div class="container">
              <div class="card-detail">
                <div class="credit-card02">
                  <img src="/assets/img/credit_cards/american-express-01.png" alt="Your Image" class="credit-card-img">
                </div>

                <div class="card__box-title">
                  <h4 class="ttl-quaternary">セゾンプラチナ・ビジネス・アメリカン・エキスプレス®・カード</h4>
                </div>
              </div>

              <div class="card-detail">
                <div class="credit-card02">
                  <img src="/assets/img/credit_cards/american-express-02.png" alt="Your Image" class="credit-card-img">
                </div>

                <div class="card__box-title">
                  <h4 class="ttl-quaternary">セゾンプラチナ・ビジネス・アメリカン・エキスプレス®・カード</h4>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section id="card" class="section-quinary">
    <div class="containers">
      <h3 class="ttl-tertiary">気になるカードを選んで、違いを比較!</h3>
      <h1 class="ttl-primary">カード比較・診断</h1>
      <h4 class="ttl-quaternary">最大3つのカードをまとめて比較できます。気になるカードにチェックを入れて <br>「選択したカードを比較する」ボタンをクリックしてください。</h4>


      <div class="card-list">
        <div class="card-list-left">
          <div class="card-list-head left">
            中小企業様向け <br />（法人与信型ビジネスカード）
          </div>
          <div class="card-list-grid left">
            <div class="card-detail">
              <div class="card-head">セゾンプラチナ・ビジネス プロ・アメリカン・エキスプレス®・カード</div>
              <img src="/assets/img/credit_cards/american-express-01.png" alt="Your Image" class="credit-card-img" />
              <div>
                <label class="custom-checkbox">
                  <input type="checkbox">
                  <span class="checkmark"></span>
                  <span class="custom-check-box-label">他のカードと比較する</span>
                </label>
              </div>
            </div>
            <div class="card-detail">
              <div class="card-head">セゾンゴールド・ビジネス プロ・カード</div>
              <img src="/assets/img/credit_cards/saison-01.png" alt="Your Image" class="credit-card-img" />
              <div>
                <label class="custom-checkbox">
                  <input type="checkbox">
                  <span class="checkmark"></span>
                  <span class="custom-check-box-label">他のカードと比較する</span>
                </label>
              </div>
            </div>
            <div class="card-detail">
              <div class="card-head">セゾン・アメリカン・エキスプレス®・ビジネス プロ・パーチェシング・カード</div>
              <img src="/assets/img/credit_cards/saison-02.png" alt="Your Image" class="credit-card-img" />
              <div>
                <label class="custom-checkbox">
                  <input type="checkbox">
                  <span class="checkmark"></span>
                  <span class="custom-check-box-label">他のカードと比較する</span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="card-list-right">
          <div class="card-list-head right">
            中小規模ビジネスオーナー様、個人事業主様向け <br />（個人与信型ビジネスカード）
          </div>

          <div class="card-list-grid right">
            <div class="card-detail">
              <div class="card-head">セゾンコバルト・ビジネス・ アメリカン・エキスプレス® ・カード</div>
              <img src="/assets/img/credit_cards/american-express-02.png" alt="Your Image" class="credit-card-img" />
              <div>
                <label class="custom-checkbox">
                  <input type="checkbox">
                  <span class="checkmark"></span>
                  <span class="custom-check-box-label">他のカードと比較する</span>
                </label>
              </div>
            </div>
            <div class="card-detail">
              <div class="card-head">セゾンプラチナ・ビジネス・アメリカン・エキスプレス®・カード</div>
              <img src="/assets/img/credit_cards/american-express-01.png" alt="Your Image" class="credit-card-img" />
              <div>
                <label class="custom-checkbox">
                  <input type="checkbox">
                  <span class="checkmark"></span>
                  <span class="custom-check-box-label">他のカードと比較する</span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="btn-container">

        <a class="bondi_blue_outline_btn">
          <span class="bondi_blue_outline_btn__tittle">選択したカードを比較する</span>
        </a>
      </div>

      <a class="banner-btn">
        <div class="content-col">
          <div class="img-content">
            <img src="/assets/img/common/glass-look.png" alt="Your Image" class="credit-card-img" />
          </div>
          <div class="text-content">
            <div class="ttl-quinary">ご利用目的やビジネス規模に合わせて、最適なビジネスカード探しをお手伝い!</div>
            <div class="ttl-main">おすすめカード診断 
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="20" class="arrow-svg" viewBox="0 0 25 20">
                <path id="Polygon_57" data-name="Polygon 57" d="M10,0,20,25H0Z" transform="translate(25) rotate(90)" fill="#0297b5"/>
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="20" class="arrow-svg" viewBox="0 0 25 20">
                <path id="Polygon_57" data-name="Polygon 57" d="M10,0,20,25H0Z" transform="translate(25) rotate(90)" fill="#0297b5"/>
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="20" class="arrow-svg" viewBox="0 0 25 20">
                <path id="Polygon_57" data-name="Polygon 57" d="M10,0,20,25H0Z" transform="translate(25) rotate(90)" fill="#0297b5"/>
              </svg>
            </div>
          </div>
        </div>
        <div class="btn-col">
          診断開始
        </div>
      </a>
    </div>
  </section>

  <section class="section-senary">
    <div class="containers">
      <h3 class="ttl-tertiary">DOCUMENTS</h3>
      <h1 class="ttl-quaternary">ビジネスカードを検討しているなら、知らないともったいない！</h1>
      <h4 class="ttl-primary">「ビジネスカードの🉐活用ガイド」</h4>

      <div class="senary-content">
        <div class="content-img">
          <img src="/assets/img/common/work_image.png" alt="work image" class="img-top">
          <img src="/assets/img/common/work_image.png" alt="work image" class="img-bot">
        </div>
        <div class="content-detail">
          <div class="content-head">ビジネスカードのメリットを使い倒すためのオトクな活用方法をまるっと紹介！</div>
          <p>
            あらゆるビジネスシーンで活用できるビジネスカードですが、そのメリットや特典を使いこなせていないケースも多々あります。本資料では、ビジネスカードのメリットや特典を存分に活用するポイントや、具体的な活用シーンを解説しています。ビジネスカードの導入を検討されている方は、ぜひ本資料をご活用ください。
          </p>
        </div>
      </div>

      <div class="btn-container">
        <a class="blue_gradient_btn" href="#">資料ダウンロード（無料)</a>
      </div>
    </div>
  </section>

  <section id="reason" class="section-septenary">
    <div class="containers">
      <h4 class="ttl-primary">「クレディセゾンのビジネスカードが選ばれる理由</h4>
      <h1 class="ttl-quaternary">有効期限のない永久不滅ポイントやキャッシュバックのほか、<br> 利用する機会の多いビジネスサービスが充実! <br> セゾンのビジネスカードが人気の理由をご紹介します。
      </h1>

      <div class="card-list-grid">
        <div class="col-left col">
          <div class="card-header left">個人事業主・中小企業経営者様の場合</div>
          <div class="card-list">
            <a class="card">
              <div class="img-container">
                <img src="/assets/img/common/card-img-1.png" alt="work image" class="card-img">
              </div>
              <div class="card-content">
                <div class="content-index">
                  選ばれる理由①
                </div>
                <div class="content-subhead">マイルが効率的に貯まる!</div>
                <div class="content-mainhead">最大還元率 1.125%</div>
              </div>
            </>
            <a class="card">
              <div class="img-container">
                <img src="/assets/img/common/card-img-2.png" alt="work image" class="card-img">
              </div>
              <div class="card-content">
                <div class="content-index">
                  選ばれる理由②
                </div>
                <div class="content-subhead">有効期限のない</div>
                <div class="content-mainhead">永久不滅ポイントが付与</div>
              </div>
            </a>
            <a class="card">
              <div class="img-container">
                <img src="/assets/img/common/card-img-3.png" alt="work image" class="card-img">
              </div>
              <div class="card-content">
                <div class="content-index">
                  選ばれる理由③
                </div>
                <div class="content-subhead">収入証明書・登記簿謄本などが不要</div>
                <div class="content-mainhead">起業直後でもお申し込み可能</div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-right col">
          <div class="card-header right">中小企業様向けの場合</div>
          <div class="card-list">
            <div class="card">
              <div class="img-container">
                <img src="/assets/img/common/card-img-4.png" alt="work image" class="card-img">
              </div>
              <div class="card-content">
                <div class="content-index">
                  選ばれる理由①
                </div>
                <div class="content-subhead">カードで支払うだけで、</div>
                <div class="content-mainhead">最大1%のキャッシュバック</div>
              </div>
            </div>
            <div class="card">
              <div class="img-container">
                <img src="/assets/img/common/card-img-5.png" alt="work image" class="card-img">
              </div>
              <div class="card-content">
                <div class="content-index">
                  選ばれる理由②
                </div>
                <div class="content-subhead">立替払いや仮払いをなくして</div>
                <div class="content-mainhead">経費精算の手間を削減できる</div>
              </div>
            </div>
            <div class="card">
              <div class="img-container">
                <img src="/assets/img/common/card-img-6.png" alt="work image" class="card-img">
              </div>
              <div class="card-content">
                <div class="content-index">
                  選ばれる理由③
                </div>
                <div class="content-subhead">利用機会の多い</div>
                <div class="content-mainhead">ビジネスサービスが充実</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-octonary">
    <div class="card-type22">
      <div class="containers">
        <div class="ttl-notice">CONTACT</div>
        <h3 class="ttl-tertiary">「今すぐ相談したい」という方へ</h3>

        <div class="ttl-tertiary small">当社のサポート担当がご利用用途やご要望をおうかがいさせていただき、<br> お客様にピッタリのカードをご提案いたします。お気軽にご相談ください。</div>

        <div class="quinary-btn">
          <a href="/contact" class="blue_gradient_btn">サポート担当に無料で相談する</a>
        </div>
      </div>
    </div>
    </div>
  </section>
  <section class="section-subinfo">
    <div class="sub-infos">
      <div class="containers">
        ※「アメリカン・エキスプレス」は、アメリカン・エキスプレスの登録商標です。(株)クレディセゾンは、アメリカン・エキスプレスのライセンスに基づき使用しています。
      </div>
    </div>
  </section>
</main>
{% endblock %}