{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Breadcrumb #}
{% set breadcrumb = [{
  text:"セミナー情報",
  link:"seminar"
  },{
  text:"セミナータイトルが入ります",
  link:"#"
  }] %}

{# Custom tags before </head> #}
{% block customHead %}{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}{% endblock %}

{# Main content #}
{% block content %}

<main class="payment_com-page">
</main>
{% endblock %}
