{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Breadcrumb #}
{% set breadcrumb = [
{
text:"支払い.com",
link:"payment"
}
] %}

{% set menuSidebar = [
{
text: "TOP",
link: "/"
},
{
text: "支払い.comとは",
link: "#"
},
{
text: "ご利用までの流れ",
link: "#"
},
{
text: "選ばれる理由",
link: "#"
},
{
text: "ご利用者様の声",
link: "#"
},
{
text: "よくある質問",
link: "#"
},
{
text: "資料・無料登録",
link: ""
}
] %}

{# Custom tags before </head> #}
{% block customHead %}{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}{% endblock %}

{# Main content #}
{% block content %}
{% include 'partial/sidebar.njk' %}
<main class="payment_com-page">
  <section class="section-welcome fadein">
    <div class="section-welcome-container">
      <div class="section-welcome-left">
        <div class="title-notice">
          <div class="title-content">
            <span class="yellow-txt">中小企業様</span>のための、
            <br />
            新たな<span class="yellow-txt">資金繰り改善策</span>が登場！
          </div>
        </div>
        <h1 class="ttl-primary">支払い.com</h1>
        <h3 class="ttl-tertiary">全ての支払いを、<span class="special">最長60日後</span>に <br />カードで先延ばしできます。</h3>
        <div class="btn-action">
          <a href="#" class="act-more orange_more2">
            <div class="act-more-tooltip">
              <h4 class="act-more-tooltip__content">審査なし・書類提出不要！</h4>
            </div>
            今すぐ無料で登録
          </a>
          <a href="#" class="act-more orange_more2">
            <div class="act-more-tooltip">
              <h4 class="act-more-tooltip__content">支払い.comが3分でわかる！</h4>
            </div>
            資料ダウンロード
          </a>
        </div>
      </div>
      <div class="section-welcome-right">
        <ul class="info-list">
          <li><span class="special">最短1日後</span>の振り込みに対応！※1</li>
          <li><span class="special">一律4%</span>のお得な手数料</li>
          <li>サービス開始1年で導入企業数 <span class="special">20,000社</span>突破！</li>
        </ul>
        <div class="info-note">
          <span>※1 …UPSIDERカード・セゾンカード利用で</span>
          <span>　前営業日正午までに振り込みを行った場合</span>
        </div>
      </div>
    </div>
  </section>

  <section class="section-primary fadein">
    <div class="container-1000">
      <div class="ttl-notice">支払い.comとは</div>
      <h1 class="ttl-primary">中小企業様向けの「第三の資金繰り改善策」です。</h1>
      <h4 class="ttl-quaternary">
        請求書払いをカードで先のばし。振り込みはお任せ！<br />
        <span class="font-weight-normal">期限の迫った請求書も、支払いまで最長60日余裕をプラス。資金繰りを改善し、借りずに事業を加速できます。</span>
      </h4>
      <img src="/assets/img/common/cash-flow.png" alt="cast flow">
    </div>
  </section>

  <section class="section-secondary fadein">
    <div class="container-1200">
      <h1 class="ttl-primary">このようなお悩みをお持ちの企業様向けのサービスです。</h1>
      <div class="section-secondary-content">
        <div class="flex gap30">
          <a href="#" class="card">
            <span class="black_pill_btn small">広告業界</span>
            <h5 class="ttl-quinary">
              <span class="yellow-underline">広告出稿費の</span><br />
              資金繰りが苦しい
            </h5>
            <img src="/assets/img/common/payment-section-card-1.png" alt="cast flow">
            <ul class="card_description">
              <li>
                {% include 'component/icons/blue-tick.njk' %}
                クライアント与信が通らず前払いを 依頼したところ失注してしまう
              </li>
              <li>
                {% include 'component/icons/blue-tick.njk' %}
                足元資金がなく追加出稿ができない
              </li>
            </ul>
          </a>
          <a href="#" class="card">
            <span class="black_pill_btn small">建設・製造業界</span>
            <h5 class="ttl-quinary">
              <span class="yellow-underline">大規模案件受注時の</span><br />
              資金繰りが苦しい
            </h5>
            <img src="/assets/img/common/payment-section-card-2.png" alt="cast flow">
            <ul class="card_description">
              <li>
                {% include 'component/icons/blue-tick.njk' %}
                多重構造であるため支払いサイクルが長くなってしまう
              </li>
              <li>
                {% include 'component/icons/blue-tick.njk' %}
                ファクタリングを利用しているが、 利益率が下がっている
              </li>
            </ul>
          </a>
          <a href="#" class="card">
            <span class="black_pill_btn small">建設・製造業界</span>
            <h5 class="ttl-quinary">
              <span class="yellow-underline">仕入れから売上化までの</span><br />
              資金繰りが苦しい
            </h5>
            <img src="/assets/img/common/payment-section-card-3.png" alt="cast flow">
            <ul class="card-description">
              <li>
                {% include 'component/icons/blue-tick.njk' %}
                仕入れから商品販売までの支払いサイクルが長い
              </li>
              <li>
                {% include 'component/icons/blue-tick.njk' %}
                支払いを先延ばししたいが、対応策が ない
              </li>
            </ul>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="section-tertiary fadein">
    <div class="section-tertiary-container">
      <h1 class="ttl-primary">支払い.comが、「資金繰りのお悩み」を解決します。</h1>
      <div class="act-more">
        <div class="act-more-tooltip">
          <h4 class="act-more-tooltip__content">支払い.comの仕組みとメリットが3分でわかる！</h4>
        </div>
        <div class="act-more-content">
          <div class="act-more-content-img">
            <img class="primary-img" src="/assets/img/common/documents_image.png" alt="Documents image 1">
            <img class="secondary-img" src="/assets/img/common/documents_image.png" alt="Documents image 2">
          </div>
          <div class="act-more-content-btn">
            <a href="#" class="blue_gradient_btn small">
              サービス資料ダウンロード
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="reason-chosing" class="section-reason-chosing fadein">
    <div class="ttl-notice">選ばれる理由.com?</div>
    <h1 class="ttl-primary">サービス開始1年で、導入企業数20,000社突破！<span>※1</span></h1>
    <h4 class="ttl-quaternary">
      個人事業主様から1,000名を超える規模の法人様まで、選ばれるのには理由があります。
    </h4>

    <div class="section-primary__wrapper">
      <div class="containers">
        <ul class="inherit card-list">
          {% for item in payment_page.reason_chosing %}
            <li class="card-type23">
              <a href="#" class="card">
                <div class="ttl-quaternary-container">
                  <h4 class="ttl-quaternary">
                    {{ item.title }}
                  </h4>
                </div>
                <div class="card-image">
                  <img src={{item.image}}>
                </div>
                <div class="card-description">
                  {{ item.description | safe }}
                </div>

                {% if item.notes %}
                  <ul class="card-note">
                    {% for note in item.notes %}
                      <li class="text-muted">{{ note}}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>
</main>
{% endblock %}
