{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Breadcrumb #}
{% set breadcrumb = [
  {
    text: "よくある質問",
    link: "#"
  }, {
    text: "「支払い.com」に関するよくある質問",
    link: "#"
  }
] %}

{# Custom tags before </head> #}
{% block customHead %}{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}{% endblock %}

{# Main content #}
{% block content %}

  <main class="faq-service_list-page">
    <section class="section-welcome section">
      <div class="containers">
        <h1 class="ttl-primary">「支払い.com」に関するよくある質問</h1>

        <h3 class="ttl-tertiary fwn" style="font-weight:normal;">サービスごとによくあるご質問をまとめました。</h3>
      </div>
    </section>

    <section class="section-primary section">
      <div class="anc01">
        <div class="container-800">
          <div class="anc01__content">
            <h1 class="anc01__content-head">よくあるご質問</h1>
            <p class="anc01__content-detail">
              この他にご質問がある方は、<a href="/contact">お問い合わせ</a>より、お気軽に連絡ください。
              <br>
              2営業日以内に担当者からご連絡差し上げます。
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="section-secondary section">
      <div class="container-800">

        {% for i in range(1, 5) %}
          <div class="QA__content">
            <div class="question__content" >
              <div class="QA__content-head">Q.</div>
              <div class="QA__content-content" style="color:#0497b5;">質問内容が入ります。質問内容が入ります。質問内容が入ります。質問内容が入ります。質問内容が入ります。質問内容が入ります。質問内容が入ります。質問内容が入ります。質問内容が入ります。質問内容が入ります。</div>
              <div id="arrow-icon" class="QA__content-icon">
                {% include "component/icons/arrow.njk" %}
              </div>
            </div>
            <div class="answer__content">
              <div class="QA__content-head">A.</div>
              <div class="QA__content-content">質問内容が入ります。質問内容が入ります。質問内容が入ります。質問内容が入ります。質問内容が入ります。質問内容が入ります。質問内容が入ります。質問内容が入ります。</div>
            </div>
          </div>
        {% endfor %}
      </div>
    </section>

    <section class="section-tertiary section">
      <div class="card-type22">
        <div class="ttl-notice">FOR THOSE CONSIDERING</div>
        <h3 class="ttl-tertiary">支払い.comをご検討中の方へ</h3>
        <div class="useful-wp">
          <div class="containers">
            <div class="flex jcC gap60">
              <div href="#" class="card">
                <summary class="card__box">
                  <div class="card__info">
                    <div class="card__info-image">
                      {% include 'component/icons/book.njk' %}
                    </div>
                    <div class="card__info-content">
                      <h2>サービス内容について <br> 詳しく知りたい方はこちら</h2>
                      <span>支払い.comのサービス資料をダウンロードできます。フォームご入力後、リアルタイムに送付いたします。</span>
                    </div>

                  </div>
                  <div class="btn-container">
                    <a class="blue_gradient_btn" href="#">サービス資料ダウンロード</a>
                  </div>
                </summary>
              </div>
              <div href="#" class="card">
                <summary class="card__box">
                  <div class="card__info col-right">
                    <div class="card__info-image">
                      {% include 'component/icons/laptop.njk' %}
                    </div>
                    <div class="card__info-content">
                      <h2>利用イメージを <br> 知りたい方はこちら</h2>
                      <span>Webから無料登録してすぐにお試しできます。面倒な面談や、書類提出は必要ありません。</span>
                    </div>

                  </div>
                  <div class="btn-container">
                    <a class="blue_gradient_btn" href="#">今すぐ無料で登録</a>
                  </div>
                </summary>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock %}
